Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": "prettier --write"
}

fix templates in fixed mode
  src/domain/collaboration/whiteboard/WhiteboardPreview/FormikWhiteboardPreview.tsx
  src/domain/templates/components/Forms/TemplateWhiteboardForm.tsx
Due: eslint --fix, prettier --write

CalloutIcons documentation.
  specs/001-fix-callout-icons/README.md
  specs/001-fix-callout-icons/checklists/clarification.md
  specs/001-fix-callout-icons/checklists/requirements.md
  specs/001-fix-callout-icons/clarifications.md
  specs/001-fix-callout-icons/contracts/graphql-contracts.md
  specs/001-fix-callout-icons/data-model.md
  specs/001-fix-callout-icons/plan.md
  specs/001-fix-callout-icons/quickstart.md
  specs/001-fix-callout-icons/research.md
  specs/001-fix-callout-icons/spec.md
  specs/001-fix-callout-icons/tasks.md
Due: prettier --write

polish the code and remove the console.logs
  src/domain/collaboration/whiteboard/WhiteboardPreview/FormikWhiteboardPreview.tsx
  src/domain/templates/components/Forms/TemplateWhiteboardForm.tsx
Due: eslint --fix, prettier --write

restore
  src/domain/templates/components/Forms/TemplateWhiteboardForm.tsx
Due: eslint --fix, prettier --write

Callout icons implementation. Auto for index and manual for innovation flow settings.
  specs/001-fix-callout-icons/IMPLEMENTATION.md
  specs/001-fix-callout-icons/MANUAL-CHANGES.md
  specs/001-fix-callout-icons/README.md
  specs/001-fix-callout-icons/tasks.md
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/InnovationFlowCollaborationToolsBlock.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/useInnovationFlowSettings.tsx
  src/domain/collaboration/InnovationFlow/graphql/InnovationFlowCollaboration.fragment.graphql
  src/domain/collaboration/callout/calloutsList/CalloutsList.tsx
  src/domain/collaboration/callout/icons/calloutIcons.ts
  src/domain/collaboration/callout/models/CalloutModelLight.ts
  src/domain/collaboration/calloutsSet/useCalloutsSet/CalloutsSetQueries.graphql
Due: eslint --fix, prettier --write

callout icons on space template preview + updated documentation
  specs/001-fix-callout-icons/IMPLEMENTATION.md
  specs/001-fix-callout-icons/MANUAL-CHANGES.md
  specs/001-fix-callout-icons/tasks.md
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/InnovationFlow/InnovationFlowCalloutsPreview.tsx
  src/domain/collaboration/callout/icons/calloutIcons.ts
  src/domain/templates/graphql/TemplateContent.graphql
Due: eslint --fix, prettier --write

TagCloud filter for callouts in KnowledgeBase tab (#8995)
  .github/copilot-instructions.md
  specs/002-tag-cloud/checklists/requirements.md
  specs/002-tag-cloud/data-model.md
  specs/002-tag-cloud/plan.md
  specs/002-tag-cloud/quickstart.md
  specs/002-tag-cloud/research.md
  specs/002-tag-cloud/spec.md
  specs/002-tag-cloud/tasks.md
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/callout/CalloutDialogs/EditCalloutDialog.tsx
  src/domain/collaboration/calloutsSet/Classification/ClassificationTagset.utils.ts
  src/domain/collaboration/calloutsSet/tagCloud/CalloutsSetTagCloud.tsx
  src/domain/collaboration/calloutsSet/tagCloud/CalloutsSetTags.graphql
  src/domain/collaboration/calloutsSet/tagCloud/TwoLinesTagsContainer.tsx
  src/domain/collaboration/calloutsSet/useCalloutCreation/useCalloutCreation.ts
  src/domain/collaboration/calloutsSet/useCalloutsSet/CalloutsSetQueries.graphql
  src/domain/collaboration/calloutsSet/useCalloutsSet/useCalloutsSet.ts
  src/domain/space/layout/tabbedLayout/Tabs/FlowStateTabPage/FlowStateTabPage.tsx
Due: eslint --fix, prettier --write

Memo responses as an activity. (#9002)
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/activity/ActivityLog/ActivityComponent.tsx
  src/domain/collaboration/activity/ActivityLog/activityLogFragments.graphql
  src/domain/collaboration/activity/ActivityLog/views/ActivityCalloutMemoActivityView.tsx
  src/domain/collaboration/activity/ActivityLog/views/ActivityIcon.tsx
  src/domain/collaboration/activity/ActivityLog/views/index.ts
  src/domain/collaboration/activity/useActivityLogOnCollaboration/activityCreatedSubscription.graphql
  src/domain/collaboration/activity/useActivityLogOnCollaboration/activityLogOnCollaboration.graphql
  src/main/topLevelPages/myDashboard/latestContributions/LatestContributions.graphql
  src/main/topLevelPages/myDashboard/latestContributions/LatestContributionsGrouped.graphql
  src/main/topLevelPages/myDashboard/latestContributions/myLatestContributions/MyLatestContributions.tsx
Due: eslint --fix, prettier --write

The new SpaceCard UI
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/ui/card/CardImageHeader.tsx
  src/dev/ui/SpaceCardsDemo.tsx
  src/domain/community/invitations/InvitationDialog.tsx
  src/domain/community/invitations/SingleInvitationFull.tsx
  src/domain/community/pendingMembership/PendingMembershipsDialog.tsx
  src/domain/community/profile/views/ContributionDetailsCard.tsx
  src/domain/innovationHub/InnovationHubHomePage/InnovationHubHomePage.tsx
  src/domain/shared/components/search-cards/base/SearchSpaceCard.tsx
  src/domain/space/components/CreateSpace/hooks/useSubspaceCreation/useSubspaceCreation.ts
  src/domain/space/components/SubspacesListDialog.tsx
  src/domain/space/components/cards/SpaceCardBase.tsx
  src/domain/space/components/cards/SubspaceCard.tsx
  src/domain/space/components/cards/components/SpaceCardTagline.tsx
  src/domain/space/components/cards/components/SpaceCardTagsOverlay.tsx
  src/domain/space/components/cards/components/SpaceLeads.tsx
  src/domain/space/components/cards/components/SpaceParentInfo.tsx
  src/domain/space/components/cards/components/SpaceVisibilityBanner.tsx
  src/domain/space/graphql/fragments/subspaceCard.graphql
  src/domain/space/layout/tabbedLayout/Tabs/SpaceSubspacesPage.tsx
  src/main/topLevelPages/topLevelSpaces/SpaceExplorerQueries.graphql
  src/main/topLevelPages/topLevelSpaces/SpaceExplorerView.tsx
Due: eslint --fix, prettier --write

Subspace page update. SpaceCard rename.
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/dev/ui/SpaceCardsDemo.tsx
  src/domain/innovationHub/InnovationHubHomePage/InnovationHubHomePage.tsx
  src/domain/space/components/CreateSpace/hooks/useSubspaceCreation/useSubspaceCreation.ts
  src/domain/space/components/SubspacesListDialog.tsx
  src/domain/space/components/cards/SpaceCard.tsx
  src/domain/space/components/cards/utils/useSubspaceCardData.ts
  src/domain/space/components/subspaces/SubspaceDialogs.tsx
  src/domain/space/graphql/SubspaceCards.graphql
  src/domain/space/layout/tabbedLayout/Tabs/SpaceSubspacesPage.tsx
  src/main/topLevelPages/topLevelSpaces/SpaceExplorerView.tsx
Due: eslint --fix, prettier --write

Starting pages changes applied.
  src/domain/innovationHub/InnovationHubHomePage/InnovationHubHomePage.tsx
Due: eslint --fix, prettier --write

Updating the contributionCard on user memberships.
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/community/contributor/Contributions/ContributionCard.tsx
  src/domain/community/profile/useContributionProvider/useContributionProvider.ts
  src/domain/community/profile/useContributionProvider/useContributionQueries.graphql
  src/domain/community/profile/views/ContributionDetailsCard.tsx
  src/domain/space/about/model/spaceAboutLight.model.ts
Due: eslint --fix, prettier --write

Remove redundant ContributionDetailsCard.tsx card. Fix translation.
  src/core/i18n/en/translation.en.json
  src/domain/community/contributor/Contributions/ContributionCard.tsx
  src/domain/community/profile/views/ContributionDetailsCard.tsx
Due: eslint --fix, prettier --write

Replace the Tiles with SpaceCards on explore spaces dashboards.
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/main/topLevelPages/myDashboard/ExploreSpaces/ExploreSpaces.graphql
  src/main/topLevelPages/myDashboard/ExploreSpaces/ExploreSpacesView.tsx
Due: eslint --fix, prettier --write

Align the space icon with the title on L0 cards.
  src/domain/space/components/cards/components/StackedAvatar.tsx
Due: eslint --fix, prettier --write

Remove the arrow from the Contributor tooltip as it's ugly and not aligned.
  src/core/ui/card/ContributorTooltip.tsx
  src/domain/community/user/userCard/UserCard.tsx
Due: eslint --fix, prettier --write

Fix WB template preview image generation in fixed mode (#9008)
  src/domain/collaboration/whiteboard/WhiteboardPreview/FormikWhiteboardPreview.tsx
Due: eslint --fix, prettier --write

0.120.2
  package.json
Due: prettier --write

a11y: a cannot be a descendant of ul
  src/domain/collaboration/callout/calloutsList/CalloutsList.tsx
Due: eslint --fix, prettier --write

pr fixes + deleted redundant documentation
  specs/001-fix-callout-icons/IMPLEMENTATION.md
  specs/001-fix-callout-icons/MANUAL-CHANGES.md
  specs/001-fix-callout-icons/README.md
  specs/001-fix-callout-icons/checklists/clarification.md
  specs/001-fix-callout-icons/checklists/requirements.md
  specs/001-fix-callout-icons/clarifications.md
  specs/001-fix-callout-icons/contracts/graphql-contracts.md
  specs/001-fix-callout-icons/data-model.md
  specs/001-fix-callout-icons/plan.md
  specs/001-fix-callout-icons/quickstart.md
  specs/001-fix-callout-icons/research.md
  specs/001-fix-callout-icons/spec.md
  specs/001-fix-callout-icons/tasks.md
  src/domain/collaboration/InnovationFlow/InnovationFlowCalloutsPreview.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/useInnovationFlowSettings.tsx
Due: eslint --fix, prettier --write

Callout icons logic (#9010)
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/InnovationFlow/InnovationFlowCalloutsPreview.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/InnovationFlowCollaborationToolsBlock.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/useInnovationFlowSettings.tsx
  src/domain/collaboration/InnovationFlow/graphql/InnovationFlowCollaboration.fragment.graphql
  src/domain/collaboration/callout/calloutsList/CalloutsList.tsx
  src/domain/collaboration/callout/icons/calloutIcons.ts
  src/domain/collaboration/callout/models/CalloutModelLight.ts
  src/domain/collaboration/calloutsSet/useCalloutsSet/CalloutsSetQueries.graphql
  src/domain/templates/graphql/TemplateContent.graphql
Due: eslint --fix, prettier --write

Adds SonarQube MCP instructions and config
  .github/instructions/sonarqube_mcp.instructions.md
  .vscode/mcp.json
  package.json
Due: prettier --write

Updates base Node.js version
  Dockerfile
Due: none

Compact SpaceCard, recentSpaces refactored to use the new SpaceCard.
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/ui/card/CardImageHeader.tsx
  src/domain/space/about/graphql/fragments/spaceAboutCardBanner.graphql
  src/domain/space/components/cards/SpaceCard.tsx
  src/domain/space/components/cards/SpaceCardBase.tsx
  src/domain/space/components/cards/components/SpaceLeads.tsx
  src/main/topLevelPages/myDashboard/recentSpaces/RecentSpaces.graphql
  src/main/topLevelPages/myDashboard/recentSpaces/RecentSpacesList.tsx
Due: eslint --fix, prettier --write

Compact SpaceCard on Spaces View, home dash.
  src/main/topLevelPages/myDashboard/DashboardWithMemberships/DashboardSpaces/DashboardSpaces.tsx
  src/main/topLevelPages/myDashboard/recentSpaces/RecentSpacesList.tsx
  src/main/topLevelPages/myDashboard/useSpaceCardLayout.ts
Due: eslint --fix, prettier --write

Switch to SpaceCards in space templates.
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/templates/components/Previews/TemplateContentSpacePreview.tsx
  src/domain/templates/components/TemplateSelectors/SpaceTemplateSelector.tsx
  src/domain/templates/components/cards/SpaceTemplateCard.tsx
  src/domain/templates/graphql/TemplateContent.graphql
  src/domain/templates/graphql/TemplateFragments.graphql
  src/domain/templates/models/SpaceTemplate.ts
Due: eslint --fix, prettier --write

Switch to SpaceCards in AccountResources.
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/community/contributor/Account/AccountResourcesView.tsx
  src/domain/community/contributor/useAccountResources/AccountResourcesInfo.graphql
  src/domain/space/components/cards/SpaceCard.tsx
  src/domain/space/components/cards/components/SpaceCardTagsOverlay.tsx
Due: eslint --fix, prettier --write

Adds SonarQube MCP instructions and config (#9015)
  .github/instructions/sonarqube_mcp.instructions.md
  .vscode/mcp.json
  Dockerfile
  package.json
Due: prettier --write

Make messageDetails optional in InAppNotificationPayload types
  src/core/apollo/generated/graphql-schema.ts
Due: eslint --fix, prettier --write

0.120.3
  package.json
Due: prettier --write

SpaceCard in the contributions on profiles. ParentInfo hook.
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/community/contributor/Contributions/TilesContributionsView.tsx
  src/domain/community/profile/useContributionProvider/useContributionQueries.graphql
  src/domain/community/user/userContributions/useUserContributions.ts
  src/domain/community/virtualContributor/vcMembershipPage/VCMembershipPage.tsx
  src/domain/space/components/cards/SpaceCard.tsx
  src/domain/space/components/cards/SpaceTile.tsx
  src/domain/space/components/cards/utils/useParentSpaceInfo.graphql
  src/domain/space/components/cards/utils/useParentSpaceInfo.ts
  src/domain/space/models/SpaceHostedItem.model.ts
Due: eslint --fix, prettier --write

design review - fix gradient hight on mini card
  src/domain/space/components/cards/SpaceCardBase.tsx
Due: eslint --fix, prettier --write

design review - updated space cards
  src/main/topLevelPages/myDashboard/DashboardWithMemberships/DashboardSpaces/DashboardSpaces.tsx
Due: eslint --fix, prettier --write

error policy all for notifications
  src/main/inAppNotifications/useInAppNotifications.ts
Due: eslint --fix, prettier --write

0.120.4
  package.json
Due: prettier --write

finished feature
  specs/002-guest-whiteboard-access/contracts/graphql-fragments.graphql
  specs/002-guest-whiteboard-access/data-model.md
  specs/002-guest-whiteboard-access/plan.md
  specs/002-guest-whiteboard-access/spec.md
  specs/002-guest-whiteboard-access/tasks.md
  src/core/apollo/graphqlLinks/guestHeaderLink.ts
  src/core/apollo/graphqlLinks/useErrorHandlerLink.ts
  src/core/auth/authentication/AuthenticationLayout.tsx
  src/core/auth/authentication/pages/LoginSuccessPage.tsx
  src/core/auth/authentication/pages/RegistrationPage.tsx
  src/core/auth/authentication/pages/RegistrationSuccessPage.tsx
  src/core/auth/authentication/pages/SignUp.tsx
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/whiteboard/WhiteboardDialog/WhiteboardDialogFooter.spec.tsx
  src/domain/collaboration/whiteboard/guestAccess/components/GuestSessionNotification.tsx
  src/domain/collaboration/whiteboard/guestAccess/context/GuestSessionContext.tsx
  src/domain/collaboration/whiteboard/guestAccess/hooks/useGuestSessionReturn.ts
  src/domain/collaboration/whiteboard/guestAccess/utils/sessionStorage.ts
  src/domain/common/whiteboard/excalidraw/collab/Portal.ts
  src/main/public/whiteboard/JoinWhiteboardDialog.tsx
  src/main/public/whiteboard/PublicWhiteboardPage.tsx
Due: eslint --fix, prettier --write

add whiteboard page spec
  .github/copilot-instructions.md
  specs/002-guest-whiteboard-access/checklists/requirements.md
  specs/002-guest-whiteboard-access/contracts/api-contract.md
  specs/002-guest-whiteboard-access/contracts/graphql-fragments.graphql
  specs/002-guest-whiteboard-access/data-model.md
  specs/002-guest-whiteboard-access/plan.md
  specs/002-guest-whiteboard-access/quickstart.md
  specs/002-guest-whiteboard-access/research.md
  specs/002-guest-whiteboard-access/spec.md
  specs/002-guest-whiteboard-access/tasks.md
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/calloutContributions/useCalloutContributions/CalloutContributions.graphql
Due: prettier --write
