Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": "prettier --write"
}

translation update
  src/core/i18n/ach/translation.ach.json
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
Due: prettier --write

spec it
  specs/017-group-chats/checklists/requirements.md
  specs/017-group-chats/contracts/graphql-operations.md
  specs/017-group-chats/data-model.md
  specs/017-group-chats/plan.md
  specs/017-group-chats/quickstart.md
  specs/017-group-chats/research.md
  specs/017-group-chats/spec.md
  specs/017-group-chats/tasks.md
Due: prettier --write

fix schema changes
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/access/ApplicationsAndInvitations/InvitationsMutations.graphql
  src/domain/access/ApplicationsAndInvitations/RoleSetApplicationsInvitations.graphql
  src/domain/collaboration/activity/ActivityLog/activityLogFragments.graphql
  src/domain/community/userCurrent/CurrentUserProvider/CurrentUserFull.graphql
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityApplicationDialog/CommunityApplication.graphql
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityInvitationDialog/CommunityInvitation.graphql
  src/main/guidance/chatWidget/ChatWidgetQueries.graphql
  src/main/inAppNotifications/graphql/InAppNotificationsFragments.graphql
  src/main/search/SearchQueries.graphql
  src/main/topLevelPages/myDashboard/InvitationsBlock/PendingInvitations.graphql
  src/main/userMessaging/graphql/AddConversationMember.graphql
  src/main/userMessaging/graphql/ConversationEvents.graphql
  src/main/userMessaging/graphql/LeaveConversation.graphql
  src/main/userMessaging/graphql/RemoveConversationMember.graphql
  src/main/userMessaging/graphql/UserConversations.graphql
  src/main/userMessaging/graphql/UserConversationsUnreadCount.graphql
Due: eslint --fix, prettier --write

Fix multi-day all day events
  src/core/ui/forms/DatePicker/FormikDurationMinutes.tsx
  src/domain/timeline/calendar/CalendarEventsContainer.tsx
  src/domain/timeline/calendar/views/EventForm/EventForm.tsx
Due: eslint --fix, prettier --write

initial implementation of group chats UI
  src/core/i18n/en/translation.en.json
  src/domain/access/ApplicationsAndInvitations/useRoleSetApplicationsAndInvitations.ts
  src/domain/access/model/ApplicationModel.ts
  src/domain/access/model/InvitationDataModel.ts
  src/domain/access/model/InvitationModel.ts
  src/domain/access/model/InvitationResultModel.ts
  src/domain/collaboration/activity/ActivityLog/ActivityComponent.tsx
  src/domain/collaboration/activity/useActivityLogOnCollaboration/useActivityOnCollaboration.ts
  src/domain/collaboration/callout/CalloutForm/CalloutForm.tsx
  src/domain/collaboration/callout/CalloutForm/CalloutFormModel.ts
  src/domain/collaboration/callout/CalloutForm/ContributionSettingsDialog/ContributionsSettings.tsx
  src/domain/collaboration/callout/models/CalloutSettingsModel.ts
  src/domain/collaboration/calloutContributions/useCalloutContributions/useCalloutCollaborationPermissions.ts
  src/domain/collaboration/calloutsSet/useCalloutCreation/useCalloutCreation.ts
  src/domain/community/inviteContributors/users/InvitationsResultDialogContent.tsx
  src/domain/community/inviteContributors/users/InviteUsersDialog.tsx
  src/domain/community/inviteContributors/virtualContributors/InviteVirtualContributorDialog.tsx
  src/domain/community/virtualContributor/vcMembershipPage/VCMembershipPage.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityApplicationDialog/CommunityApplicationDialog.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityInvitationDialog/CommunityInvitationDialog.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityMemberships.tsx
  src/domain/templates/models/common.ts
  src/main/guidance/chatWidget/useChatGuidanceCommunication.ts
  src/main/search/SearchView.tsx
  src/main/search/ui/SearchCategoriesMenu.tsx
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/AddContent/AddContentProps.ts
  src/main/userMessaging/GroupChatManagementDialog.tsx
  src/main/userMessaging/NewMessageDialog.tsx
  src/main/userMessaging/UserMessagingChatList.tsx
  src/main/userMessaging/UserMessagingConversationView.tsx
  src/main/userMessaging/UserMessagingDialog.tsx
  src/main/userMessaging/useConversationEventsSubscription.ts
  src/main/userMessaging/useUnreadConversationsCount.ts
  src/main/userMessaging/useUserConversations.ts
Due: eslint --fix, prettier --write

Add to my Calendar - Calendar events (#9342)
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/core/ui/forms/DatePicker/FormikDurationMinutes.tsx
  src/core/ui/markdown/utils/markdownToPlainText.spec.ts
  src/core/ui/markdown/utils/markdownToPlainText.ts
  src/domain/timeline/calendar/CalendarEventsContainer.tsx
  src/domain/timeline/calendar/calendarQueries.graphql
  src/domain/timeline/calendar/components/AddToCalendarButton.tsx
  src/domain/timeline/calendar/components/ExportEventsToIcsButton.tsx
  src/domain/timeline/calendar/components/icons/AddToCalendarIcons.tsx
  src/domain/timeline/calendar/components/icons/download-calendar.svg
  src/domain/timeline/calendar/components/icons/google.svg
  src/domain/timeline/calendar/components/icons/outlook.svg
  src/domain/timeline/calendar/utils/icsUtils.test.ts
  src/domain/timeline/calendar/utils/icsUtils.ts
  src/domain/timeline/calendar/views/CalendarEventDetail.tsx
  src/domain/timeline/calendar/views/CalendarEventsList.tsx
  src/domain/timeline/calendar/views/EventForm/EventForm.tsx
  src/domain/timeline/calendar/views/useCalendarEvent.ts
Due: eslint --fix, prettier --write

fix: prevent double WebSocket connection in collaborative document provider (#9377)
  src/core/ui/forms/CollaborativeMarkdownInput/hooks/useCollaboration.ts
Due: eslint --fix, prettier --write

fix: hide guest access URL from users without PUBLIC_SHARE privilege (#9146)
  src/domain/collaboration/whiteboard/WhiteboardShareDialog/WhiteboardGuestAccessControls.tsx
  src/domain/collaboration/whiteboard/WhiteboardShareDialog/__tests__/WhiteboardGuestAccessSection.test.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardView.tsx
Due: eslint --fix, prettier --write

refetch urls after event edit
  src/domain/timeline/calendar/CalendarEventsContainer.tsx
Due: eslint --fix, prettier --write

spec for subspace A-B sorting and pinning
  specs/017-subspace-sorting-pinning/checklists/requirements.md
  specs/017-subspace-sorting-pinning/spec.md
Due: prettier --write

spec fix
  specs/017-subspace-sorting-pinning/spec.md
Due: prettier --write

implementation with fixes
  specs/017-subspace-sorting-pinning/contracts/graphql-documents.md
  specs/017-subspace-sorting-pinning/data-model.md
  specs/017-subspace-sorting-pinning/plan.md
  specs/017-subspace-sorting-pinning/quickstart.md
  specs/017-subspace-sorting-pinning/research.md
  specs/017-subspace-sorting-pinning/tasks.md
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/core/ui/list/SubspaceLinkList.tsx
  src/domain/platformAdmin/components/SearchableList.tsx
  src/domain/space/components/CreateSpace/hooks/useSubspaceCreation/useSubspaceCreation.ts
  src/domain/space/components/SubspacePinIndicator.tsx
  src/domain/space/components/cards/SpaceCard.tsx
  src/domain/space/components/cards/SpaceCardBase.tsx
  src/domain/space/components/cards/SpaceCardHorizontal.tsx
  src/domain/space/components/spaceDashboardNavigation/SpaceDashboardNavigation.graphql
  src/domain/space/components/spaceDashboardNavigation/dashboardNavigation/DashboardNavigationItemView.tsx
  src/domain/space/components/spaceDashboardNavigation/useSpaceDashboardNavigation.ts
  src/domain/space/components/subspaces/SubspaceView.tsx
  src/domain/space/graphql/SubspaceCards.graphql
  src/domain/space/graphql/fragments/subspaceCard.graphql
  src/domain/space/graphql/queries/Subspaces.graphql
  src/domain/space/hooks/useSubspacesSorted.ts
  src/domain/space/layout/tabbedLayout/Tabs/SpaceSubspacesPage.tsx
  src/domain/spaceAdmin/SpaceAdminSettings/graphql/SpaceSettings.graphql
  src/domain/spaceAdmin/SpaceAdminSettings/graphql/UpdateSpaceSettings.graphql
  src/domain/spaceAdmin/SpaceAdminSubspaces/SortModeDropdown.tsx
  src/domain/spaceAdmin/SpaceAdminSubspaces/SpaceAdminSubspacesPage.tsx
  src/domain/spaceAdmin/SpaceAdminSubspaces/SubspacesSortDialog/SubspacesSortDialog.tsx
  src/domain/spaceAdmin/SpaceAdminSubspaces/SubspacesSortableItem.tsx
  src/domain/spaceAdmin/SpaceAdminSubspaces/SubspacesSortableList.tsx
  src/domain/spaceAdmin/SpaceAdminSubspaces/graphql/UpdateSubspacePinned.graphql
  src/domain/spaceAdmin/SpaceAdminSubspaces/graphql/UpdateSubspacesSortOrder.graphql
Due: eslint --fix, prettier --write

BugFix: Calendar Events refetch urls when modifying an event (#9385)
  src/domain/timeline/calendar/CalendarEventsContainer.tsx
Due: eslint --fix, prettier --write

Stop leaking build-time secrets and env vars to the browser (#9378)
  .env
  Dockerfile
  src/core/analytics/apm/useApmInit.ts
  src/core/help/dialog/HelpDialog.tsx
  src/core/logging/sentry/bootstrap.ts
  src/main/ui/layout/topLevelWrappers/App.tsx
  src/main/versionHandling.tsx
Due: eslint --fix, prettier --write

0.134.1
  package.json
Due: prettier --write

pr fixes
  specs/017-subspace-sorting-pinning/data-model.md
  specs/017-subspace-sorting-pinning/plan.md
  specs/017-subspace-sorting-pinning/spec.md
  src/core/ui/list/SubspaceLinkList.tsx
  src/domain/spaceAdmin/SpaceAdminSubspaces/SortModeDropdown.tsx
  src/domain/spaceAdmin/SpaceAdminSubspaces/SpaceAdminSubspacesPage.tsx
  src/domain/spaceAdmin/SpaceAdminSubspaces/SubspacesSortableItem.tsx
  src/domain/spaceAdmin/SpaceAdminSubspaces/SubspacesSortableList.tsx
Due: eslint --fix, prettier --write

node version bump to 24
  .github/workflows/ci-build.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-test.yml
  Dockerfile
  package.json
  pnpm-lock.yaml
Due: prettier --write

move branch to 18
  CLAUDE.md
  specs/018-community-polls/checklists/requirements.md
  specs/018-community-polls/contracts/graphql-operations.graphql
  specs/018-community-polls/contracts/notification-preferences.md
  specs/018-community-polls/data-model.md
  specs/018-community-polls/plan.md
  specs/018-community-polls/quickstart.md
  specs/018-community-polls/research.md
  specs/018-community-polls/spec.md
  specs/018-community-polls/tasks.md
  specs/server/contracts/schema.graphql
  specs/server/schema.graphql
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/calloutsSet/useCalloutsSet/CalloutsSetQueries.graphql
  src/domain/collaboration/poll/PollEmptyState.tsx
  src/domain/collaboration/poll/PollResultsDisplay.tsx
  src/domain/collaboration/poll/PollView.tsx
  src/domain/collaboration/poll/graphql/pollMutations.graphql
  src/domain/collaboration/poll/hooks/usePollOptionManagement.test.ts
  src/domain/collaboration/poll/hooks/usePollOptionManagement.ts
Due: eslint --fix, prettier --write

revert this
  CLAUDE.md
Due: prettier --write

fix: hide guest access URL from users without PUBLIC_SHARE privilege (#9146) (#9381)
  src/domain/collaboration/whiteboard/WhiteboardShareDialog/WhiteboardGuestAccessControls.tsx
  src/domain/collaboration/whiteboard/WhiteboardShareDialog/__tests__/WhiteboardGuestAccessSection.test.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardView.tsx
Due: eslint --fix, prettier --write

Optimize CI builds: Apple Silicon runners, pnpm caching, Docker modernization
  .github/workflows/build-release-docker-hub.yml
  .github/workflows/ci-build.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-test.yml
  CLAUDE.md
  specs/019-optimize-ci-builds/checklists/requirements.md
  specs/019-optimize-ci-builds/data-model.md
  specs/019-optimize-ci-builds/plan.md
  specs/019-optimize-ci-builds/quickstart.md
  specs/019-optimize-ci-builds/research.md
  specs/019-optimize-ci-builds/spec.md
  specs/019-optimize-ci-builds/tasks.md
Due: prettier --write

Fix CI: move Node.js setup before pnpm store path step
  .github/workflows/ci-build.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-test.yml
Due: none

Optimize CI builds: Apple Silicon runners, caching, Docker modernization (#9393)
  .github/workflows/build-release-docker-hub.yml
  .github/workflows/ci-build.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-test.yml
  CLAUDE.md
  specs/019-optimize-ci-builds/checklists/requirements.md
  specs/019-optimize-ci-builds/data-model.md
  specs/019-optimize-ci-builds/plan.md
  specs/019-optimize-ci-builds/quickstart.md
  specs/019-optimize-ci-builds/research.md
  specs/019-optimize-ci-builds/spec.md
  specs/019-optimize-ci-builds/tasks.md
Due: prettier --write

missing sentry log in error pages
  src/core/40XErrorHandler/ErrorBoundary.tsx
  src/core/pages/Errors/ErrorPage.tsx
  src/domain/community/userCurrent/CurrentUserProvider/CurrentUserProvider.tsx
Due: eslint --fix, prettier --write

pr fixes: bump engines.pnpm and update docs
  docs/development-setup.md
  package.json
Due: prettier --write

fix schemas after API changes
  src/domain/access/ApplicationsAndInvitations/InvitationsMutations.graphql
  src/domain/access/ApplicationsAndInvitations/RoleSetApplicationsInvitations.graphql
  src/domain/collaboration/activity/ActivityLog/activityLogFragments.graphql
  src/domain/community/userCurrent/CurrentUserProvider/CurrentUserFull.graphql
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityApplicationDialog/CommunityApplication.graphql
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityInvitationDialog/CommunityInvitation.graphql
  src/main/inAppNotifications/graphql/InAppNotificationsFragments.graphql
  src/main/search/SearchQueries.graphql
  src/main/topLevelPages/myDashboard/InvitationsBlock/PendingInvitations.graphql
  src/main/userMessaging/graphql/AddConversationMember.graphql
  src/main/userMessaging/graphql/ConversationEvents.graphql
  src/main/userMessaging/graphql/CreateConversation.graphql
  src/main/userMessaging/graphql/LeaveConversation.graphql
  src/main/userMessaging/graphql/RemoveConversationMember.graphql
  src/main/userMessaging/graphql/UpdateConversation.graphql
  src/main/userMessaging/graphql/UserConversations.graphql
Due: none

docs fix + codegen
  specs/017-group-chats/contracts/graphql-operations.md
  specs/017-group-chats/data-model.md
  specs/017-group-chats/plan.md
  specs/017-group-chats/spec.md
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
Due: eslint --fix, prettier --write

actor > contributro
  src/domain/access/ApplicationsAndInvitations/useRoleSetApplicationsAndInvitations.ts
  src/domain/access/model/ApplicationModel.ts
  src/domain/access/model/InvitationModel.ts
  src/domain/access/model/InvitationResultModel.ts
  src/domain/collaboration/activity/ActivityLog/ActivityComponent.tsx
  src/domain/collaboration/activity/useActivityLogOnCollaboration/useActivityOnCollaboration.ts
  src/domain/collaboration/callout/CalloutForm/CalloutForm.tsx
  src/domain/collaboration/callout/CalloutForm/CalloutFormModel.ts
  src/domain/collaboration/callout/CalloutForm/ContributionSettingsDialog/ContributionsSettings.tsx
  src/domain/collaboration/callout/models/CalloutSettingsModel.ts
  src/domain/collaboration/calloutContributions/useCalloutContributions/useCalloutCollaborationPermissions.ts
  src/domain/collaboration/calloutsSet/useCalloutCreation/useCalloutCreation.ts
  src/domain/community/inviteContributors/users/InvitationsResultDialogContent.tsx
  src/domain/community/virtualContributor/vcMembershipPage/VCMembershipPage.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityApplicationDialog/CommunityApplicationDialog.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityInvitationDialog/CommunityInvitationDialog.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityMemberships.tsx
  src/domain/templates/models/common.ts
  src/main/search/SearchView.tsx
  src/main/search/ui/SearchCategoriesMenu.tsx
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/AddContent/AddContentProps.ts
Due: eslint --fix, prettier --write

chat avatar, members update, fixes
  src/main/userMessaging/GroupChatManagementDialog.tsx
  src/main/userMessaging/UserMessagingChatList.tsx
  src/main/userMessaging/UserMessagingConversationView.tsx
  src/main/userMessaging/useConversationEventsSubscription.ts
  src/main/userMessaging/useUserConversations.ts
Due: eslint --fix, prettier --write

no alt text for the avatar of group chats
  src/core/ui/upload/VisualUpload/CropDialog.tsx
  src/main/userMessaging/GroupChatManagementDialog.tsx
Due: eslint --fix, prettier --write

offline toast logic
  src/core/i18n/en/translation.en.json
  src/main/onlineStatus/OnlineStatusNotification.tsx
  src/root.tsx
Due: eslint --fix, prettier --write

pr fix - remove duplicated logging
  src/core/40XErrorHandler/ErrorBoundary.tsx
  src/domain/community/userCurrent/CurrentUserProvider/CurrentUserProvider.tsx
Due: eslint --fix, prettier --write

Lots of fixes
  specs/018-community-polls/plan.md
  specs/018-community-polls/research.md
  specs/018-community-polls/spec.md
  specs/018-community-polls/tasks.md
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/callout/CalloutDialogs/CreateCalloutDialog.tsx
  src/domain/collaboration/callout/CalloutDialogs/EditCalloutDialog.tsx
  src/domain/collaboration/callout/CalloutForm/CalloutForm.tsx
  src/domain/collaboration/callout/CalloutForm/CalloutFormFramingSettings.tsx
  src/domain/collaboration/callout/CalloutFramings/CalloutFramingPoll.tsx
  src/domain/collaboration/callout/models/mappings.ts
  src/domain/collaboration/calloutsSet/useCalloutCreation/useCalloutCreation.ts
  src/domain/collaboration/calloutsSet/useCalloutCreation/useCalloutCreationWithPreviewImages.ts
  src/domain/collaboration/poll/PollFormFields.tsx
  src/domain/collaboration/poll/PollFormSettingsSection.tsx
  src/domain/collaboration/poll/PollOptionResultRow.tsx
  src/domain/collaboration/poll/PollResultsDisplay.tsx
  src/domain/collaboration/poll/PollView.tsx
  src/domain/collaboration/poll/PollVoterAvatars.tsx
  src/domain/collaboration/poll/hooks/usePollVote.test.ts
  src/domain/collaboration/poll/hooks/usePollVote.ts
  src/domain/collaboration/poll/models/PollModels.ts
  src/domain/community/userAdmin/tabs/UserAdminNotificationsPage.tsx
Due: eslint --fix, prettier --write

UI fixes
  specs/018-community-polls/plan.md
  specs/018-community-polls/spec.md
  specs/018-community-polls/tasks.md
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/callout/CalloutForm/CalloutForm.tsx
  src/domain/collaboration/callout/CalloutForm/CalloutFormFramingSettings.tsx
  src/domain/collaboration/callout/icons/calloutIcons.ts
  src/domain/collaboration/poll/PollFormFields.tsx
  src/domain/collaboration/poll/PollFormSettingsSection.tsx
Due: eslint --fix, prettier --write

debounce the offline detection
  src/main/onlineStatus/OnlineStatusNotification.tsx
Due: eslint --fix, prettier --write

pr fix
  src/domain/spaceAdmin/SpaceAdminSubspaces/SpaceAdminSubspacesPage.tsx
Due: eslint --fix, prettier --write

get createdDate of newly created conversation in subscription
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/main/userMessaging/graphql/ConversationEvents.graphql
  src/main/userMessaging/graphql/UserConversations.graphql
  src/main/userMessaging/useConversationEventsSubscription.ts
  src/main/userMessaging/useUserConversations.ts
Due: eslint --fix, prettier --write

node version bump to 24 (#9389)
  .github/workflows/ci-build.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-test.yml
  CLAUDE.md
  Dockerfile
  docs/development-setup.md
  package.json
  pnpm-lock.yaml
  specs/019-optimize-ci-builds/data-model.md
  specs/019-optimize-ci-builds/plan.md
  specs/019-optimize-ci-builds/quickstart.md
  specs/019-optimize-ci-builds/research.md
  specs/019-optimize-ci-builds/spec.md
  specs/019-optimize-ci-builds/tasks.md
Due: prettier --write
