Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": "prettier --write"
}

feat(auth): add alert messages for OIDC session status updates
  src/core/auth/authentication/context/AuthenticationProvider.tsx
  src/core/auth/authentication/hooks/useOidcSessionStatus.ts
Due: eslint --fix, prettier --write

feat(auth): disable caching for OIDC token hint requests
  src/core/auth/authentication/hooks/useIdTokenHint.ts
  src/core/auth/authentication/hooks/useOidcSessionStatus.ts
Due: eslint --fix, prettier --write

implementation org creation form
  specs/105-crd-global-admin/tasks.md
  src/crd/components/admin/organizations/OrganizationForm.tsx
  src/crd/components/admin/organizations/__tests__/OrganizationForm.test.tsx
  src/crd/components/admin/users/ChangeUserEmailDialog.tsx
  src/crd/i18n/admin/admin.bg.json
  src/crd/i18n/admin/admin.de.json
  src/crd/i18n/admin/admin.en.json
  src/crd/i18n/admin/admin.es.json
  src/crd/i18n/admin/admin.fr.json
  src/crd/i18n/admin/admin.nl.json
  src/main/crdPages/topLevelPages/admin/CrdAdminRoutes.tsx
  src/main/crdPages/topLevelPages/admin/organizations/CrdAdminOrganizationFormPage.tsx
  src/main/crdPages/topLevelPages/admin/organizations/CrdAdminOrganizationsPage.tsx
  src/main/crdPages/topLevelPages/admin/organizations/CrdAdminOrganizationsRoutes.tsx
  src/main/crdPages/topLevelPages/admin/organizations/__tests__/CrdAdminOrganizationsPage.test.tsx
  src/main/crdPages/topLevelPages/admin/organizations/orgFormMapper.ts
Due: eslint --fix, prettier --write

feat(auth): remove alert messages from OIDC session handling
  src/core/auth/authentication/context/AuthenticationProvider.tsx
  src/core/auth/authentication/hooks/useOidcSessionStatus.ts
Due: eslint --fix, prettier --write

translations against vaule
  nl-crowdin-updates.md
  src/core/i18n/en/translation.en.json
Due: prettier --write

Bugfix storage bucket on callout create (#9828)
  specs/042-crd-space-page/callout-dialog/spec.md
  specs/042-crd-space-page/callout-dialog/tasks.md
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/storage/StorageBucket/StorageConfig.graphql
  src/domain/storage/StorageBucket/useStorageConfig.tsx
  src/main/crdPages/space/callout/CalloutFormConnector.tsx
Due: eslint --fix, prettier --write

user form and space transfers
  specs/105-crd-global-admin/tasks.md
  src/crd/components/admin/users/UserEditForm.tsx
  src/crd/components/admin/users/__tests__/UserEditForm.test.tsx
  src/crd/i18n/admin/admin.bg.json
  src/crd/i18n/admin/admin.de.json
  src/crd/i18n/admin/admin.en.json
  src/crd/i18n/admin/admin.es.json
  src/crd/i18n/admin/admin.fr.json
  src/crd/i18n/admin/admin.nl.json
  src/main/crdPages/topLevelPages/admin/CrdAdminRoutes.tsx
  src/main/crdPages/topLevelPages/admin/transfer/CrdAdminTransferPage.tsx
  src/main/crdPages/topLevelPages/admin/transfer/SpaceConversionPanel.tsx
  src/main/crdPages/topLevelPages/admin/transfer/__tests__/CrdAdminTransferPage.test.tsx
  src/main/crdPages/topLevelPages/admin/users/CrdAdminUserPage.tsx
  src/main/crdPages/topLevelPages/admin/users/CrdAdminUsersPage.tsx
  src/main/crdPages/topLevelPages/admin/users/CrdAdminUsersRoutes.tsx
  src/main/crdPages/topLevelPages/admin/users/__tests__/CrdAdminUsersPage.test.tsx
  src/main/crdPages/topLevelPages/admin/users/userDetailMapper.ts
Due: eslint --fix, prettier --write

Specs
  CLAUDE.md
  specs/106-crd-virtual-contributors/checklists/requirements.md
  specs/106-crd-virtual-contributors/contracts/addVcToCommunity.ts
  specs/106-crd-virtual-contributors/contracts/creationWizard.ts
  specs/106-crd-virtual-contributors/contracts/knowledgeBase.ts
  specs/106-crd-virtual-contributors/contracts/promptGraph.ts
  specs/106-crd-virtual-contributors/contracts/vcBadge.ts
  specs/106-crd-virtual-contributors/data-model.md
  specs/106-crd-virtual-contributors/plan.md
  specs/106-crd-virtual-contributors/quickstart.md
  specs/106-crd-virtual-contributors/research.md
  specs/106-crd-virtual-contributors/spec.md
  specs/106-crd-virtual-contributors/tasks.md
Due: prettier --write

add alt to img
  src/crd/components/space/PostCard.tsx
Due: eslint --fix, prettier --write

more specs
  specs/106-crd-virtual-contributors/spec.md
  specs/106-crd-virtual-contributors/tasks.md
Due: prettier --write

first pass
  specs/106-crd-virtual-contributors/tasks.md
  src/crd/components/comment/CommentItem.tsx
  src/crd/components/comment/types.ts
  src/crd/components/common/VirtualContributorBadge.tsx
  src/crd/components/common/VirtualContributorBadge.types.ts
  src/crd/i18n/common/common.bg.json
  src/crd/i18n/common/common.de.json
  src/crd/i18n/common/common.en.json
  src/crd/i18n/common/common.es.json
  src/crd/i18n/common/common.fr.json
  src/crd/i18n/common/common.nl.json
  src/main/crdPages/space/dataMappers/commentDataMapper.ts
Due: eslint --fix, prettier --write

third pass
  src/crd/components/virtualContributor/knowledgeBase/VCKnowledgeBaseView.tsx
  src/crd/components/virtualContributor/knowledgeBase/VCKnowledgeBaseView.types.ts
  src/crd/i18n/profilePages/profilePages.bg.json
  src/crd/i18n/profilePages/profilePages.de.json
  src/crd/i18n/profilePages/profilePages.en.json
  src/crd/i18n/profilePages/profilePages.es.json
  src/crd/i18n/profilePages/profilePages.fr.json
  src/crd/i18n/profilePages/profilePages.nl.json
  src/main/crdPages/topLevelPages/vcPages/CrdVCRoutes.tsx
  src/main/crdPages/topLevelPages/vcPages/knowledgeBase/CrdVCKnowledgeBasePage.tsx
  src/main/crdPages/topLevelPages/vcPages/knowledgeBase/__tests__/vcKnowledgeBaseMapper.test.ts
  src/main/crdPages/topLevelPages/vcPages/knowledgeBase/useVcKnowledgeBaseData.ts
  src/main/crdPages/topLevelPages/vcPages/knowledgeBase/vcKnowledgeBaseMapper.ts
Due: eslint --fix, prettier --write

second pass
  specs/106-crd-virtual-contributors/tasks.md
  src/crd/components/community/VirtualContributorInviteDialog.tsx
  src/crd/components/virtualContributor/community/VirtualContributorPreview.tsx
  src/crd/components/virtualContributor/community/VirtualContributorPreview.types.ts
  src/crd/i18n/community/community.bg.json
  src/crd/i18n/community/community.de.json
  src/crd/i18n/community/community.en.json
  src/crd/i18n/community/community.es.json
  src/crd/i18n/community/community.fr.json
  src/crd/i18n/community/community.nl.json
  src/domain/spaceAdmin/SpaceAdminCommunity/hooks/useVirtualContributorsAdmin.ts
  src/main/crdPages/space/dialogs/VirtualContributorInviteConnector.tsx
Due: eslint --fix, prettier --write

fourth pass
  specs/106-crd-virtual-contributors/tasks.md
  src/crd/components/virtualContributor/settings/VCPromptGraphCard.tsx
  src/crd/components/virtualContributor/settings/VCPromptGraphCard.types.ts
  src/crd/components/virtualContributor/settings/VCSettingsTabView.tsx
  src/crd/components/virtualContributor/settings/VCSettingsTabView.types.ts
  src/crd/i18n/contributorSettings/contributorSettings.bg.json
  src/crd/i18n/contributorSettings/contributorSettings.de.json
  src/crd/i18n/contributorSettings/contributorSettings.en.json
  src/crd/i18n/contributorSettings/contributorSettings.es.json
  src/crd/i18n/contributorSettings/contributorSettings.fr.json
  src/crd/i18n/contributorSettings/contributorSettings.nl.json
  src/main/crdPages/topLevelPages/vcPages/settings/settings/CrdVCSettingsTab.tsx
  src/main/crdPages/topLevelPages/vcPages/settings/settings/__tests__/promptGraphMapper.test.ts
  src/main/crdPages/topLevelPages/vcPages/settings/settings/useVcSettingsTabData.ts
  src/main/crdPages/topLevelPages/vcPages/settings/settings/vcSettingsMapper.ts
Due: eslint --fix, prettier --write

5th
  specs/106-crd-virtual-contributors/tasks.md
  src/crd/components/virtualContributor/creationWizard/VCCreationWizardView.types.ts
  src/main/routing/urlBuilders.ts
Due: eslint --fix, prettier --write

feat(auth): remove NoIdentityRedirect from settings route for password recovery
  src/core/auth/authentication/routing/IdentityRoute.tsx
Due: eslint --fix, prettier --write

pr fixes
  src/crd/components/admin/AdminSearchableTable.tsx
  src/crd/components/admin/organizations/OrganizationForm.tsx
  src/crd/components/admin/users/ChangeUserEmailDialog.tsx
  src/crd/components/admin/users/UserEditForm.tsx
  src/crd/forms/AdminFormField.tsx
  src/crd/forms/AdminFormSection.tsx
  src/crd/lib/validators.ts
  src/main/crdPages/topLevelPages/admin/authorization/CrdAdminGlobalRolesPage.tsx
  src/main/crdPages/topLevelPages/admin/organizations/CrdAdminOrganizationFormPage.tsx
  src/main/crdPages/topLevelPages/admin/organizations/orgFormMapper.ts
  src/main/crdPages/topLevelPages/admin/transfer/AccountTargetTransfer.tsx
  src/main/crdPages/topLevelPages/admin/users/CrdAdminUserPage.tsx
  src/main/crdPages/topLevelPages/admin/users/userDetailMapper.ts
  src/main/crdPages/utils/useDebouncedValue.ts
  src/main/crdPages/utils/useSeededFormState.test.ts
  src/main/crdPages/utils/useSeededFormState.ts
Due: eslint --fix, prettier --write

show the spaces in the adminstration even if there's an error
  src/main/crdPages/topLevelPages/admin/spaces/CrdAdminSpacesPage.tsx
  src/main/crdPages/topLevelPages/admin/spaces/__tests__/CrdAdminSpacesPage.test.tsx
Due: eslint --fix, prettier --write

feat(auth): implement OIDC session recovery after password change
  src/core/auth/authentication/constants/authentication.constants.ts
  src/core/auth/authentication/context/AuthenticationProvider.tsx
  src/core/auth/authentication/hooks/useLogoutUrl.ts
  src/core/auth/authentication/hooks/useOidcSessionRecovery.test.ts
  src/core/auth/authentication/hooks/useOidcSessionRecovery.ts
Due: eslint --fix, prettier --write

fix(auth): drop the marker gate that blocked OIDC session recovery
  src/core/auth/authentication/constants/authentication.constants.ts
  src/core/auth/authentication/hooks/useLogoutUrl.ts
  src/core/auth/authentication/hooks/useOidcSessionRecovery.test.ts
  src/core/auth/authentication/hooks/useOidcSessionRecovery.ts
Due: eslint --fix, prettier --write

6th
  specs/106-crd-virtual-contributors/contracts/creationWizard.ts
  specs/106-crd-virtual-contributors/plan.md
  specs/106-crd-virtual-contributors/quickstart.md
  specs/106-crd-virtual-contributors/research.md
  specs/106-crd-virtual-contributors/spec.md
  specs/106-crd-virtual-contributors/tasks.md
  src/crd/components/virtualContributor/creationWizard/VCCreationWizardView.tsx
  src/crd/components/virtualContributor/creationWizard/VCCreationWizardView.types.ts
  src/crd/i18n/contributorSettings/contributorSettings.bg.json
  src/crd/i18n/contributorSettings/contributorSettings.de.json
  src/crd/i18n/contributorSettings/contributorSettings.en.json
  src/crd/i18n/contributorSettings/contributorSettings.es.json
  src/crd/i18n/contributorSettings/contributorSettings.fr.json
  src/crd/i18n/contributorSettings/contributorSettings.nl.json
  src/main/crdPages/dashboard/DashboardWithMemberships.tsx
  src/main/crdPages/dashboard/DashboardWithoutMemberships.tsx
  src/main/crdPages/topLevelPages/organizationPages/settings/CrdOrgSettingsRoutes.tsx
  src/main/crdPages/topLevelPages/organizationPages/settings/account/CrdOrgAccountTab.tsx
  src/main/crdPages/topLevelPages/userPages/settings/CrdUserSettingsRoutes.tsx
  src/main/crdPages/topLevelPages/userPages/settings/account/CrdUserAccountTab.tsx
  src/main/crdPages/topLevelPages/vcPages/creationWizard/CrdOrgVCCreationWizardPage.tsx
  src/main/crdPages/topLevelPages/vcPages/creationWizard/CrdVCCreationWizard.tsx
  src/main/crdPages/topLevelPages/vcPages/creationWizard/CrdVCCreationWizardPage.tsx
  src/main/crdPages/topLevelPages/vcPages/creationWizard/__tests__/vcCreationWizardMapper.test.ts
  src/main/crdPages/topLevelPages/vcPages/creationWizard/useVcCreationWizard.ts
  src/main/crdPages/topLevelPages/vcPages/creationWizard/vcCreationWizardMapper.ts
  src/main/routing/urlBuilders.ts
Due: eslint --fix, prettier --write

pr fixes
  specs/105-crd-global-admin/contracts/admin-searchable-table.contract.ts
  specs/105-crd-global-admin/contracts/section-contracts.md
  specs/105-crd-global-admin/data-model.md
  src/crd/components/admin/AdminSearchableTable.tsx
  src/crd/components/admin/organizations/OrganizationForm.tsx
  src/crd/components/admin/roles/RoleMembersEditor.tsx
  src/crd/components/admin/users/ChangeUserEmailDialog.tsx
  src/crd/components/admin/users/UserEditForm.tsx
  src/crd/lib/validators.test.ts
  src/crd/lib/validators.ts
  src/main/crdPages/topLevelPages/admin/organizations/CrdAdminOrganizationFormPage.tsx
  src/main/crdPages/topLevelPages/admin/users/CrdAdminUserPage.tsx
Due: eslint --fix, prettier --write

chore: update prototype folder with latest design reference
  prototype/CLAUDE.md
  prototype/src/app/components/analytics/AnalyticsGraphExplorer.tsx
  prototype/src/app/components/create-space/CreateSpaceForm.tsx
  prototype/src/app/components/dashboard/UpdateBanner.tsx
  prototype/src/app/components/dialogs/CreateInnovationHubDialog.tsx
  prototype/src/app/components/dialogs/CreateInnovationHubDialogV2.tsx
  prototype/src/app/components/dialogs/CreateSpaceDialog.tsx
  prototype/src/app/components/dialogs/CreateSpaceDialogV2.tsx
  prototype/src/app/components/dialogs/CreateTemplatePackDialog.tsx
  prototype/src/app/components/dialogs/CreateTemplatePackDialogV2.tsx
  prototype/src/app/components/dialogs/CreateVCDialog.tsx
  prototype/src/app/components/dialogs/CreateVCDialogV2.tsx
  prototype/src/app/components/layout/Header.tsx
  prototype/src/app/components/space/CommunityFeed.tsx
  prototype/src/app/components/space/FilterContext.tsx
  prototype/src/app/components/space/PostCard.tsx
  prototype/src/app/components/space/SpaceFeed.tsx
  prototype/src/app/components/space/SpaceHeader.tsx
  prototype/src/app/components/space/SpaceKnowledgeFeed.tsx
  prototype/src/app/components/space/SpaceMembers.tsx
  prototype/src/app/components/space/SpaceNavigationTabs.tsx
  prototype/src/app/components/space/SpaceShell.tsx
  prototype/src/app/components/space/SpaceSidebar.tsx
  prototype/src/app/components/space/SpaceSubspacesList.tsx
  prototype/src/app/components/space/SubspaceSidebar.tsx
  prototype/src/app/components/space/WorkspacesFeed.tsx
  prototype/src/app/components/ui/badge.tsx
  prototype/src/app/components/ui/utils.ts
  prototype/src/app/components/user/ProfileHoverCard.tsx
  prototype/src/app/pages/Dashboard.tsx
  prototype/src/app/pages/NotificationsPage.tsx
  prototype/src/app/pages/OnboardingPage.tsx
  prototype/src/app/pages/SubspacePage.tsx
  prototype/src/app/pages/UserAccountPage.tsx
  prototype/src/lib/utils.ts
  prototype/src/styles/theme.css
  prototype/src/styles/typography.css
Due: prettier --write

refactor(004): drop manual useCallback from useUserAssistantTabData
  src/main/crdPages/topLevelPages/userPages/settings/assistant/useUserAssistantTabData.ts
Due: eslint --fix, prettier --write

instruct agents on the latest state of legacy views and translations
  .coderabbit.yaml
  .github/copilot-instructions.md
  .specify/memory/constitution.md
  CLAUDE.md
  docs/crd/migration-guide.md
  src/core/i18n/i18n.guidelines.md
  src/crd/CLAUDE.md
Due: prettier --write

instruct agents on the latest state of legacy views and translations (#9846)
  .coderabbit.yaml
  .github/copilot-instructions.md
  .specify/memory/constitution.md
  CLAUDE.md
  docs/crd/migration-guide.md
  src/core/i18n/i18n.guidelines.md
  src/crd/CLAUDE.md
Due: prettier --write

chore(004): drop PR_BODY scaffolding (becomes the PR description)
  PR_BODY.md
Due: prettier --write

Many fixes
  specs/106-crd-virtual-contributors/contracts/calloutRestrictions.ts
  specs/106-crd-virtual-contributors/tasks.md
  src/crd/app/CrdApp.tsx
  src/crd/app/data/virtualContributors.ts
  src/crd/app/main.tsx
  src/crd/app/pages/VCAddToCommunityDemoPage.tsx
  src/crd/app/pages/VCAdminConfigDemoPage.tsx
  src/crd/app/pages/VCCreationWizardDemoPage.tsx
  src/crd/app/pages/VCKnowledgeBaseDemoPage.tsx
  src/crd/components/virtualContributor/creationWizard/VCCreationWizardView.tsx
  src/crd/components/virtualContributor/creationWizard/VCCreationWizardView.types.ts
  src/crd/components/virtualContributor/knowledgeBase/VCKnowledgeBaseView.tsx
  src/crd/components/virtualContributor/knowledgeBase/VCKnowledgeBaseView.types.ts
  src/crd/i18n/contributorSettings/contributorSettings.bg.json
  src/crd/i18n/contributorSettings/contributorSettings.de.json
  src/crd/i18n/contributorSettings/contributorSettings.en.json
  src/crd/i18n/contributorSettings/contributorSettings.es.json
  src/crd/i18n/contributorSettings/contributorSettings.fr.json
  src/crd/i18n/contributorSettings/contributorSettings.nl.json
  src/crd/i18n/profilePages/profilePages.bg.json
  src/crd/i18n/profilePages/profilePages.de.json
  src/crd/i18n/profilePages/profilePages.en.json
  src/crd/i18n/profilePages/profilePages.es.json
  src/crd/i18n/profilePages/profilePages.fr.json
  src/crd/i18n/profilePages/profilePages.nl.json
  src/main/crdPages/topLevelPages/vcPages/creationWizard/CrdVCCreationWizard.tsx
  src/main/crdPages/topLevelPages/vcPages/creationWizard/useVcCreationWizard.ts
  src/main/crdPages/topLevelPages/vcPages/knowledgeBase/CrdVCKnowledgeBasePage.tsx
  src/main/crdPages/topLevelPages/vcPages/knowledgeBase/useVcKnowledgeBaseData.ts
Due: eslint --fix, prettier --write

Callout restrictions
  specs/106-crd-virtual-contributors/plan.md
  specs/106-crd-virtual-contributors/spec.md
  specs/106-crd-virtual-contributors/tasks.md
  src/crd/forms/callout/FramingChipStrip.test.tsx
  src/crd/forms/callout/FramingChipStrip.tsx
  src/crd/forms/callout/ResponsePanel.tsx
  src/crd/forms/callout/ResponseTypeChipStrip.test.tsx
  src/crd/forms/callout/ResponseTypeChipStrip.tsx
  src/main/crdPages/space/callout/CalloutFormConnector.tsx
  src/main/crdPages/space/callout/calloutRestrictions.test.ts
  src/main/crdPages/space/callout/calloutRestrictions.ts
  src/main/crdPages/space/hooks/useCrdCalloutForm.ts
  src/main/crdPages/topLevelPages/vcPages/knowledgeBase/CrdVCKnowledgeBasePage.tsx
Due: eslint --fix, prettier --write

platform copyright
  prototype/specs/002-alkemio-1.5-UI-Update/prompts/GAP-AUDIT-REPORT.md
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/en/translation.en.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
  src/core/i18n/pt/translation.pt.json
  src/crd/i18n/layout/layout.bg.json
  src/crd/i18n/layout/layout.de.json
  src/crd/i18n/layout/layout.en.json
  src/crd/i18n/layout/layout.es.json
  src/crd/i18n/layout/layout.fr.json
  src/crd/i18n/layout/layout.nl.json
Due: prettier --write

chore: update prototype space page components
  prototype/src/app/components/space/SpaceFeed.tsx
  prototype/src/app/components/space/SpaceShell.tsx
  prototype/src/app/components/space/SpaceSidebar.tsx
Due: none

feat: hide/show innovation-flow phases from the UI (#9727)
  .specify/feature.json
  CLAUDE.md
  specs/106-hiding-tabs-phases/checklists/requirements.md
  specs/106-hiding-tabs-phases/contracts/innovation-flow-state-visibility.graphql.md
  specs/106-hiding-tabs-phases/contracts/ui-hide-show-phase.md
  specs/106-hiding-tabs-phases/data-model.md
  specs/106-hiding-tabs-phases/plan.md
  specs/106-hiding-tabs-phases/quickstart.md
  specs/106-hiding-tabs-phases/research.md
  specs/106-hiding-tabs-phases/spec.md
  specs/106-hiding-tabs-phases/tasks.md
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/crd/components/space/settings/LayoutPoolColumn.tsx
  src/crd/components/space/settings/SpaceSettingsLayoutView.types.ts
  src/crd/i18n/spaceSettings/spaceSettings.bg.json
  src/crd/i18n/spaceSettings/spaceSettings.de.json
  src/crd/i18n/spaceSettings/spaceSettings.en.json
  src/crd/i18n/spaceSettings/spaceSettings.es.json
  src/crd/i18n/spaceSettings/spaceSettings.fr.json
  src/crd/i18n/spaceSettings/spaceSettings.nl.json
  src/domain/collaboration/InnovationFlow/graphql/InnovationFlowStates.fragment.graphql
  src/domain/collaboration/InnovationFlow/graphql/UpdateInnovationFlowStates.graphql
  src/domain/collaboration/InnovationFlow/models/InnovationFlowStateModel.ts
  src/domain/collaboration/InnovationFlow/utils/filterVisibleStates.test.ts
  src/domain/collaboration/InnovationFlow/utils/filterVisibleStates.ts
  src/domain/space/layout/tabbedLayout/Tabs/SpaceTabs.graphql
  src/main/crdPages/space/hooks/useCrdSpaceTabs.tsx
  src/main/crdPages/space/layout/CrdSpacePageLayout.tsx
  src/main/crdPages/subspace/hooks/useCrdSubspace.ts
  src/main/crdPages/topLevelPages/spaceSettings/CrdSpaceSettingsPage.tsx
  src/main/crdPages/topLevelPages/spaceSettings/layout/layoutMapper.test.ts
  src/main/crdPages/topLevelPages/spaceSettings/layout/layoutMapper.ts
  src/main/crdPages/topLevelPages/spaceSettings/layout/useColumnMenu.ts
  src/main/crdPages/topLevelPages/spaceSettings/layout/useLayoutTabData.ts
Due: eslint --fix, prettier --write

add search for already added users to a authorization group
  src/crd/components/admin/__tests__/RoleMembersEditor.test.tsx
  src/crd/components/admin/roles/RoleMembersEditor.tsx
  src/crd/i18n/admin/admin.bg.json
  src/crd/i18n/admin/admin.de.json
  src/crd/i18n/admin/admin.en.json
  src/crd/i18n/admin/admin.es.json
  src/crd/i18n/admin/admin.fr.json
  src/crd/i18n/admin/admin.nl.json
  src/main/crdPages/topLevelPages/admin/authorization/CrdAdminGlobalRolesPage.tsx
  src/main/crdPages/topLevelPages/admin/authorization/__tests__/CrdAdminGlobalRolesPage.test.tsx
Due: eslint --fix, prettier --write

Address feedback
  specs/106-crd-virtual-contributors/checklists/requirements.md
  specs/106-crd-virtual-contributors/contracts/creationWizard.ts
  specs/106-crd-virtual-contributors/plan.md
  specs/106-crd-virtual-contributors/quickstart.md
  specs/106-crd-virtual-contributors/research.md
  specs/106-crd-virtual-contributors/spec.md
  specs/106-crd-virtual-contributors/tasks.md
  src/crd/app/pages/VCCreationWizardDemoPage.tsx
  src/crd/components/virtualContributor/community/VirtualContributorPreview.tsx
  src/crd/components/virtualContributor/creationWizard/VCCreationWizardView.tsx
  src/crd/components/virtualContributor/creationWizard/VCCreationWizardView.types.ts
  src/crd/components/virtualContributor/settings/VCPromptGraphCard.tsx
  src/crd/forms/callout/FramingChipStrip.test.tsx
  src/crd/i18n/contributorSettings/contributorSettings.bg.json
  src/crd/i18n/contributorSettings/contributorSettings.de.json
  src/crd/i18n/contributorSettings/contributorSettings.en.json
  src/crd/i18n/contributorSettings/contributorSettings.es.json
  src/crd/i18n/contributorSettings/contributorSettings.fr.json
  src/crd/i18n/contributorSettings/contributorSettings.nl.json
  src/main/crdPages/dashboard/DashboardWithMemberships.tsx
  src/main/crdPages/dashboard/DashboardWithoutMemberships.tsx
  src/main/crdPages/space/callout/CalloutFormConnector.tsx
  src/main/crdPages/topLevelPages/organizationPages/settings/CrdOrgSettingsRoutes.tsx
  src/main/crdPages/topLevelPages/organizationPages/settings/account/CrdOrgAccountTab.tsx
  src/main/crdPages/topLevelPages/userPages/settings/CrdUserSettingsRoutes.tsx
  src/main/crdPages/topLevelPages/userPages/settings/account/CrdUserAccountTab.tsx
  src/main/crdPages/topLevelPages/vcPages/creationWizard/CrdOrgVCCreationWizardPage.tsx
  src/main/crdPages/topLevelPages/vcPages/creationWizard/CrdVCCreationWizardDialog.tsx
  src/main/crdPages/topLevelPages/vcPages/creationWizard/CrdVCCreationWizardPage.tsx
  src/main/crdPages/topLevelPages/vcPages/creationWizard/useVcCreationWizard.ts
  src/main/routing/urlBuilders.ts
Due: eslint --fix, prettier --write

feat(crd-error): add notFound i18n keys across six locales + parity test
  src/crd/i18n/error/error.bg.json
  src/crd/i18n/error/error.de.json
  src/crd/i18n/error/error.en.json
  src/crd/i18n/error/error.es.json
  src/crd/i18n/error/error.fr.json
  src/crd/i18n/error/error.nl.json
  src/crd/i18n/error/error.parity.test.ts
Due: eslint --fix, prettier --write

feat(crd-error): add props-only CrdNotFoundPage presentational component
  src/crd/components/error/CrdNotFoundPage.test.tsx
  src/crd/components/error/CrdNotFoundPage.tsx
Due: eslint --fix, prettier --write

feat(crd-error): add CrdNotFoundBranch integration wrapper
  src/main/crdPages/error/CrdNotFoundBranch.test.tsx
  src/main/crdPages/error/CrdNotFoundBranch.tsx
Due: eslint --fix, prettier --write

feat(crd-error): dispatch CRD 404 from boundary and catch-all when CRD enabled
  src/main/crdPages/error/CrdAwareErrorComponent.test.tsx
  src/main/crdPages/error/CrdAwareErrorComponent.tsx
  src/main/routing/TopLevelRoutes.tsx
Due: eslint --fix, prettier --write

docs(speckit): add SDD spec artifacts for 107-crd-error-pages (story #9852)
  CLAUDE.md
  specs/107-crd-error-pages/checklists/requirements.md
  specs/107-crd-error-pages/contracts/CrdNotFoundPage.md
  specs/107-crd-error-pages/contracts/dispatcher-and-catchall.md
  specs/107-crd-error-pages/data-model.md
  specs/107-crd-error-pages/plan.md
  specs/107-crd-error-pages/quickstart.md
  specs/107-crd-error-pages/research.md
  specs/107-crd-error-pages/spec.md
  specs/107-crd-error-pages/tasks.md
Due: prettier --write
