Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": "prettier --write"
}

fix(organizations): let non-admin creators reach the org create form
  src/main/crdPages/topLevelPages/admin/organizations/CrdAdminOrganizationsRoutes.tsx
  src/main/crdPages/topLevelPages/organizationPages/CrdOrganizationRoutes.tsx
  src/main/crdPages/topLevelPages/organizationPages/form/CrdOrganizationCreatePage.tsx
  src/main/crdPages/topLevelPages/organizationPages/form/CrdOrganizationFormPage.tsx
  src/main/crdPages/topLevelPages/organizationPages/form/orgFormMapper.ts
  src/main/crdPages/topLevelPages/userPages/settings/organizations/CrdUserOrganizationsTab.tsx
Due: eslint --fix, prettier --write

v0.158.0
  package.json
Due: prettier --write

subspace conversions
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/crd/components/admin/transfer/SpaceTargetPicker.test.tsx
  src/crd/components/admin/transfer/SpaceTargetPicker.tsx
  src/crd/i18n/admin/admin.bg.json
  src/crd/i18n/admin/admin.de.json
  src/crd/i18n/admin/admin.en.json
  src/crd/i18n/admin/admin.es.json
  src/crd/i18n/admin/admin.fr.json
  src/crd/i18n/admin/admin.nl.json
  src/domain/platformAdmin/management/transfer/spaceConversion/SpaceConversion.graphql
  src/domain/platformAdmin/management/transfer/spaceConversion/useSpaceConversion.test.ts
  src/domain/platformAdmin/management/transfer/spaceConversion/useSpaceConversion.ts
  src/main/crdPages/topLevelPages/admin/transfer/SpaceConversionPanel.tsx
  src/main/crdPages/topLevelPages/admin/transfer/__tests__/CrdAdminTransferPage.test.tsx
  src/main/crdPages/topLevelPages/admin/transfer/__tests__/SpaceConversionPanelMove.test.tsx
Due: eslint --fix, prettier --write

feat(019): rename role to Platform Operations Admin, rewrite scope copy
  src/core/apollo/generated/graphql-schema.ts
  src/crd/i18n/admin/admin.bg.json
  src/crd/i18n/admin/admin.de.json
  src/crd/i18n/admin/admin.en.json
  src/crd/i18n/admin/admin.es.json
  src/crd/i18n/admin/admin.fr.json
  src/crd/i18n/admin/admin.nl.json
  src/domain/access/RoleSetManager/useRoleSetManager.ts
  src/main/crdPages/topLevelPages/admin/authorization/CrdAdminGlobalRolesPage.tsx
  src/main/crdPages/topLevelPages/admin/authorization/__tests__/CrdAdminGlobalRolesPage.test.tsx
Due: eslint --fix, prettier --write

test(030): real US2-AS3/US3-AS2 move error-path assertions (review qual-client-1)
  src/main/crdPages/topLevelPages/admin/transfer/__tests__/SpaceConversionPanelMove.test.tsx
Due: eslint --fix, prettier --write

fix(030): address CodeRabbit review on #10064
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/crd/components/admin/transfer/SpaceTargetPicker.test.tsx
  src/crd/components/admin/transfer/SpaceTargetPicker.tsx
  src/domain/platformAdmin/management/transfer/spaceConversion/SpaceConversion.graphql
  src/main/crdPages/topLevelPages/admin/transfer/SpaceConversionPanel.tsx
  src/main/crdPages/topLevelPages/admin/transfer/__tests__/SpaceConversionPanelMove.test.tsx
Due: eslint --fix, prettier --write

Feat/030 Move subspaces (conversion and promotion) (#10064)
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/crd/components/admin/transfer/SpaceTargetPicker.test.tsx
  src/crd/components/admin/transfer/SpaceTargetPicker.tsx
  src/crd/i18n/admin/admin.bg.json
  src/crd/i18n/admin/admin.de.json
  src/crd/i18n/admin/admin.en.json
  src/crd/i18n/admin/admin.es.json
  src/crd/i18n/admin/admin.fr.json
  src/crd/i18n/admin/admin.nl.json
  src/domain/platformAdmin/management/transfer/spaceConversion/SpaceConversion.graphql
  src/domain/platformAdmin/management/transfer/spaceConversion/useSpaceConversion.test.ts
  src/domain/platformAdmin/management/transfer/spaceConversion/useSpaceConversion.ts
  src/main/crdPages/topLevelPages/admin/transfer/SpaceConversionPanel.tsx
  src/main/crdPages/topLevelPages/admin/transfer/__tests__/CrdAdminTransferPage.test.tsx
  src/main/crdPages/topLevelPages/admin/transfer/__tests__/SpaceConversionPanelMove.test.tsx
Due: eslint --fix, prettier --write

translations
  specs/101-translation-glossary/glossary.json
  specs/101-translation-glossary/glossary.md
  src/crd/CLAUDE.md
  src/crd/i18n/chat/chat.nl.json
  src/crd/i18n/common/common.nl.json
  src/crd/i18n/contributorSettings/contributorSettings.nl.json
  src/crd/i18n/createSpace/createSpace.nl.json
  src/crd/i18n/dashboard/dashboard.nl.json
  src/crd/i18n/exploreSpaces/exploreSpaces.nl.json
  src/crd/i18n/space/space.bg.json
  src/crd/i18n/space/space.de.json
  src/crd/i18n/space/space.en.json
  src/crd/i18n/space/space.es.json
  src/crd/i18n/space/space.fr.json
  src/crd/i18n/space/space.nl.json
  src/crd/i18n/spaceSettings/spaceSettings.nl.json
  src/crd/i18n/subspace/subspace.nl.json
Due: prettier --write

welcome cookie fix
  src/main/cookies/useAlkemioCookies.test.ts
  src/main/cookies/useAlkemioCookies.ts
Due: eslint --fix, prettier --write

pr fixes
  src/main/cookies/useAlkemioCookies.test.ts
  src/main/cookies/useAlkemioCookies.ts
  src/main/ui/layout/topLevelWrappers/App.tsx
Due: eslint --fix, prettier --write

Cookie banner dismissible in one place instead of two (#10073)
  src/main/cookies/useAlkemioCookies.test.ts
  src/main/cookies/useAlkemioCookies.ts
  src/main/ui/layout/topLevelWrappers/App.tsx
Due: eslint --fix, prettier --write

Merge pull request #10071 from alkem-io/translation-updates-2
  specs/101-translation-glossary/glossary.json
  specs/101-translation-glossary/glossary.md
  src/crd/CLAUDE.md
  src/crd/i18n/chat/chat.nl.json
  src/crd/i18n/common/common.nl.json
  src/crd/i18n/contributorSettings/contributorSettings.nl.json
  src/crd/i18n/createSpace/createSpace.nl.json
  src/crd/i18n/dashboard/dashboard.nl.json
  src/crd/i18n/exploreSpaces/exploreSpaces.nl.json
  src/crd/i18n/space/space.bg.json
  src/crd/i18n/space/space.de.json
  src/crd/i18n/space/space.en.json
  src/crd/i18n/space/space.es.json
  src/crd/i18n/space/space.fr.json
  src/crd/i18n/space/space.nl.json
  src/crd/i18n/spaceSettings/spaceSettings.nl.json
  src/crd/i18n/subspace/subspace.nl.json
Due: prettier --write

fix: land signed-in visitors on the hub home on an innovation hub subdomain (#2019) (#10060)
  src/domain/platform/routes/RedirectToLanding.tsx
Due: eslint --fix, prettier --write

pr fixes
  src/main/crdPages/topLevelPages/admin/organizations/CrdAdminOrganizationsRoutes.tsx
  src/main/crdPages/topLevelPages/organizationPages/CrdOrganizationRoutes.tsx
  src/main/crdPages/topLevelPages/organizationPages/form/CrdOrganizationCreatePage.tsx
  src/main/crdPages/topLevelPages/organizationPages/form/CrdOrganizationFormPage.tsx
  src/main/crdPages/topLevelPages/organizationPages/form/CreateOrganizationDialog.tsx
  src/main/crdPages/topLevelPages/userPages/settings/organizations/CrdUserOrganizationsTab.tsx
Due: eslint --fix, prettier --write

fix(organizations): let non-admin creators reach the org create form (#10061)
  src/main/crdPages/topLevelPages/admin/organizations/CrdAdminOrganizationsRoutes.tsx
  src/main/crdPages/topLevelPages/organizationPages/form/CrdOrganizationFormPage.tsx
  src/main/crdPages/topLevelPages/organizationPages/form/CreateOrganizationDialog.tsx
  src/main/crdPages/topLevelPages/organizationPages/form/orgFormMapper.ts
  src/main/crdPages/topLevelPages/userPages/settings/organizations/CrdUserOrganizationsTab.tsx
Due: eslint --fix, prettier --write

ci: route push CI to hardened ARC lane, PRs to hosted (workspace#027-arc-v3-runner-migration)
  .github/workflows/ci-build.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-test.yml
Due: none

ci: route push CI to hardened ARC lane, PRs to hosted (workspace#027-arc-v3-runner-migration) (#10078)
  .github/workflows/ci-build.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-test.yml
Due: none

refactor: explicit role-description i18n map + focused new-role test
  src/main/crdPages/topLevelPages/admin/authorization/CrdAdminGlobalRolesPage.tsx
  src/main/crdPages/topLevelPages/admin/authorization/__tests__/CrdAdminGlobalRolesPage.test.tsx
Due: eslint --fix, prettier --write

refactor: type role maps by PlatformRole union, drop unsafe casts
  src/main/crdPages/topLevelPages/admin/authorization/CrdAdminGlobalRolesPage.tsx
Due: eslint --fix, prettier --write

feat: Platform Operations Admin in global roles admin UI + scope descriptions (workspace#032-platform-ops-admin-role) (#10077)
  src/core/apollo/generated/graphql-schema.ts
  src/crd/components/admin/roles/RoleMembersEditor.tsx
  src/crd/i18n/admin/admin.bg.json
  src/crd/i18n/admin/admin.de.json
  src/crd/i18n/admin/admin.en.json
  src/crd/i18n/admin/admin.es.json
  src/crd/i18n/admin/admin.fr.json
  src/crd/i18n/admin/admin.nl.json
  src/domain/access/RoleSetManager/useRoleSetManager.ts
  src/main/crdPages/topLevelPages/admin/authorization/CrdAdminGlobalRolesPage.tsx
  src/main/crdPages/topLevelPages/admin/authorization/__tests__/CrdAdminGlobalRolesPage.test.tsx
Due: eslint --fix, prettier --write

feat(chat): shared ConversationAvatar identity component (T002-T005)
  src/crd/components/chat/ChatConversationList.tsx
  src/crd/components/chat/ConversationAvatar.test.tsx
  src/crd/components/chat/ConversationAvatar.tsx
  src/crd/components/chat/GroupAvatar.tsx
  src/crd/components/chat/GroupSettingsDialog.tsx
  src/crd/components/chat/initials.ts
Due: eslint --fix, prettier --write

0.159.0
  package.json
Due: prettier --write

feat(chat): WhatsApp-style sender avatars in group threads (US1, T006-T010)
  src/crd/components/chat/ChatMessageBubble.test.tsx
  src/crd/components/chat/ChatMessageBubble.tsx
  src/crd/components/chat/ChatThreadView.tsx
  src/crd/components/chat/messageRuns.test.ts
  src/crd/components/chat/messageRuns.ts
Due: eslint --fix, prettier --write

feat(chat): thread header shows conversation identity (US2/US3, T011-T012)
  src/crd/components/chat/ChatPanel.tsx
  src/main/crdPages/unifiedChat/UnifiedChatPanelConnector.tsx
Due: eslint --fix, prettier --write

chore(chat): full-surface gate sweep — lint clean, all tests + build green (T014)
  src/crd/components/chat/ChatMessageBubble.test.tsx
  src/crd/components/chat/ConversationAvatar.test.tsx
Due: eslint --fix, prettier --write

Refactor comment for run-grouping logic
  src/crd/components/chat/messageRuns.ts
Due: eslint --fix, prettier --write

feat(027): regenerate GraphQL types for Slice A platform-role vocabulary
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
Due: eslint --fix, prettier --write

feat(027): 13-role admin UI filtered by assigner capability (Slice A)
  src/crd/components/admin/roles/RoleMembersEditor.tsx
  src/crd/i18n/admin/admin.bg.json
  src/crd/i18n/admin/admin.de.json
  src/crd/i18n/admin/admin.en.json
  src/crd/i18n/admin/admin.es.json
  src/crd/i18n/admin/admin.fr.json
  src/crd/i18n/admin/admin.nl.json
  src/domain/access/AvailableContributors/useRoleSetAvailableOrganizationsOnPlatform.ts
  src/domain/access/RoleSetManager/RolesAssignment/AssignPlatformRoleToOrganization.graphql
  src/domain/access/RoleSetManager/RolesAssignment/RemovePlatformRoleFromOrganization.graphql
  src/domain/access/RoleSetManager/RolesAssignment/useRoleSetManagerRolesAssignment.ts
  src/domain/access/RoleSetManager/useRoleSetManager.ts
  src/main/crdPages/topLevelPages/admin/authorization/CrdAdminGlobalRolesPage.tsx
  src/main/crdPages/topLevelPages/admin/authorization/__tests__/CrdAdminGlobalRolesPage.test.tsx
Due: eslint --fix, prettier --write

fix(auth): stop re-ticking the accepted terms checkbox from unchecking it
  src/main/crdPages/auth/SignUpCrdRoute.test.tsx
  src/main/crdPages/auth/SignUpCrdRoute.tsx
Due: eslint --fix, prettier --write

fix(chat): keep unsent chat drafts (#9988)
  src/core/auth/authentication/pages/LogoutPage.tsx
  src/crd/components/chat/ChatConversationList.test.tsx
  src/crd/components/chat/ChatConversationList.tsx
  src/crd/components/chat/ChatThreadView.tsx
  src/crd/components/chat/types.ts
  src/crd/components/comment/CommentInput.tsx
  src/crd/i18n/chat/chat.bg.json
  src/crd/i18n/chat/chat.de.json
  src/crd/i18n/chat/chat.en.json
  src/crd/i18n/chat/chat.es.json
  src/crd/i18n/chat/chat.fr.json
  src/crd/i18n/chat/chat.nl.json
  src/main/crdPages/unifiedChat/UnifiedChatPanelConnector.tsx
  src/main/crdPages/unifiedChat/UnifiedChatProvider.tsx
  src/main/userMessaging/ConversationDraftsContext.test.tsx
  src/main/userMessaging/ConversationDraftsContext.tsx
  src/main/userMessaging/messagingDrafts.test.ts
  src/main/userMessaging/messagingDrafts.ts
Due: eslint --fix, prettier --write

fix(027): admit the decomposed platform roles to the admin area (FR-012)
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/platform/PlatformLevelAuthorization.graphql
  src/main/admin/NonAdminRedirect.tsx
  src/main/admin/NonPlatformAdminRedirect.tsx
  src/main/crdPages/topLevelPages/admin/__tests__/useAdminAccessGuard.test.ts
  src/main/crdPages/topLevelPages/admin/useAdminAccessGuard.ts
Due: eslint --fix, prettier --write

fix(auth): stop re-ticking the accepted terms checkbox from unchecking it (#10088)
  src/main/crdPages/auth/SignUpCrdRoute.test.tsx
  src/main/crdPages/auth/SignUpCrdRoute.tsx
Due: eslint --fix, prettier --write

fix(react-compiler): close namespaced-form bypass + fill spec gaps (monitoring plan, quickstart, status)
  eslint.config.mjs
  specs/041-react-compiler-lint-rules/post-deployment-monitoring.md
  specs/041-react-compiler-lint-rules/quickstart.md
  specs/041-react-compiler-lint-rules/spec.md
  specs/041-react-compiler-lint-rules/tasks.md
Due: prettier --write

chore(033): pinned, unprivileged (non-root) nginx runtime image
  .build/.nginx/nginx.conf
  .docker/client-image-smoke.sh
  .docker/verification/US1-AS4-cve-assessment.md
  Dockerfile
Due: prettier --write

docs(033): README docker-run port follows the unprivileged image
  README.md
Due: prettier --write

refactor(react-compiler): remove the 17 non-essential CRD-hook memoizations (28 → 11 exceptions)
  specs/041-react-compiler-lint-rules/optimization-baseline-2026-07.md
  specs/041-react-compiler-lint-rules/quickstart.md
  specs/041-react-compiler-lint-rules/tasks.md
  src/domain/platformAdmin/management/transfer/shared/useAccountSearch.ts
  src/main/crdPages/innovationHub/hooks/useHubAboutTabData.ts
  src/main/crdPages/innovationHub/hooks/useHubSpacesTabData.ts
  src/main/crdPages/topLevelPages/userPages/settings/notifications/useUserNotificationsTabData.ts
  src/main/pushNotifications/usePushNotifications.ts
Due: eslint --fix, prettier --write

fix(033): harden the in-repo manifests too — they are the live apply path
  manifests/25-web-deployment-dev.yaml
  manifests/26-web-deployment-test.yaml
  manifests/30-web-service.yaml
Due: none
