Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": "prettier --write"
}

v0.128.0
  package.json
Due: prettier --write

address comments
  src/core/i18n/en/translation.en.json
  src/core/ui/gallery/GalleryPager.tsx
  src/core/ui/gallery/MediaGallery.tsx
  src/domain/collaboration/callout/CalloutDialogs/EditCalloutDialog.tsx
  src/domain/collaboration/callout/CalloutForm/CalloutFormFramingSettings.tsx
  src/domain/collaboration/callout/CalloutFramings/CalloutFramingMediaGalleryField.tsx
  src/domain/collaboration/mediaGallery/useUploadMediaGalleryVisuals.ts
  src/domain/templates/components/Forms/common/mappings.ts
Due: eslint --fix, prettier --write

fixes
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/templates/components/TemplatesAdmin/TemplatesAdmin.tsx
  src/domain/templates/graphql/TemplateMutations.graphql
  src/domain/templates/hooks/useCreateCalloutTemplate.ts
Due: eslint --fix, prettier --write

Address comments
  src/core/ui/content/PageContentBlockHeader.tsx
  src/core/ui/forms/FormikEffect.tsx
  src/core/ui/gallery/GalleryPager.tsx
  src/domain/collaboration/callout/models/mappings.ts
  src/domain/collaboration/mediaGallery/useUploadMediaGalleryVisuals.ts
Due: eslint --fix, prettier --write

Fix sortOrders bug
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/callout/CalloutFramings/CalloutFramingMediaGalleryField.tsx
  src/domain/collaboration/mediaGallery/addVisualToMediaGallery.graphql
Due: eslint --fix, prettier --write

place new conversation on top and open it
  src/main/userMessaging/NewMessageDialog.tsx
  src/main/userMessaging/UserMessagingContext.tsx
  src/main/userMessaging/UserMessagingDialog.tsx
  src/main/userMessaging/useUserConversations.ts
Due: eslint --fix, prettier --write

check for loaded conv before opening it
  src/main/userMessaging/UserMessagingDialog.tsx
Due: eslint --fix, prettier --write

address CodeRabbit comment
  src/domain/collaboration/callout/CalloutFramings/CalloutFramingMediaGalleryField.tsx
Due: eslint --fix, prettier --write

revert , this causes problems
  src/core/ui/forms/FormikEffect.tsx
Due: eslint --fix, prettier --write

Fix infinite loop
  src/core/ui/forms/FormikEffect.tsx
  src/domain/collaboration/mediaGallery/useUploadMediaGalleryVisuals.ts
Due: eslint --fix, prettier --write

initial research
  docs/research-build-split.md
Due: prettier --write

cancel the setTimout on unmount
  src/core/ui/forms/FormikEffect.tsx
Due: eslint --fix, prettier --write

Light Gallery
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/core/ui/gallery/MediaGallery.tsx
  src/core/ui/gallery/lightgallery.css
Due: eslint --fix, prettier --write

Lazy load lightgallery
  src/core/ui/gallery/MediaGallery.tsx
Due: eslint --fix, prettier --write

@WIP first iteration of adding presentation capabilities to the whiteboards
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/whiteboard/WhiteboardDialog/WhiteboardDialog.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardView.tsx
  src/domain/collaboration/whiteboard/slides/PresentationModeControls.tsx
  src/domain/collaboration/whiteboard/slides/SlideItem.tsx
  src/domain/collaboration/whiteboard/slides/WhiteboardModeToggle.tsx
  src/domain/collaboration/whiteboard/slides/WhiteboardSlidesToolbar.css
  src/domain/collaboration/whiteboard/slides/WhiteboardSlidesToolbar.tsx
  src/domain/collaboration/whiteboard/slides/types.ts
  src/domain/collaboration/whiteboard/slides/useWhiteboardSlides.ts
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
  src/domain/common/whiteboard/excalidraw/styles/excalidraw-overrides.css
  src/main/public/whiteboard/PublicWhiteboardPage.tsx
Due: eslint --fix, prettier --write

MediaGallery now uses react-image-gallery
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/core/i18n/en/translation.en.json
  src/core/ui/gallery/GalleryPager.tsx
  src/core/ui/gallery/MediaGallery.css
  src/core/ui/gallery/MediaGallery.test.tsx
  src/core/ui/gallery/MediaGallery.tsx
  src/core/ui/gallery/lightgallery.css
Due: eslint --fix, prettier --write

make sure we reload on join to community notifications
  src/main/inAppNotifications/views/InAppNotificationBaseView.tsx
  src/main/inAppNotifications/views/user/InAppUserSpaceCommunityJoinedView.tsx
Due: eslint --fix, prettier --write

buttons color
  src/core/ui/gallery/MediaGallery.css
Due: none

cursor pointer for thumbnails
  src/core/ui/gallery/MediaGallery.css
Due: none

Limited the number of items in the callout to 6. Better handling when there are many many items in the thumbnails in the dialog
  src/core/i18n/en/translation.en.json
  src/core/ui/gallery/MediaGallery.css
  src/core/ui/gallery/MediaGallery.tsx
Due: eslint --fix, prettier --write

v0.129.0
  package.json
Due: prettier --write

replace presentation mode icon
  src/domain/collaboration/whiteboard/slides/WhiteboardModeToggle.tsx
Due: eslint --fix, prettier --write

translation update
  src/core/i18n/ach/translation.ach.json
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
Due: prettier --write

0.129.1
  package.json
Due: prettier --write

remove check for conv
  src/main/userMessaging/UserMessagingDialog.tsx
Due: eslint --fix, prettier --write

make sure we reload on join to community notifications (#9267)
  src/main/inAppNotifications/views/InAppNotificationBaseView.tsx
  src/main/inAppNotifications/views/user/InAppUserSpaceCommunityJoinedView.tsx
Due: eslint --fix, prettier --write

Fixes: Application Form, Registration top margin
  src/core/auth/authentication/pages/RegistrationPage.tsx
  src/domain/community/applicationButton/ApplicationDialog.tsx
Due: eslint --fix, prettier --write

bring back the months treatment in timeElapsed
  src/domain/shared/utils/formatTimeElapsed.ts
Due: eslint --fix, prettier --write

fix 2 spaces instead of 3 in recent spaces
  src/main/topLevelPages/myDashboard/useSpaceCardLayout.ts
Due: eslint --fix, prettier --write

collapse text too
  src/core/ui/markdown/ExpandableMarkdown.tsx
Due: eslint --fix, prettier --write

Fix Recent Spaces displaying one space less (#9276)
  src/main/topLevelPages/myDashboard/useSpaceCardLayout.ts
Due: eslint --fix, prettier --write

add edit memo title functionality
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/memo/MemoDialog/MemoDialog.tsx
  src/domain/collaboration/memo/MemoDialog/MemoDisplayName.tsx
  src/domain/collaboration/memo/MemoManager/memo.graphql
Due: eslint --fix, prettier --write

Months treatment in timeElapsed (#9273)
  src/domain/shared/utils/formatTimeElapsed.ts
Due: eslint --fix, prettier --write

collapse text too (#9279)
  src/core/ui/markdown/ExpandableMarkdown.tsx
Due: eslint --fix, prettier --write

add edit memo title functionality (#9281)
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/memo/MemoDialog/MemoDialog.tsx
  src/domain/collaboration/memo/MemoDialog/MemoDisplayName.tsx
  src/domain/collaboration/memo/MemoManager/memo.graphql
Due: eslint --fix, prettier --write

0.130.0
  package.json
Due: prettier --write

translation update
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/nl/translation.nl.json
Due: prettier --write

speckit initial start of plan and tasks
  specs/014-actor-migration/checklists/requirements.md
  specs/014-actor-migration/contracts/graphql-changes.md
  specs/014-actor-migration/data-model.md
  specs/014-actor-migration/plan.md
  specs/014-actor-migration/quickstart.md
  specs/014-actor-migration/research.md
  specs/014-actor-migration/spec.md
  specs/014-actor-migration/tasks.md
Due: prettier --write

Revert emoji selector PR
  specs/006-whiteboard-emoji-reactions/checklists/requirements.md
  specs/006-whiteboard-emoji-reactions/contracts/emoji-config.contract.ts
  specs/006-whiteboard-emoji-reactions/data-model.md
  specs/006-whiteboard-emoji-reactions/plan.md
  specs/006-whiteboard-emoji-reactions/quickstart.md
  specs/006-whiteboard-emoji-reactions/research.md
  specs/006-whiteboard-emoji-reactions/spec.md
  specs/006-whiteboard-emoji-reactions/tasks.md
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/whiteboard/WhiteboardDialog/WhiteboardDialog.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardView.tsx
  src/domain/collaboration/whiteboard/components/EmojiReactionGrid.tsx
  src/domain/collaboration/whiteboard/components/WhiteboardEmojiReactionPicker.tsx
  src/domain/collaboration/whiteboard/reactionEmoji/createEmojiReactionElement.test.ts
  src/domain/collaboration/whiteboard/reactionEmoji/createEmojiReactionElement.ts
  src/domain/collaboration/whiteboard/reactionEmoji/emojiReactionConfig.test.ts
  src/domain/collaboration/whiteboard/reactionEmoji/emojiReactionConfig.ts
  src/domain/collaboration/whiteboard/reactionEmoji/types.ts
  src/domain/collaboration/whiteboard/reactionEmoji/useEmojiReactionConfiguration.test.ts
  src/domain/collaboration/whiteboard/reactionEmoji/useEmojiReactionConfiguration.ts
  src/domain/collaboration/whiteboard/reactionEmoji/useEmojiReactionPickerState.ts
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
  src/domain/common/whiteboard/excalidraw/collab/useCollab.ts
Due: eslint --fix, prettier --write
