Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

wip
  src/pages/Opportunity.tsx
Due: eslint --fix, prettier --write

Translate the Opportunity page
  src/i18n/en/translation.en.json
  src/pages/Opportunity.tsx
  src/pages/Project/New.tsx
Due: eslint --fix, prettier --write

Translate Register page
  src/i18n/en/translation.en.json
  src/pages/RegisterPage.tsx
Due: eslint --fix, prettier --write

Bump version
  package.json
Due: prettier --write

increase component depth to 3
  .bettercodehub.yml
Due: none

increase component depth to 4
  .bettercodehub.yml
Due: none

Clean up
  src/components/Challenge/Cards.tsx
  src/components/Ecoverse/Cards.tsx
  src/components/Opportunity/Cards.tsx
  src/components/Project/Cards.tsx
  src/components/shared/Spacer.tsx
Due: eslint --fix, prettier --write

Show upload avatar error
  src/components/UserProfile/EditUserProfile.tsx
  src/containers/NotificationHandler.tsx
  src/hooks/useGraphQLClient.ts
  src/i18n/en/translation.en.json
Due: eslint --fix, prettier --write

Push notification locally
  src/components/UserProfile/EditUserProfile.tsx
  src/hooks/useGraphQLClient.ts
Due: eslint --fix, prettier --write

Deployment Workflows for Test to AWS EKS
  .github/workflows/build-deploy-k8s-dev-azure.yml
  .github/workflows/build-deploy-k8s-test-aws.yml
  .github/workflows/build-release-docker-hub.yml
  .github/workflows/docker-image-test.yml
  manifests/25-web-deployment-dev.yaml
  manifests/26-web-deployment-test.yaml
Due: none

Fix
  .github/workflows/build-release-docker-hub.yml
Due: none

rename graphql files to .graphql
  graphql/about.graphql
  graphql/admin.graphql
  graphql/cache/typePolicies.ts
  graphql/challenge.graphql
  graphql/community.graphql
  graphql/config.graphql
  graphql/context.graphql
  graphql/ecoverse.graphql
  graphql/opportunity.graphql
  graphql/profile.graphql
  graphql/project.graphql
  graphql/user.graphql
Due: none

Upade code to use the new queries
  graphql/fragments/groupDetails.graphql
  graphql/fragments/newChallenge.graphql
  graphql/fragments/newOpportunity.graphql
  graphql/mutations/createChallenge.graphql
  graphql/mutations/createGroupOnCommunity.graphql
  graphql/mutations/createOpportunity.graphql
  graphql/mutations/deleteGroup.graphql
  graphql/queries/challgengesWithCommunity.graphql
  src/components/Admin/Community/CreateCommunityGroup.tsx
  src/components/Admin/Community/EditGroup.tsx
  src/components/Admin/OppChallPage.tsx
  src/components/Admin/Organization/CreateOrganizationGroup.tsx
  src/components/Admin/Organization/OrganizationForm.tsx
  src/components/Admin/User/UserForm.tsx
  src/components/Admin/User/UserPage.tsx
  src/components/ContextEdit/index.tsx
  src/components/Ecoverse/InterestModal.tsx
  src/components/Opportunity/ActorEdit.tsx
  src/components/Opportunity/ActorGroupCreateModal.tsx
  src/components/Opportunity/AspectEdit.tsx
  src/components/Opportunity/Cards.tsx
  src/components/ProfileForm/ProfileForm.tsx
  src/components/UserProfile/EditUserProfile.tsx
  src/components/UserProfile/UserProfile.tsx
  src/context/ConfigProvider.tsx
  src/context/UserProvider.tsx
  src/generated/graphql.tsx
  src/graphql/typePolicies.ts
  src/hooks/useGraphQLClient.ts
  src/hooks/useRemoveGroup.ts
  src/navigation/admin/challenge.tsx
  src/navigation/admin/organization.tsx
  src/pages/Community.tsx
  src/pages/Ecoverse.tsx
Due: eslint --fix, prettier --write

Fix
  src/pages/Project/Index.tsx
  src/sentry/scope.ts
Due: eslint --fix, prettier --write

Editable Avatar
  src/components/Admin/Organization/OrganizationForm.tsx
  src/components/Admin/User/UserForm.tsx
  src/components/EditableAvatar.tsx
  src/components/UserProfile/EditUserProfile.tsx
  src/components/core/Avatar.tsx
Due: eslint --fix, prettier --write

Add loading to show avatar uploading
  src/components/EditableAvatar.tsx
  src/components/core/Avatar.tsx
  src/components/core/Button.tsx
  src/components/core/Spinner.tsx
  src/components/core/UploadButton.tsx
Due: eslint --fix, prettier --write

Update to use lifecycle state on challenge, opportunity, project
  graphql/fragments/projectDetails.graphql
  graphql/queries/challengeProfile.graphql
  graphql/queries/challengeProfileInfo.graphql
  graphql/queries/opportunityProfile.graphql
  graphql/queries/projects.graphql
  src/components/Challenge/Cards.tsx
  src/generated/graphql.tsx
  src/navigation/project.tsx
  src/pages/Challenge.tsx
  src/pages/Ecoverse.tsx
  src/pages/Project/Index.tsx
  src/types/graphql-schema.ts
Due: eslint --fix, prettier --write

Fix: ClientWeb is not updated to latest server changes
  src/components/Ecoverse/InterestModal.tsx
  src/components/Opportunity/ActorEdit.tsx
  src/components/Opportunity/ActorGroupCreateModal.tsx
  src/components/Opportunity/AspectEdit.tsx
  src/components/Opportunity/Cards.tsx
Due: eslint --fix, prettier --write

Resolve PR comments
  src/components/Opportunity/ActorEdit.tsx
  src/components/Opportunity/ActorGroupCreateModal.tsx
  src/components/Opportunity/AspectEdit.tsx
Due: eslint --fix, prettier --write

updated branding; fixed typo
  public/favicon.ico
  public/logo-white.svg
  public/logo.png
  public/logo192.png
  public/logo512.png
  src/components/layout/Header.tsx
Due: eslint --fix, prettier --write

updated version number
  package-lock.json
  package.json
Due: prettier --write

Fix References for edit profile page
  graphql/mutations/createReferenceOnContext.graphql
  graphql/mutations/createReferenceOnProfile.graphql
  src/components/Admin/Common/InputField.tsx
  src/components/Admin/Common/ReferenceSegment.tsx
  src/components/Admin/Common/TagsetSegment.tsx
  src/components/Admin/User/UserForm.tsx
  src/components/Admin/User/UserPage.tsx
  src/components/UserProfile/CreateUserProfile.tsx
  src/components/UserProfile/EditUserProfile.tsx
  src/components/core/SearchDropdown.tsx
  src/generated/graphql.tsx
  src/i18n/en/translation.en.json
  src/types/graphql-schema.ts
Due: eslint --fix, prettier --write

Move UserForm from Admin to UserProfile
  src/components/Admin/User/UserPage.tsx
  src/components/Admin/index.ts
  src/components/UserProfile/CreateUserProfile.tsx
  src/components/UserProfile/EditUserProfile.tsx
  src/components/UserProfile/UserForm.tsx
Due: eslint --fix, prettier --write

Delete user
  src/components/Admin/User/UserPage.tsx
  src/components/UserProfile/EditUserProfile.tsx
  src/components/UserProfile/UserForm.tsx
  src/navigation/admin/admin.tsx
Due: eslint --fix, prettier --write

Fix Referenes edit for Organization
  src/components/Admin/Organization/OrganizationForm.tsx
  src/components/Admin/Organization/OrganizationPage.tsx
Due: eslint --fix, prettier --write

fix reference edit for Opportunity and challenge
  src/components/Admin/Group/GroupPage.tsx
  src/components/Admin/ListPage.tsx
  src/components/Admin/ManagementPageTemplate.tsx
  src/components/Admin/OppChallPage.tsx
  src/components/Admin/Organization/OrganizationPage.tsx
  src/components/ChallengeProfile/ChallengeProfile.tsx
  src/components/ChallengeProfile/index.tsx
  src/components/ChallengeProfile/styles.css
  src/components/ProfileForm/ProfileForm.tsx
Due: eslint --fix, prettier --write

Fix updating tagsets
  graphql/mutations/createTagsetOnProfile.graphql
  src/components/Admin/Organization/OrganizationPage.tsx
  src/components/UserProfile/EditUserProfile.tsx
  src/generated/graphql.tsx
  src/types/graphql-schema.ts
Due: eslint --fix, prettier --write

Clean UP
  src/components/Opportunity/AspectEdit.tsx
Due: eslint --fix, prettier --write

0.7.8
  package-lock.json
  package.json
Due: prettier --write

updated logo
  README.md
Due: prettier --write

Use the credentials changes
  graphql/fragments/userAgent.graphql
  graphql/fragments/userMembers.graphql
  graphql/queries/me.graphql
  graphql/queries/user.graphql
  graphql/queries/userCard.graphql
  graphql/queries/usersWithCredentials.graphql
  src/components/Admin/AuthorizationPage.tsx
  src/components/Admin/managementData.ts
  src/components/Community/UserCard.tsx
  src/components/Community/UserPopUp.tsx
  src/components/Opportunity/Cards.tsx
  src/components/UserProfile/UserProfile.tsx
  src/context/UserProvider.tsx
  src/generated/graphql.tsx
  src/navigation/admin/admin.tsx
  src/navigation/admin/authorization.tsx
  src/navigation/ecoverse.tsx
  src/navigation/route.extensions.tsx
  src/pages/Opportunity.tsx
  src/types/graphql-schema.ts
  src/utils/credentials-resolver.ts
Due: eslint --fix, prettier --write

Global admins and global community admins edit page
  graphql/mutations/grantCredentials.graphql
  graphql/mutations/revokeCredentials.graphql
  src/components/Admin/AuthorizationPage.tsx
  src/components/Admin/Community/CreateCommunityGroup.tsx
  src/components/Admin/Community/EditMembers.tsx
  src/components/Admin/Organization/CreateOrganizationGroup.tsx
  src/components/Admin/Organization/OrganizationPage.tsx
  src/components/Admin/User/UserPage.tsx
  src/components/EditableAvatar.tsx
  src/components/UserProfile/EditUserProfile.tsx
  src/generated/graphql.tsx
  src/hooks/useApolloErrorHandler.ts
  src/navigation/admin/authorization.tsx
  src/types/graphql-schema.ts
Due: eslint --fix, prettier --write

Handle AuthorizationCredentials
  src/components/Admin/managementData.ts
  src/context/UserProvider.tsx
  src/types/graphql-schema.ts
  src/utils/credentials-resolver.ts
Due: eslint --fix, prettier --write

Members are using the AuthorizationCredentials mutations
  src/components/Admin/Authorization/AuthorizationPage.tsx
  src/components/Admin/Authorization/EditCredentials.tsx
  src/components/Admin/AuthorizationPage.tsx
  src/components/Admin/Common/CreateGroupForm.tsx
  src/components/Admin/Community/CommunityPage.tsx
  src/components/Admin/Community/CreateCommunityGroup.tsx
  src/navigation/admin/authorization.tsx
  src/navigation/admin/challenge.tsx
  src/navigation/admin/community.tsx
Due: eslint --fix, prettier --write

WIP
  src/components/Admin/Authorization/EditCredentials.tsx
  src/components/Admin/Community/CommunityPage.tsx
  src/components/layout/User.tsx
  src/context/UserProvider.tsx
  src/hooks/useCredentialsResolver.ts
  src/i18n/en/translation.en.json
Due: eslint --fix, prettier --write

Update mutations names
  codegen.yml
  graphql/mutations/grantCredentials.graphql
  graphql/mutations/revokeCredentials.graphql
  package.json
  src/generated/graphql.tsx
  src/types/graphql-schema.ts
Due: eslint --fix, prettier --write

Display credentials information for user
  src/components/App.tsx
  src/components/Community/UserCard.tsx
  src/components/UserProfile/EditUserProfile.tsx
  src/components/UserProfile/UserProfile.tsx
  src/configs/roles.json
  src/context/UserProvider.tsx
  src/hooks/useCredentialsResolver.ts
  src/hooks/useUserContext.ts
  src/i18n/en/translation.en.json
  src/models/Role.ts
  src/models/User.ts
Due: eslint --fix, prettier --write

Member of section to show other member related credentials: Challenge, Opportunity, Organisation, UserGroup
  src/components/App.tsx
  src/components/Community/UserPopUp.tsx
  src/components/UserProfile/UserProfile.tsx
  src/components/layout/Navigation.tsx
  src/context/UserProvider.tsx
  src/hooks/useSentry.ts
  src/hooks/useUserMetadata.ts
  src/hooks/useUserMetadataWrapper.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
