Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": "prettier --write"
}

Fix User & VC memberships cards not clickable.
  src/domain/community/userAdmin/tabs/UserAdminMembershipPage.tsx
  src/domain/community/virtualContributor/vcMembershipPage/VCMembershipPage.tsx
Due: eslint --fix, prettier --write

Fix User & VC memberships cards not clickable. (#7850)
  src/domain/community/userAdmin/tabs/UserAdminMembershipPage.tsx
  src/domain/community/virtualContributor/vcMembershipPage/VCMembershipPage.tsx
Due: eslint --fix, prettier --write

Fix can't create WB template without touching it (twice). (#7849)
  src/domain/templates/components/Forms/WhiteboardTemplateForm.tsx
Due: eslint --fix, prettier --write

New translations translation.en.json (French)
  src/core/i18n/fr/translation.fr.json
Due: prettier --write

New translations translation.en.json (Spanish)
  src/core/i18n/es/translation.es.json
Due: prettier --write

New translations translation.en.json (Bulgarian)
  src/core/i18n/bg/translation.bg.json
Due: prettier --write

New translations translation.en.json (German)
  src/core/i18n/de/translation.de.json
Due: prettier --write

New translations translation.en.json (Dutch)
  src/core/i18n/nl/translation.nl.json
Due: prettier --write

New translations translation.en.json (Ukrainian)
  src/core/i18n/ua/translation.ua.json
Due: prettier --write

New translations translation.en.json (Portuguese, Brazilian)
  src/core/i18n/pt/translation.pt.json
Due: prettier --write

New translations translation.en.json (Acholi)
  src/core/i18n/ach/translation.ach.json
Due: prettier --write

add spinning animation to load more button when loading
  src/main/search/SearchView.tsx
Due: eslint --fix, prettier --write

Reduce the LatestContributionsSpacesFlat request fields
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/main/topLevelPages/myDashboard/latestContributions/LatestContributionsSpacesFlat.graphql
Due: eslint --fix, prettier --write

Reduce the LatestContributionsSpacesFlat request fields (#7851)
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/main/topLevelPages/myDashboard/latestContributions/LatestContributionsSpacesFlat.graphql
Due: eslint --fix, prettier --write

0.84.2
  package-lock.json
  package.json
Due: prettier --write

make dialog anchers and searchbar fixed
  src/main/search/SearchDialog.tsx
  src/main/search/SearchView.tsx
Due: eslint --fix, prettier --write

fix anchors styles
  src/main/search/SearchView.tsx
Due: eslint --fix, prettier --write

text adjustments
  src/core/i18n/en/translation.en.json
  src/main/search/SearchView.tsx
Due: eslint --fix, prettier --write

ignore rabbit review on certain branches
  .coderabbit.yaml
Due: none

Entitlements check for the VC invite community block.
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/journey/space/SpaceCommunityPage/SpaceCommunityPage.tsx
  src/domain/journey/space/SpaceCommunityPage/SpaceCommunityPageQueries.graphql
Due: eslint --fix, prettier --write

Space Entitlements check for the VC add/invite community settings block.
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/core/ui/button/ButtonWithTooltip.tsx
  src/domain/community/community/CommunityAdmin/CommunityVirtualContributors.tsx
  src/domain/community/community/CommunityAdmin/SpaceEntitlements.graphql
  src/domain/community/community/CommunityAdmin/useCommunityAdmin.ts
  src/domain/journey/space/pages/AdminSpaceCommunityPage.tsx
Due: eslint --fix, prettier --write

remove a console warning about apollo onData
  src/domain/collaboration/callout/useSubscribeOnRoomEvents.ts
  src/domain/community/userAdmin/tabs/UserAdminCredentialsPage.tsx
  src/domain/community/virtualContributor/useSubscribeOnVirtualContributorEvents.ts
Due: eslint --fix, prettier --write

Bump the max users in the invite dialog from 10 to 20
  src/domain/community/user/FormikUserSelector/FormikUserSelector.tsx
Due: eslint --fix, prettier --write

Always assign value to the whiteboard content even if it's an empty string.
  src/domain/templates/components/Forms/WhiteboardTemplateForm.tsx
Due: eslint --fix, prettier --write

Always assign value to the whiteboard content even if it's an empty string. (#7857)
  src/domain/templates/components/Forms/WhiteboardTemplateForm.tsx
Due: eslint --fix, prettier --write

fixes fixes fixes
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/CalloutPage/CalloutPage.tsx
  src/domain/collaboration/CalloutPage/CalloutPageCallout.graphql
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/useInnovationFlowSettings.tsx
  src/domain/collaboration/callout/edit/useCalloutEdit/calloutEdit.graphql
  src/domain/collaboration/callout/edit/useCalloutEdit/useCalloutEdit.ts
  src/domain/collaboration/calloutsSet/useCalloutCreation/calloutCreation.graphql
  src/domain/collaboration/calloutsSet/useCalloutsSet/CalloutsSetQueries.graphql
  src/domain/collaboration/calloutsSet/useCalloutsSet/useCalloutsSet.ts
  src/domain/community/virtualContributor/knowledgeBase/useKnowledgeBase.tsx
  src/domain/journey/space/pages/SpaceLayoutSettings/SpaceLayoutSettingsEdit.tsx
  src/domain/space/SpaceContext/SpaceContext.tsx
  src/domain/space/about/SpaceAboutPage.tsx
  src/domain/space/layout/Skeletons/SpaceSkeletonLayout.tsx
  src/domain/space/layout/Skeletons/SubSpaceSkeletonLayout.tsx
  src/domain/space/layout/SubspaceFlow/SubspaceHomeView.tsx
  src/domain/space/layout/TabbedSpaceL0/Tabs/SpaceCommunityPage/SpaceCommunityPage.tsx
  src/domain/space/layout/TabbedSpaceL0/Tabs/SpaceDashboard/SpaceDashboardPage.tsx
  src/domain/space/layout/TabbedSpaceL0/Tabs/SpaceKnowledgeBase/SpaceKnowledgeBasePage.tsx
  src/domain/space/layout/TabbedSpaceL0/Tabs/SpaceSubspaces/SpaceSubspacesPage.tsx
  src/domain/space/routing/SpaceRoute.tsx
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/TryVC/TryVirtualContributorDialog.tsx
Due: eslint --fix, prettier --write

more fixes
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/callout/calloutsList/CalloutsListDialog.tsx
  src/domain/collaboration/calloutsSet/authorization/useCalloutsSetAuthorization.ts
  src/domain/collaboration/calloutsSet/useCalloutsSet/useCalloutsSet.ts
  src/domain/journey/space/layout/useSpaceTabs.tsx
  src/domain/journey/subspace/dialogs/SubspacesListDialog.tsx
  src/domain/journey/subspace/subspaceHome/dialogs/SubspaceDialogs.tsx
  src/domain/space/SpaceContext/SpaceContext.tsx
  src/domain/space/layout/SubspaceFlow/SubspaceHomePage.tsx
  src/domain/space/layout/SubspaceFlow/SubspaceHomeView.tsx
  src/domain/space/layout/TabbedSpaceL0/Tabs/SpaceTabs.graphql
Due: eslint --fix, prettier --write

Fix - not the current but the one before that causes wrong requests with errors
  src/domain/journey/space/SpaceDashboard/SpaceDashboardPage.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardView.tsx
Due: eslint --fix, prettier --write

Fix - not the current but the one before that causes wrong requests with errors (#7859)
  src/domain/journey/space/SpaceDashboard/SpaceDashboardPage.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardView.tsx
Due: eslint --fix, prettier --write

0.84.3
  package-lock.json
  package.json
Due: prettier --write

remove notifyOnNetworkStatusChange flag from search query
  src/main/search/SearchView.tsx
Due: eslint --fix, prettier --write
