Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add translation keys for unknown user and organization in notifications
  src/core/i18n/en/translation.en.json
  src/main/inAppNotifications/views/organization/InAppOrganizationMessageSenderView.tsx
  src/main/inAppNotifications/views/platform/InAppPlatformAdminGlobalRoleChangedView.tsx
  src/main/inAppNotifications/views/user/InAppUserMessageSenderView.tsx
Due: eslint --fix, prettier --write

refactor: remove some nullable fields from InAppNotification payload models
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/main/inAppNotifications/graphql/InAppNotificationsFragments.graphql
  src/main/inAppNotifications/model/InAppNotificationPayloadModel.tsx
  src/main/inAppNotifications/util/mapInAppNotificationToModel.ts
Due: eslint --fix, prettier --write

WiP
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/whiteboard/WhiteboardDialog/WhiteboardDialog.tsx
  src/domain/collaboration/whiteboard/WhiteboardPreviewImages/WhiteboardPreviewImages.ts
  src/domain/collaboration/whiteboard/WhiteboardPreviewImages/WhiteboardPreviewSettings.ts
  src/domain/collaboration/whiteboard/WhiteboardPreviewSettings/WhiteboardPreviewSettingsButton.tsx
  src/domain/collaboration/whiteboard/WhiteboardPreviewSettings/WhiteboardPreviewSettingsDialog.tsx
  src/domain/collaboration/whiteboard/WhiteboardPreviewSettings/WhiteboardPreviewSettingsIcon.svg
  src/domain/collaboration/whiteboard/WhiteboardPreviewSettings/useExportWhiteboardImage.ts
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardView.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardQueries.graphql
Due: eslint --fix, prettier --write

Default values on Comments disabled
  src/domain/collaboration/callout/CalloutForm/CalloutForm.tsx
Due: eslint --fix, prettier --write

small fixes and add Norwegian trial translation
  .github/prompts/alkemio.translate.prompt.md
  .scripts/add_missing_translation_keys.sh
  .vscode/settings.json
  docs/translations.md
  src/core/i18n/ach/translation.ach.json
  src/core/i18n/no/translation.no.json
Due: prettier --write

more readable
  src/domain/collaboration/callout/CalloutForm/CalloutForm.tsx
Due: eslint --fix, prettier --write

Fix default value on CalloutContributions form (#8896)
  src/domain/collaboration/callout/CalloutForm/CalloutForm.tsx
Due: eslint --fix, prettier --write

0.116.2
  package.json
Due: prettier --write

In-app filters polishments of the counters and filters.
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/main/inAppNotifications/InAppNotificationsFilterChips.tsx
  src/main/inAppNotifications/graphql/InAppNotifications.graphql
  src/main/inAppNotifications/graphql/InAppNotificationsUnreadCount.graphql
  src/main/inAppNotifications/useInAppNotifications.ts
Due: eslint --fix, prettier --write

small docuemntation corrections
  docs/translations.md
Due: prettier --write

changed a script comment and updated copilot instructions
  .github/copilot-instructions.md
  .scripts/add_missing_translation_keys.sh
Due: prettier --write

add support for Norwegian and Portuguese
  src/core/i18n/config.ts
Due: eslint --fix, prettier --write

Platform Administration improvements.
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/platformAdmin/domain/innovationHubs/AdminInnovationHubs.graphql
  src/domain/platformAdmin/domain/innovationHubs/AdminInnovationHubsPage.tsx
  src/domain/platformAdmin/domain/innovationHubs/InnovationHubListItem.tsx
  src/domain/platformAdmin/domain/innovationPacks/AdminInnovationPacks.graphql
  src/domain/platformAdmin/domain/innovationPacks/AdminInnovationPacksPage.tsx
  src/domain/platformAdmin/domain/innovationPacks/InnovationPackListItem.tsx
  src/domain/platformAdmin/domain/space/AdminSpaceListPage/SpaceList.tsx
  src/domain/platformAdmin/domain/space/AdminSpaceListPage/SpaceListItem.tsx
  src/domain/platformAdmin/domain/space/AdminSpaceListPage/platformAdminSpacesList.graphql
  src/domain/platformAdmin/domain/virtual-contributors/VirtualContributorListItem.tsx
  src/domain/platformAdmin/domain/virtual-contributors/VirtualContributorsPage.tsx
  src/domain/platformAdmin/domain/virtual-contributors/platformAdminVirtualContributors.graphql
Due: eslint --fix, prettier --write

dialog WiP
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/whiteboard/WhiteboardPreviewImages/getWhiteboardPreviewImage.ts
  src/domain/collaboration/whiteboard/WhiteboardPreviewSettings/WhiteboardPreviewSettingsButton.tsx
  src/domain/collaboration/whiteboard/WhiteboardPreviewSettings/WhiteboardPreviewSettingsIcon.svg
  src/domain/collaboration/whiteboard/WhiteboardPreviewSettings/icons/WhiteboardPreviewIcons.tsx
  src/domain/collaboration/whiteboard/WhiteboardPreviewSettings/icons/WhiteboardPreviewModeAuto.svg
  src/domain/collaboration/whiteboard/WhiteboardPreviewSettings/icons/WhiteboardPreviewModeCustom.svg
  src/domain/collaboration/whiteboard/WhiteboardPreviewSettings/icons/WhiteboardPreviewSettings.svg
  src/domain/collaboration/whiteboard/WhiteboardPreviewSettings/updateWhiteboardPreviewMode.graphql
  src/domain/collaboration/whiteboard/WhiteboardPreviewSettings/useExportWhiteboardImage.ts
Due: eslint --fix, prettier --write

remove validation
  src/domain/common/profile/ProfileForm.tsx
Due: eslint --fix, prettier --write

remove validation (#8904)
  src/domain/common/profile/ProfileForm.tsx
Due: eslint --fix, prettier --write

0.116.3
  package.json
Due: prettier --write

Platform Administration lazy loading fix, code organization, fixes.
  docs/admin-list-refactoring.md
  src/domain/platformAdmin/components/AdminListItemLayout.tsx
  src/domain/platformAdmin/components/AdminSearchableTable.tsx
  src/domain/platformAdmin/components/ListPage.tsx
  src/domain/platformAdmin/domain/innovationHubs/AdminInnovationHubsPage.tsx
  src/domain/platformAdmin/domain/innovationHubs/InnovationHubListItem.tsx
  src/domain/platformAdmin/domain/innovationPacks/AdminInnovationPacksPage.tsx
  src/domain/platformAdmin/domain/innovationPacks/InnovationPackListItem.tsx
  src/domain/platformAdmin/domain/space/AdminSpaceListPage/SpaceList.tsx
  src/domain/platformAdmin/domain/space/AdminSpaceListPage/SpaceListItem.tsx
  src/domain/platformAdmin/domain/virtual-contributors/VirtualContributorListItem.tsx
  src/domain/platformAdmin/domain/virtual-contributors/VirtualContributorsPage.tsx
  src/domain/platformAdmin/types/AdminTableItems.ts
Due: eslint --fix, prettier --write

remove legacy grid usage
  src/domain/shared/components/SearchableList/SearchableListLayout.tsx
Due: eslint --fix, prettier --write

remove redundant doc file
  docs/admin-list-refactoring.md
Due: prettier --write

Changing Space to Subspace on Contributors page
  src/core/i18n/en/translation.en.json
Due: prettier --write

lazy loading on all admin pages
  src/domain/platformAdmin/components/AdminSearchableTable.tsx
  src/domain/platformAdmin/domain/innovationHubs/AdminInnovationHubsPage.tsx
  src/domain/platformAdmin/domain/innovationPacks/AdminInnovationPacksPage.tsx
  src/domain/platformAdmin/domain/virtual-contributors/VirtualContributorsPage.tsx
Due: eslint --fix, prettier --write

generate whiteboard preview images from a single place
  src/domain/collaboration/whiteboard/WhiteboardDialog/SingleUserWhiteboardDialog.tsx
  src/domain/collaboration/whiteboard/WhiteboardDialog/WhiteboardDialog.tsx
  src/domain/collaboration/whiteboard/WhiteboardPreviewImages/WhiteboardPreviewImages.ts
Due: eslint --fix, prettier --write

reuse the AdminSearchableTable
  src/domain/platformAdmin/components/AdminSearchableTable.tsx
  src/domain/platformAdmin/domain/organizations/AdminOrganizationsPage.tsx
  src/domain/platformAdmin/domain/virtual-contributors/VirtualContributorsPage.tsx
  src/domain/shared/components/SearchableList/SimpleSearchableTable.tsx
  src/main/admin/users/adminUsers/AdminUsersPage.tsx
Due: eslint --fix, prettier --write

happy path: use storageAggregator for video links ID
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/space/components/VideoCallDialog/VideoCallDialog.tsx
  src/domain/space/components/subspaces/DialogActions.tsx
  src/domain/space/hooks/SpaceStorageAggregator.graphql
  src/domain/space/hooks/useVideoCall.ts
  src/domain/space/layout/tabbedLayout/Tabs/SpaceTabs.tsx
  src/main/routing/urlBuilders.ts
Due: eslint --fix, prettier --write

Changing Space to Subspace on Contributors page (#8907)
  src/core/i18n/en/translation.en.json
Due: prettier --write

pr fixes
  src/domain/platformAdmin/components/AdminSearchableTable.tsx
  src/domain/platformAdmin/domain/space/AdminSpaceListPage/SpaceList.tsx
  src/domain/shared/components/SearchableList/SearchableListLayout.tsx
Due: eslint --fix, prettier --write

Cropping dialog
  src/domain/collaboration/whiteboard/WhiteboardPreview/WhiteboardPreview.tsx
  src/domain/collaboration/whiteboard/WhiteboardPreviewSettings/WhiteboardPreviewCustomSelectionDialog.tsx
  src/domain/collaboration/whiteboard/WhiteboardPreviewSettings/WhiteboardPreviewSettingsDialog.tsx
Due: eslint --fix, prettier --write

pnpm lock
  pnpm-lock.yaml
Due: none

fix build error
  src/domain/collaboration/whiteboard/WhiteboardPreview/FormikWhiteboardPreview.tsx
Due: eslint --fix, prettier --write

Theme extension
  src/core/ui/themes/default/Theme.ts
Due: eslint --fix, prettier --write

wip
  src/core/i18n/en/translation.en.json
  src/core/ui/image/ImageWithCaption.tsx
  src/domain/collaboration/memo/MemoPreview/MemoPreview.tsx
  src/domain/collaboration/whiteboard/WhiteboardPreview/WhiteboardPreview.tsx
  src/domain/collaboration/whiteboard/WhiteboardPreviewImages/getWhiteboardPreviewImage.ts
  src/domain/collaboration/whiteboard/WhiteboardPreviewSettings/WhiteboardPreviewCustomSelectionDialog.tsx
  src/domain/collaboration/whiteboard/WhiteboardPreviewSettings/WhiteboardPreviewSettingsDialog.tsx
Due: eslint --fix, prettier --write

get isContactable for users of a space separately
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/community/community/EntityDashboardLeadsSection/EntityDashboardLeadsSection.tsx
  src/domain/community/user/useLeadUsersWithContactable.ts
  src/domain/community/user/userIsContactable.graphql
  src/domain/space/about/graphql/fragments/spaceAboutDetails.graphql
Due: eslint --fix, prettier --write

only fetch isContactable for authenticated users
  src/domain/community/user/useLeadUsersWithContactable.ts
Due: eslint --fix, prettier --write

Revert "isContactable fixes (#8881)"
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/ui/card/ContributorCardHorizontal.tsx
  src/domain/InnovationPack/admin/InnovationPacksMutations.graphql
  src/domain/collaboration/activity/ActivityLog/activityLogFragments.graphql
  src/domain/communication/room/models/CommentsWithMessagesModel.ts
  src/domain/community/community/EntityDashboardLeadsSection/EntityDashboardLeadsSection.tsx
  src/domain/community/contributor/graphql/contributorDetails.graphql
  src/domain/community/user/graphql/queries/user.graphql
  src/domain/community/user/hooks/useAuthorsDetails.ts
  src/domain/community/user/models/AuthorModel.ts
  src/domain/community/user/userCard/UserCard.tsx
  src/domain/community/user/utils/buildAuthorFromUser.ts
  src/domain/community/user/utils/getUpdateUserInput.ts
  src/domain/shared/components/AuthorAvatar/AuthorAvatar.tsx
  src/domain/space/about/graphql/fragments/spaceAboutDetails.graphql
  src/domain/spaceAdmin/SpaceAdminAccount/graphql/SpaceAccount.graphql
Due: eslint --fix, prettier --write

sync the schema w the server
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/graphql-schema.ts
Due: eslint --fix, prettier --write

0.117.0
  package.json
Due: prettier --write

WIP
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/community/community/EntityDashboardLeadsSection/EntityDashboardLeadsSection.tsx
  src/domain/community/user/useLeadUsersWithContactable.ts
  src/domain/community/user/userIsContactable.graphql
Due: eslint --fix, prettier --write

Revert "isContactable (#8881)" (#8914)
  package.json
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/ui/card/ContributorCardHorizontal.tsx
  src/domain/InnovationPack/admin/InnovationPacksMutations.graphql
  src/domain/collaboration/activity/ActivityLog/activityLogFragments.graphql
  src/domain/communication/room/models/CommentsWithMessagesModel.ts
  src/domain/community/community/EntityDashboardLeadsSection/EntityDashboardLeadsSection.tsx
  src/domain/community/contributor/graphql/contributorDetails.graphql
  src/domain/community/user/graphql/queries/user.graphql
  src/domain/community/user/hooks/useAuthorsDetails.ts
  src/domain/community/user/models/AuthorModel.ts
  src/domain/community/user/userCard/UserCard.tsx
  src/domain/community/user/utils/buildAuthorFromUser.ts
  src/domain/community/user/utils/getUpdateUserInput.ts
  src/domain/shared/components/AuthorAvatar/AuthorAvatar.tsx
  src/domain/space/about/graphql/fragments/spaceAboutDetails.graphql
  src/domain/spaceAdmin/SpaceAdminAccount/graphql/SpaceAccount.graphql
Due: eslint --fix, prettier --write

video call icon is not visible if no ID for the URL of video
  src/domain/space/components/VideoCallDialog/VideoCallDialog.tsx
  src/domain/space/components/subspaces/DialogActions.tsx
  src/domain/space/hooks/useVideoCall.ts
  src/domain/space/layout/tabbedLayout/Tabs/SpaceTabs.tsx
  src/main/routing/urlBuilders.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
