Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Memo's graphical tweaks
  src/domain/collaboration/calloutContributions/memo/CreateContributionButtonMemo.tsx
  src/domain/collaboration/memo/MemoPreview/MemoPreview.tsx
Due: eslint --fix, prettier --write

display references in template preview
  src/domain/templates/components/Previews/TemplateContentCalloutPreview.tsx
Due: eslint --fix, prettier --write

main bundle optimizations and memo removals
  src/core/lazyLoading/GlobalErrorDialog.tsx
  src/main/inAppNotifications/InAppNotificationsContext.tsx
  src/main/inAppNotifications/InAppNotificationsDialog.tsx
  src/main/ui/helpButton/PlatformHelpButton.tsx
  src/main/ui/layout/TopLevelLayout.tsx
  src/main/ui/layout/topBar/SearchBar.tsx
  src/main/ui/platformNavigation/PlatformNavigationUserMenu.tsx
  src/main/ui/platformSearch/PlatformSearch.tsx
  src/main/userMessaging/UserMessagingChatList.tsx
  src/main/userMessaging/UserMessagingContext.tsx
  src/main/userMessaging/UserMessagingConversationView.tsx
  src/main/userMessaging/UserMessagingDialog.tsx
  src/root.tsx
  vite.config.mjs
Due: eslint --fix, prettier --write

Fix tags missing on callout template import
  src/domain/common/profile/ProfileModelUtils.ts
Due: eslint --fix, prettier --write

display references in template preview (#9135)
  src/domain/templates/components/Previews/TemplateContentCalloutPreview.tsx
Due: eslint --fix, prettier --write

update the placement and styles of the emoji picker
  specs/003-whiteboard-emoji-reactions/plan.md
  specs/003-whiteboard-emoji-reactions/quickstart.md
  specs/003-whiteboard-emoji-reactions/spec.md
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardView.tsx
  src/domain/collaboration/whiteboard/components/WhiteboardEmojiReactionPicker.tsx
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
  src/main/public/whiteboard/PublicWhiteboardPage.tsx
Due: eslint --fix, prettier --write

pr fix
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
Due: eslint --fix, prettier --write

Merge pull request #9136 from alkem-io/tags-missing-on-template-import
  src/domain/common/profile/ProfileModelUtils.ts
Due: eslint --fix, prettier --write

003 whiteboard emoji reactions (#9127)
  specs/003-whiteboard-emoji-reactions/checklists/requirements.md
  specs/003-whiteboard-emoji-reactions/contracts/emoji-config.contract.ts
  specs/003-whiteboard-emoji-reactions/data-model.md
  specs/003-whiteboard-emoji-reactions/plan.md
  specs/003-whiteboard-emoji-reactions/quickstart.md
  specs/003-whiteboard-emoji-reactions/research.md
  specs/003-whiteboard-emoji-reactions/spec.md
  specs/003-whiteboard-emoji-reactions/tasks.md
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/whiteboard/WhiteboardDialog/WhiteboardDialog.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardView.tsx
  src/domain/collaboration/whiteboard/components/EmojiReactionGrid.tsx
  src/domain/collaboration/whiteboard/components/WhiteboardEmojiReactionPicker.tsx
  src/domain/collaboration/whiteboard/reactionEmoji/createEmojiReactionElement.test.ts
  src/domain/collaboration/whiteboard/reactionEmoji/createEmojiReactionElement.ts
  src/domain/collaboration/whiteboard/reactionEmoji/emojiReactionConfig.test.ts
  src/domain/collaboration/whiteboard/reactionEmoji/emojiReactionConfig.ts
  src/domain/collaboration/whiteboard/reactionEmoji/types.ts
  src/domain/collaboration/whiteboard/reactionEmoji/useEmojiReactionConfiguration.test.ts
  src/domain/collaboration/whiteboard/reactionEmoji/useEmojiReactionConfiguration.ts
  src/domain/collaboration/whiteboard/reactionEmoji/useEmojiReactionPickerState.ts
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
Due: eslint --fix, prettier --write

pr fixes
  src/domain/community/user/ContributorsPage.tsx
  src/domain/community/virtualContributorAdmin/components/PromptConfig.tsx
  src/domain/platformAdmin/domain/organizations/usePlatformAdminOrganizationsList.ts
  src/domain/spaceAdmin/SpaceAdminAbout/components/SpaceAboutForm.tsx
  src/domain/spaceAdmin/SpaceAdminAbout/components/SpaceAboutView.tsx
Due: eslint --fix, prettier --write

small code tweaks
  src/core/lazyLoading/GlobalErrorDialog.tsx
  src/main/inAppNotifications/InAppNotificationsDialog.tsx
  src/main/ui/platformNavigation/PlatformNavigationUserMenu.tsx
Due: eslint --fix, prettier --write

claude.md update
  CLAUDE.md
Due: prettier --write

pull always to rebuild dev
  manifests/25-web-deployment-dev.yaml
Due: none

pull always to rebuild dev (#9147)
  manifests/25-web-deployment-dev.yaml
Due: none

md font styles
  specs/001-markdown-font-standardization/spec.md
  src/root.tsx
Due: eslint --fix, prettier --write

remove redundant manualChunking
  vite.config.mjs
Due: none

remove redundant manualChunking (#9149)
  vite.config.mjs
Due: none

performance benchmark
  .gitignore
  package.json
  pnpm-lock.yaml
  scripts/BENCHMARK-GUIDE.md
  scripts/benchmark-runner.sh
  scripts/compare-benchmarks.mjs
  scripts/performance-benchmark.mjs
Due: prettier --write

lcp optimizations and analyze task
  index.html
  package.json
  scripts/analyze-lcp.mjs
  src/core/i18n/config.ts
Due: eslint --fix, prettier --write

fix the saveAsTemplate privilege check
  src/domain/collaboration/callout/useCalloutDetails/useCalloutDetails.ts
  src/domain/collaboration/calloutsSet/useCalloutsSet/useCalloutsSet.ts
Due: eslint --fix, prettier --write

Adds Specify commands and supporting scripts
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .claude/commands/speckit.taskstoissues.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Due: prettier --write

0.124.0
  package.json
Due: prettier --write

translation update
  src/core/i18n/ach/translation.ach.json
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
Due: prettier --write

0.124.1
  package.json
Due: prettier --write

fix edit link and UI
  src/domain/space/components/ExpandableDescription.tsx
Due: eslint --fix, prettier --write

cleanup
  src/domain/space/components/ExpandableDescription.tsx
Due: eslint --fix, prettier --write

Updates Claude AI guidance document
  CLAUDE.md
Due: prettier --write

Adds keyFields for VcInteraction type
  src/core/apollo/config/typePolicies.ts
Due: eslint --fix, prettier --write

remove layer; keep same style of icon hovered or not hovered over
  src/domain/space/components/ExpandableDescription.tsx
Due: eslint --fix, prettier --write

Edit description: Improved editing of space layout (#9156)
  src/domain/space/components/ExpandableDescription.tsx
Due: eslint --fix, prettier --write

Callout contributions restyle
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/core/ui/authorship/Authorship.tsx
  src/core/ui/avatar/Avatar.tsx
  src/core/ui/card/CardHeader.tsx
  src/core/ui/date/FormattedDate.tsx
  src/core/ui/markdown/ExpandableMarkdown.tsx
  src/core/ui/overflow/AutomaticOverflowGradient.tsx
  src/core/utils/time/utils.ts
  src/domain/collaboration/callout/CalloutView/CalloutView.tsx
  src/domain/collaboration/callout/CalloutView/CalloutViewLayout.tsx
  src/domain/collaboration/callout/calloutBlock/CalloutHeader.tsx
  src/domain/collaboration/callout/calloutBlock/CalloutLayoutTypes.tsx
  src/domain/collaboration/callout/models/CalloutModelLight.ts
  src/domain/collaboration/calloutContributions/CalloutContributionsBlock.tsx
  src/domain/collaboration/calloutContributions/CreateContributionButton.tsx
  src/domain/collaboration/calloutContributions/contributionsCardsExpandable/ContributionsCardsExpandable.tsx
  src/domain/collaboration/calloutContributions/contributionsCardsExpandable/PaginationExpander.tsx
  src/domain/collaboration/calloutContributions/memo/CreateContributionButtonMemo.tsx
  src/domain/collaboration/calloutContributions/memo/MemoCard.tsx
  src/domain/collaboration/calloutContributions/post/CreateContributionButtonPost.tsx
  src/domain/collaboration/calloutContributions/post/PostCard.tsx
  src/domain/collaboration/calloutContributions/useCalloutContributions/CalloutContributions.graphql
  src/domain/collaboration/calloutContributions/whiteboard/CreateContributionButtonWhiteboard.tsx
  src/domain/collaboration/calloutContributions/whiteboard/WhiteboardCard.tsx
  src/domain/collaboration/calloutsSet/useCalloutsSet/CalloutsSetQueries.graphql
  src/domain/collaboration/memo/MemoPreview/MemoPreview.tsx
  src/domain/shared/utils/formatTimeElapsed.ts
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/TryVC/TryVirtualContributorDialog.tsx
Due: eslint --fix, prettier --write

Merge pull request #9152 from alkem-io/client-8755
  src/domain/collaboration/callout/useCalloutDetails/useCalloutDetails.ts
  src/domain/collaboration/calloutsSet/useCalloutsSet/useCalloutsSet.ts
Due: eslint --fix, prettier --write

Merge pull request #9107 from alkem-io/messaging
  CLAUDE.md
  src/core/apollo/config/typePolicies.ts
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/communication/room/Comments/VcInteractionsDetails.graphql
  src/domain/communication/room/models/CommentsWithMessagesModel.ts
  src/domain/timeline/calendar/CalendarEventDetailContainer.tsx
  src/domain/timeline/calendar/views/useCalendarEvent.ts
  src/main/userMessaging/NewMessageDialog.tsx
  src/main/userMessaging/graphql/CreateConversation.graphql
Due: eslint --fix, prettier --write

plan + spec
  specs/001-flow-post-template/checklists/requirements.md
  specs/001-flow-post-template/data-model.md
  specs/001-flow-post-template/plan.md
  specs/001-flow-post-template/quickstart.md
  specs/001-flow-post-template/research.md
  specs/001-flow-post-template/spec.md
Due: prettier --write

tasks
  specs/001-flow-post-template/tasks.md
Due: prettier --write

get and set the default template for flow step
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/CalloutPage/SpaceInnovationFlow.graphql
  src/domain/collaboration/InnovationFlow/graphql/InnovationFlowStates.fragment.graphql
  src/domain/collaboration/InnovationFlow/graphql/UpdateInnovationFlowStateDefaultTemplate.graphql
Due: eslint --fix, prettier --write

memory benchmark check and comparison
  package.json
  scripts/analyze-memory.mjs
  scripts/compare-benchmarks.mjs
  scripts/performance-benchmark.mjs
Due: prettier --write

Memos and posts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/core/ui/content/PageContentBlockHeaderCardLike.tsx
  src/domain/collaboration/callout/CalloutView/CalloutView.tsx
  src/domain/collaboration/calloutContributions/CalloutContributionsBlock.tsx
  src/domain/collaboration/calloutContributions/CalloutContributionsHorizontalPager.tsx
  src/domain/collaboration/calloutContributions/calloutContributionPreview/CalloutContributionPreview.tsx
  src/domain/collaboration/calloutContributions/contributionsCardsExpandable/ContributionsCardsExpandable.tsx
  src/domain/collaboration/calloutContributions/link/CalloutContributionsLink.tsx
  src/domain/collaboration/calloutContributions/memo/CalloutContributionPreviewMemo.tsx
  src/domain/collaboration/calloutContributions/memo/MemoCard.tsx
  src/domain/collaboration/calloutContributions/post/PostCard.tsx
  src/domain/collaboration/calloutContributions/useCalloutContributions/CalloutContributions.graphql
  src/domain/collaboration/calloutContributions/useCalloutContributions/useCalloutCollaborationPermissions.ts
  src/domain/collaboration/calloutContributions/useCalloutContributions/useCalloutContributions.tsx
  src/domain/collaboration/calloutContributions/whiteboard/CalloutContributionPreviewWhiteboard.tsx
  src/domain/collaboration/calloutContributions/whiteboard/WhiteboardCard.tsx
  src/domain/collaboration/common/PreviewStyles.ts
  src/domain/collaboration/memo/MemoPreview/MemoPreview.tsx
  src/domain/collaboration/whiteboard/WhiteboardPreview/WhiteboardPreview.tsx
Due: eslint --fix, prettier --write

graphical tweaks
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/ui/content/BlockTitleWithIcon.tsx
  src/core/ui/content/PageContentBlockHeaderCardLike.tsx
  src/domain/collaboration/calloutContributions/CalloutContributionsHorizontalPager.tsx
  src/domain/collaboration/calloutContributions/calloutContributionPreview/CalloutContributionPreview.graphql
  src/domain/collaboration/calloutContributions/calloutContributionPreview/CalloutContributionPreview.tsx
  src/domain/collaboration/calloutContributions/useCalloutContributions/CalloutContributions.graphql
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
