Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

New translations translation.en.json (Ukrainian)
  src/core/i18n/ua/translation.ua.json
Due: prettier --write

New translations translation.en.json (Portuguese, Brazilian)
  src/core/i18n/pt/translation.pt.json
Due: prettier --write

New translations translation.en.json (Acholi)
  src/core/i18n/ach/translation.ach.json
Due: prettier --write

missing translations in md validations
  src/core/i18n/en/translation.en.json
  src/core/ui/forms/MarkdownInput/FormikMarkdownField.tsx
  src/domain/InnovationPack/CreateInnovationPackDialog/CreateInnovationPackDialog.tsx
  src/domain/InnovationPack/admin/AdminInnovationPackPage.tsx
  src/domain/InnovationPack/admin/InnovationPackForm.tsx
  src/domain/innovationHub/CreateInnovationHub/CreateInnovationHubDialog.tsx
  src/domain/innovationHub/InnovationHubsAdmin/AdminInnovationHubPage.tsx
  src/domain/innovationHub/InnovationHubsAdmin/InnovationHubForm.tsx
  src/domain/templates/components/Forms/CalloutTemplateForm.tsx
  src/domain/templates/components/Forms/TemplateFormBase.tsx
Due: eslint --fix, prettier --write

bug fix: leads are not displayed on space's dashboard info block and about page
  src/domain/journey/common/journeyDashboardWelcomeBlock/JourneyDashboardWelcomeBlock.tsx
  src/domain/journey/space/SpaceContext/SpaceContext.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardContainer.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardPage.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardView.tsx
Due: eslint --fix, prettier --write

update leads query usage
  src/domain/journey/common/journeyDashboardWelcomeBlock/JourneyDashboardWelcomeBlock.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardContainer.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardPage.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardView.tsx
Due: eslint --fix, prettier --write

fix leads and community vcs dynamic displaying
  crowdin.yml
  src/domain/access/RoleSetAdmin/useRoleSetAdmin.ts
  src/domain/journey/space/SpaceContext/SpaceContext.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardContainer.tsx
Due: eslint --fix, prettier --write

rename SpaceSettingsRoute
  src/domain/journey/settings/routes/SpaceSettingsRoute.tsx
  src/domain/journey/space/routing/SpaceRoute.tsx
Due: eslint --fix, prettier --write

revert crowdin.yml
  crowdin.yml
Due: none

comment the download & extract tasks in Snadbox and test similar to prod and dev build&deploy ymls
  .github/workflows/build-deploy-k8s-sandbox-hetzner.yml
  .github/workflows/build-deploy-k8s-test-hetzner.yml
Due: none

comment the download & extract tasks in Snadbox and test similar to prod and dev build&deploy ymls (#7585)
  .github/workflows/build-deploy-k8s-sandbox-hetzner.yml
  .github/workflows/build-deploy-k8s-test-hetzner.yml
Due: none

resolve pr comments
  src/domain/access/RoleSetAdmin/useRoleSetAdmin.ts
  src/domain/community/community/CommunityAdmin/CommunityMemberSettingsDialog.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardContainer.tsx
Due: eslint --fix, prettier --write

revert crowdin
  crowdin.yml
Due: none

fix the title host to leads in community
  src/domain/journey/space/SpaceCommunityPage/SpaceCommunityPage.tsx
Due: eslint --fix, prettier --write

lower npm vulnerabilities
  package-lock.json
Due: prettier --write

vc store refinements - list page
  src/core/i18n/en/translation.en.json
  src/core/ui/content/BlockTitleWithIcon.tsx
  src/core/ui/content/PageContentBlockHeader.tsx
  src/domain/community/inviteContributors/InviteVCsDialog.tsx
Due: eslint --fix, prettier --write

add references to vc
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/callout/CalloutForm.tsx
  src/domain/community/virtualContributor/VirtualContributor.graphql
  src/domain/community/virtualContributor/vcProfilePage/VCProfilePage.tsx
  src/domain/community/virtualContributor/vcProfilePage/VCProfilePageView.tsx
  src/domain/community/virtualContributor/vcProfilePage/model.ts
  src/domain/community/virtualContributorAdmin/vcSettingsPage/VirtualContributorForm.tsx
Due: eslint --fix, prettier --write

add conditional styles to the reference segments
  src/domain/collaboration/callout/CalloutForm.tsx
  src/domain/community/virtualContributor/vcProfilePage/VCProfilePageView.tsx
  src/domain/community/virtualContributorAdmin/vcSettingsPage/VirtualContributorForm.tsx
  src/domain/platform/admin/components/Common/ReferenceSegment.tsx
Due: eslint --fix, prettier --write

copule of fixes
  src/domain/journey/subspace/routing/settings/SubspaceSettingsRoute.tsx
  src/main/urlResolver/useUrlResolver.ts
Due: eslint --fix, prettier --write

revert Petar's changes here
  src/domain/community/community/CommunityAdmin/CommunityMemberSettingsDialog.tsx
Due: eslint --fix, prettier --write

Move more logic from communityAdmin to RoleSetAdmin
  src/domain/access/RoleSetAdmin/RolesAssignament/useRoleSetAdminRolesAssignment.ts
  src/domain/community/community/CommunityAdmin/useCommunityAdmin.ts
Due: eslint --fix, prettier --write

style fixes + type fixes
  src/core/auth/authentication/components/AuthProviders/ButtonStyling.tsx
  src/core/ui/forms/FormikSelect.tsx
  src/domain/common/whiteboard/excalidraw/ExcalidrawWrapper.tsx
  src/domain/community/user/userPopUp/UserPopUp.tsx
Due: eslint --fix, prettier --write

fix available organizations
  src/domain/access/AvailableContributors/useRoleSetAvailableContributors.ts
  src/domain/access/RoleSetAdmin/useRoleSetAdmin.ts
  src/domain/community/community/CommunityAdmin/useCommunityAdmin.ts
  src/domain/community/organizationAdmin/views/OrganizationAuthorizationRoleAssignementView.tsx
Due: eslint --fix, prettier --write

cleanup
  src/domain/access/RoleSetAdmin/RolesAssignament/useRoleSetAdminRolesAssignment.ts
Due: eslint --fix, prettier --write

simple fix showing the leads in space if authenticated
  src/domain/journey/space/SpaceContext/SpaceContext.tsx
Due: eslint --fix, prettier --write

simple fix showing the leads in space if authenticated (#7594)
  src/domain/journey/space/SpaceContext/SpaceContext.tsx
Due: eslint --fix, prettier --write

0.81.1
  package-lock.json
  package.json
Due: prettier --write

retrive the number of pending invitations as number; add limit to number of spaces returned on dashboard
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/main/topLevelPages/myDashboard/DashboardMenu/DashboardMenu.tsx
  src/main/topLevelPages/myDashboard/DashboardMenu/PendingInvitationsCount.graphql
  src/main/topLevelPages/myDashboard/DashboardWithMemberships/DashboardSpaces/useDashboardSpaces.ts
  src/main/topLevelPages/myDashboard/DashboardWithMemberships/DashboardWithMemberships.graphql
  src/main/topLevelPages/myDashboard/myMemberships/MyMemberships.graphql
Due: eslint --fix, prettier --write

update other usages of the query for dashboard spaces; added a constant
  src/domain/journey/common/journeyDashboard/constants.ts
  src/domain/journey/space/createSpace/CreateSpaceDialog.tsx
  src/domain/journey/space/pages/SpaceSubspaces/SubspaceListView.tsx
  src/domain/journey/subspace/subspaceHome/dialogs/CreateJourney.tsx
  src/domain/shared/utils/useSubspaceCreation/useSubspaceCreation.ts
  src/main/topLevelPages/myDashboard/DashboardWithMemberships/DashboardSpaces/useDashboardSpaces.ts
Due: eslint --fix, prettier --write

test roleSetAdmin
  src/domain/journey/subspace/pages/AdminSubspaceCommunityPage.tsx
  src/domain/journey/subspace/pages/SubspaceProfile/CarlosRoleSetTest.tsx
Due: eslint --fix, prettier --write

bug fix: community vc list not rendering dynamically
  src/domain/access/RoleSetAdmin/useRoleSetAdmin.ts
Due: eslint --fix, prettier --write

wip: fix dynamic display of community vcs in vcs block
  src/domain/access/RoleSetAdmin/useRoleSetAdmin.ts
  src/domain/community/contributor/Account/ContributorAccountView.tsx
  src/domain/community/userAdmin/tabs/UserAdminAccountPage.tsx
  src/domain/journey/space/SpaceContext/SpaceContext.tsx
  src/domain/journey/space/pages/SpaceSettings/EntityConfirmDeleteDialog.tsx
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/ChooseCommunity.tsx
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/useVirtualContributorWizard.tsx
Due: eslint --fix, prettier --write

fix first post item in contribution is sometimes null because of bad data
  src/main/urlResolver/useUrlResolver.ts
Due: eslint --fix, prettier --write

0.81.2
  package-lock.json
  package.json
Due: prettier --write

0.81.0
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
