Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

UI fixes
  specs/018-community-polls/plan.md
  specs/018-community-polls/tasks.md
  src/core/i18n/en/translation.en.json
  src/core/ui/forms/FormikInputField/FormikInputField.tsx
  src/domain/collaboration/callout/CalloutForm/CalloutFormFramingSettings.tsx
  src/domain/collaboration/poll/PollFormFields.tsx
  src/domain/collaboration/poll/PollFormSettingsSection.tsx
  src/domain/collaboration/poll/PollView.tsx
  src/domain/collaboration/poll/PollVotingControls.tsx
Due: eslint --fix, prettier --write

Subspaces - A-B sorting and pinning (#9382)
  specs/017-subspace-sorting-pinning/checklists/requirements.md
  specs/017-subspace-sorting-pinning/contracts/graphql-documents.md
  specs/017-subspace-sorting-pinning/data-model.md
  specs/017-subspace-sorting-pinning/plan.md
  specs/017-subspace-sorting-pinning/quickstart.md
  specs/017-subspace-sorting-pinning/research.md
  specs/017-subspace-sorting-pinning/spec.md
  specs/017-subspace-sorting-pinning/tasks.md
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/core/ui/list/SubspaceLinkList.tsx
  src/domain/platformAdmin/components/SearchableList.tsx
  src/domain/space/components/CreateSpace/hooks/useSubspaceCreation/useSubspaceCreation.ts
  src/domain/space/components/SubspacePinIndicator.tsx
  src/domain/space/components/cards/SpaceCard.tsx
  src/domain/space/components/cards/SpaceCardBase.tsx
  src/domain/space/components/cards/SpaceCardHorizontal.tsx
  src/domain/space/components/spaceDashboardNavigation/SpaceDashboardNavigation.graphql
  src/domain/space/components/spaceDashboardNavigation/dashboardNavigation/DashboardNavigationItemView.tsx
  src/domain/space/components/spaceDashboardNavigation/useSpaceDashboardNavigation.ts
  src/domain/space/components/subspaces/SubspaceView.tsx
  src/domain/space/graphql/SubspaceCards.graphql
  src/domain/space/graphql/fragments/subspaceCard.graphql
  src/domain/space/graphql/queries/Subspaces.graphql
  src/domain/space/hooks/useSubspacesSorted.ts
  src/domain/space/layout/tabbedLayout/Tabs/SpaceSubspacesPage.tsx
  src/domain/spaceAdmin/SpaceAdminSettings/graphql/SpaceSettings.graphql
  src/domain/spaceAdmin/SpaceAdminSettings/graphql/UpdateSpaceSettings.graphql
  src/domain/spaceAdmin/SpaceAdminSubspaces/SortModeDropdown.tsx
  src/domain/spaceAdmin/SpaceAdminSubspaces/SpaceAdminSubspacesPage.tsx
  src/domain/spaceAdmin/SpaceAdminSubspaces/SubspacesSortDialog/SubspacesSortDialog.tsx
  src/domain/spaceAdmin/SpaceAdminSubspaces/SubspacesSortableItem.tsx
  src/domain/spaceAdmin/SpaceAdminSubspaces/SubspacesSortableList.tsx
  src/domain/spaceAdmin/SpaceAdminSubspaces/graphql/UpdateSubspacePinned.graphql
  src/domain/spaceAdmin/SpaceAdminSubspaces/graphql/UpdateSubspacesSortOrder.graphql
Due: eslint --fix, prettier --write

Update src/main/onlineStatus/OnlineStatusNotification.tsx
  src/main/onlineStatus/OnlineStatusNotification.tsx
Due: eslint --fix, prettier --write

Make sure we log all broken user sessions (#9394)
  src/core/i18n/en/translation.en.json
  src/core/pages/Errors/ErrorPage.tsx
  src/domain/community/userCurrent/CurrentUserProvider/CurrentUserProvider.tsx
  src/main/onlineStatus/OnlineStatusNotification.tsx
  src/root.tsx
Due: eslint --fix, prettier --write

fix about dialog edit links
  src/domain/space/about/SpaceAboutDialog.tsx
  src/domain/space/about/SpaceAboutSegment.tsx
  src/domain/spaceAdmin/SpaceAdminAbout/SpaceAdminAboutPage.tsx
Due: eslint --fix, prettier --write

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/user_story.md
Due: prettier --write

UI fixes 2
  specs/018-community-polls/research.md
  specs/018-community-polls/spec.md
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/poll/PollFormFields.tsx
  src/domain/collaboration/poll/PollFormSettingsSection.tsx
  src/domain/collaboration/poll/PollOptionResultRow.tsx
  src/domain/collaboration/poll/PollResultsDisplay.tsx
  src/domain/collaboration/poll/PollView.tsx
  src/domain/collaboration/poll/PollVoterAvatars.tsx
  src/domain/collaboration/poll/PollVotingControls.tsx
  src/domain/timeline/calendar/CalendarDialog.tsx
Due: eslint --fix, prettier --write

Fix about dialog edit links (#9399)
  src/domain/space/about/SpaceAboutDialog.tsx
  src/domain/space/about/SpaceAboutSegment.tsx
  src/domain/spaceAdmin/SpaceAdminAbout/SpaceAdminAboutPage.tsx
Due: eslint --fix, prettier --write

robots.txt
  .build/.nginx/nginx.conf
  .build/docker/env.sh
  public/robots.txt
  vite.config.mjs
Due: none

update the gh templates, strip labels and redundant bug desc
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/user_story.md
Due: prettier --write

pr fix
  vite.config.mjs
Due: none

Add environment-aware robots.txt generation to build pipeline
  .env
  .gitignore
  CLAUDE.md
  buildConfiguration.js
  specs/021-add-robots-txt/checklists/requirements.md
  specs/021-add-robots-txt/contracts/robots-txt.md
  specs/021-add-robots-txt/data-model.md
  specs/021-add-robots-txt/plan.md
  specs/021-add-robots-txt/quickstart.md
  specs/021-add-robots-txt/research.md
  specs/021-add-robots-txt/spec.md
  specs/021-add-robots-txt/tasks.md
  src/domain/platform/__tests__/robotsTxt.test.ts
Due: eslint --fix, prettier --write

Set VITE_APP_ROBOTS_ALLOW_INDEXING=true in release Docker builds
  .github/workflows/build-release-docker-hub.yml
  Dockerfile
Due: none

Update spec docs to reflect Docker build arg integration
  specs/021-add-robots-txt/plan.md
  specs/021-add-robots-txt/quickstart.md
  specs/021-add-robots-txt/spec.md
Due: prettier --write

Integrate comprehensive robots.txt with runtime env detection
  .build/.nginx/nginx.conf
  .build/docker/env.sh
  .env
  .github/workflows/build-release-docker-hub.yml
  Dockerfile
  buildConfiguration.js
  src/domain/platform/__tests__/robotsTxt.test.ts
  vite.config.mjs
Due: eslint --fix, prettier --write

Fix spec drift after integrating runtime domain detection
  CLAUDE.md
  specs/021-add-robots-txt/contracts/robots-txt.md
  specs/021-add-robots-txt/data-model.md
  specs/021-add-robots-txt/plan.md
  specs/021-add-robots-txt/quickstart.md
  specs/021-add-robots-txt/research.md
  specs/021-add-robots-txt/spec.md
  specs/021-add-robots-txt/tasks.md
Due: prettier --write

Fix CodeRabbit review comments
  buildConfiguration.js
  specs/021-add-robots-txt/contracts/robots-txt.md
Due: prettier --write

callout collapse mode controlled by layout setting, specs
  specs/020-callout-collapse/checklists/requirements.md
  specs/020-callout-collapse/contracts/graphql-changes.md
  specs/020-callout-collapse/data-model.md
  specs/020-callout-collapse/plan.md
  specs/020-callout-collapse/quickstart.md
  specs/020-callout-collapse/research.md
  specs/020-callout-collapse/spec.md
  specs/020-callout-collapse/tasks.md
Due: prettier --write

Poll Notifications
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/community/userAdmin/tabs/UserAdminNotificationsPage.tsx
  src/main/inAppNotifications/InAppNotificationItem.tsx
  src/main/inAppNotifications/graphql/InAppNotificationsFragments.graphql
  src/main/inAppNotifications/notificationFilters.ts
  src/main/inAppNotifications/views/space/InAppSpaceCollaborationPollView.tsx
Due: eslint --fix, prettier --write

fix: refetch conversations on member add/remove and support new member badge
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/main/userMessaging/graphql/ConversationEvents.graphql
  src/main/userMessaging/useConversationEventsSubscription.ts
Due: eslint --fix, prettier --write

implementation
  specs/020-callout-collapse/contracts/graphql-changes.md
  specs/020-callout-collapse/data-model.md
  specs/020-callout-collapse/plan.md
  specs/020-callout-collapse/quickstart.md
  specs/020-callout-collapse/research.md
  specs/020-callout-collapse/spec.md
  specs/020-callout-collapse/tasks.md
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/core/ui/markdown/ExpandableMarkdown.tsx
  src/domain/collaboration/callout/CalloutView/CalloutView.tsx
  src/domain/collaboration/callout/CalloutView/CalloutViewLayout.tsx
  src/domain/collaboration/callout/calloutBlock/CalloutLayoutTypes.tsx
  src/domain/space/settings/SpaceSettingsModel.ts
  src/domain/space/settings/useCalloutDescriptionDisplayMode.ts
  src/domain/spaceAdmin/SpaceAdminLayout/SpaceAdminLayoutPage.tsx
  src/domain/spaceAdmin/SpaceAdminSettings/SpaceDefaultSettings.tsx
  src/domain/spaceAdmin/SpaceAdminSettings/components/CalloutDisplayModeSettings.tsx
  src/domain/spaceAdmin/SpaceAdminSettings/graphql/SpaceSettings.graphql
  src/domain/spaceAdmin/SpaceAdminSettings/graphql/UpdateSpaceSettings.graphql
  src/domain/spaceAdmin/SpaceAdminSettings/useSpaceSettingsUpdate.ts
  src/domain/spaceAdmin/layout/SpaceAdminTabsL1.tsx
  src/domain/spaceAdmin/layout/SpaceAdminTabsL2.tsx
  src/domain/spaceAdmin/routing/SpaceAdminRouteL1.tsx
  src/domain/spaceAdmin/routing/SpaceAdminRouteL2.tsx
Due: eslint --fix, prettier --write

address comments and cleanup
  src/core/i18n/en/translation.en.json
  src/core/ui/forms/FormikInputField/FormikInputField.tsx
  src/domain/collaboration/callout/CalloutDialogs/CreateCalloutDialog.tsx
  src/domain/collaboration/callout/CalloutForm/CalloutForm.tsx
  src/domain/collaboration/callout/models/mappings.ts
  src/domain/collaboration/calloutsSet/useCalloutCreation/useCalloutCreation.ts
  src/domain/collaboration/calloutsSet/useCalloutCreation/useCalloutCreationWithPreviewImages.ts
  src/domain/collaboration/poll/PollFormFields.tsx
  src/domain/collaboration/poll/models/PollModels.ts
Due: eslint --fix, prettier --write

codegen
  src/core/apollo/generated/graphql-schema.ts
Due: eslint --fix, prettier --write

simple robots.txt file, remove redundant build logic, update the env.sh
  .build/docker/env.sh
  .gitignore
  buildConfiguration.js
  public/robots.txt
  specs/021-add-robots-txt/contracts/robots-txt.md
  specs/021-add-robots-txt/data-model.md
  specs/021-add-robots-txt/plan.md
  specs/021-add-robots-txt/quickstart.md
  specs/021-add-robots-txt/research.md
  specs/021-add-robots-txt/spec.md
  specs/021-add-robots-txt/tasks.md
  src/domain/platform/__tests__/robotsTxt.test.ts
Due: eslint --fix, prettier --write

updated schema
  src/core/apollo/generated/graphql-schema.ts
Due: eslint --fix, prettier --write

Subscriptions working
  specs/018-community-polls/data-model.md
  specs/018-community-polls/plan.md
  specs/018-community-polls/research.md
  specs/018-community-polls/spec.md
  specs/018-community-polls/tasks.md
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/callout/CalloutFramings/CalloutFramingPoll.tsx
  src/domain/collaboration/poll/PollView.tsx
  src/domain/collaboration/poll/graphql/pollSubscriptions.graphql
  src/domain/collaboration/poll/hooks/usePollSubscriptions.ts
Due: eslint --fix, prettier --write

The cache update is synchronous and happens as part of the mutation lifecycle, so nothing can overwrite it in between.
  src/main/userMessaging/GroupChatManagementDialog.tsx
  src/main/userMessaging/useConversationEventsSubscription.ts
Due: eslint --fix, prettier --write

fix(ci): use pnpm exec for tsc in typecheck job
  .github/workflows/ci-lint.yml
Due: none

pr fixes
  public/robots.txt
  src/domain/platform/__tests__/robotsTxt.test.ts
Due: eslint --fix, prettier --write

0.135.0
  package.json
Due: prettier --write

translation update
  src/core/i18n/ach/translation.ach.json
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
Due: prettier --write

0.135.1
  package.json
Due: prettier --write

pr fixes
  specs/020-callout-collapse/quickstart.md
  src/domain/spaceAdmin/SpaceAdminLayout/SpaceAdminLayoutPage.tsx
  src/domain/spaceAdmin/SpaceAdminSettings/components/CalloutDisplayModeSettings.tsx
Due: eslint --fix, prettier --write

simple robots.txt file, remove redundant build logic, update the env.sh (#9407)
  .build/docker/env.sh
  .gitignore
  buildConfiguration.js
  public/robots.txt
  specs/021-add-robots-txt/contracts/robots-txt.md
  specs/021-add-robots-txt/data-model.md
  specs/021-add-robots-txt/plan.md
  specs/021-add-robots-txt/quickstart.md
  specs/021-add-robots-txt/research.md
  specs/021-add-robots-txt/spec.md
  specs/021-add-robots-txt/tasks.md
  src/domain/platform/__tests__/robotsTxt.test.ts
Due: eslint --fix, prettier --write

021 add robots txt (#9410)
  .build/.nginx/nginx.conf
  .build/docker/env.sh
  CLAUDE.md
  buildConfiguration.js
  public/robots.txt
  specs/021-add-robots-txt/checklists/requirements.md
  specs/021-add-robots-txt/contracts/robots-txt.md
  specs/021-add-robots-txt/data-model.md
  specs/021-add-robots-txt/plan.md
  specs/021-add-robots-txt/quickstart.md
  specs/021-add-robots-txt/research.md
  specs/021-add-robots-txt/spec.md
  specs/021-add-robots-txt/tasks.md
  src/domain/platform/__tests__/robotsTxt.test.ts
  vite.config.mjs
Due: eslint --fix, prettier --write

Fix non-member users getting edit mode on whiteboards with guest access (#9146)
  src/domain/collaboration/whiteboard/WhiteboardDialog/WhiteboardDialog.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardView.tsx
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
Due: eslint --fix, prettier --write

Fix robotsTxt test to match actual robots.txt content
  src/domain/platform/__tests__/robotsTxt.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
