Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Address comments
  src/domain/collaboration/callout/CalloutForm.tsx
  src/domain/collaboration/callout/CalloutViewTypes.tsx
  src/domain/collaboration/callout/calloutBlock/CalloutSettingsContainer.tsx
  src/domain/collaboration/callout/creationDialog/CalloutCreationDialog.tsx
  src/domain/collaboration/callout/edit/editDialog/CalloutEditDialog.tsx
  src/domain/collaboration/callout/routing/CalloutRoute.tsx
  src/domain/collaboration/calloutsSet/CalloutsInContext/CalloutsGroup.ts
  src/domain/collaboration/calloutsSet/CalloutsView/CalloutsView.tsx
  src/domain/collaboration/whiteboard/EntityWhiteboardPage/WhiteboardPage.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardView.tsx
  src/domain/collaboration/whiteboard/views/WhiteboardRoute.tsx
  src/domain/community/inviteContributors/InviteVCsDialog.tsx
  src/domain/journey/JourneyTypeName.ts
Due: eslint --fix, prettier --write

address comments
  src/core/apollo/generated/apollo-hooks.ts
  src/domain/collaboration/calloutsSet/CalloutsInContext/CalloutsGroup.ts
  src/domain/collaboration/post/pages/PostSettingsPage.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardView.tsx
  src/domain/community/virtualContributor/knowledgeBase/KnowledgeBaseDialog.tsx
  src/domain/community/virtualContributor/knowledgeBase/VCKnowledgeBaseRoute.tsx
  src/domain/journey/JourneyTypeName.ts
  src/main/urlResolver/UrlResolvers.graphql
Due: eslint --fix, prettier --write

Fix tests
  src/domain/community/virtualContributor/VCRoute.tsx
  src/main/routing/urlBuilders.ts
Due: eslint --fix, prettier --write

Add VC Callouts route (#7515)
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/access/AvailableContributors/common.ts
  src/domain/collaboration/callout/CalloutForm.tsx
  src/domain/collaboration/callout/CalloutViewTypes.tsx
  src/domain/collaboration/callout/calloutBlock/CalloutSettingsContainer.tsx
  src/domain/collaboration/callout/creationDialog/CalloutCreationDialog.tsx
  src/domain/collaboration/callout/edit/editDialog/CalloutEditDialog.tsx
  src/domain/collaboration/callout/routing/CalloutRoute.tsx
  src/domain/collaboration/calloutsSet/CalloutsInContext/CalloutsGroup.ts
  src/domain/collaboration/calloutsSet/CalloutsView/CalloutsView.tsx
  src/domain/collaboration/post/containers/PostDashboardContainer/PostDashboardContainer.tsx
  src/domain/collaboration/post/containers/PostDashboardContainer/PostDashboardQueries.graphql
  src/domain/collaboration/post/containers/PostSettings/PostSettingsQueries.graphql
  src/domain/collaboration/post/containers/PostSettings/usePostSettings.ts
  src/domain/collaboration/post/context/PostProvider.tsx
  src/domain/collaboration/post/context/PostProviderQueries.graphql
  src/domain/collaboration/post/pages/PostCalloutsInCalloutSet.graphql
  src/domain/collaboration/post/pages/PostDashboardPage.tsx
  src/domain/collaboration/post/pages/PostSettingsPage.tsx
  src/domain/collaboration/post/pages/PostSharePage.tsx
  src/domain/collaboration/post/views/PostRoute.tsx
  src/domain/collaboration/whiteboard/EntityWhiteboardPage/WhiteboardPage.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardView.tsx
  src/domain/collaboration/whiteboard/views/WhiteboardRoute.tsx
  src/domain/community/inviteContributors/InviteContributorsProps.tsx
  src/domain/community/inviteContributors/InviteVCsDialog.tsx
  src/domain/community/virtualContributor/VCRoute.tsx
  src/domain/community/virtualContributor/knowledgeBase/KnowledgeBaseDialog.tsx
  src/domain/community/virtualContributor/knowledgeBase/VCKnowledgeBaseRoute.tsx
  src/domain/community/virtualContributor/vcProfilePage/VCProfileContentView.tsx
  src/domain/community/virtualContributor/vcProfilePage/VCProfilePage.tsx
  src/domain/community/virtualContributor/vcProfilePage/VCProfilePageView.tsx
  src/domain/community/virtualContributor/vcProfilePage/model.ts
  src/domain/journey/JourneyTypeName.ts
  src/domain/journey/subspace/routing/SubspaceRoute.tsx
  src/main/routing/resolvers/RouteResolver.graphql
  src/main/routing/urlBuilders.ts
  src/main/urlResolver/UrlResolvers.graphql
  src/main/urlResolver/useUrlResolver.ts
Due: eslint --fix, prettier --write

0.80.0
  package-lock.json
  package.json
Due: prettier --write

0.80.0 (#7526)
  package-lock.json
  package.json
Due: prettier --write

updated to retrieve iframeAllowedUrls + use in one place
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/ui/forms/MarkdownInputControls/InsertEmbedCodeButton/InsertEmbedCodeButton.tsx
  src/domain/platform/config/ConfigProvider.tsx
  src/domain/platform/config/configuration.graphql
  src/domain/platform/config/configuration.ts
  src/domain/platform/config/useConfig.ts
Due: eslint --fix, prettier --write

fix access to public space for anonymous user
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/access/graphql/fragments/RoleSetContributors.graphql
  src/domain/access/graphql/queries/RoleSetDetails.graphql
  src/domain/journey/common/JourneyUnauthorizedDialog/JourneyData.graphql
Due: eslint --fix, prettier --write

reingest after creation of a VC with Space BoK
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/useVirtualContributorWizard.tsx
Due: eslint --fix, prettier --write

Extract the repeating styles in object
  src/core/ui/list/LinksList.tsx
Due: eslint --fix, prettier --write

reingest after creation of a VC with Space BoK (#7536)
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/useVirtualContributorWizard.tsx
Due: eslint --fix, prettier --write

Delete file after merge conflicts
  src/domain/platform/admin/components/Common/CreateGroupForm.tsx
Due: eslint --fix, prettier --write

fixup! Extract the repeating styles in object
  src/core/ui/list/LinksList.tsx
Due: eslint --fix, prettier --write

fix lint error
  src/domain/access/RoleSetAdmin/useRoleSetAdmin.ts
Due: eslint --fix, prettier --write

Read the proper permission on SpaceContext
  src/domain/journey/space/SpaceContext/SpaceContext.tsx
Due: eslint --fix, prettier --write

Fix subspace also
  src/domain/access/RoleSetAdmin/useRoleSetAdmin.ts
Due: eslint --fix, prettier --write

Privacy handling of the VC KnowledgeBase.
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/community/virtualContributor/VirtualContributor.graphql
  src/domain/community/virtualContributor/knowledgeBase/KnowledgeBaseDialog.tsx
  src/domain/community/virtualContributor/knowledgeBase/useKnowledgeBase.tsx
  src/domain/community/virtualContributor/knowledgeBase/virtualContributorKnowledgeBase.graphql
  src/domain/community/virtualContributor/vcProfilePage/VCProfileContentView.tsx
  src/domain/community/virtualContributor/vcProfilePage/model.ts
  src/domain/community/virtualContributorAdmin/VCAccessibilitySettings/VCAccessibilitySettingsPage.tsx
Due: eslint --fix, prettier --write

0.80.1
  package-lock.json
  package.json
Due: prettier --write

crowdin config
  crowdin.yml
Due: none

BugFix anonymous user access to public space (#7541)
  src/domain/access/RoleSetAdmin/useRoleSetAdmin.ts
  src/domain/journey/space/SpaceContext/SpaceContext.tsx
Due: eslint --fix, prettier --write

crowdin config (#7549)
  crowdin.yml
Due: none

Fix search in space
  src/main/search/SearchView.tsx
Due: eslint --fix, prettier --write

Also use the lookup for space details
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/main/search/SearchScopeDetailsSpace.graphql
  src/main/search/SearchView.tsx
Due: eslint --fix, prettier --write

fresh translations
  src/core/i18n/ach/translation.ach.json
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
  src/core/i18n/pt/translation.pt.json
  src/core/i18n/ua/translation.ua.json
Due: prettier --write

Fix search in space (#7552)
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/main/search/SearchScopeDetailsSpace.graphql
  src/main/search/SearchView.tsx
Due: eslint --fix, prettier --write

Translations (#7553)
  src/core/i18n/ach/translation.ach.json
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
  src/core/i18n/pt/translation.pt.json
  src/core/i18n/ua/translation.ua.json
Due: prettier --write

subspace settings incorrect text (#7521)
  src/core/i18n/en/translation.en.json
  src/domain/journey/space/pages/SpaceSettings/SpaceSettingsView.tsx
Due: eslint --fix, prettier --write

0.80.2
  package-lock.json
  package.json
Due: prettier --write

disabled Crowdin action
  .github/workflows/build-release-docker-hub.yml
Due: none

Icons clean up wip
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/community/invitations/InvitationDialog.tsx
  src/domain/community/invitations/SingleInvitationFull.tsx
  src/domain/community/pendingMembership/PendingMembershipsUserMenuItem.tsx
  src/domain/community/profile/ContributionDetails/ContributionDetailsContainer.tsx
  src/domain/journey/common/JourneyAboutDialog/JourneyAboutDialog.tsx
  src/domain/journey/common/journeyBreadcrumbs/JourneyBreadcrumbs.tsx
  src/domain/journey/common/journeyBreadcrumbs/journeyBreadcrumbs.graphql
  src/domain/journey/common/journeyBreadcrumbs/useJourneyBreadcrumbs.ts
  src/domain/shared/components/JourneyIcon/JourneyIcon.tsx
  src/main/search/searchResults/searchResultsCallout/SearchResultsCalloutCardFooter.tsx
  src/main/search/searchResults/useHydratedCard.tsx
Due: eslint --fix, prettier --write

Patch: Users not displayed on communities or in admin authorization
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/access/RoleSetAdmin/useRoleSetAdmin.ts
  src/domain/access/graphql/queries/RoleSetDetails.graphql
Due: eslint --fix, prettier --write

Bump version
  package-lock.json
  package.json
Due: prettier --write

Release v0.80 (#7557)
  .github/workflows/build-release-docker-hub.yml
  package-lock.json
  package.json
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/ach/translation.ach.json
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
  src/core/i18n/pt/translation.pt.json
  src/core/i18n/ua/translation.ua.json
  src/domain/access/RoleSetAdmin/useRoleSetAdmin.ts
  src/domain/journey/space/SpaceContext/SpaceContext.tsx
  src/main/search/SearchScopeDetailsSpace.graphql
  src/main/search/SearchView.tsx
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/useVirtualContributorWizard.tsx
Due: eslint --fix, prettier --write

removed a couple of deprecated files not used
  src/domain/community/user/containers/UserAvatarsProvider/UserAvatarsProvider.tsx
  src/domain/shared/types/PageProps.ts
Due: eslint --fix, prettier --write

wip
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/calloutsSet/SortOrder/UpdateCalloutsSortOrder.graphql
  src/domain/collaboration/calloutsSet/useCallouts/CalloutQueries.graphql
  src/domain/collaboration/post/containers/PostDashboardContainer/PostDashboardQueries.graphql
  src/domain/collaboration/post/containers/PostSettings/PostSettingsQueries.graphql
  src/domain/collaboration/post/context/PostProviderQueries.graphql
  src/domain/collaboration/whiteboard/EntityWhiteboardPage/WhiteboardPage.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardProvider.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardQueries.graphql
  src/domain/journey/common/journeyBreadcrumbs/journeyBreadcrumbs.graphql
  src/domain/journey/common/journeyBreadcrumbs/useJourneyBreadcrumbs.ts
  src/domain/journey/space/SpaceContext/spaceProvider.graphql
  src/domain/journey/space/pages/SpaceSettings/SpaceSubspaces.graphql
  src/domain/journey/space/pages/SpaceSubspaces/AdminChallengesPage.graphql
  src/domain/storage/StorageBucket/StorageConfig.graphql
  src/domain/templates/graphql/SpaceTemplatesSetId.graphql
  src/main/routing/resolvers/RouteResolver.graphql
  src/main/topLevelPages/myDashboard/ExploreSpaces/ExploreSpaces.graphql
  src/main/topLevelPages/topLevelSpaces/SpaceExplorerQueries.graphql
  src/main/topLevelPages/topLevelSpaces/SpaceExplorerView.tsx
  src/main/urlResolver/UrlResolvers.graphql
Due: eslint --fix, prettier --write

Knowledge base implementation with privilege check, loading state, tooltip, etc.
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/community/virtualContributor/knowledgeBase/KnowledgeBaseDialog.tsx
  src/domain/community/virtualContributor/knowledgeBase/useKnowledgeBase.tsx
  src/domain/community/virtualContributor/knowledgeBase/virtualContributorKnowledgeBase.graphql
  src/domain/community/virtualContributorAdmin/VCAccessibilitySettings/VCAccessibilitySettingsPage.tsx
Due: eslint --fix, prettier --write

bug fix - wrong text in subspace settings
  src/core/i18n/en/translation.en.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
