Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": "prettier --write"
}

removed read-more
  src/core/i18n/en/translation.en.json
  src/domain/timeline/calendar/views/CalendarEventCard.tsx
Due: eslint --fix, prettier --write

updated translations
  src/core/i18n/en/translation.en.json
Due: prettier --write

updated translations (#4807)
  src/core/i18n/en/translation.en.json
Due: prettier --write

Fix conole error when creating a call for WBs
  src/domain/common/whiteboard/excalidraw/ExcalidrawWrapper.tsx
Due: eslint --fix, prettier --write

simple page to test browser latency + performance (#4787)
  public/browser-test.html
Due: none

Journey Dashboard unification and refresh (#4801)
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/core/ui/content/SeeMore.tsx
  src/core/ui/forms/AltToggle/AltToggle.tsx
  src/core/ui/overflow/OverflowGradient.tsx
  src/domain/collaboration/activity/useActivityLogOnCollaboration/useActivityOnCollaboration.ts
  src/domain/collaboration/callout/CalloutsInContext/CalloutsGroup.ts
  src/domain/collaboration/callout/JourneyCalloutsTabView/CalloutsView.tsx
  src/domain/community/application/applicationButton/ApplicationButton.spec.tsx
  src/domain/community/application/applicationButton/ApplicationButton.tsx
  src/domain/community/membership/DashboardMemberIcon/DashboardMemberIcon.tsx
  src/domain/community/membership/membershipContainer/MembershipContainer.tsx
  src/domain/journey/challenge/challengeCalloutPage/ChallengeCalloutPage.tsx
  src/domain/journey/challenge/containers/ChallengePageContainer.tsx
  src/domain/journey/challenge/containers/ChallengePageQueries.graphql
  src/domain/journey/challenge/pages/ChallengeDashboardPage.tsx
  src/domain/journey/common/dashboardRecentContributionsBlock/DashboardRecentContributionsBlock.tsx
  src/domain/journey/common/journeyDashboardWelcomeBlock/JourneyDashboardWelcomeBlock.tsx
  src/domain/journey/common/tabs/Dashboard/JourneyDashboardView.tsx
  src/domain/journey/common/tabs/Dashboard/JourneyDashboardVision.tsx
  src/domain/journey/opportunity/containers/OpportunityPageContainer.tsx
  src/domain/journey/opportunity/opportunityCalloutPage/OpportunityCalloutPage.tsx
  src/domain/journey/opportunity/pages/OpportunityDashboardPage.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboard.graphql
  src/domain/journey/space/SpaceDashboard/SpaceDashboardContainer.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardPage.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardView.tsx
  src/domain/shared/components/ActivityLog/ActivityComponent.tsx
  src/domain/shared/components/ActivityLog/constants.ts
  src/domain/timeline/calendar/views/CalendarEventCard.tsx
Due: eslint --fix, prettier --write

Fix conole error when creating a call for WBs (#4809)
  src/domain/common/whiteboard/excalidraw/ExcalidrawWrapper.tsx
Due: eslint --fix, prettier --write

Minor version bump
  package-lock.json
  package.json
Due: prettier --write

Minor version bump (#4810)
  package-lock.json
  package.json
Due: prettier --write

Add reading sentry token env variable to github flow
  .github/workflows/build-release-docker-hub.yml
Due: none

Sourcemap fix
  vite.config.mjs
Due: none

Optional refetch of space page query.
  src/domain/community/invitations/InvitationActionsContainer.tsx
Due: eslint --fix, prettier --write

Dashboard Activity block shows as many items as fit
  src/domain/collaboration/activity/useActivityLogOnCollaboration/useActivityOnCollaboration.ts
  src/domain/journey/challenge/containers/ChallengePageContainer.tsx
  src/domain/journey/common/dashboardRecentContributionsBlock/DashboardRecentContributionsBlock.tsx
  src/domain/journey/common/journeyDashboard/constants.ts
  src/domain/journey/opportunity/containers/OpportunityPageContainer.tsx
  src/domain/journey/space/SpaceCommunityPage/SpaceCommunityPage.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardContainer.tsx
  src/domain/shared/components/ActivityLog/ActivityComponent.tsx
Due: eslint --fix, prettier --write

Sourcemap fix (#4812)
  vite.config.mjs
Due: none

Dashboard Activity block shows as many items as fit (#4814)
  src/domain/collaboration/activity/useActivityLogOnCollaboration/useActivityOnCollaboration.ts
  src/domain/journey/challenge/containers/ChallengePageContainer.tsx
  src/domain/journey/common/dashboardRecentContributionsBlock/DashboardRecentContributionsBlock.tsx
  src/domain/journey/common/journeyDashboard/constants.ts
  src/domain/journey/opportunity/containers/OpportunityPageContainer.tsx
  src/domain/journey/space/SpaceCommunityPage/SpaceCommunityPage.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardContainer.tsx
  src/domain/shared/components/ActivityLog/ActivityComponent.tsx
Due: eslint --fix, prettier --write

Optional refetch of space page query. (#4813)
  src/domain/community/invitations/InvitationActionsContainer.tsx
Due: eslint --fix, prettier --write

Load spaces on home page incrementally.
  src/core/apollo/config/typePolicies.ts
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/journey/space/DashboardSpaces/DashboardSpaces.graphql
  src/domain/journey/space/DashboardSpaces/SpacesSection.tsx
  src/domain/shared/components/DashboardSections/DashboardSpacesSection.tsx
Due: eslint --fix, prettier --write

french updates
  src/core/i18n/fr/translation.fr.json
Due: prettier --write

Fix sourcemap
  package.json
Due: prettier --write

Dev build sourcemap (#4826)
  package.json
Due: prettier --write

Space About has its route
  src/domain/journey/common/tabs/Dashboard/JourneyDashboardView.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardPage.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardView.tsx
  src/domain/journey/space/routing/SpaceRoute.tsx
Due: eslint --fix, prettier --write

Space Community Activity has Dialog accessible through See more
  src/domain/journey/space/SpaceCommunityPage/SpaceCommunityPage.tsx
Due: eslint --fix, prettier --write

Fix #4825 image file resizer import with VITE
  src/core/ui/upload/VisualUpload/CropDialog.tsx
Due: eslint --fix, prettier --write

Space Community Activity has Dialog accessible through See more (#4834)
  src/domain/journey/space/SpaceCommunityPage/SpaceCommunityPage.tsx
Due: eslint --fix, prettier --write

Address PR feedback.
  src/domain/journey/space/DashboardSpaces/SpacesSection.tsx
  src/domain/shared/components/DashboardSections/DashboardSpacesSection.tsx
Due: eslint --fix, prettier --write

Fix #4825 image file resizer import with VITE (#4835)
  src/core/ui/upload/VisualUpload/CropDialog.tsx
Due: eslint --fix, prettier --write

Vite config
  package.json
Due: prettier --write

Fix sourcemap (#4830)
  package.json
Due: prettier --write

Fix dockerfile double build
  Dockerfile
Due: none

Fix dockerfile double build (#4837)
  Dockerfile
Due: none

Space About has its route (#4832)
  src/domain/journey/common/tabs/Dashboard/JourneyDashboardView.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardPage.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardView.tsx
  src/domain/journey/space/routing/SpaceRoute.tsx
Due: eslint --fix, prettier --write

Load spaces on home page incrementally. (#4815)
  src/core/apollo/config/typePolicies.ts
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/journey/space/DashboardSpaces/DashboardSpaces.graphql
  src/domain/journey/space/DashboardSpaces/SpacesSection.tsx
  src/domain/shared/components/DashboardSections/DashboardSpacesSection.tsx
Due: eslint --fix, prettier --write

update dutch
  src/core/i18n/nl/translation.nl.json
Due: prettier --write

Translations updates (#4822)
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
Due: prettier --write

Set admins on opportunity.
  src/domain/journey/opportunity/pages/AdminOpportunityCommunityPage.tsx
Due: eslint --fix, prettier --write

Remove hash suffixes of minimized js files and sourcemaps
  vite.config.mjs
  vite.sentry.config.mjs
Due: none

Remove hash suffixes of minimized js files and sourcemaps (#4846)
  vite.config.mjs
  vite.sentry.config.mjs
Due: none

Fix VITE import
  src/core/ui/upload/VisualUpload/CropDialog.tsx
Due: eslint --fix, prettier --write

Fix VITE import (#4848)
  src/core/ui/upload/VisualUpload/CropDialog.tsx
Due: eslint --fix, prettier --write
