Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Added Sentry logging on 404
  src/core/pages/Errors/Error404.tsx
  src/services/logging/sentry/log.ts
Due: eslint --fix, prettier --write

Fix scroll moved
  src/core/ui/card/CardsLayout/ScrollableCardsLayoutContainer.tsx
  src/core/ui/overflow/ScrollerWithGradient.tsx
  src/domain/challenge/challenge/views/ChallengeExplorer/ChallengeExplorerListView.tsx
  src/domain/challenge/challenge/views/ChallengeExplorer/ChallengeExplorerSearchView.tsx
  src/domain/timeline/calendar/views/CalendarEventsList.tsx
Due: eslint --fix, prettier --write

Change translation
  src/core/i18n/en/translation.en.json
Due: prettier --write

Remove TODO
  src/core/ui/upload/FileUpload/FileUpload.tsx
Due: eslint --fix, prettier --write

undo rename of sentry package
  package-lock.json
Due: prettier --write

additional graphql file renaming
  src/common/components/composite/entities/Space/Cards.tsx
  src/common/components/composite/entities/Space/InterestModal.tsx
  src/core/auth/authorization/graphql/mutations/privileges/assign/assignUserAsGlobalSpacesAdmin.graphql
  src/core/auth/authorization/graphql/mutations/privileges/assign/assignUserAsSpaceAdmin.graphql
  src/core/auth/authorization/graphql/mutations/privileges/remove/removeUserAsGlobalSpacesAdmin.graphql
  src/core/auth/authorization/graphql/mutations/privileges/remove/removeUserAsSpaceAdmin.graphql
  src/domain/common/preference/usePreferences/hspacePreferences.graphql
  src/domain/common/preference/usePreferences/updatePreferenceOnSpace.graphql
  src/domain/community/application/graphql/queries/applicationBySpace.graphql
  src/domain/community/application/graphql/queries/spaceApplication.graphql
  src/domain/community/community/CommunityContext/spaceCommunity.graphql
  src/domain/community/community/useCommunityAssignment/spaceCommunityMembers.graphql
Due: eslint --fix, prettier --write

additional graphql file renaming
  src/domain/common/preference/usePreferences/spacePreferences.graphql
Due: none

renamed aspect to post
  src/domain/collaboration/post/comments/usePostCommentsMessageReceivedSubscription.ts
Due: eslint --fix, prettier --write

renamed aspect to post (missed one)
  src/domain/collaboration/post/comments/usePostCommentsMessageReceivedSubscription.ts
Due: eslint --fix, prettier --write

correct link set
  src/common/constants/index.ts
  src/common/constants/links.ts
  src/domain/platform/TopLevelPages/InnovationLibraryPage/InnovationLibraryPage.tsx
Due: eslint --fix, prettier --write

Fix SignIn/Up default return url
  src/core/auth/authentication/utils/SignUpReturnUrl.ts
Due: eslint --fix, prettier --write

Try fixing loging issue
  src/core/auth/authentication/pages/LoginSuccessPage.tsx
  src/core/auth/authentication/pages/SignUp.tsx
  src/core/auth/authentication/utils/SignUpReturnUrl.ts
Due: eslint --fix, prettier --write

Fix scroll moved (#4259)
  src/core/ui/card/CardsLayout/ScrollableCardsLayoutContainer.tsx
  src/core/ui/overflow/ScrollerWithGradient.tsx
  src/domain/challenge/challenge/views/ChallengeExplorer/ChallengeExplorerListView.tsx
  src/domain/challenge/challenge/views/ChallengeExplorer/ChallengeExplorerSearchView.tsx
  src/domain/timeline/calendar/views/CalendarEventsList.tsx
Due: eslint --fix, prettier --write

Fix callout creation.
  src/domain/collaboration/callout/CalloutForm.tsx
  src/domain/collaboration/callout/creation-dialog/CalloutCreationDialog.tsx
Due: eslint --fix, prettier --write

Update translation.en.json
  src/core/i18n/en/translation.en.json
Due: prettier --write

News into updates from the leads
  src/core/i18n/en/translation.en.json
Due: prettier --write

Updated activity log actions
  src/core/i18n/en/translation.en.json
Due: prettier --write

translation
  src/core/i18n/en/translation.en.json
Due: prettier --write

Add referrer to the Sentry entries when 404
  src/services/logging/sentry/log.ts
Due: eslint --fix, prettier --write

changed title, simone's request
  src/domain/collaboration/InnovationPack/DashboardInnovationPacks/DashboardInnovationPacks.tsx
  src/domain/collaboration/InnovationPack/DashboardLibraryTemplates/DashboardLibraryTemplates.tsx
Due: eslint --fix, prettier --write

Graphql
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/platform/InnovationHub/InnovationHubsAdmin/InnovationHubsAdmin.graphql
Due: eslint --fix, prettier --write

Tabs and Routes
  src/core/routing/urlParams.ts
  src/domain/platform/InnovationHub/InnovationHubsAdmin/InnovationHubsAdminRoutes.tsx
  src/domain/platform/admin/layout/toplevel/constants.ts
  src/domain/platform/admin/routing/AdminRoute.tsx
Due: eslint --fix, prettier --write

Fix search terms.
  src/domain/platform/search/Filter.ts
Due: eslint --fix, prettier --write

Finish
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/platform/InnovationHub/InnovationHubsAdmin/AdminInnovationHubPage.tsx
  src/domain/platform/InnovationHub/InnovationHubsAdmin/AdminInnovationHubsPage.tsx
  src/domain/platform/InnovationHub/InnovationHubsAdmin/AdminNewInnovationHubPage.tsx
  src/domain/platform/InnovationHub/InnovationHubsAdmin/InnovationHubForm.tsx
  src/domain/platform/InnovationHub/InnovationHubsAdmin/InnovationHubsAdmin.graphql
  src/domain/platform/InnovationHub/InnovationHubsAdmin/InnovationHubsAdminRoutes.tsx
  src/domain/platform/TopLevelPages/InnovationLibraryPage/InnovationLibraryPage.tsx
Due: eslint --fix, prettier --write

fix
  src/domain/platform/InnovationHub/InnovationHubsAdmin/AdminNewInnovationHubPage.tsx
Due: eslint --fix, prettier --write

Add referrer as an extra prorperty to the sentry 404s
  src/services/logging/sentry/log.ts
Due: eslint --fix, prettier --write

Remove console.log
  src/domain/platform/InnovationHub/InnovationHubsAdmin/AdminNewInnovationHubPage.tsx
Due: eslint --fix, prettier --write

Use innovation library link from platform config.
  src/common/constants/index.ts
  src/common/constants/links.ts
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/platform/TopLevelPages/InnovationLibraryPage/InnovationLibraryPage.tsx
  src/domain/platform/config/configuration.graphql
  src/domain/platform/config/configuration.ts
Due: eslint --fix, prettier --write

updated graphql mutations to use new api; optimization of client code for later
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/community/community/useCommunityAssignment/communityRoleMutations.graphql
  src/domain/community/community/useCommunityAssignment/mutations.graphql
Due: eslint --fix, prettier --write

removed usage of dedicated mutations for managing admins on journeys
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/auth/authorization/graphql/mutations/privileges/assign/assignUserAsChallengeAdmin.graphql
  src/core/auth/authorization/graphql/mutations/privileges/assign/assignUserAsSpaceAdmin.graphql
  src/core/auth/authorization/graphql/mutations/privileges/remove/removeUserAsChallengeAdmin.graphql
  src/core/auth/authorization/graphql/mutations/privileges/remove/removeUserAsSpaceAdmin.graphql
  src/domain/challenge/challenge/pages/ChallengeAuthorization/ChallengeAuthorizationView.tsx
  src/domain/challenge/opportunity/containers/OpportunityMembers.graphql
  src/domain/challenge/opportunity/containers/OpportunityMembers.tsx
  src/domain/challenge/space/SpaceCommunityPage/SpaceAuthorizationView.tsx
  src/domain/challenge/space/pages/SpaceCommunity/useSpaceCommunityContext.ts
  src/domain/community/community/useCommunityAssignment/communityRoleMutations.graphql
Due: eslint --fix, prettier --write

updated graphql queries to work with new roles fields for users + orgs on community
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/challenge/common/JourneyUnauthorizedDialog/JourneyData.graphql
  src/domain/challenge/space/SpaceCommunityPage/SpaceCommunityPageQueries.graphql
  src/domain/challenge/space/SpaceDashboard/SpaceDashboard.graphql
  src/domain/community/community/CommunityContributors/ComunityContributorsQueries.graphql
  src/domain/community/community/EntityDashboardCommunity/EntityDashboardCommunity.graphql
  src/domain/community/community/useCommunityAssignment/challengeCommunityMembers.graphql
  src/domain/community/community/useCommunityAssignment/opportunityCommunityMembers.graphql
  src/domain/community/community/useCommunityAssignment/spaceCommunityMembers.graphql
Due: eslint --fix, prettier --write

fixed typing mapping
  src/domain/challenge/common/AboutPageContainer/AboutPageContainer.tsx
Due: eslint --fix, prettier --write

Messages subscriptions through roomEvents
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/callout/useSubscribeOnRoomEvents.ts
  src/domain/collaboration/post/comments/usePostCommentsMessageReceivedSubscription.ts
  src/domain/collaboration/post/containers/PostDashboardContainer/PostDashboardContainer.tsx
  src/domain/communication/discussion/pages/DiscussionPage.tsx
  src/domain/communication/room/Comments/useCommentReactionsMutations.ts
  src/domain/communication/room/graphql/roomSubscriptions.graphql
  src/domain/timeline/calendar/CalendarEventDetailContainer.tsx
  src/domain/timeline/calendar/calendar/useCalendarEventCommentsMessageReceivedSubscription.tsx
Due: eslint --fix, prettier --write

Handle delete messages
  src/domain/collaboration/callout/useSubscribeOnRoomEvents.ts
Due: eslint --fix, prettier --write

Fix cache warning
  src/core/apollo/config/typePolicies.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
