Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": "prettier --write"
}

inactive spaces + demo label fix
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/community/contributor/Account/AccountResourcesView.tsx
  src/domain/community/contributor/Contributions/ContributionCard.tsx
  src/domain/community/contributor/useAccountResources/AccountResourcesInfo.graphql
  src/domain/community/organization/useOrganization/useOrganizationQueries.graphql
  src/domain/community/profile/useContributionProvider/useContributionProvider.ts
  src/domain/community/profile/useContributionProvider/useContributionQueries.graphql
  src/domain/community/user/userContributions/UserContributions.graphql
  src/domain/innovationHub/InnovationHubsSettings/InnovationHubAvailableSpaces.graphql
  src/domain/platformAdmin/domain/space/AdminSpaceListPage/SpaceSettingsDialog.tsx
  src/domain/platformAdmin/domain/space/AdminSpaceListPage/platformAdminSpacesList.graphql
  src/domain/space/components/cards/SpaceCard.tsx
  src/domain/space/layout/tabbedLayout/layout/SpaceVisibilityNotice.tsx
  src/main/search/SearchQueries.graphql
  src/main/topLevelPages/myDashboard/recentSpaces/HomeSpaceLookup.graphql
  src/main/topLevelPages/myDashboard/recentSpaces/RecentSpaces.graphql
  src/main/topLevelPages/myDashboard/recentSpaces/RecentSpacesList.tsx
Due: eslint --fix, prettier --write

Fix infinite loop in LinesFitter when itemsToDisplayCount reaches zero
  src/domain/shared/components/LinesFitter/LinesFitter.tsx
Due: eslint --fix, prettier --write

Rename notification payload field contributor to actor
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/main/inAppNotifications/graphql/InAppNotificationsFragments.graphql
  src/main/inAppNotifications/model/InAppNotificationPayloadModel.tsx
  src/main/inAppNotifications/views/space/InAppSpaceAdminCommunityNewMemberView.tsx
  src/main/inAppNotifications/views/virtualContributor/InAppVirtualContributorAdminSpaceCommunityInvitationDeclinedView.tsx
  src/main/inAppNotifications/views/virtualContributor/InAppVirtualContributorAdminSpaceCommunityInvitationView.tsx
Due: eslint --fix, prettier --write

Address comments
  src/domain/timeline/calendar/components/ExportEventsToIcsButton.tsx
Due: eslint --fix, prettier --write

Remove GRAPHQL_ENDPOINT variable
  Dockerfile
Due: none

Actor fixes s01e03 (#9366)
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/shared/components/LinesFitter/LinesFitter.tsx
  src/main/inAppNotifications/graphql/InAppNotificationsFragments.graphql
  src/main/inAppNotifications/model/InAppNotificationPayloadModel.tsx
  src/main/inAppNotifications/views/space/InAppSpaceAdminCommunityNewMemberView.tsx
  src/main/inAppNotifications/views/virtualContributor/InAppVirtualContributorAdminSpaceCommunityInvitationDeclinedView.tsx
  src/main/inAppNotifications/views/virtualContributor/InAppVirtualContributorAdminSpaceCommunityInvitationView.tsx
Due: eslint --fix, prettier --write

Remove it from buildConfiguration
  README.md
  buildConfiguration.js
Due: prettier --write

Remove GRAPHQL_ENDPOINT variable (#9367)
  Dockerfile
  README.md
  buildConfiguration.js
Due: prettier --write

update spec
  specs/015-optimize-request-loading/spec.md
  specs/015-optimize-request-loading/tasks.md
Due: prettier --write

init impl
  src/core/analytics/apm/context/ApmProvider.tsx
  src/core/analytics/geo/UserGeoProvider.tsx
  src/core/apollo/graphqlLinks/httpLink.ts
  src/core/apollo/graphqlLinks/retryLink.ts
  src/core/auth/authentication/constants/authentication.constants.ts
  src/domain/community/pendingMembership/usePendingInvitationsCount.ts
  src/domain/community/userCurrent/CurrentUserProvider/CurrentUserProvider.tsx
  src/domain/innovationHub/useInnovationHub/useInnovationHub.ts
  src/domain/innovationHub/useSpaceBreadcrumbsTopLevelItem.ts
  src/main/topLevelPages/myDashboard/Campaigns/CampaignBlock.tsx
  src/main/topLevelPages/myDashboard/InvitationsBlock/InvitationsBlock.tsx
Due: eslint --fix, prettier --write

cleanup
  specs/015-optimize-request-loading/tasks.md
  src/root.tsx
Due: eslint --fix, prettier --write

feat: reduce GraphQL over-fetching on home page
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/whiteboard/guestAccess/hooks/useGuestSession.ts
  src/domain/collaboration/whiteboard/guestAccess/tests/derivedFallbackPrompt.spec.tsx
  src/domain/collaboration/whiteboard/guestAccess/tests/derivedHeaderInjection.spec.tsx
  src/domain/collaboration/whiteboard/guestAccess/tests/derivedNoPrompt.spec.tsx
  src/domain/collaboration/whiteboard/guestAccess/tests/derivedPartial.spec.tsx
  src/domain/collaboration/whiteboard/guestAccess/tests/error403.spec.tsx
  src/domain/collaboration/whiteboard/guestAccess/tests/error404.spec.tsx
  src/domain/collaboration/whiteboard/guestAccess/tests/error500.spec.tsx
  src/domain/collaboration/whiteboard/guestAccess/tests/guestAccessDisabled404.spec.tsx
  src/domain/collaboration/whiteboard/guestAccess/tests/headerActions.spec.tsx
  src/domain/community/user/graphql/fragments/UserDetailsLight.graphql
  src/domain/community/userCurrent/CurrentUserProvider/CurrentUserLight.graphql
  src/domain/community/userCurrent/CurrentUserProvider/CurrentUserProvider.tsx
  src/domain/space/components/CreateSpace/hooks/useSpaceCreation/useSpaceCreation.ts
  src/domain/space/components/CreateSpace/hooks/useSubspaceCreation/useSubspaceCreation.ts
  src/main/public/whiteboard/PublicWhiteboardPage.tsx
  src/main/topLevelPages/myDashboard/ExploreSpaces/ExploreSpaces.graphql
  src/main/topLevelPages/myDashboard/ExploreSpaces/ExploreSpacesContainer.tsx
  src/main/topLevelPages/myDashboard/latestContributions/LatestContributionsSpacesFlat.graphql
Due: eslint --fix, prettier --write

fix specs backwards
  specs/015-optimize-request-loading/contracts/apollo-link-chain.md
  specs/015-optimize-request-loading/contracts/provider-tree.md
  specs/015-optimize-request-loading/contracts/query-consolidation.md
  specs/015-optimize-request-loading/data-model.md
  specs/015-optimize-request-loading/plan.md
  specs/015-optimize-request-loading/quickstart.md
  specs/015-optimize-request-loading/research.md
  specs/015-optimize-request-loading/spec.md
  specs/015-optimize-request-loading/tasks.md
Due: prettier --write

lodash-es types package
  package.json
  pnpm-lock.yaml
Due: prettier --write

Speed step 1: Optimize request loading (#9369)
  specs/015-optimize-request-loading/checklists/requirements.md
  specs/015-optimize-request-loading/contracts/apollo-link-chain.md
  specs/015-optimize-request-loading/contracts/provider-tree.md
  specs/015-optimize-request-loading/contracts/query-consolidation.md
  specs/015-optimize-request-loading/data-model.md
  specs/015-optimize-request-loading/plan.md
  specs/015-optimize-request-loading/quickstart.md
  specs/015-optimize-request-loading/research.md
  specs/015-optimize-request-loading/spec.md
  specs/015-optimize-request-loading/tasks.md
  src/core/analytics/apm/context/ApmProvider.tsx
  src/core/analytics/geo/UserGeoProvider.tsx
  src/core/apollo/graphqlLinks/httpLink.ts
  src/core/apollo/graphqlLinks/retryLink.ts
  src/core/auth/authentication/constants/authentication.constants.ts
  src/domain/community/pendingMembership/usePendingInvitationsCount.ts
  src/domain/community/userCurrent/CurrentUserProvider/CurrentUserProvider.tsx
  src/domain/innovationHub/useInnovationHub/useInnovationHub.ts
  src/domain/innovationHub/useSpaceBreadcrumbsTopLevelItem.ts
  src/main/topLevelPages/myDashboard/Campaigns/CampaignBlock.tsx
  src/main/topLevelPages/myDashboard/InvitationsBlock/InvitationsBlock.tsx
  src/root.tsx
Due: eslint --fix, prettier --write

revert conflicts
  specs/015-optimize-request-loading/contracts/apollo-link-chain.md
  specs/015-optimize-request-loading/contracts/provider-tree.md
  specs/015-optimize-request-loading/contracts/query-consolidation.md
  specs/015-optimize-request-loading/data-model.md
  specs/015-optimize-request-loading/plan.md
  specs/015-optimize-request-loading/quickstart.md
  specs/015-optimize-request-loading/research.md
  specs/015-optimize-request-loading/spec.md
  specs/015-optimize-request-loading/tasks.md
Due: prettier --write

fix specs backwards
  specs/016-optimize-bundle-size/checklists/requirements.md
  specs/016-optimize-bundle-size/plan.md
  specs/016-optimize-bundle-size/quickstart.md
  specs/016-optimize-bundle-size/research.md
  specs/016-optimize-bundle-size/spec.md
Due: prettier --write

docs
  specs/016-optimize-bundle-size/plan.md
Due: prettier --write

fix chunking
  vite.config.mjs
Due: none

Existing workflows migrated to self-hosted runners (#9360)
  .github/workflows/ci-build.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-test.yml
  .travis.yml
Due: none

vite sentry config fix too
  vite.sentry.config.mjs
Due: none

Fix infinite loop when viewing whiteboard visuals without contribute rights
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
  src/domain/common/whiteboard/excalidraw/useWhiteboardFilesManager.ts
Due: eslint --fix, prettier --write

Clarify that loading.uploadingFile becomes stale when excluded from useMemo deps
  src/domain/common/whiteboard/excalidraw/useWhiteboardFilesManager.ts
Due: eslint --fix, prettier --write

Clear failed uploads when storageBucketId changes
  src/domain/common/whiteboard/excalidraw/useWhiteboardFilesManager.ts
Due: eslint --fix, prettier --write

inactive spaces + demo label fix (#9364)
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/community/contributor/Account/AccountResourcesView.tsx
  src/domain/community/contributor/Contributions/ContributionCard.tsx
  src/domain/community/contributor/useAccountResources/AccountResourcesInfo.graphql
  src/domain/community/organization/useOrganization/useOrganizationQueries.graphql
  src/domain/community/profile/useContributionProvider/useContributionProvider.ts
  src/domain/community/profile/useContributionProvider/useContributionQueries.graphql
  src/domain/community/user/userContributions/UserContributions.graphql
  src/domain/innovationHub/InnovationHubsSettings/InnovationHubAvailableSpaces.graphql
  src/domain/platformAdmin/domain/space/AdminSpaceListPage/SpaceSettingsDialog.tsx
  src/domain/platformAdmin/domain/space/AdminSpaceListPage/platformAdminSpacesList.graphql
  src/domain/space/components/cards/SpaceCard.tsx
  src/domain/space/layout/tabbedLayout/layout/SpaceVisibilityNotice.tsx
  src/main/search/SearchQueries.graphql
  src/main/topLevelPages/myDashboard/recentSpaces/HomeSpaceLookup.graphql
  src/main/topLevelPages/myDashboard/recentSpaces/RecentSpaces.graphql
  src/main/topLevelPages/myDashboard/recentSpaces/RecentSpacesList.tsx
Due: eslint --fix, prettier --write

translation change
  src/core/i18n/en/translation.en.json
Due: prettier --write

Rename contributor to actor across GraphQL schema, models, and UI components
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/access/ApplicationsAndInvitations/InvitationsMutations.graphql
  src/domain/access/ApplicationsAndInvitations/RoleSetApplicationsInvitations.graphql
  src/domain/access/ApplicationsAndInvitations/useRoleSetApplicationsAndInvitations.ts
  src/domain/access/model/ApplicationModel.ts
  src/domain/access/model/InvitationDataModel.ts
  src/domain/access/model/InvitationModel.ts
  src/domain/access/model/InvitationResultModel.ts
  src/domain/collaboration/activity/ActivityLog/ActivityComponent.tsx
  src/domain/collaboration/activity/ActivityLog/activityLogFragments.graphql
  src/domain/collaboration/activity/useActivityLogOnCollaboration/useActivityOnCollaboration.ts
  src/domain/community/invitations/InvitationCardHorizontal/InvitationCardHorizontal.tsx
  src/domain/community/invitations/InvitationDialog.tsx
  src/domain/community/invitations/SingleInvitationFull.tsx
  src/domain/community/inviteContributors/users/InvitationsResultDialogContent.tsx
  src/domain/community/inviteContributors/users/InviteUsersDialog.tsx
  src/domain/community/inviteContributors/virtualContributors/InviteVirtualContributorDialog.tsx
  src/domain/community/pendingMembership/PendingMembershipsDialog.tsx
  src/domain/community/user/FormikUserSelector/FormikUserSelector.tsx
  src/domain/community/userCurrent/CurrentUserProvider/CurrentUserFull.graphql
  src/domain/community/virtualContributor/vcMembershipPage/VCMembershipPage.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityApplicationDialog/CommunityApplication.graphql
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityApplicationDialog/CommunityApplicationDialog.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityInvitationDialog/CommunityInvitation.graphql
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityInvitationDialog/CommunityInvitationDialog.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityMemberships.tsx
  src/main/inAppNotifications/graphql/InAppNotificationsFragments.graphql
  src/main/search/SearchQueries.graphql
  src/main/search/SearchView.tsx
  src/main/search/ui/SearchCategoriesMenu.tsx
  src/main/topLevelPages/myDashboard/InvitationsBlock/PendingInvitations.graphql
Due: eslint --fix, prettier --write

Fix infinite loop when viewing whiteboard visuals without contribute rights (#9371)
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
  src/domain/common/whiteboard/excalidraw/useWhiteboardFilesManager.ts
Due: eslint --fix, prettier --write

Stop leaking Sentry auth token to the browser
  .env
  Dockerfile
  vite.sentry.config.mjs
Due: none

fix: prevent double WebSocket connection in collaborative document provider
  src/core/ui/forms/CollaborativeMarkdownInput/hooks/useCollaboration.ts
Due: eslint --fix, prettier --write

Added RFC 5545 §3.1 line length limit
  src/domain/timeline/calendar/components/ExportEventsToIcsButton.tsx
  src/domain/timeline/calendar/utils/icsUtils.test.ts
  src/domain/timeline/calendar/utils/icsUtils.ts
Due: eslint --fix, prettier --write

Stop leaking Sentry auth token to the browser (#9376)
  .env
  Dockerfile
  vite.sentry.config.mjs
Due: none

Stop leaking build-time env vars to the browser
  .env
  Dockerfile
  src/core/analytics/apm/useApmInit.ts
  src/core/help/dialog/HelpDialog.tsx
  src/core/logging/sentry/bootstrap.ts
  src/main/ui/layout/topLevelWrappers/App.tsx
  src/main/versionHandling.tsx
Due: eslint --fix, prettier --write

Rename CalloutAllowedContributors to CalloutAllowedActors and fix remaining contributor references
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/callout/CalloutForm/CalloutForm.tsx
  src/domain/collaboration/callout/CalloutForm/CalloutFormModel.ts
  src/domain/collaboration/callout/CalloutForm/ContributionSettingsDialog/ContributionsSettings.tsx
  src/domain/collaboration/callout/models/CalloutSettingsModel.ts
  src/domain/collaboration/calloutContributions/useCalloutContributions/useCalloutCollaborationPermissions.ts
  src/domain/collaboration/calloutsSet/useCalloutCreation/useCalloutCreation.ts
  src/domain/community/user/models/PendingInvitationItem.ts
  src/domain/templates/models/common.ts
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/AddContent/AddContentProps.ts
Due: eslint --fix, prettier --write

Calendar graphical tweaks
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/timeline/calendar/calendarQueries.graphql
  src/domain/timeline/calendar/components/AddToCalendarButton.tsx
  src/domain/timeline/calendar/components/ExportEventsToIcsButton.tsx
  src/domain/timeline/calendar/components/icons/AddToCalendarIcons.tsx
  src/domain/timeline/calendar/components/icons/apple.svg
  src/domain/timeline/calendar/components/icons/download-calendar.svg
Due: eslint --fix, prettier --write

0.134.0
  package.json
Due: prettier --write
