Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix the edit of Space Template.
  src/core/i18n/en/translation.en.json
  src/domain/templates/components/Forms/TemplateSpaceForm.tsx
Due: eslint --fix, prettier --write

fix
  src/domain/templates/components/Forms/TemplateSpaceForm.tsx
Due: eslint --fix, prettier --write

Fix the edit of Space Templates (#8337)
  src/core/i18n/en/translation.en.json
  src/domain/templates/components/Forms/TemplateSpaceForm.tsx
Due: eslint --fix, prettier --write

0.95.0
  package-lock.json
  package.json
Due: prettier --write

fix the space tmpl edit 2
  src/domain/templates/components/Forms/TemplateSpaceForm.tsx
Due: eslint --fix, prettier --write

0.96.0
  package-lock.json
  package.json
Due: prettier --write

No cache for meta.json
  .build/.nginx/nginx.conf
  public/service-worker.js
Due: none

Extends SPA route no-cache to meta.json
  vite.config.mjs
Due: none

removed comments
  vite.config.mjs
Due: none

Meta json no cache (version detection SW) (#8338)
  .build/.nginx/nginx.conf
  public/service-worker.js
  vite.config.mjs
Due: none

0.97.0
  package-lock.json
  package.json
Due: prettier --write

fix SW interval
  public/service-worker.js
Due: none

fix SW interval (#8339)
  public/service-worker.js
Due: none

0.98.0
  package-lock.json
  package.json
Due: prettier --write

SW version detection interval moved to the client
  public/service-worker.js
  src/serviceWorker.ts
Due: eslint --fix, prettier --write

SW version detection interval moved to the client (#8340)
  public/service-worker.js
  src/serviceWorker.ts
Due: eslint --fix, prettier --write

0.99.0
  package-lock.json
  package.json
Due: prettier --write

Move innovation flow settings button to the left and rename + Collab Tool
  src/domain/collaboration/InnovationFlow/InnovationFlowVisualizers/InnovationFlowChips.tsx
  src/domain/space/layout/SubspacePageLayout.tsx
Due: eslint --fix, prettier --write

Remove dialog state from useCalloutCreation
  src/domain/collaboration/calloutsSet/CalloutsInContext/CalloutsGroupView.tsx
  src/domain/collaboration/calloutsSet/useCalloutCreation/useCalloutCreation.ts
  src/domain/space/layout/tabbedLayout/Tabs/SpaceKnowledgeBase/SpaceKnowledgeBasePage.tsx
Due: eslint --fix, prettier --write

hard reload after version mismatch to bypass Safari's cache
  src/main/versionHandling.tsx
Due: eslint --fix, prettier --write

Rename and add utils
  src/core/i18n/en/translation.en.json
  src/core/ui/actions/ActionsBar/ActionsBar.tsx
  src/domain/collaboration/calloutsSet/CalloutsInContext/CalloutsGroupView.tsx
  src/domain/collaboration/calloutsSet/Classification/ClassificationTagset.model.ts
  src/domain/collaboration/calloutsSet/Classification/ClassificationTagset.utils.ts
  src/domain/collaboration/calloutsSet/useCalloutsSet/useCalloutsSet.ts
Due: eslint --fix, prettier --write

a few forms tweaks
  src/core/ui/forms/FormikInputField/FormikInputField.tsx
  src/domain/InnovationPack/admin/InnovationPackForm.tsx
  src/domain/community/virtualContributorAdmin/vcSettingsPage/VirtualContributorForm.tsx
  src/domain/innovationHub/InnovationHubsSettings/InnovationHubForm.tsx
  src/domain/platform/admin/components/Common/TagsetSegment.tsx
  src/domain/platform/admin/components/Organization/OrganizationForm.tsx
Due: eslint --fix, prettier --write

repurposed nameOf clause
  src/core/utils/nameOf.ts
  src/main/routing/urlParams.ts
Due: eslint --fix, prettier --write

wip
  src/core/i18n/en/translation.en.json
  src/domain/space/layout/SubspacePageLayout.tsx
  src/domain/space/layout/flowLayout/SubspaceHomePage.tsx
  src/domain/space/layout/tabbedLayout/SpaceTabProvider.tsx
Due: eslint --fix, prettier --write

WIP
  src/domain/collaboration/new-callout/CreateCallout/CalloutForm.tsx
  src/domain/collaboration/new-callout/CreateCallout/CreateCalloutDialog.tsx
Due: eslint --fix, prettier --write

hard reload after version mismatch to bypass Safari's cache (#8345)
  src/main/versionHandling.tsx
Due: eslint --fix, prettier --write

Handles missing email claim during registration
  src/core/auth/authentication/components/Kratos/messages.tsx
  src/core/auth/authentication/pages/RegistrationPage.tsx
  src/core/i18n/en/translation.en.json
Due: eslint --fix, prettier --write

Improves registration error handling
  src/core/auth/authentication/pages/RegistrationPage.tsx
Due: eslint --fix, prettier --write

Simplify some forms API
  src/core/ui/forms/radioButtons/RadioButtonsGroup.tsx
  src/core/utils/nameOf.ts
  src/domain/InnovationPack/admin/InnovationPackForm.tsx
  src/domain/collaboration/callout/CalloutForm.tsx
  src/domain/collaboration/post/PostForm/PostForm.tsx
  src/domain/common/profile/ProfileForm.tsx
  src/domain/community/user/userForm/UserForm.tsx
  src/domain/community/virtualContributorAdmin/vcSettingsPage/VirtualContributorForm.tsx
  src/domain/innovationHub/InnovationHubsSettings/InnovationHubForm.tsx
  src/domain/platform/admin/components/Common/TagsetSegment.tsx
  src/domain/platform/admin/components/Organization/OrganizationForm.tsx
  src/domain/space/createSpace/CreateSpaceDialog.tsx
Due: eslint --fix, prettier --write

Handles missing email claim during OIDC
  src/core/auth/authentication/components/Kratos/messages.tsx
  src/core/auth/authentication/pages/RegistrationPage.tsx
  src/core/i18n/en/translation.en.json
Due: eslint --fix, prettier --write

Whiteboard form
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/new-callout/CreateCallout/CalloutForm.tsx
  src/domain/collaboration/new-callout/CreateCallout/CalloutFormAdditionalContent.tsx
  src/domain/collaboration/new-callout/CreateCallout/constants.ts
  src/domain/collaboration/whiteboard/WhiteboardPreview/FormikWhiteboardPreview.tsx
  src/domain/platform/admin/components/Common/ReferenceSegment.tsx
Due: eslint --fix, prettier --write

wip
  src/core/i18n/en/translation.en.json
  src/core/ui/content/ExpandableBlock/ExpandableBlock.tsx
  src/core/ui/forms/radioButtons/RadioButtonsGroup.tsx
  src/domain/collaboration/new-callout/CreateCallout/CalloutForm.tsx
  src/domain/collaboration/new-callout/CreateCallout/CalloutFormAdditionalContent.tsx
  src/domain/collaboration/new-callout/CreateCallout/CalloutFormResponseOptions.tsx
  src/domain/collaboration/new-callout/CreateCallout/constants.ts
  src/domain/collaboration/whiteboard/WhiteboardPreview/FormikWhiteboardPreview.tsx
Due: eslint --fix, prettier --write

Fix Sign In, Sign Up buttons on forum and contributors
  src/domain/communication/discussion/views/DiscussionView.tsx
  src/domain/communication/room/Comments/MessageWithRepliesView.tsx
  src/domain/communication/room/Comments/MessagesThread.tsx
  src/domain/shared/components/Backdrops/ImageBackdrop.tsx
  src/main/routing/urlBuilders.ts
Due: eslint --fix, prettier --write

simplify this
  src/domain/communication/room/Comments/MessageWithRepliesView.tsx
Due: eslint --fix, prettier --write

tags on templates
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/ui/content/BasePageContentBlock.tsx
  src/core/ui/content/PageContentColumnBase.tsx
  src/domain/templates/components/Previews/TemplateContentCalloutPreview.tsx
  src/domain/templates/graphql/TemplateContent.graphql
Due: eslint --fix, prettier --write

fix time position on invite horizontal card
  src/core/i18n/en/translation.en.json
  src/domain/community/invitations/InvitationCardHorizontal/InvitationCardHorizontal.tsx
Due: eslint --fix, prettier --write

Fix the privacy display of subspace in the Space Dashboard side navigation
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/space/components/spaceDashboardNavigation/SpaceDashboardNavigation.graphql
  src/domain/space/components/spaceDashboardNavigation/useSpaceDashboardNavigation.ts
Due: eslint --fix, prettier --write

Fix the privacy display in Subspace Space view - linksList
  src/core/ui/list/LinksList.tsx
  src/domain/space/components/subspaces/SubspaceView.tsx
Due: eslint --fix, prettier --write

tweaks
  src/core/ui/forms/radioButtons/RadioButtonsGroup.tsx
  src/domain/collaboration/whiteboard/WhiteboardPreview/FormikWhiteboardPreview.tsx
Due: eslint --fix, prettier --write

style of the expandable block
  src/core/ui/content/ExpandableBlock/ExpandableBlock.tsx
  src/core/ui/content/PageContentBlockCollapsible.tsx
  src/domain/collaboration/new-callout/CreateCallout/CalloutFormResponseOptions.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
