Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

hide pen button on closed link callout type (#7201)
  src/domain/collaboration/callout/CalloutView/CalloutView.tsx
  src/domain/collaboration/callout/JourneyCalloutsTabView/CalloutsView.tsx
  src/domain/collaboration/callout/useCallouts/CalloutDetailsContainer.tsx
  src/domain/shared/components/References/ReferenceView.tsx
Due: eslint --fix, prettier --write

run sort-package-json
  package.json
Due: prettier --write

show my resources regardless of the activity view enabled (#7202)
  src/main/topLevelPages/myDashboard/myResources/MyResources.tsx
Due: eslint --fix, prettier --write

remove the questionmark icon next to the comment input field (#7200)
  src/domain/communication/room/Comments/FormikCommentInputField.tsx
  src/main/ui/helpButton/PlatformHelpButton.tsx
Due: eslint --fix, prettier --write

Fix view on mobile
  src/domain/InnovationPack/DashboardInnovationPacks/InnovationPacksView.tsx
Due: eslint --fix, prettier --write

reenable cache
  src/domain/InnovationPack/CreateInnovationPackDialog/CreateInnovationPackDialog.tsx
  src/main/topLevelPages/InnovationLibraryPage/InnovationLibraryPage.tsx
Due: eslint --fix, prettier --write

Also fix the mobile view of the bottom cards
  src/domain/InnovationPack/DashboardInnovationPacks/InnovationPacksView.tsx
  src/domain/InnovationPack/DashboardLibraryTemplates/LibraryTemplatesView.tsx
Due: eslint --fix, prettier --write

Add loading indicators in innovation library (#7198)
  src/core/ui/card/ContributeCardSkeleton.tsx
  src/domain/InnovationPack/CreateInnovationPackDialog/CreateInnovationPackDialog.tsx
  src/domain/InnovationPack/DashboardInnovationPacks/DashboardInnovationPacks.tsx
  src/domain/InnovationPack/DashboardInnovationPacks/InnovationPacksView.tsx
  src/domain/InnovationPack/DashboardLibraryTemplates/DashboardLibraryTemplates.tsx
  src/domain/InnovationPack/DashboardLibraryTemplates/LibraryTemplatesView.tsx
  src/main/topLevelPages/InnovationLibraryPage/InnovationLibraryPage.tsx
Due: eslint --fix, prettier --write

Update translation.en.json Subsp template: Enter Subspace URL instead of Space
  src/core/i18n/en/translation.en.json
Due: prettier --write

Fix wrong parameter passing for VC Creation Dialog
  src/domain/journey/space/SpaceDashboard/SpaceDashboardView.tsx
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/TryVirtualContributorDialog.tsx
Due: eslint --fix, prettier --write

address codeRabbit comments
  src/core/ui/button/UploadButton.tsx
  src/core/ui/upload/VisualUpload/VisualUpload.tsx
Due: eslint --fix, prettier --write

Read/Unread menu and functionality
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/main/inAppNotifications/graphql/InAppNotifications.graphql
  src/main/inAppNotifications/useInAppNotifications.ts
  src/main/inAppNotifications/views/CollaborationCalloutPublishedView.tsx
  src/main/inAppNotifications/views/CommunicationUserMentionView.tsx
  src/main/inAppNotifications/views/CommunityNewMemberAdminView.tsx
  src/main/inAppNotifications/views/CommunityNewMemberView.tsx
  src/main/inAppNotifications/views/InAppNotificationBaseView.tsx
  src/main/ui/platformNavigation/PlatformNotificationsButton.tsx
Due: eslint --fix, prettier --write

Fix build
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/TryVirtualContributorDialog.tsx
Due: eslint --fix, prettier --write

Make avatar clickable to allow more intuitive upload (#7168)
  src/core/ui/button/UploadButton.tsx
  src/core/ui/upload/FileUpload/FileUpload.tsx
  src/core/ui/upload/FileUploadWrapper.tsx
  src/core/ui/upload/VisualUpload/VisualUpload.tsx
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/TryVirtualContributorDialog.tsx
Due: eslint --fix, prettier --write

Translations to clarify which documents can be uploaded
  src/core/i18n/en/translation.en.json
Due: prettier --write

fix ts error and merge dev
  src/domain/journey/space/SpaceDashboard/SpaceDashboardView.tsx
Due: eslint --fix, prettier --write

Update translation.en.json Subsp template: Enter Subspace URL instead of Space (#7206)
  src/core/i18n/en/translation.en.json
Due: prettier --write

Translations to clarify which documents can be uploaded (#7210)
  src/core/i18n/en/translation.en.json
Due: prettier --write

Reverse .env.base to original
  .build/docker/.env.base
Due: none

Update .env.base
  .build/docker/.env.base
Due: none

Update translation.en.json
  src/core/i18n/en/translation.en.json
Due: prettier --write

remove .env.base config, the file is generated on build
  .build/docker/.env.base
  .gitignore
Due: none

Update translation.en.json (#7212)
  src/core/i18n/en/translation.en.json
Due: prettier --write

restore this collaborationId
  src/domain/journey/space/SpaceDashboard/SpaceDashboardView.tsx
Due: eslint --fix, prettier --write

Use proper entitlements for authorizing template saving on collaboration
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/authorization/useCollaborationAuthorization.ts
  src/domain/community/user/providers/UserProvider/UserProvider.tsx
  src/domain/license/plans/utils/filterAndMapEnabledEntitlements.ts
Due: eslint --fix, prettier --write

Actions - archive; onClose on click on notif or action; memo and keys added
  src/core/ui/card/ActionsMenu.tsx
  src/main/inAppNotifications/InAppNotificationsList.tsx
  src/main/inAppNotifications/useInAppNotifications.ts
  src/main/inAppNotifications/views/InAppNotificationBaseView.tsx
Due: eslint --fix, prettier --write

translations of actions; sentry warn for unsupported type
  src/core/i18n/en/translation.en.json
  src/core/logging/sentry/log.ts
  src/main/inAppNotifications/InAppNotificationItem.tsx
  src/main/inAppNotifications/views/InAppNotificationBaseView.tsx
Due: eslint --fix, prettier --write

fix my account checks
  src/domain/community/contributor/Account/ContributorAccountView.tsx
Due: eslint --fix, prettier --write

Use proper entitlements for authorizing template saving on collaboration (#7216)
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/authorization/useCollaborationAuthorization.ts
  src/domain/community/user/providers/UserProvider/UserProvider.tsx
  src/domain/license/plans/utils/filterAndMapEnabledEntitlements.ts
Due: eslint --fix, prettier --write

fix innovation pack check
  src/domain/community/contributor/Account/ContributorAccountView.tsx
Due: eslint --fix, prettier --write

add proper entitlement filtering
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/license/plans/utils/filterAndMapEnabledEntitlements.ts
  src/main/topLevelPages/myDashboard/Campaigns/CampaignBlock.graphql
  src/main/topLevelPages/myDashboard/Campaigns/CampaignBlock.tsx
Due: eslint --fix, prettier --write

Create guidance room on demand
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/main/guidance/chatWidget/ChatWidget.tsx
  src/main/guidance/chatWidget/ChatWidgetMutations.graphql
  src/main/guidance/chatWidget/ChatWidgetQueries.graphql
  src/main/guidance/chatWidget/useChatGuidanceCommunication.ts
Due: eslint --fix, prettier --write

Unify the formatting all resrouces in MyResources block
  src/core/ui/card/ContributorCardHorizontal.tsx
  src/domain/InnovationPack/InnovationPackCardHorizontal/InnovationPackCardHorizontal.tsx
  src/domain/community/contributor/Account/AccountResourcesView.tsx
  src/domain/community/contributor/Account/ContributorAccountView.tsx
  src/domain/innovationHub/InnovationHubCardHorizontal/InnovationHubCardHorizontal.tsx
  src/main/topLevelPages/myDashboard/myResources/MyResources.tsx
Due: eslint --fix, prettier --write

Wrapping up
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/main/guidance/chatWidget/ChatWidget.tsx
  src/main/guidance/chatWidget/ChatWidgetMutations.graphql
  src/main/guidance/chatWidget/useChatGuidanceCommunication.ts
Due: eslint --fix, prettier --write

fix translations client-7190
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
  src/core/i18n/pt/translation.pt.json
  src/core/i18n/ua/translation.ua.json
Due: prettier --write

graphql files tweaks
  src/core/apollo/generated/graphql-schema.ts
  src/main/guidance/chatWidget/ChatWidgetMutations.graphql
  src/main/guidance/chatWidget/useChatGuidanceCommunication.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
