Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": "prettier --write"
}

Update common.es.json
  src/crd/i18n/common/common.es.json
Due: prettier --write

test(055): add @forge-acceptance sidebar search defaults e2e spec
  e2e/specs/sidebarSearchDefaults.e2e.spec.ts
Due: none

fix(055): render search summary tag names as literal text
  src/crd/components/space/sidebar/SearchMatchSummary.test.tsx
  src/crd/components/space/sidebar/SearchMatchSummary.tsx
Due: eslint --fix, prettier --write

test(055): add @forge-acceptance sidebar search widget e2e spec
  e2e/specs/sidebarSearchWidget.e2e.spec.ts
Due: none

fix: keep the native slider look for the reversed aspect-ratio control
  src/crd/components/common/ImageCropDialog.slider.test.tsx
  src/crd/components/common/ImageCropDialog.tsx
  src/crd/styles/crd.css
Due: eslint --fix, prettier --write

fix(055): dedupe folded search callouts client-side
  src/main/crdPages/space/dataMappers/flowStateSearchDataMapper.test.ts
  src/main/crdPages/space/dataMappers/flowStateSearchDataMapper.ts
Due: eslint --fix, prettier --write

Change Specs
  specs/045-crd-space-settings/data-model.md
  specs/045-crd-space-settings/quickstart.md
  specs/045-crd-space-settings/spec.md
  specs/100-space-header-layout/data-model.md
  specs/100-space-header-layout/plan.md
  specs/100-space-header-layout/quickstart.md
  specs/100-space-header-layout/research.md
  specs/100-space-header-layout/spec.md
  specs/100-space-header-layout/tasks.md
Due: prettier --write

fix(security-settings): recover from a lapsed identity-provider session
  src/core/auth/authentication/hooks/useKratosFlow.test.ts
  src/core/auth/authentication/hooks/useKratosFlow.ts
  src/crd/components/user/settings/UserSecurityTabView.tsx
  src/crd/components/user/settings/__tests__/UserSecurityTabView.test.tsx
  src/crd/i18n/contributorSettings/contributorSettings.bg.json
  src/crd/i18n/contributorSettings/contributorSettings.de.json
  src/crd/i18n/contributorSettings/contributorSettings.en.json
  src/crd/i18n/contributorSettings/contributorSettings.es.json
  src/crd/i18n/contributorSettings/contributorSettings.fr.json
  src/crd/i18n/contributorSettings/contributorSettings.nl.json
  src/main/crdPages/topLevelPages/userPages/settings/security/CrdUserSecurityTab.tsx
  src/main/crdPages/topLevelPages/userPages/settings/security/useUserSecuritySettingsFlow.test.tsx
  src/main/crdPages/topLevelPages/userPages/settings/security/useUserSecuritySettingsFlow.ts
Due: eslint --fix, prettier --write

fix(security-settings): stop Connected Accounts offering a retry that cannot work
  src/crd/components/user/settings/ConnectedAccountsView.tsx
  src/crd/components/user/settings/UserSecurityTabView.tsx
  src/crd/components/user/settings/__tests__/ConnectedAccountsView.test.tsx
  src/crd/i18n/contributorSettings/contributorSettings.bg.json
  src/crd/i18n/contributorSettings/contributorSettings.de.json
  src/crd/i18n/contributorSettings/contributorSettings.en.json
  src/crd/i18n/contributorSettings/contributorSettings.es.json
  src/crd/i18n/contributorSettings/contributorSettings.fr.json
  src/crd/i18n/contributorSettings/contributorSettings.nl.json
  src/main/crdPages/topLevelPages/userPages/settings/security/ConnectedAccountsSection.test.tsx
  src/main/crdPages/topLevelPages/userPages/settings/security/ConnectedAccountsSection.tsx
  src/main/crdPages/topLevelPages/userPages/settings/security/CrdUserSecurityTab.tsx
Due: eslint --fix, prettier --write

fix(security-settings): scope the Kratos 401 branch to the Settings flow
  src/core/auth/authentication/hooks/useKratosFlow.test.ts
  src/core/auth/authentication/hooks/useKratosFlow.ts
Due: eslint --fix, prettier --write

fix(security-settings): announce the Connected Accounts session-expired reason
  src/crd/components/user/settings/ConnectedAccountsView.tsx
  src/crd/components/user/settings/__tests__/ConnectedAccountsView.test.tsx
  src/main/crdPages/topLevelPages/userPages/settings/security/ConnectedAccountsSection.test.tsx
Due: eslint --fix, prettier --write

fix: let the emoji picker scroll inside a modal dialog
  src/crd/components/common/EmojiPicker.test.tsx
  src/crd/components/common/EmojiPicker.tsx
Due: eslint --fix, prettier --write

fix: recover from a lapsed identity-provider session on the Security settings tab (#10249)
  src/core/auth/authentication/hooks/useKratosFlow.test.ts
  src/core/auth/authentication/hooks/useKratosFlow.ts
  src/crd/components/user/settings/ConnectedAccountsView.tsx
  src/crd/components/user/settings/UserSecurityTabView.tsx
  src/crd/components/user/settings/__tests__/ConnectedAccountsView.test.tsx
  src/crd/components/user/settings/__tests__/UserSecurityTabView.test.tsx
  src/crd/i18n/contributorSettings/contributorSettings.bg.json
  src/crd/i18n/contributorSettings/contributorSettings.de.json
  src/crd/i18n/contributorSettings/contributorSettings.en.json
  src/crd/i18n/contributorSettings/contributorSettings.es.json
  src/crd/i18n/contributorSettings/contributorSettings.fr.json
  src/crd/i18n/contributorSettings/contributorSettings.nl.json
  src/main/crdPages/topLevelPages/userPages/settings/security/ConnectedAccountsSection.test.tsx
  src/main/crdPages/topLevelPages/userPages/settings/security/ConnectedAccountsSection.tsx
  src/main/crdPages/topLevelPages/userPages/settings/security/CrdUserSecurityTab.tsx
  src/main/crdPages/topLevelPages/userPages/settings/security/useUserSecuritySettingsFlow.test.tsx
  src/main/crdPages/topLevelPages/userPages/settings/security/useUserSecuritySettingsFlow.ts
Due: eslint --fix, prettier --write

test: make the emoji picker cleanup assertion actually catch a leaked listener
  src/crd/components/common/EmojiPicker.test.tsx
Due: eslint --fix, prettier --write

fix: let the emoji picker scroll inside a modal dialog (#10250)
  src/crd/components/common/EmojiPicker.test.tsx
  src/crd/components/common/EmojiPicker.tsx
Due: eslint --fix, prettier --write

fix: equalize contributor card heights in the contributors callout (#10227)
  src/crd/components/callout/ContributorCollection/ContributorCard.tsx
  src/crd/components/callout/ContributorCollection/ContributorCollection.tsx
  src/crd/components/space/PostCard.test.tsx
  src/crd/components/space/PostCard.tsx
Due: eslint --fix, prettier --write

Change default banner aspectRatio to 10:1, still support custom AR up to 6:1 (#10222)
  specs/045-crd-space-settings/data-model.md
  specs/045-crd-space-settings/quickstart.md
  specs/045-crd-space-settings/spec.md
  specs/100-space-header-layout/data-model.md
  specs/100-space-header-layout/plan.md
  specs/100-space-header-layout/quickstart.md
  specs/100-space-header-layout/research.md
  specs/100-space-header-layout/spec.md
  specs/100-space-header-layout/tasks.md
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/crd/components/common/ImageCropDialog.slider.test.tsx
  src/crd/components/common/ImageCropDialog.tsx
  src/crd/components/space/SpaceHeader.tsx
  src/crd/components/space/settings/SpaceSettingsAboutView.tsx
  src/crd/i18n/common/common.bg.json
  src/crd/i18n/common/common.de.json
  src/crd/i18n/common/common.en.json
  src/crd/i18n/common/common.es.json
  src/crd/i18n/common/common.fr.json
  src/crd/i18n/common/common.nl.json
  src/crd/lib/bannerAspectRatio.test.ts
  src/crd/lib/bannerAspectRatio.ts
  src/domain/common/visual/graphql/uploadVisual.graphql
  src/domain/common/visual/model/VisualModel.ts
  src/domain/space/about/graphql/fragments/spaceAboutLight.graphql
  src/main/crdPages/space/layout/CrdSpacePageLayout.tsx
  src/main/crdPages/subspace/dataMappers/subspacePageDataMapper.ts
  src/main/crdPages/topLevelPages/createSpace/useCreateSpace.ts
  src/main/crdPages/topLevelPages/spaceSettings/CrdSpaceSettingsPage.tsx
  src/main/crdPages/topLevelPages/spaceSettings/about/useAboutTabData.ts
Due: eslint --fix, prettier --write

chore(codegen): fetch the schema from the server via CODEGEN_SCHEMA in .env; forbid committed schema.graphql
  .coderabbit.yaml
  .env
  .github/copilot-instructions.md
  .gitignore
  CLAUDE.md
  codegen.yml
  package.json
Due: prettier --write

chore(codegen): drop the generated schema change from this PR
  src/core/apollo/generated/graphql-schema.ts
Due: eslint --fix, prettier --write

chore(codegen): remove codegen.local-schema.yml
  codegen.local-schema.yml
Due: none

chore(codegen): make the codegen script shell-independent
  package.json
Due: prettier --write

feat(054): self-service account deletion — client (#10231)
  schema.graphql
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/auth/authentication/constants/authentication.constants.ts
  src/core/auth/authentication/hooks/useKratosLogout.test.ts
  src/core/auth/authentication/hooks/useKratosLogout.ts
  src/crd/components/dialogs/ConfirmationDialog.tsx
  src/crd/components/user/settings/DeleteAccount.types.ts
  src/crd/components/user/settings/DeleteAccountBlockedDialog.tsx
  src/crd/components/user/settings/DeleteAccountCard.tsx
  src/crd/components/user/settings/UserSecurityTabView.tsx
  src/crd/components/user/settings/__tests__/DeleteAccountBlockedDialog.test.tsx
  src/crd/components/user/settings/__tests__/DeleteAccountCard.test.tsx
  src/crd/components/user/settings/__tests__/UserSecurityTabView.test.tsx
  src/crd/i18n/common/common.bg.json
  src/crd/i18n/common/common.de.json
  src/crd/i18n/common/common.en.json
  src/crd/i18n/common/common.es.json
  src/crd/i18n/common/common.fr.json
  src/crd/i18n/common/common.nl.json
  src/crd/i18n/contributorSettings/contributorSettings.bg.json
  src/crd/i18n/contributorSettings/contributorSettings.de.json
  src/crd/i18n/contributorSettings/contributorSettings.en.json
  src/crd/i18n/contributorSettings/contributorSettings.es.json
  src/crd/i18n/contributorSettings/contributorSettings.fr.json
  src/crd/i18n/contributorSettings/contributorSettings.nl.json
  src/domain/community/user/graphql/queries/accountDeletionPreflight.graphql
  src/main/crdPages/topLevelPages/userPages/settings/security/CrdUserSecurityTab.tsx
  src/main/crdPages/topLevelPages/userPages/settings/security/useDeleteAccount.test.tsx
  src/main/crdPages/topLevelPages/userPages/settings/security/useDeleteAccount.ts
  src/main/inAppNotifications/graphql/InAppNotificationsFragments.graphql
  src/main/inAppNotifications/model/InAppNotificationPayloadModel.tsx
  src/main/ui/layout/notificationDataMapper.test.ts
  src/main/ui/layout/notificationDataMapper.tsx
Due: eslint --fix, prettier --write

teamplate update as per alkemio/product#2015 (#10228)
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

chore(codegen): fetch the GraphQL schema from the server; remove the committed schema.graphql snapshot (#10212)
  .coderabbit.yaml
  .env
  .github/copilot-instructions.md
  .gitignore
  CLAUDE.md
  codegen.local-schema.yml
  codegen.yml
  package.json
  schema.graphql
Due: prettier --write

codegen
  src/core/apollo/generated/graphql-schema.ts
Due: eslint --fix, prettier --write

Address comments
  e2e/specs/sidebarSearchDefaults.e2e.spec.ts
  e2e/specs/sidebarSearchWidget.e2e.spec.ts
  src/core/apollo/generated/graphql-schema.ts
  src/crd/layouts/SpaceShell.tsx
  src/main/crdPages/space/hooks/useFlowStateSearch.test.tsx
  src/main/crdPages/space/hooks/useFlowStateSearch.ts
  src/main/crdPages/space/tabs/CrdSpaceTabPage.tsx
  src/main/crdPages/utils/useDebouncedValue.test.ts
  src/main/crdPages/utils/useDebouncedValue.ts
Due: eslint --fix, prettier --write

feat(055): search sidebar widget (#10253)
  e2e/specs/sidebarSearchDefaults.e2e.spec.ts
  e2e/specs/sidebarSearchWidget.e2e.spec.ts
  src/core/apollo/generated/graphql-schema.ts
  src/crd/components/space/settings/PhaseLayoutDialog.test.tsx
  src/crd/components/space/settings/SpaceSettingsLayoutView.types.ts
  src/crd/components/space/sidebar/SearchMatchSummary.test.tsx
  src/crd/components/space/sidebar/SearchMatchSummary.tsx
  src/crd/components/space/sidebar/SearchSection.test.tsx
  src/crd/components/space/sidebar/SearchSection.tsx
  src/crd/forms/FlowStateSearchField.tsx
  src/crd/i18n/space/space.bg.json
  src/crd/i18n/space/space.de.json
  src/crd/i18n/space/space.en.json
  src/crd/i18n/space/space.es.json
  src/crd/i18n/space/space.fr.json
  src/crd/i18n/space/space.nl.json
  src/crd/i18n/spaceSettings/spaceSettings.bg.json
  src/crd/i18n/spaceSettings/spaceSettings.de.json
  src/crd/i18n/spaceSettings/spaceSettings.en.json
  src/crd/i18n/spaceSettings/spaceSettings.es.json
  src/crd/i18n/spaceSettings/spaceSettings.fr.json
  src/crd/i18n/spaceSettings/spaceSettings.nl.json
  src/crd/layouts/SpaceShell.tsx
  src/main/crdPages/space/dataMappers/flowStateSearchDataMapper.test.ts
  src/main/crdPages/space/dataMappers/flowStateSearchDataMapper.ts
  src/main/crdPages/space/hooks/useFlowStateSearch.test.tsx
  src/main/crdPages/space/hooks/useFlowStateSearch.ts
  src/main/crdPages/space/layout/SpaceTabSidebarConnector.tsx
  src/main/crdPages/space/layout/sidebarWidgetPlan.test.ts
  src/main/crdPages/space/layout/sidebarWidgetPlan.ts
  src/main/crdPages/space/tabs/CrdSpaceTabPage.tsx
  src/main/crdPages/utils/useDebouncedValue.test.ts
  src/main/crdPages/utils/useDebouncedValue.ts
Due: eslint --fix, prettier --write

fix(search): unblock paging after a rejected fetchMore; cap eager confirmation to one per request
  src/main/crdPages/space/hooks/useFlowStateSearch.test.tsx
  src/main/crdPages/space/hooks/useFlowStateSearch.ts
Due: eslint --fix, prettier --write

fix(search): literal terms, real plurals, honest copy and a live region in the match summary
  e2e/specs/sidebarSearchDefaults.e2e.spec.ts
  e2e/specs/sidebarSearchWidget.e2e.spec.ts
  src/crd/components/space/sidebar/SearchMatchSummary.test.tsx
  src/crd/components/space/sidebar/SearchMatchSummary.tsx
  src/crd/components/space/sidebar/SearchSection.test.tsx
  src/crd/components/space/sidebar/SearchSection.tsx
  src/crd/i18n/space/space.bg.json
  src/crd/i18n/space/space.de.json
  src/crd/i18n/space/space.en.json
  src/crd/i18n/space/space.es.json
  src/crd/i18n/space/space.fr.json
  src/crd/i18n/space/space.nl.json
  src/main/crdPages/space/tabs/CrdSpaceTabPage.tsx
Due: eslint --fix, prettier --write

fix(visual): align client banner minimum size with server (1200×120)
  src/crd/app/pages/CreateSpacePage.tsx
  src/crd/i18n/spaceSettings/spaceSettings.bg.json
  src/crd/i18n/spaceSettings/spaceSettings.de.json
  src/crd/i18n/spaceSettings/spaceSettings.en.json
  src/crd/i18n/spaceSettings/spaceSettings.es.json
  src/crd/i18n/spaceSettings/spaceSettings.fr.json
  src/crd/i18n/spaceSettings/spaceSettings.nl.json
Due: eslint --fix, prettier --write

chore: revert out-of-scope changes (CLAUDE.md, excalidraw emoji placement)
  CLAUDE.md
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
Due: eslint --fix, prettier --write

cleanup the obsolete plans
  specs/085-authz-admin-guard/checklists/requirements.md
  specs/085-authz-admin-guard/contracts/graphql-usage.md
  specs/085-authz-admin-guard/data-model.md
  specs/085-authz-admin-guard/plan.md
  specs/085-authz-admin-guard/quickstart.md
  specs/085-authz-admin-guard/research.md
  specs/085-authz-admin-guard/spec.md
Due: prettier --write

fix(visual): banner default aspect ratio is 10:1 on both sides now
  src/crd/app/pages/CreateSpacePage.tsx
  src/crd/lib/bannerAspectRatio.test.ts
  src/crd/lib/bannerAspectRatio.ts
  src/main/crdPages/topLevelPages/createSpace/useCreateSpace.ts
  src/main/crdPages/topLevelPages/spaceSettings/about/useAboutTabData.ts
Due: eslint --fix, prettier --write

updated spec
  specs/085-authz-admin-guard/spec.md
Due: prettier --write

fix(visual): align client banner defaults with server (1200×120 minimum, 10:1 default ratio) (#10257)
  src/crd/app/pages/CreateSpacePage.tsx
  src/crd/i18n/spaceSettings/spaceSettings.bg.json
  src/crd/i18n/spaceSettings/spaceSettings.de.json
  src/crd/i18n/spaceSettings/spaceSettings.en.json
  src/crd/i18n/spaceSettings/spaceSettings.es.json
  src/crd/i18n/spaceSettings/spaceSettings.fr.json
  src/crd/i18n/spaceSettings/spaceSettings.nl.json
  src/crd/lib/bannerAspectRatio.test.ts
  src/crd/lib/bannerAspectRatio.ts
  src/main/crdPages/topLevelPages/createSpace/useCreateSpace.ts
  src/main/crdPages/topLevelPages/spaceSettings/about/useAboutTabData.ts
Due: eslint --fix, prettier --write

fix(search): sidebar search review follow-ups — paging deadlock, capped eager page, literal terms, plurals, copy, a11y (#10256)
  e2e/specs/sidebarSearchDefaults.e2e.spec.ts
  e2e/specs/sidebarSearchWidget.e2e.spec.ts
  src/crd/components/space/sidebar/SearchMatchSummary.test.tsx
  src/crd/components/space/sidebar/SearchMatchSummary.tsx
  src/crd/components/space/sidebar/SearchSection.test.tsx
  src/crd/components/space/sidebar/SearchSection.tsx
  src/crd/i18n/space/space.bg.json
  src/crd/i18n/space/space.de.json
  src/crd/i18n/space/space.en.json
  src/crd/i18n/space/space.es.json
  src/crd/i18n/space/space.fr.json
  src/crd/i18n/space/space.nl.json
  src/main/crdPages/space/hooks/useFlowStateSearch.test.tsx
  src/main/crdPages/space/hooks/useFlowStateSearch.ts
  src/main/crdPages/space/tabs/CrdSpaceTabPage.tsx
Due: eslint --fix, prettier --write

updated plans
  CLAUDE.md
  specs/085-authz-admin-guard/contracts/ui-contract.md
  specs/085-authz-admin-guard/data-model.md
  specs/085-authz-admin-guard/plan.md
  specs/085-authz-admin-guard/quickstart.md
  specs/085-authz-admin-guard/research.md
  specs/085-authz-admin-guard/tasks.md
Due: prettier --write

refinements
  specs/085-authz-admin-guard/plan.md
  specs/085-authz-admin-guard/spec.md
  specs/085-authz-admin-guard/tasks.md
Due: prettier --write

pr fixes
  specs/085-authz-admin-guard/data-model.md
  specs/085-authz-admin-guard/plan.md
  specs/085-authz-admin-guard/quickstart.md
  specs/085-authz-admin-guard/research.md
  specs/085-authz-admin-guard/spec.md
  specs/085-authz-admin-guard/tasks.md
Due: prettier --write

refinements
  specs/085-authz-admin-guard/data-model.md
  specs/085-authz-admin-guard/plan.md
  specs/085-authz-admin-guard/research.md
  specs/085-authz-admin-guard/spec.md
  specs/085-authz-admin-guard/tasks.md
Due: prettier --write
