Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": "prettier --write"
}

cleverbase icon size as the other options
  src/core/auth/authentication/components/AuthProviders/cleverbase.svg
Due: none

0.123.3
  package.json
Due: prettier --write

adds application tests test ids and minor fixes on the chat widget (#9115)
  src/domain/platformAdmin/layout/EntitySettingsLayout/EntitySettingsLayout.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityMemberships.tsx
  src/main/guidance/chatWidget/ChatWidgetStyles.tsx
Due: eslint --fix, prettier --write

react-compiler fix errors
  eslint.config.mjs
  src/core/lazyLoading/GlobalErrorContext.tsx
  src/core/ui/forms/MarkdownInputControls/ToolbarMenuItem.tsx
  src/core/ui/table/DataGridTable.tsx
  src/domain/access/AvailableContributors/useRoleSetAvailableUsersOnPlatform.ts
  src/domain/access/AvailableContributors/useRoleSetAvailableUsersOnRoleSet.ts
  src/domain/collaboration/InnovationFlow/InnovationFlowCalloutsPreview.tsx
  src/domain/collaboration/callout/CalloutDialogs/EditCalloutDialog.tsx
  src/domain/collaboration/callout/useCalloutDetails/useCalloutDetails.ts
  src/domain/collaboration/whiteboard/guestAccess/hooks/useGuestSessionReturn.ts
  src/domain/common/profile/ProfileForm.tsx
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
  src/domain/community/invitations/InvitationCardHorizontal/InvitationCardHorizontal.tsx
  src/domain/community/inviteContributors/components/FormikContributorsSelectorField/useContributors.ts
  src/domain/community/user/ContributorsPage.tsx
  src/domain/community/virtualContributorAdmin/components/ExternalConfig.tsx
  src/domain/community/virtualContributorAdmin/components/PromptConfig.tsx
  src/domain/platformAdmin/domain/organizations/usePlatformAdminOrganizationsList.ts
  src/domain/platformAdmin/domain/users/useAdminGlobalUserList.tsx
  src/domain/shared/utils/scroll/useKeepElementScroll.ts
  src/domain/space/icons/PrivacyIcon.tsx
  src/domain/spaceAdmin/SpaceAdminAbout/SpaceAdminAboutPage.tsx
  src/domain/spaceAdmin/SpaceAdminAbout/components/SpaceAboutForm.tsx
  src/domain/spaceAdmin/SpaceAdminAbout/components/SpaceAboutView.tsx
  src/main/topLevelPages/myDashboard/latestContributions/LatestContributions.tsx
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/useVirtualContributorWizard.tsx
  src/main/topLevelPages/topLevelSpaces/SpaceExplorerContainer.tsx
  src/main/ui/layout/topBar/SearchBar.tsx
Due: eslint --fix, prettier --write

pnpm lock updated
  pnpm-lock.yaml
Due: none

no parentInfo on space subspaces page
  src/domain/space/layout/tabbedLayout/Tabs/SpaceSubspacesPage.tsx
Due: eslint --fix, prettier --write

fix packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

pr fixes
  src/domain/common/whiteboard/excalidraw/fileStore/WhiteboardFileCache.ts
  src/domain/common/whiteboard/excalidraw/useWhiteboardFilesManager.ts
Due: eslint --fix, prettier --write

pr fixes
  src/domain/common/whiteboard/excalidraw/fileStore/FileUploader.ts
  src/domain/common/whiteboard/excalidraw/useWhiteboardFilesManager.ts
Due: eslint --fix, prettier --write

in-app - notifications settings shortcut
  src/main/inAppNotifications/InAppNotificationsDialog.tsx
  src/main/routing/urlBuilders.ts
Due: eslint --fix, prettier --write

fix Cleverbase tooltip
  src/core/i18n/de/translation.de.json
  src/core/i18n/en/translation.en.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
  src/core/i18n/pt/translation.pt.json
Due: prettier --write

0.123.4
  package.json
Due: prettier --write

spa navigation to notif settings
  src/main/inAppNotifications/InAppNotificationsDialog.tsx
Due: eslint --fix, prettier --write

Adds CLAUDE.md documentation file
  CLAUDE.md
Due: prettier --write

memo and wb previews
  src/domain/collaboration/calloutContributions/memo/MemoCard.tsx
  src/domain/collaboration/memo/MemoPreview/MemoPreview.tsx
  src/domain/collaboration/whiteboard/WhiteboardPreview/WhiteboardPreview.tsx
Due: eslint --fix, prettier --write

memo preview fix for collaborations and style reusage
  src/domain/collaboration/calloutContributions/memo/CalloutContributionPreviewMemo.tsx
  src/domain/collaboration/common/PreviewStyles.ts
  src/domain/collaboration/memo/MemoPreview/MemoPreview.tsx
  src/domain/collaboration/whiteboard/WhiteboardPreview/WhiteboardPreview.tsx
Due: eslint --fix, prettier --write

emoji reaction picker
  specs/003-whiteboard-emoji-reactions/checklists/requirements.md
  specs/003-whiteboard-emoji-reactions/spec.md
Due: prettier --write

specify through to tasks for the emoji reaction capability
  specs/003-whiteboard-emoji-reactions/contracts/emoji-config.contract.ts
  specs/003-whiteboard-emoji-reactions/data-model.md
  specs/003-whiteboard-emoji-reactions/plan.md
  specs/003-whiteboard-emoji-reactions/quickstart.md
  specs/003-whiteboard-emoji-reactions/research.md
  specs/003-whiteboard-emoji-reactions/spec.md
  specs/003-whiteboard-emoji-reactions/tasks.md
Due: prettier --write

feat(whiteboard): implement emoji reaction picker for whiteboards [003]
  specs/003-whiteboard-emoji-reactions/tasks.md
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/whiteboard/components/EmojiReactionGrid.tsx
  src/domain/collaboration/whiteboard/components/WhiteboardEmojiReactionPicker.tsx
  src/domain/collaboration/whiteboard/reactionEmoji/createEmojiReactionElement.test.ts
  src/domain/collaboration/whiteboard/reactionEmoji/createEmojiReactionElement.ts
  src/domain/collaboration/whiteboard/reactionEmoji/emojiReactionConfig.test.ts
  src/domain/collaboration/whiteboard/reactionEmoji/emojiReactionConfig.ts
  src/domain/collaboration/whiteboard/reactionEmoji/types.ts
  src/domain/collaboration/whiteboard/reactionEmoji/useEmojiReactionConfiguration.test.ts
  src/domain/collaboration/whiteboard/reactionEmoji/useEmojiReactionConfiguration.ts
  src/domain/collaboration/whiteboard/reactionEmoji/useEmojiReactionPickerState.ts
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
Due: eslint --fix, prettier --write

move selector; have cursor show the selected emoji
  src/domain/collaboration/whiteboard/WhiteboardDialog/WhiteboardDialog.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardView.tsx
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
  src/main/public/whiteboard/PublicWhiteboardPage.tsx
Due: eslint --fix, prettier --write

docs: update spec files to reflect emoji picker UI refinements
  specs/003-whiteboard-emoji-reactions/plan.md
  specs/003-whiteboard-emoji-reactions/quickstart.md
  specs/003-whiteboard-emoji-reactions/spec.md
  specs/003-whiteboard-emoji-reactions/tasks.md
Due: prettier --write

fix placement + icon
  specs/003-whiteboard-emoji-reactions/plan.md
  specs/003-whiteboard-emoji-reactions/quickstart.md
  specs/003-whiteboard-emoji-reactions/spec.md
  specs/003-whiteboard-emoji-reactions/tasks.md
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardView.tsx
  src/domain/collaboration/whiteboard/components/WhiteboardEmojiReactionPicker.tsx
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
  src/main/public/whiteboard/PublicWhiteboardPage.tsx
Due: eslint --fix, prettier --write

fixed placing of emoji
  src/domain/collaboration/whiteboard/components/WhiteboardEmojiReactionPicker.tsx
Due: eslint --fix, prettier --write

address lint issues
  src/domain/collaboration/whiteboard/components/WhiteboardEmojiReactionPicker.tsx
Due: eslint --fix, prettier --write

fixed unused variable
  src/domain/collaboration/whiteboard/components/WhiteboardEmojiReactionPicker.tsx
Due: eslint --fix, prettier --write

Memo and WB previews (#9125)
  src/domain/collaboration/calloutContributions/memo/CalloutContributionPreviewMemo.tsx
  src/domain/collaboration/calloutContributions/memo/MemoCard.tsx
  src/domain/collaboration/common/PreviewStyles.ts
  src/domain/collaboration/memo/MemoPreview/MemoPreview.tsx
  src/domain/collaboration/whiteboard/WhiteboardPreview/WhiteboardPreview.tsx
Due: eslint --fix, prettier --write

WB files fixes (#9096)
  src/domain/common/whiteboard/excalidraw/fileStore/FileDownloader.ts
  src/domain/common/whiteboard/excalidraw/fileStore/FileUploader.ts
  src/domain/common/whiteboard/excalidraw/fileStore/WhiteboardFileCache.ts
  src/domain/common/whiteboard/excalidraw/fileStore/fileConverters.ts
  src/domain/common/whiteboard/excalidraw/types.ts
  src/domain/common/whiteboard/excalidraw/useWhiteboardFilesManager.ts
Due: eslint --fix, prettier --write

pr fix
  package.json
  pnpm-lock.yaml
  src/domain/space/routing/SpaceRoutes.tsx
  src/main/routing/TopLevelRoutes.tsx
  src/main/topLevelPages/Home/HomePage.tsx
  src/main/ui/layout/topLevelWrappers/App.tsx
  vite.config.mjs
Due: eslint --fix, prettier --write

Fix community guidelines dialog to close when selecting a template
  src/core/ui/content/PageContentBlockCollapsible.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/SpaceAdminCommunityPage.tsx
Due: eslint --fix, prettier --write

fix identity../home broken path
  src/core/auth/authentication/pages/AuthRequiredPage.tsx
Due: eslint --fix, prettier --write

remove the visuals from response post edit dialog
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/calloutContributions/post/CalloutContributionDialogPost.tsx
Due: eslint --fix, prettier --write

fix missing space title
  src/domain/community/inviteContributors/virtualContributors/InviteVCsDialog.tsx
Due: eslint --fix, prettier --write

Fix missing default texts on memos
  src/domain/templates/components/Forms/common/mappings.ts
Due: eslint --fix, prettier --write

reworked styling of the subspace action buttons
  src/domain/space/components/subspaces/DialogActionButton.tsx
  src/domain/space/components/subspaces/SubmenuActionButton.tsx
  src/domain/space/layout/SubspaceInfoColumn.tsx
Due: eslint --fix, prettier --write

fix domain
  src/core/auth/authentication/pages/AuthRequiredPage.tsx
Due: eslint --fix, prettier --write

Fix "back to dashboard" link on the Required page (#9129)
  src/core/auth/authentication/pages/AuthRequiredPage.tsx
Due: eslint --fix, prettier --write

reworked styling of the subspace action buttons (#9133)
  src/domain/space/components/subspaces/DialogActionButton.tsx
  src/domain/space/components/subspaces/SubmenuActionButton.tsx
  src/domain/space/layout/SubspaceInfoColumn.tsx
Due: eslint --fix, prettier --write

fix missing space title (#9131)
  src/domain/community/inviteContributors/virtualContributors/InviteVCsDialog.tsx
Due: eslint --fix, prettier --write

remove the visuals from response post edit dialog (#9130)
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/calloutContributions/post/CalloutContributionDialogPost.tsx
Due: eslint --fix, prettier --write
