Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Minor version bump
  package-lock.json
  package.json
Due: prettier --write

Minor version bump (#4655)
  package-lock.json
  package.json
Due: prettier --write

npm run ts:watch for watching type errors
  package-lock.json
  package.json
Due: prettier --write

ChallengeExplorerPage queries cleanup
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/main/topLevelPages/TopLevelChallenges/ChallengeExplorerContainer.tsx
  src/main/topLevelPages/TopLevelChallenges/ChallengeExplorerQueries.graphql
Due: eslint --fix, prettier --write

ChallengeExplorerPage queries cleanup (#4660)
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/main/topLevelPages/TopLevelChallenges/ChallengeExplorerContainer.tsx
  src/main/topLevelPages/TopLevelChallenges/ChallengeExplorerQueries.graphql
Due: eslint --fix, prettier --write

Passing membership to Search cards
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/platform/search/SearchQueries.graphql
  src/domain/platform/search/hooks/useHydratedCard.tsx
Due: eslint --fix, prettier --write

wip
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/auth/authorization/getPermissions.spec.ts
  src/core/auth/authorization/getPermissions.ts
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/callout/CalloutForm.tsx
  src/domain/collaboration/callout/CalloutView/CalloutView.tsx
  src/domain/collaboration/callout/SingleWhiteboard/SingleWhiteboardRtCallout.tsx
  src/domain/collaboration/callout/creationDialog/CalloutCreationDialog.tsx
  src/domain/collaboration/callout/creationDialog/CalloutType/CalloutTypeSelect.tsx
  src/domain/collaboration/callout/creationDialog/useCalloutCreation/useCalloutCreation.ts
  src/domain/collaboration/callout/creationDialog/useCalloutCreation/useCalloutCreationWithPreviewImages.ts
  src/domain/collaboration/callout/useCallouts/CalloutQueries.graphql
  src/domain/collaboration/callout/useCallouts/useCallouts.ts
  src/domain/collaboration/callout/utils/calloutIcons.ts
  src/domain/collaboration/whiteboard/WhiteboardDialog/WhiteboardRtDialog.tsx
  src/domain/collaboration/whiteboard/WhiteboardPreviewImages/WhiteboardPreviewImages.ts
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardRtManagementView.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardsRtManagementViewWrapper.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardRtActionsContainer.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardRtProvider.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardRtValueContainer.tsx
  src/domain/collaboration/whiteboard/containers/getWhiteboardCallout.ts
  src/domain/collaboration/whiteboard/containers/whiteboardQueries.graphql
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
  src/domain/common/whiteboard/excalidraw/collab/data/LocalData.ts
Due: eslint --fix, prettier --write

application and join dialogs revamp
  src/core/i18n/en/translation.en.json
  src/domain/community/application/applicationButton/ApplicationButton.tsx
  src/domain/community/application/applicationButton/PreApplicationDialog.tsx
  src/domain/community/application/applicationButton/PreJoinParentDialog.tsx
Due: eslint --fix, prettier --write

more fixes
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/auth/authorization/getPermissions.spec.ts
  src/core/auth/authorization/getPermissions.ts
  src/domain/collaboration/callout/creationDialog/CalloutCreationDialog.tsx
  src/domain/collaboration/callout/creationDialog/CalloutWhiteboardField/CalloutWhiteboardRtField.tsx
  src/domain/collaboration/callout/creationDialog/useCalloutCreation/useCalloutCreation.ts
  src/domain/collaboration/callout/creationDialog/useCalloutCreation/useCalloutCreationWithPreviewImages.ts
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardRtManagementView.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardRtProvider.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardRtValueContainer.tsx
  src/domain/collaboration/whiteboard/containers/whiteboardQueries.graphql
Due: eslint --fix, prettier --write

Missing thread starting messages are rendered as deleted
  src/core/i18n/en/translation.en.json
  src/domain/communication/discussion/views/DiscussionView.tsx
  src/domain/communication/room/Comments/MessageView.tsx
  src/domain/communication/room/Comments/MessagesThread.tsx
  src/domain/communication/room/Comments/useRestoredMessages.ts
  src/domain/communication/room/models/Message.ts
Due: eslint --fix, prettier --write

rename
  src/domain/communication/room/Comments/useRestoredMessages.ts
Due: eslint --fix, prettier --write

Passing membership to Search cards (#4661)
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/platform/search/SearchQueries.graphql
  src/domain/platform/search/hooks/useHydratedCard.tsx
Due: eslint --fix, prettier --write

npm run ts:watch for watching type errors (#4658)
  package-lock.json
  package.json
Due: prettier --write

Changed the text of the dialog to display the parent community name
  src/core/i18n/en/translation.en.json
  src/domain/community/application/applicationButton/PreJoinParentDialog.tsx
Due: eslint --fix, prettier --write

Minor version bump (#4669)
  package-lock.json
  package.json
Due: prettier --write

review suggestions
  src/core/i18n/en/translation.en.json
  src/domain/community/application/applicationButton/PreApplicationDialog.tsx
  src/domain/community/application/applicationButton/PreJoinDialog.tsx
  src/domain/community/application/applicationButton/PreJoinParentDialog.tsx
Due: eslint --fix, prettier --write

Missing thread starting messages are rendered as deleted (#4667)
  src/core/i18n/en/translation.en.json
  src/domain/communication/discussion/views/DiscussionView.tsx
  src/domain/communication/room/Comments/MessageView.tsx
  src/domain/communication/room/Comments/MessagesThread.tsx
  src/domain/communication/room/Comments/useRestoredMessages.ts
  src/domain/communication/room/models/Message.ts
Due: eslint --fix, prettier --write

Application and join dialogs revamp (#4666)
  src/core/i18n/en/translation.en.json
  src/domain/community/application/applicationButton/ApplicationButton.tsx
  src/domain/community/application/applicationButton/PreApplicationDialog.tsx
  src/domain/community/application/applicationButton/PreJoinDialog.tsx
  src/domain/community/application/applicationButton/PreJoinParentDialog.tsx
Due: eslint --fix, prettier --write

Minor version bump (#4671)
  package-lock.json
  package.json
Due: prettier --write

viewing user profiles load the proper data
  src/domain/community/user/pages/UserCredentialsPage.tsx
  src/domain/community/user/pages/UserMembershipPage.tsx
  src/domain/community/user/pages/UserOrganizationsPage.tsx
  src/domain/community/user/userContributions/useUserContributions.ts
  src/domain/community/user/userContributions/useUserOrganizationIds.ts
  src/domain/community/user/userProfilePage/UserProfilePage.tsx
Due: eslint --fix, prettier --write

version bump
  package-lock.json
  package.json
Due: prettier --write

Fix deleted messages order
  src/domain/communication/room/Comments/useRestoredMessages.ts
Due: eslint --fix, prettier --write

removed myspaces section on custom home page
  src/domain/innovationHub/InnovationHubHomePage/InnovationHubHomePage.tsx
Due: eslint --fix, prettier --write

retrieve the spaces on the custom home page from the innovation hub field on platform
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/innovationHub/InnovationHubHomePage/HomePageSpaces.graphql
  src/domain/innovationHub/InnovationHubHomePage/InnovationHubHomePage.tsx
Due: eslint --fix, prettier --write

switched to loading whiteboard / whiteboard template contents via lookup; updated to use term content instead of value; code simplification
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/InnovationPack/DashboardLibraryTemplates/DashboardLibraryTemplates.tsx
  src/domain/collaboration/InnovationPack/InnovationPackProfilePage/InnovationPackProfilePage.tsx
  src/domain/collaboration/InnovationPack/TemplatePreviewDialog/TemplatePreviewDialog.tsx
  src/domain/collaboration/callout/CalloutForm.tsx
  src/domain/collaboration/callout/creationDialog/CalloutCreationDialog.tsx
  src/domain/collaboration/callout/creationDialog/CalloutTemplate/WhiteboardTemplateChooser.tsx
  src/domain/collaboration/callout/creationDialog/CalloutWhiteboardField/CalloutWhiteboardField.tsx
  src/domain/collaboration/callout/edit/editDialog/CalloutEditDialog.tsx
  src/domain/collaboration/callout/useCallouts/CalloutQueries.graphql
  src/domain/collaboration/callout/whiteboard/WhiteboardCallout.tsx
  src/domain/collaboration/post/PostTemplatesLibrary/PostTemplatesLibrary.tsx
  src/domain/collaboration/templates/CollaborationTemplatesLibrary/CollaborationTemplatesLibrary.tsx
  src/domain/collaboration/templates/CollaborationTemplatesLibrary/CollaborationTemplatesLibraryPreview.tsx
  src/domain/collaboration/templates/CollaborationTemplatesLibrary/TemplateBase.ts
  src/domain/collaboration/whiteboard/WhiteboardDialog/WhiteboardDialog.tsx
  src/domain/collaboration/whiteboard/WhiteboardPreviewImages/WhiteboardPreviewImages.ts
  src/domain/collaboration/whiteboard/WhiteboardTemplateCard/WhiteboardTemplate.ts
  src/domain/collaboration/whiteboard/WhiteboardTemplatesLibrary/WhiteboardTemplatePreview.tsx
  src/domain/collaboration/whiteboard/WhiteboardTemplatesLibrary/WhiteboardTemplatesLibrary.graphql
  src/domain/collaboration/whiteboard/WhiteboardTemplatesLibrary/WhiteboardTemplatesLibrary.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardManagementView.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardActionsContainer.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardContentContainer.tsx
  src/domain/collaboration/whiteboard/containers/whiteboardQueries.graphql
  src/domain/common/whiteboard/excalidraw/ExcalidrawWrapper.tsx
  src/domain/journey/space/Templates/SpaceTemplates.graphql
  src/domain/platform/admin/templates/AdminSpaceTemplates.graphql
  src/domain/platform/admin/templates/AdminTemplatesSection.tsx
  src/domain/platform/admin/templates/InnovationPacks.graphql
  src/domain/platform/admin/templates/WhiteboardTemplates/AdminWhiteboardTemplatesSection.tsx
  src/domain/platform/admin/templates/WhiteboardTemplates/CreateWhiteboardTemplateDialog.tsx
  src/domain/platform/admin/templates/WhiteboardTemplates/EditWhiteboardTemplateDialog.tsx
  src/domain/platform/admin/templates/WhiteboardTemplates/FormikWhiteboardPreview.tsx
  src/domain/platform/admin/templates/WhiteboardTemplates/WhiteboardTemplateForm.tsx
  src/domain/platform/admin/templates/WhiteboardTemplates/WhiteboardTemplateMutations.graphql
  src/domain/platform/admin/templates/WhiteboardTemplates/WhiteboardTemplatePreview.tsx
  src/domain/template/whiteboard/whiteboardTemplateQueries.graphql
Due: eslint --fix, prettier --write

Working
  src/domain/collaboration/callout/creationDialog/CalloutCreationDialog.tsx
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
  src/domain/common/whiteboard/excalidraw/collab/Collab.tsx
  src/domain/common/whiteboard/excalidraw/collab/LiveCollaborationStatus.tsx
  src/domain/common/whiteboard/excalidraw/collab/Portal.tsx
  src/domain/common/whiteboard/excalidraw/collab/data/FileManager.ts
Due: eslint --fix, prettier --write

removed roomKey
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
  src/domain/common/whiteboard/excalidraw/collab/Collab.tsx
  src/domain/common/whiteboard/excalidraw/collab/Portal.tsx
  src/domain/common/whiteboard/excalidraw/collab/data/index.ts
  src/domain/common/whiteboard/excalidraw/useCallbackRefState.ts
Due: eslint --fix, prettier --write

use bannerWide for visual on innovation hub
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/innovationHub/InnovationHub.graphql
  src/domain/innovationHub/InnovationHubsAdmin/InnovationHubsAdmin.graphql
Due: eslint --fix, prettier --write

finished?
  src/domain/collaboration/callout/creationDialog/CalloutType/CalloutTypeSelect.tsx
  src/domain/collaboration/whiteboard/WhiteboardDialog/WhiteboardRtDialog.tsx
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
  src/domain/common/whiteboard/excalidraw/ExcalidrawWrapper.tsx
  src/domain/common/whiteboard/excalidraw/collab/Collab.tsx
  src/domain/common/whiteboard/excalidraw/collab/Portal.tsx
  src/domain/common/whiteboard/excalidraw/collab/data/index.ts
  src/domain/common/whiteboard/excalidraw/collab/excalidrawAppConstants.ts
Due: eslint --fix, prettier --write

fixes
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/callout/SingleWhiteboard/SingleWhiteboardRtCallout.tsx
  src/domain/collaboration/callout/creationDialog/CalloutType/CalloutTypeSelect.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardRtManagementView.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardRtValueContainer.tsx
  src/domain/collaboration/whiteboard/containers/whiteboardQueries.graphql
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
  src/domain/common/whiteboard/excalidraw/collab/Collab.tsx
Due: eslint --fix, prettier --write

Fixes
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
  src/domain/common/whiteboard/excalidraw/ExcalidrawWrapper.tsx
  src/domain/common/whiteboard/excalidraw/collab/Collab.tsx
  src/domain/shared/utils/useCombinedRefs.ts
Due: eslint --fix, prettier --write

finish
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardRtManagementView.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardsRtManagementViewWrapper.tsx
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
Due: eslint --fix, prettier --write

fixed lint error
  .env
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardRtManagementView.tsx
Due: eslint --fix, prettier --write

revert .env; why is this not ignored?
  .env
Due: none

Fix
  src/domain/common/whiteboard/excalidraw/collab/Collab.tsx
  src/domain/common/whiteboard/excalidraw/collab/data/Locker.ts
  src/domain/common/whiteboard/excalidraw/collab/data/index.ts
Due: eslint --fix, prettier --write

remove this for now
  src/domain/common/whiteboard/excalidraw/collab/Collab.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
