Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

nested list fix
  docs/code-guidelines.md
Due: prettier --write

missing header
  docs/code-guidelines.md
Due: prettier --write

typo fix
  docs/code-guidelines.md
Due: prettier --write

switched to using lookups for some data retrieval by the client related to community, whiteboard template (#4535)
  package-lock.json
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/InnovationFlow/InnovationFlowStates/InnovationFlowStates.graphql
  src/domain/collaboration/InnovationFlow/InnovationFlowStates/useInnovationFlowStates.ts
  src/domain/collaboration/whiteboard/containers/WhiteboardProvider.tsx
  src/domain/collaboration/whiteboard/containers/whiteboardQueries.graphql
  src/domain/communication/updates/CommunityUpdatesContainer/CommunityUpdates.graphql
  src/domain/communication/updates/CommunityUpdatesContainer/CommunityUpdatesContainer.tsx
  src/domain/community/community/graphql/queries/communityGroups.graphql
  src/domain/community/community/graphql/queries/communityMembers.graphql
  src/domain/community/community/useCommunityAssignment/useAllPossibleMemberUsers.ts
  src/domain/platform/admin/community/CommunityListPage.tsx
Due: eslint --fix, prettier --write

Fix BUG: Release notification is not triggered, when release version is updated (#4523)
  src/domain/platform/TopLevelPages/About.tsx
  src/domain/platform/TopLevelPages/Home/HomePage.tsx
  src/domain/platform/metadata/useVersionControl.ts
  src/domain/platform/notifications/ReleaseUpdates/ReleaseUpdatesDialog.tsx
  src/domain/platform/notifications/ReleaseUpdates/ReleaseUpdatesNotification.tsx
  src/domain/shared/components/DashboardSections/DashboardSpacesSection.tsx
Due: eslint --fix, prettier --write

In ActivityDescription, interpolated i18n values aren't escaped
  src/domain/shared/components/ActivityDescription/ActivityDescription.tsx
Due: eslint --fix, prettier --write

In ActivityDescription, interpolated i18n values aren't escaped (#4540)
  src/domain/shared/components/ActivityDescription/ActivityDescription.tsx
Due: eslint --fix, prettier --write

Properly add key on a map
  src/domain/challenge/common/PageBanner/JourneyPageBannerCard/JourneyPageBannerCard.tsx
Due: eslint --fix, prettier --write

Fix 4360
  src/domain/collaboration/callout/CalloutsInContext/CalloutsGroupView.tsx
Due: eslint --fix, prettier --write

Fix 2 places more
  src/domain/collaboration/KnowledgeBase/KnowedgeBasePage.tsx
  src/domain/collaboration/callout/edit/useCalloutEdit/useCalloutEdit.ts
Due: eslint --fix, prettier --write

fix
  src/domain/collaboration/KnowledgeBase/KnowedgeBasePage.tsx
  src/domain/collaboration/callout/edit/useCalloutEdit/useCalloutEdit.ts
Due: eslint --fix, prettier --write

Refetch instead of cache policy
  src/domain/challenge/challenge/pages/InnovationFlow/ChallengeInnovationFlowView.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/useInnovationFlowSettings.tsx
  src/domain/platform/admin/opportunity/pages/InnovationFlow/OpportunityInnovationFlowView.tsx
Due: eslint --fix, prettier --write

JourneyContributePageContainer loads Journey UUID
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/challenge/challenge/ChallengeCollaborationPage/ChallengeCalloutPage.tsx
  src/domain/challenge/challenge/routing/ChallengeRoute.tsx
  src/domain/challenge/common/JourneyContributePage/JourneyContributePage.tsx
  src/domain/challenge/common/JourneyContributePage/JourneyContributePageContainer.tsx
  src/domain/challenge/common/JourneyIdentity/JourneyIdentity.graphql
  src/domain/challenge/common/JourneyIdentity/useJourneyIdentity.ts
  src/domain/challenge/opportunity/OpportunityCollaborationPage/OpportunityCalloutPage.tsx
  src/domain/challenge/opportunity/routes/OpportunityRoute.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowStates/InnovationFlowStates.graphql
  src/domain/collaboration/InnovationFlow/InnovationFlowStates/useInnovationFlowStates.ts
  src/domain/collaboration/callout/JourneyCalloutsTabView/JourneyCalloutsTabView.tsx
  src/domain/collaboration/contribute/ContributePage.tsx
Due: eslint --fix, prettier --write

Fix tests
  src/domain/collaboration/InnovationFlow/utils/sortCallouts.spec.ts
  src/domain/collaboration/InnovationFlow/utils/sortCallouts.ts
Due: eslint --fix, prettier --write

Refetch InnovationFlow settings query after innovation flow changed (#4528)
  src/domain/challenge/challenge/pages/InnovationFlow/ChallengeInnovationFlowView.tsx
  src/domain/platform/admin/opportunity/pages/InnovationFlow/OpportunityInnovationFlowView.tsx
Due: eslint --fix, prettier --write

Remove duplicated code
  src/domain/collaboration/KnowledgeBase/KnowedgeBasePage.tsx
  src/domain/collaboration/callout/CalloutsInContext/CalloutsGroupView.tsx
Due: eslint --fix, prettier --write

JourneyContributePageContainer loads Journey UUID (#4542)
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/challenge/challenge/ChallengeCollaborationPage/ChallengeCalloutPage.tsx
  src/domain/challenge/challenge/routing/ChallengeRoute.tsx
  src/domain/challenge/common/JourneyContributePage/JourneyContributePage.tsx
  src/domain/challenge/common/JourneyContributePage/JourneyContributePageContainer.tsx
  src/domain/challenge/common/JourneyIdentity/JourneyIdentity.graphql
  src/domain/challenge/common/JourneyIdentity/useJourneyIdentity.ts
  src/domain/challenge/opportunity/OpportunityCollaborationPage/OpportunityCalloutPage.tsx
  src/domain/challenge/opportunity/routes/OpportunityRoute.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowStates/InnovationFlowStates.graphql
  src/domain/collaboration/InnovationFlow/InnovationFlowStates/useInnovationFlowStates.ts
  src/domain/collaboration/callout/JourneyCalloutsTabView/JourneyCalloutsTabView.tsx
  src/domain/collaboration/contribute/ContributePage.tsx
Due: eslint --fix, prettier --write

Fix typo
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/InnovationFlowCollaborationToolsBlock.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/useInnovationFlowSettings.tsx
Due: eslint --fix, prettier --write

Add optimistic response to the UpdateCalloutVisibility mutation (#4541)
  src/domain/challenge/common/PageBanner/JourneyPageBannerCard/JourneyPageBannerCard.tsx
  src/domain/collaboration/KnowledgeBase/KnowedgeBasePage.tsx
  src/domain/collaboration/callout/CalloutsInContext/CalloutsGroupView.tsx
  src/domain/collaboration/callout/edit/useCalloutEdit/useCalloutEdit.ts
Due: eslint --fix, prettier --write

Removed empty comment
  src/domain/collaboration/InnovationFlow/utils/sortCallouts.spec.ts
Due: eslint --fix, prettier --write

Fix Callout sorting (#4520)
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/utils/UpdateOrder.ts
  src/domain/challenge/challenge/pages/ChallengeDashboardPage.tsx
  src/domain/challenge/challenge/pages/ChallengeOpportunitiesPage.tsx
  src/domain/challenge/opportunity/pages/OpportunityDashboardPage.tsx
  src/domain/challenge/space/SpaceCommunityPage/SpaceCommunityPage.tsx
  src/domain/challenge/space/SpaceDashboard/SpaceDashboardPage.tsx
  src/domain/challenge/space/pages/SpaceChallengesPage.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/InnovationFlowCollaborationToolsBlock.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/InnovationFlowPreviewDialog.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/InnovationFlowSettings.graphql
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/useInnovationFlowSettings.tsx
  src/domain/collaboration/InnovationFlow/utils/sortCallouts.spec.ts
  src/domain/collaboration/InnovationFlow/utils/sortCallouts.ts
  src/domain/collaboration/KnowledgeBase/KnowedgeBasePage.tsx
  src/domain/collaboration/callout/JourneyCalloutsTabView/CalloutsView.tsx
  src/domain/collaboration/callout/JourneyCalloutsTabView/JourneyCalloutsTabView.tsx
  src/domain/collaboration/callout/useCallouts/useCallouts.ts
Due: eslint --fix, prettier --write

Sorting old elments bugfix
  src/domain/collaboration/callout/useCallouts/useCallouts.ts
Due: eslint --fix, prettier --write

no need for this
  src/domain/collaboration/callout/useCallouts/useCallouts.ts
Due: eslint --fix, prettier --write

Sorting old elments bugfix (#4546)
  src/domain/collaboration/callout/useCallouts/useCallouts.ts
Due: eslint --fix, prettier --write

Fix 4514
  src/domain/collaboration/callout/JourneyCalloutsTabView/CalloutsView.tsx
Due: eslint --fix, prettier --write

Fix 4514 (#4549)
  src/domain/collaboration/callout/JourneyCalloutsTabView/CalloutsView.tsx
Due: eslint --fix, prettier --write

remove this css warning
  src/core/ui/utils/webkitLineClamp.ts
Due: eslint --fix, prettier --write

Fix #4548
  src/core/apollo/generated/apollo-hooks.ts
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/InnovationFlowSettings.graphql
Due: eslint --fix, prettier --write

Add altText field to the markdown editor
  src/core/i18n/en/translation.en.json
  src/core/ui/forms/MarkdownInputControls/InsertImageButton.tsx
Due: eslint --fix, prettier --write

Field Title as in the design
  src/core/i18n/en/translation.en.json
  src/core/ui/forms/MarkdownInputControls/InsertImageButton.tsx
Due: eslint --fix, prettier --write

Remove usage of community.displayName
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/challenge/challenge/pages/ChallengeProfile/ChallengeProfileView.tsx
  src/domain/challenge/space/pages/SpaceChallenges/ChallengeListView.tsx
  src/domain/collaboration/activity/useActivityLogOnCollaboration/activityLogOnCollaboration.graphql
  src/domain/community/application/graphql/queries/spaceApplication.graphql
  src/domain/community/community/CommunityContext/CommunityContextProvider.tsx
  src/domain/community/community/CommunityContext/challengeCommunity.graphql
  src/domain/community/community/CommunityContext/communityDetails.graphql
  src/domain/community/community/CommunityContext/opportunityCommunity.graphql
  src/domain/community/community/CommunityContext/spaceCommunity.graphql
  src/domain/community/community/graphql/queries/challgengesWithCommunity.graphql
  src/domain/shared/components/ActivityDescription/ActivityDescription.tsx
  src/domain/shared/components/ActivityLog/ActivityComponent.tsx
  src/domain/shared/components/ActivityLog/views/ActivityMemberJoinedView.tsx
Due: eslint --fix, prettier --write

Update communityGroups query.
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/communication/updates/CommunityUpdatesContainer/CommunityUpdates.graphql
  src/domain/community/community/graphql/queries/communityGroups.graphql
Due: eslint --fix, prettier --write

Major version bump
  package-lock.json
  package.json
Due: prettier --write

Major version bump (#4555)
  package-lock.json
  package.json
Due: prettier --write

Address PR feedback.
  src/core/i18n/ach/translation.ach.json
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/en/translation.en.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
  src/core/i18n/ua/translation.ua.json
  src/domain/community/community/CommunityContext/CommunityContextProvider.tsx
  src/domain/shared/components/ActivityLog/views/ActivityMemberJoinedView.tsx
Due: eslint --fix, prettier --write

Docs additions
  docs/code-guidelines.md
Due: prettier --write

fix
  docs/code-guidelines.md
Due: prettier --write

cleanup
  docs/code-guidelines.md
Due: prettier --write

Fix Vite dev mode for chrome
  .scripts/fix-dev-vite.sh
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
