Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Challenge has big Join/Apply button
  src/core/i18n/en/translation.en.json
  src/domain/community/application/applicationButton/ApplicationButton.spec.tsx
  src/domain/community/application/applicationButton/ApplicationButton.tsx
  src/domain/community/application/containers/ApplicationButtonContainer.tsx
  src/domain/journey/challenge/pages/ChallengeDashboardPage.tsx
  src/domain/journey/common/JourneyCard/JourneyCardJoinButton.tsx
  src/domain/journey/common/JourneyUnauthorizedDialog/JourneyUnauthorizedDialog.tsx
  src/domain/journey/common/tabs/About/AboutSection.tsx
  src/domain/journey/common/tabs/Dashboard/JourneyDashboardView.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardView.tsx
Due: eslint --fix, prettier --write

Challenge has big Join/Apply button (#4849)
  src/core/i18n/en/translation.en.json
  src/domain/community/application/applicationButton/ApplicationButton.spec.tsx
  src/domain/community/application/applicationButton/ApplicationButton.tsx
  src/domain/community/application/containers/ApplicationButtonContainer.tsx
  src/domain/journey/challenge/pages/ChallengeDashboardPage.tsx
  src/domain/journey/common/JourneyCard/JourneyCardJoinButton.tsx
  src/domain/journey/common/JourneyUnauthorizedDialog/JourneyUnauthorizedDialog.tsx
  src/domain/journey/common/tabs/About/AboutSection.tsx
  src/domain/journey/common/tabs/Dashboard/JourneyDashboardView.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardView.tsx
Due: eslint --fix, prettier --write

Set admins on opportunity. (#4842)
  src/domain/journey/opportunity/pages/AdminOpportunityCommunityPage.tsx
Due: eslint --fix, prettier --write

JourneyDashboardView receives wide ApplicationButton as ribbon
  src/domain/journey/challenge/pages/ChallengeDashboardPage.tsx
  src/domain/journey/common/tabs/Dashboard/JourneyDashboardView.tsx
Due: eslint --fix, prettier --write

JourneyDashboardView receives wide ApplicationButton as ribbon (#4852)
  src/domain/journey/challenge/pages/ChallengeDashboardPage.tsx
  src/domain/journey/common/tabs/Dashboard/JourneyDashboardView.tsx
Due: eslint --fix, prettier --write

Fetching 15 recent activities by default, 50 when expanded
  src/domain/collaboration/activity/useActivityLogOnCollaboration/activityLogOnCollaboration.graphql
  src/domain/collaboration/activity/useActivityLogOnCollaboration/useActivityOnCollaboration.ts
  src/domain/journey/challenge/containers/ChallengePageContainer.tsx
  src/domain/journey/challenge/pages/ChallengeDashboardPage.tsx
  src/domain/journey/common/dashboardRecentContributionsBlock/DashboardRecentContributionsBlock.tsx
  src/domain/journey/common/journeyDashboard/constants.ts
  src/domain/journey/common/tabs/Dashboard/JourneyDashboardView.tsx
  src/domain/journey/opportunity/containers/OpportunityPageContainer.tsx
  src/domain/journey/opportunity/pages/OpportunityDashboardPage.tsx
  src/domain/journey/space/SpaceCommunityPage/SpaceCommunityPage.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardContainer.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardPage.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardView.tsx
Due: eslint --fix, prettier --write

Fixes sentry release version
  package-lock.json
  package.json
  src/core/logging/sentry/bootstrap.ts
Due: eslint --fix, prettier --write

Fixes sentry release version (#4855)
  package-lock.json
  package.json
  src/core/logging/sentry/bootstrap.ts
Due: eslint --fix, prettier --write

Fetching 15 recent activities by default, 50 when expanded (#4854)
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/activity/useActivityLogOnCollaboration/activityLogOnCollaboration.graphql
  src/domain/collaboration/activity/useActivityLogOnCollaboration/useActivityOnCollaboration.ts
  src/domain/journey/challenge/containers/ChallengePageContainer.tsx
  src/domain/journey/challenge/pages/ChallengeDashboardPage.tsx
  src/domain/journey/common/dashboardRecentContributionsBlock/DashboardRecentContributionsBlock.tsx
  src/domain/journey/common/journeyDashboard/constants.ts
  src/domain/journey/common/tabs/Dashboard/JourneyDashboardView.tsx
  src/domain/journey/opportunity/containers/OpportunityPageContainer.tsx
  src/domain/journey/opportunity/pages/OpportunityDashboardPage.tsx
  src/domain/journey/space/SpaceCommunityPage/SpaceCommunityPage.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardContainer.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardPage.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardView.tsx
Due: eslint --fix, prettier --write

Fixed sentry version suffix
  package-lock.json
  package.json
  vite.sentry.config.mjs
Due: prettier --write

Fixed sentry version suffix (#4857)
  package-lock.json
  package.json
  vite.sentry.config.mjs
Due: prettier --write

ApplicationButton special state on Challenge when invited to Space
  src/core/i18n/en/translation.en.json
  src/domain/community/application/applicationButton/ApplicationButton.tsx
Due: eslint --fix, prettier --write

ApplicationButton special state on Challenge when invited to Space (#4859)
  src/core/i18n/en/translation.en.json
  src/domain/community/application/applicationButton/ApplicationButton.tsx
Due: eslint --fix, prettier --write

auto set commits for sentry
  vite.sentry.config.mjs
Due: none

auto set commits for sentry (#4861)
  vite.sentry.config.mjs
Due: none

Build source maps in the dockerfile
  .github/workflows/build-release-docker-hub.yml
  Dockerfile
Due: none

Changed paths
  Dockerfile
Due: none

Added ARG_SENTRY_AUTH_TOKEN dockerfile arg
  Dockerfile
Due: none

Fixes
  Dockerfile
  vite.sentry.config.mjs
Due: none

Minor version bump
  package-lock.json
  package.json
Due: prettier --write

ran codegen after server updates
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/graphql-schema.ts
Due: eslint --fix, prettier --write

Fix debug ids (#4863)
  .github/workflows/build-release-docker-hub.yml
  Dockerfile
  package-lock.json
  package.json
  vite.sentry.config.mjs
Due: prettier --write

Reloading Organizaton Admin pages doesn't give GraphQL errors
  src/domain/platform/admin/organization/views/OrganizationAdminAuthorizationView.tsx
  src/domain/platform/admin/organization/views/OrganizationAssociatesView.tsx
  src/domain/platform/admin/organization/views/OrganizationAuthorizationPreferencesPageView.tsx
  src/domain/platform/admin/organization/views/OrganizationOwnerAuthorizationView.tsx
Due: eslint --fix, prettier --write

Challenge innovation flow state colors
  src/domain/collaboration/InnovationFlow/InnovationFlowStates/InnovationFlowStates.tsx
Due: eslint --fix, prettier --write

Remove call for posts default text validation
  src/domain/collaboration/callout/CalloutForm.tsx
Due: eslint --fix, prettier --write

Update discussion summary text.
  src/core/i18n/en/translation.en.json
Due: prettier --write

Challenge innovation flow state colors (#4869)
  src/domain/collaboration/InnovationFlow/InnovationFlowStates/InnovationFlowStates.tsx
Due: eslint --fix, prettier --write

Remove call for posts default text validation (#4870)
  src/domain/collaboration/callout/CalloutForm.tsx
Due: eslint --fix, prettier --write

Update discussion summary text. (#4871)
  src/core/i18n/en/translation.en.json
Due: prettier --write

callout of type post, closed message changed
  src/domain/collaboration/CalloutBlock/CalloutLayout.tsx
  src/domain/communication/room/Comments/usePostMessageMutations.ts
Due: eslint --fix, prettier --write

Remove unused var.
  src/domain/communication/discussion/views/DiscussionView.tsx
Due: eslint --fix, prettier --write

Fix missing Member mark on search cards on Challenge Explorer page
  src/domain/journey/challenge/views/ChallengeExplorer/ChallengeExplorerSearchView.tsx
Due: eslint --fix, prettier --write

Reloading Organizaton Admin pages doesn't give GraphQL errors (#4868)
  src/domain/platform/admin/organization/views/OrganizationAdminAuthorizationView.tsx
  src/domain/platform/admin/organization/views/OrganizationAssociatesView.tsx
  src/domain/platform/admin/organization/views/OrganizationAuthorizationPreferencesPageView.tsx
  src/domain/platform/admin/organization/views/OrganizationOwnerAuthorizationView.tsx
Due: eslint --fix, prettier --write

removed unnecessary code
  src/domain/collaboration/CalloutBlock/CalloutLayout.tsx
  src/domain/communication/room/Comments/usePostMessageMutations.ts
Due: eslint --fix, prettier --write

removed unnecessary code
  src/domain/collaboration/CalloutBlock/CalloutLayout.tsx
Due: eslint --fix, prettier --write

Loading state gets reset when Callouts creation has errored
  src/domain/collaboration/callout/creationDialog/CalloutCreationDialog.tsx
  src/domain/collaboration/callout/creationDialog/useCalloutCreation/useCalloutCreation.ts
Due: eslint --fix, prettier --write

Add share button to updates dialog.
  src/domain/community/community/CommunityUpdatesDialog/CommunityUpdatesDialog.tsx
  src/domain/journey/challenge/pages/ChallengeDashboardPage.tsx
  src/domain/journey/opportunity/pages/OpportunityDashboardPage.tsx
  src/domain/journey/space/SpaceDashboard/SpaceDashboardPage.tsx
  src/domain/shared/components/ShareDialog/ShareDialog.tsx
Due: eslint --fix, prettier --write

Remove unused var. (#4874)
  src/domain/communication/discussion/views/DiscussionView.tsx
Due: eslint --fix, prettier --write

ts errors
  src/domain/collaboration/CalloutBlock/CalloutLayout.tsx
Due: eslint --fix, prettier --write

Callout of type post, closed message changed (#4873)
  src/domain/collaboration/CalloutBlock/CalloutLayout.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
