Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": "prettier --write"
}

fix some race condition
  src/main/guidance/chatWidget/useChatGuidanceCommunication.ts
Due: eslint --fix, prettier --write

Address coderabbit comment
  src/main/guidance/chatWidget/ChatWidget.tsx
Due: eslint --fix, prettier --write

Remove Innovation flow title/description from innovation flow management
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/InnovationFlowSettingsDialog.tsx
Due: eslint --fix, prettier --write

fix the hasPrivilegesOnSpaceAndCommunity check
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/useNewVirtualContributorWizard.tsx
Due: eslint --fix, prettier --write

Update translation.es.json
  src/core/i18n/es/translation.es.json
Due: prettier --write

Homepage fixes (#7224)
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
  src/core/i18n/pt/translation.pt.json
  src/core/i18n/ua/translation.ua.json
  src/core/ui/card/ContributorCardHorizontal.tsx
  src/domain/InnovationPack/InnovationPackCardHorizontal/InnovationPackCardHorizontal.tsx
  src/domain/community/contributor/Account/AccountResourcesView.tsx
  src/domain/community/contributor/Account/ContributorAccountView.tsx
  src/domain/innovationHub/InnovationHubCardHorizontal/InnovationHubCardHorizontal.tsx
  src/main/topLevelPages/myDashboard/myResources/MyResources.tsx
Due: eslint --fix, prettier --write

implement a globl lazyLoading error handling
  src/core/i18n/en/translation.en.json
  src/core/lazyLoading/GlobalErrorContext.tsx
  src/core/lazyLoading/GlobalErrorDialog.tsx
  src/core/lazyLoading/lazyWithGlobalErrorHandler.ts
  src/main/routing/TopLevelRoutes.tsx
  src/main/topLevelPages/Home/HomePage.tsx
  src/main/topLevelPages/myDashboard/MyDashboard.tsx
  src/main/topLevelPages/myDashboard/MyDashboardWithMemberships.tsx
  src/main/topLevelPages/myDashboard/MyDashboardWithoutMemberships.tsx
  src/root.tsx
Due: eslint --fix, prettier --write

Scroll
  src/domain/collaboration/InnovationFlow/InnovationFlowDragNDropEditor/InnovationFlowDragNDropEditor.tsx
Due: eslint --fix, prettier --write

remove innovation from the tooltip in translations
  src/core/i18n/en/translation.en.json
Due: prettier --write

Remove Innovation flow title/description from innovation flow management (#7225)
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/InnovationFlowSettingsDialog.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowDragNDropEditor/InnovationFlowDragNDropEditor.tsx
Due: eslint --fix, prettier --write

use myLicensePrivileges
  .build/docker/.env.base
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/authorization/collaborationAuthorization.graphql
  src/domain/collaboration/authorization/useCollaborationAuthorization.ts
  src/domain/community/user/providers/UserProvider/UserProvider.graphql
  src/domain/community/user/providers/UserProvider/UserProvider.tsx
  src/domain/license/plans/utils/filterAndMapEnabledEntitlements.ts
  src/main/topLevelPages/myDashboard/Campaigns/CampaignBlock.graphql
  src/main/topLevelPages/myDashboard/Campaigns/CampaignBlock.tsx
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/newVirtualContributorQueries.graphql
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/useNewVirtualContributorProps.ts
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/useNewVirtualContributorWizard.tsx
Due: eslint --fix, prettier --write

fix myMemberships spaces link translations
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
  src/core/i18n/pt/translation.pt.json
  src/core/i18n/ua/translation.ua.json
Due: prettier --write

update translations from Crowdin
  src/core/i18n/ach/translation.ach.json
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
  src/core/i18n/pt/translation.pt.json
  src/core/i18n/ua/translation.ua.json
Due: prettier --write

Update .env.base
  .build/docker/.env.base
Due: none

fixed creation of VC rules / checks and simplified logic
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/account/queries/AccountInformation.graphql
  src/domain/collaboration/callout/creationDialog/useCalloutCreation/useCalloutCreation.ts
  src/domain/community/contributor/Account/ContributorAccountView.tsx
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/useNewVirtualContributorWizard.tsx
Due: eslint --fix, prettier --write

resolve pr comment
  src/core/auth/authentication/pages/AuthRequiredPage.tsx
Due: eslint --fix, prettier --write

check for space admin permission and show tooltip in subspace settings
  src/core/i18n/en/translation.en.json
  src/domain/journey/space/pages/SpaceSettings/SpaceSettingsPage.tsx
  src/domain/journey/space/pages/SpaceSettings/SpaceSettingsView.tsx
Due: eslint --fix, prettier --write

resolve pr comment
  src/core/ui/forms/FormikAutocomplete.tsx
  src/core/ui/forms/FormikSelect.tsx
  src/domain/communication/room/Comments/FormikCommentInputField.tsx
Due: eslint --fix, prettier --write

remove .env.base from git, the file is generated on build
  .build/docker/.env.base
Due: none

remove .env.base from git, the file is generated on build (#7233)
  .build/docker/.env.base
Due: none

Update the translations from Crowdin (#7231)
  src/core/i18n/ach/translation.ach.json
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
  src/core/i18n/pt/translation.pt.json
  src/core/i18n/ua/translation.ua.json
Due: prettier --write

dependency was missing in the useEffect
  src/main/topLevelPages/Home/HomePageLayout.tsx
Due: eslint --fix, prettier --write

check the templateSet privileges instead of space update ones
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/journey/space/pages/SpaceSettings/SpaceSettingsPage.tsx
  src/domain/journey/space/pages/SpaceSettings/SpaceSettingsView.tsx
  src/domain/templates/graphql/SpaceTemplatesSetId.graphql
Due: eslint --fix, prettier --write

sync changes from develop
  src/core/ui/forms/FormikAutocomplete.tsx
  src/core/ui/forms/FormikSelect.tsx
Due: eslint --fix, prettier --write

Apply lazyload error handler to whiteboards
  src/core/lazyLoading/lazyWithGlobalErrorHandler.ts
  src/domain/collaboration/whiteboard/WhiteboardDialog/SingleUserWhiteboardDialog.tsx
  src/domain/collaboration/whiteboard/WhiteboardPreviewImages/WhiteboardPreviewImages.ts
  src/domain/collaboration/whiteboard/utils/mergeWhiteboard.ts
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
  src/domain/common/whiteboard/excalidraw/ExcalidrawWrapper.tsx
  src/domain/common/whiteboard/excalidraw/collab/Collab.ts
  src/domain/common/whiteboard/excalidraw/collab/data/index.ts
Due: eslint --fix, prettier --write

Rewording
  src/core/i18n/en/translation.en.json
Due: prettier --write

Make the error.message detector more accurate
  src/core/lazyLoading/GlobalErrorDialog.tsx
Due: eslint --fix, prettier --write

Translations
  src/core/i18n/en/translation.en.json
  src/core/lazyLoading/GlobalErrorDialog.tsx
  src/core/lazyLoading/lazyWithGlobalErrorHandler.ts
Due: eslint --fix, prettier --write

dependency was missing in the useEffect (#7235)
  src/main/topLevelPages/Home/HomePageLayout.tsx
Due: eslint --fix, prettier --write

Create Template in Subspace settings - check for parent space permissions (#7232)
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/journey/space/pages/SpaceSettings/SpaceSettingsView.tsx
  src/domain/templates/graphql/SpaceTemplatesSetId.graphql
Due: eslint --fix, prettier --write

search the templates in the preview dialog
  src/domain/templates/components/Dialogs/ImportTemplateDialog/ImportTemplatesDialog.tsx
  src/domain/templates/components/Dialogs/ImportTemplateDialog/ImportTemplatesDialogGallery.tsx
Due: eslint --fix, prettier --write

fix misssing info text
  src/domain/templates/components/Dialogs/ImportTemplateDialog/ImportTemplatesDialog.tsx
Due: eslint --fix, prettier --write

hide all comments and contributors zero counts
  src/core/ui/typography/EllipsableWithCount.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/InnovationFlowCollaborationToolsBlock.tsx
  src/domain/collaboration/callout/calloutBlock/sort/SortDialog.tsx
  src/domain/collaboration/callout/post/PostCard.tsx
Due: eslint --fix, prettier --write

remove the type check for count in the EllipsableWithCount component since it's no longer required
  src/core/ui/typography/EllipsableWithCount.tsx
Due: eslint --fix, prettier --write

fix global import
  src/main/guidance/chatWidget/ChatWidget.tsx
Due: eslint --fix, prettier --write
