Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": "prettier --write"
}

rename variable
  src/domain/collaboration/memo/MemoDialog/MemoDialog.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardView.tsx
  src/main/public/whiteboard/PublicWhiteboardPage.tsx
Due: eslint --fix, prettier --write

wip
  src/core/i18n/en/translation.en.json
  src/domain/timeline/calendar/components/AddToCalendarButton.tsx
  src/domain/timeline/calendar/views/CalendarEventDetail.tsx
  src/domain/timeline/calendar/views/useCalendarEvent.ts
Due: eslint --fix, prettier --write

Merge pull request #9334 from alkem-io/client-9333
  package.json
  pnpm-lock.yaml
  src/domain/collaboration/memo/MemoDialog/MemoDialog.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardView.tsx
  src/domain/collaboration/whiteboard/guestAccess/tests/error404.spec.tsx
  src/domain/collaboration/whiteboard/guestAccess/tests/error500.spec.tsx
  src/domain/collaboration/whiteboard/guestAccess/tests/guestAccessDisabled404.spec.tsx
  src/main/public/whiteboard/PublicWhiteboardPage.tsx
Due: eslint --fix, prettier --write

increase the size of the callout view layout
  src/domain/collaboration/callout/CalloutView/CalloutViewLayout.tsx
Due: eslint --fix, prettier --write

temlate cards redesign
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/templates/components/Dialogs/ImportTemplateDialog/ImportTemplateDialog.graphql
  src/domain/templates/components/cards/CalloutTemplateCard.tsx
  src/domain/templates/components/cards/CommunityGuidelinesTemplateCard.tsx
  src/domain/templates/components/cards/PostTemplateCard.tsx
  src/domain/templates/components/cards/SpaceTemplateCard.tsx
  src/domain/templates/components/cards/TemplateCardLayout.tsx
  src/domain/templates/components/cards/WhiteboardTemplateCard.tsx
  src/main/topLevelPages/InnovationLibraryPage/InnovationLibraryPage.graphql
Due: eslint --fix, prettier --write

pr fixes
  src/domain/collaboration/callout/CalloutView/CalloutView.tsx
  src/domain/communication/discussion/views/DiscussionView.tsx
  src/domain/communication/room/Comments/CommentsComponent.tsx
Due: eslint --fix, prettier --write

template cards redesign (short)
  src/domain/templates/components/cards/TemplateCardLayout.tsx
Due: eslint --fix, prettier --write

pr fixes + new reusable collapsibleComments component
  src/domain/communication/discussion/views/DiscussionView.tsx
  src/domain/communication/room/Comments/CollapsibleCommentsThread.tsx
  src/domain/communication/room/Comments/CommentsComponent.tsx
Due: eslint --fix, prettier --write

Comments reworked (#9337)
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/callout/CalloutView/CalloutView.tsx
  src/domain/collaboration/callout/CalloutView/CalloutViewLayout.tsx
  src/domain/collaboration/calloutContributions/post/CalloutContributionPreviewPost.tsx
  src/domain/collaboration/calloutContributions/post/CommentsExpanderButton.tsx
  src/domain/communication/discussion/views/DiscussionView.tsx
  src/domain/communication/room/Comments/CollapsibleCommentsThread.tsx
  src/domain/communication/room/Comments/CommentsComponent.tsx
  src/domain/communication/room/Comments/MessagesThread.tsx
  src/domain/communication/room/Comments/useRestoredMessages.ts
  src/domain/timeline/calendar/views/CalendarEventDetailView.tsx
Due: eslint --fix, prettier --write

Template cards redesign (#9339)
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/templates/components/Dialogs/ImportTemplateDialog/ImportTemplateDialog.graphql
  src/domain/templates/components/cards/CalloutTemplateCard.tsx
  src/domain/templates/components/cards/CommunityGuidelinesTemplateCard.tsx
  src/domain/templates/components/cards/PostTemplateCard.tsx
  src/domain/templates/components/cards/SpaceTemplateCard.tsx
  src/domain/templates/components/cards/TemplateCardLayout.tsx
  src/domain/templates/components/cards/WhiteboardTemplateCard.tsx
  src/main/topLevelPages/InnovationLibraryPage/InnovationLibraryPage.graphql
Due: eslint --fix, prettier --write

icons
  src/core/i18n/en/translation.en.json
  src/domain/timeline/calendar/components/AddToCalendarButton.tsx
  src/domain/timeline/calendar/components/icons/AddToCalendarIcons.tsx
  src/domain/timeline/calendar/components/icons/apple.svg
  src/domain/timeline/calendar/components/icons/google.svg
  src/domain/timeline/calendar/components/icons/outlook.svg
Due: eslint --fix, prettier --write

Admin page for doing transfers (#9306)
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/platformAdmin/layout/toplevel/constants.ts
  src/domain/platformAdmin/management/authorization/AdminAuthorizationPage.tsx
  src/domain/platformAdmin/management/authorization/graphql/PlatformRoleSet.graphql
  src/domain/platformAdmin/management/transfer/TransferPage.tsx
  src/domain/platformAdmin/management/transfer/toFullUrl.ts
  src/domain/platformAdmin/management/transfer/transferCallout/TransferCallout.graphql
  src/domain/platformAdmin/management/transfer/transferCallout/TransferCalloutSection.tsx
  src/domain/platformAdmin/management/transfer/transferCallout/useTransferCallout.ts
  src/domain/platformAdmin/management/transfer/transferSpace/TransferSpace.graphql
  src/domain/platformAdmin/management/transfer/transferSpace/TransferSpaceSection.tsx
  src/domain/platformAdmin/management/transfer/transferSpace/useTransferSpace.ts
  src/domain/platformAdmin/routing/GlobalAuthorizationRoute.tsx
  src/domain/platformAdmin/routing/PlatformAdminRoute.tsx
Due: eslint --fix, prettier --write

0.133.0
  package.json
Due: prettier --write

fix the order of comment replies
  src/domain/communication/room/Comments/useMessagesTree.ts
Due: eslint --fix, prettier --write

0.133.1
  package.json
Due: prettier --write

translation update
  src/core/i18n/ach/translation.ach.json
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
Due: prettier --write

0.133.2
  package.json
Due: prettier --write

release skill for claude
  .claude/skills/release.md
Due: prettier --write

release skill for claude (#9354)
  .claude/skills/release.md
Due: prettier --write

get urls from server
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/timeline/calendar/calendarQueries.graphql
  src/domain/timeline/calendar/components/AddToCalendarButton.tsx
  src/domain/timeline/calendar/views/CalendarEventDetail.tsx
Due: eslint --fix, prettier --write

confirmation of admin transfers
  src/core/i18n/en/translation.en.json
  src/domain/platformAdmin/management/transfer/TransferPage.tsx
  src/domain/platformAdmin/management/transfer/transferCallout/TransferCalloutSection.tsx
  src/domain/platformAdmin/management/transfer/transferSpace/TransferSpaceSection.tsx
Due: eslint --fix, prettier --write

0.133.3
  package.json
Due: prettier --write

Adds account lockout message to login page
  src/core/auth/authentication/pages/LoginPage.tsx
  src/core/i18n/en/translation.en.json
Due: eslint --fix, prettier --write

Update src/core/auth/authentication/pages/LoginPage.tsx
  src/core/auth/authentication/pages/LoginPage.tsx
Due: eslint --fix, prettier --write

dropped travis.yml
  .travis.yml
Due: none

feat: add CI configuration files for build, lint, and test workflows
  .github/workflows/ci-build.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-test.yml
Due: none

chore: remove pnpm version specification from CI configuration files
  .github/workflows/ci-build.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-test.yml
Due: none

chore: update CI configuration to use pnpm caching and remove store verification
  .github/workflows/ci-build.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-test.yml
Due: none

Icons styles and export all events button
  src/core/i18n/en/translation.en.json
  src/domain/timeline/calendar/components/AddToCalendarButton.tsx
  src/domain/timeline/calendar/components/ExportEventsToIcsButton.tsx
  src/domain/timeline/calendar/components/icons/AddToCalendarIcons.tsx
  src/domain/timeline/calendar/components/icons/apple.svg
  src/domain/timeline/calendar/components/icons/google.svg
  src/domain/timeline/calendar/components/icons/outlook.svg
  src/domain/timeline/calendar/views/CalendarEventsList.tsx
Due: eslint --fix, prettier --write

chore: update CI configurations to cache pnpm store for improved performance
  .github/workflows/ci-build.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-test.yml
Due: none

chore: simplify CI configuration by using built-in pnpm caching
  .github/workflows/ci-build.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-test.yml
Due: none

convert event description to plain text
  src/core/ui/markdown/utils/markdownToPlainText.spec.ts
  src/core/ui/markdown/utils/markdownToPlainText.ts
  src/domain/timeline/calendar/components/ExportEventsToIcsButton.tsx
  src/domain/timeline/calendar/components/icons/apple.svg
Due: eslint --fix, prettier --write

address comments
  src/core/ui/markdown/utils/markdownToPlainText.ts
  src/domain/timeline/calendar/calendarQueries.graphql
  src/domain/timeline/calendar/components/ExportEventsToIcsButton.tsx
Due: eslint --fix, prettier --write

spec network timing
  specs/015-optimize-request-loading/checklists/requirements.md
  specs/015-optimize-request-loading/contracts/apollo-link-chain.md
  specs/015-optimize-request-loading/contracts/provider-tree.md
  specs/015-optimize-request-loading/contracts/query-consolidation.md
  specs/015-optimize-request-loading/data-model.md
  specs/015-optimize-request-loading/plan.md
  specs/015-optimize-request-loading/quickstart.md
  specs/015-optimize-request-loading/research.md
  specs/015-optimize-request-loading/spec.md
  specs/015-optimize-request-loading/tasks.md
Due: prettier --write

Extract lockout message ID to named constant
  src/core/auth/authentication/pages/LoginPage.tsx
Due: eslint --fix, prettier --write

Login backoff config (#9358)
  src/core/auth/authentication/pages/LoginPage.tsx
  src/core/i18n/en/translation.en.json
Due: eslint --fix, prettier --write
