Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Address pr comments
  src/domain/cookies/CookieSettings.tsx
  src/domain/cookies/GeneralConsent.tsx
  src/domain/cookies/components/Button.tsx
  src/domain/cookies/components/CookieCheckbox.tsx
Due: eslint --fix, prettier --write

longer comments are wrapped
  src/components/composite/common/Discussion/DiscussionComment.tsx
Due: eslint --fix, prettier --write

removed redundant style property
  src/components/composite/common/Discussion/DiscussionComment.tsx
Due: eslint --fix, prettier --write

Fix NL translations - by @larssondenise (#2279)
  src/i18n/nl/translation.nl.json
Due: prettier --write

Fix #2255 Avatars alignment problem in Hub dashboard (#2263)
  src/components/composite/entities/Organization/OrganizationBanners.tsx
  src/components/composite/layout/App/Footer.tsx
  src/components/composite/layout/AuthenticationLayout.tsx
  src/components/core/Avatar.tsx
  src/components/core/Image.tsx
  src/components/core/Spinner.tsx
  src/domain/community/LeadUserCard/LeadUserCard.tsx
  src/domain/shared/components/Image.tsx
  src/pages/Application/ApplyPage.tsx
Due: eslint --fix, prettier --write

migrated makeStyles to styled
  src/components/composite/common/Discussion/DiscussionComment.tsx
Due: eslint --fix, prettier --write

Update translations.
  src/i18n/bg/translation.bg.json
  src/i18n/en/translation.en.json
Due: prettier --write

removed package override for GOT to avoid ESM conflict
  package-lock.json
  package.json
Due: prettier --write

some text bolded on aspect template preview dialog
  src/domain/admin/templates/AspectTemplates/AspectTemplateView.tsx
Due: eslint --fix, prettier --write

layout inconsistencies between dashboard and accordion
  src/components/composite/common/Accordion/Accordion.tsx
  src/domain/shared/components/DashboardSections/DashboardGenericSection.tsx
  src/domain/shared/components/Section/SectionSubheader.tsx
Due: eslint --fix, prettier --write

images in datagrid to use material avatar
  src/domain/admin/challenge/views/AdminCommunityOrganizationsView.tsx
Due: eslint --fix, prettier --write

form fields
  src/components/Admin/Common/ContextSegment.tsx
  src/components/Admin/Common/MarkdownInput.tsx
  src/components/composite/aspect/AspectForm/AspectForm.tsx
  src/components/composite/forms/FormikMarkdownField.tsx
  src/views/CommunityUpdates/CommunityUpdatesView.tsx
  src/views/Discussions/NewDiscussionView.tsx
Due: eslint --fix, prettier --write

On Community Admin, available members open in a popup
  src/components/Admin/Community/EditMemberUsersWithPopup.tsx
  src/components/Admin/Community/EditMembers.tsx
  src/components/Admin/Community/EditMembersUsers.tsx
  src/components/Admin/Community/EditMembersUsersWithPopup.tsx
  src/config/graphql/typePolicies.ts
  src/domain/admin/challenge/ChallengeCommunityAdminPage.tsx
  src/domain/admin/challenge/views/AdminCommunityOrganizationsView.tsx
  src/domain/admin/community/availableMembers.graphql
  src/domain/admin/community/useAvailableCommunityUsers.ts
  src/domain/admin/community/useCommunityUserAssignment.ts
  src/domain/admin/community/views/CommunityAdminView2.tsx
  src/domain/admin/community/views/EditCommunityMembersSection.tsx
  src/domain/admin/community/views/EditOrganizationsWithPopup.tsx
  src/domain/admin/hub/HubCommunityAdminPage.tsx
  src/domain/admin/opportunity/OpportunityCommunityAdminPage.tsx
  src/domain/community/useCommunityAssignment/useAllPossibleOrganizations.ts
  src/domain/community/useCommunityAssignment/useCommunityMembersAssignment.ts
  src/domain/community/useCommunityAssignment/useLeadUserAssignment.ts
  src/domain/community/useCommunityAssignment/useMemberUserAssignment.ts
  src/domain/shared/components/Heading.tsx
  src/domain/shared/pagination/usePaginatedQuery.ts
  src/hooks/generated/graphql.ts
  src/i18n/en/translation.en.json
  src/models/graphql-schema.ts
  src/themes/default/typography.ts
Due: eslint --fix, prettier --write

cleanup
  src/config/graphql/typePolicies.ts
Due: eslint --fix, prettier --write

cleanup
  src/components/Admin/Community/EditMemberUsersWithPopup.tsx
  src/domain/admin/challenge/ChallengeCommunityAdminPage.tsx
  src/domain/admin/hub/HubCommunityAdminPage.tsx
  src/domain/admin/opportunity/OpportunityCommunityAdminPage.tsx
Due: eslint --fix, prettier --write

cleanup
  src/domain/admin/community/views/CommunityAdminView.tsx
  src/domain/admin/community/views/CommunityAdminView2.tsx
Due: eslint --fix, prettier --write

cleanup
  src/domain/admin/community/views/CommunityAdminView.tsx
Due: eslint --fix, prettier --write

fix
  src/components/Admin/Community/EditMembers.tsx
Due: eslint --fix, prettier --write

rename
  src/domain/admin/community/availableCommunityUsers.graphql
Due: none

Text lengths and better error handling
  src/components/composite/common/Discussion/PostComment.tsx
  src/context/Discussions/DiscussionProvider.tsx
  src/domain/admin/templates/AspectTemplates/AspectTemplateForm.tsx
  src/views/Discussions/DiscussionView.tsx
  src/views/aspect/AspectDashboardView.tsx
Due: eslint --fix, prettier --write

Revert "Address pr comments"
  src/domain/cookies/CookieSettings.tsx
  src/domain/cookies/GeneralConsent.tsx
  src/domain/cookies/components/Button.tsx
  src/domain/cookies/components/CookieCheckbox.tsx
Due: eslint --fix, prettier --write

Fix typo
  src/i18n/en/translation.en.json
Due: prettier --write

Remove package
  package-lock.json
  package.json
Due: prettier --write

Removed an any
  src/context/Discussions/DiscussionProvider.tsx
Due: eslint --fix, prettier --write

Use Box as text container.
  src/domain/cookies/CookieSettings.tsx
  src/domain/cookies/GeneralConsent.tsx
  src/domain/cookies/components/TextContainer.tsx
Due: eslint --fix, prettier --write

Add MUI Button.
  src/domain/cookies/CookieSettings.tsx
  src/domain/cookies/GeneralConsent.tsx
  src/domain/cookies/components/Button.tsx
Due: eslint --fix, prettier --write

Add netherlands translation.
  src/i18n/en/translation.en.json
  src/i18n/nl/translation.nl.json
Due: prettier --write

Add custom cookie component. (#2267)
  package-lock.json
  package.json
  src/components/composite/layout/App/App.tsx
  src/domain/cookies/CookieConsent.tsx
  src/domain/cookies/CookieSettings.tsx
  src/domain/cookies/GeneralConsent.tsx
  src/domain/cookies/components/Button.tsx
  src/domain/cookies/components/ConsentContainer.tsx
  src/domain/cookies/components/TextContainer.tsx
  src/domain/cookies/useAlkemioCookies.ts
  src/i18n/bg/translation.bg.json
  src/i18n/en/translation.en.json
  src/i18n/nl/translation.nl.json
  src/i18n/ua/translation.ua.json
  src/root.tsx
Due: eslint --fix, prettier --write

change the packages needed for codegen to run again
  package-lock.json
  package.json
Due: prettier --write

updated the package-lock file
  package-lock.json
Due: prettier --write

Clean up
  src/components/composite/common/Discussion/PostComment.tsx
  src/components/composite/forms/FormikMarkdownField.tsx
Due: eslint --fix, prettier --write

Max length to the tagline input field #2211
  src/components/Admin/Common/InputField.tsx
  src/components/Admin/HubEditForm.tsx
  src/components/composite/forms/FormikInputField.tsx
Due: eslint --fix, prettier --write

updated to work against server-2029b branch
  graphql/queries/opportunityEcosystemDetails.graphql
  package-lock.json
  package.json
  src/components/Opportunity/ActorWhiteboard.tsx
  src/components/composite/dialogs/CanvasDialog/CanvasCreateDialog.tsx
  src/components/composite/dialogs/CanvasDialog/CanvasDialog.tsx
  src/components/composite/lists/Canvas/CanvasListItem.tsx
  src/containers/canvas/CanvasActionsContainer.tsx
  src/containers/canvas/canvasActions.graphql
  src/domain/canvas/validation/canvasSchema.ts
  src/hooks/generated/graphql.ts
  src/models/apollo-helpers.ts
  src/models/graphql-schema.ts
  src/views/Canvas/CanvasManagementView.tsx
Due: eslint --fix, prettier --write

Made updating state mandatory in EditMemberUsersProps
  src/components/Admin/Authorization/EditGroupCredentials.tsx
  src/components/Admin/Authorization/EditMemberCredentials.tsx
  src/components/Admin/Community/EditMemberUsersWithPopup.tsx
  src/components/Admin/Community/EditMembersUsers.tsx
  src/domain/admin/organization/views/OrganizationAdminAuthorizationView.tsx
  src/domain/admin/organization/views/OrganizationMembersView.tsx
  src/domain/admin/organization/views/OrganizationOwnerAuthorizationView.tsx
  src/pages/Admin/Challenge/ChallengeAuthorization/ChallengeAuthorizationView.tsx
  src/pages/Admin/GlobalAuthorizationPage.tsx
  src/pages/Admin/GlobalCommunityAuthorizationPage.tsx
  src/pages/Admin/Hub/HubAuthorization/HubAuthorizationView.tsx
  src/pages/Admin/Opportunity/OpportunityAuthorization/OpportunityAdminAuthorizationView.tsx
Due: eslint --fix, prettier --write

Restored fix for Organization Avatars
  package-lock.json
  src/domain/admin/community/views/EditOrganizationsWithPopup.tsx
Due: eslint --fix, prettier --write

removed package-lock
  package-lock.json
Due: prettier --write

codegen now working
  package-lock.json
  package.json
Due: prettier --write

updated graphql schema
  src/models/graphql-schema.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
