Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Deleted old translation file for de
  src/core/i18n/de/translation.de.json
Due: prettier --write

Create de
  src/core/i18n/de
Due: none

Added German translation
  src/core/i18n/translation.de.json
Due: prettier --write

Delete translation.fr (1).json
  src/core/i18n/fr/translation.fr (1).json
Due: prettier --write

Added French translation
  src/core/i18n/fr/translation.fr.json
Due: prettier --write

Delete de
  src/core/i18n/de
Due: none

Remove location header.
  src/common/components/composite/forms/UserForm.tsx
  src/domain/common/location/LocationSegment.tsx
  src/domain/platform/admin/components/Organization/OrganizationForm.tsx
Due: eslint --fix, prettier --write

address comment
  src/core/ui/forms/DatePicker/AlkemioTimePicker.tsx
Due: eslint --fix, prettier --write

moved to correct dir
  src/core/i18n/de/translation.de.json
Due: prettier --write

Added French translation (#4007)
  src/core/i18n/de/translation.de.json
  src/core/i18n/fr/translation.fr.json
Due: prettier --write

Replace TimePicker with a Combobox (#4002)
  src/core/ui/forms/DatePicker/AlkemioTimePicker.tsx
  src/domain/timeline/calendar/views/CalendarEventForm.tsx
Due: eslint --fix, prettier --write

Fixed wrong button label for creation of whiteboard template
  src/domain/platform/admin/templates/WhiteboardTemplates/CreateWhiteboardTemplateDialog.tsx
Due: eslint --fix, prettier --write

Fixed wrong button label for creation of whiteboard template (#4009)
  src/domain/platform/admin/templates/WhiteboardTemplates/CreateWhiteboardTemplateDialog.tsx
Due: eslint --fix, prettier --write

Post/Whiteboard Callouts have the correct type of grid
  src/domain/collaboration/callout/aspect/AspectCallout.tsx
  src/domain/collaboration/callout/canvas/CanvasCallout.tsx
Due: eslint --fix, prettier --write

Hub Navigation tooltip is on the right on mobiles
  src/domain/challenge/hub/HubDashboardNavigation/DashboardNavigation.tsx
Due: eslint --fix, prettier --write

cleanup
  src/domain/challenge/hub/HubDashboardNavigation/DashboardNavigation.tsx
Due: eslint --fix, prettier --write

read privilege on collaboration
  src/domain/collaboration/callout/useCallouts/useCallouts.ts
  src/domain/collaboration/knowledge-base/KnowedgeBasePage.tsx
Due: eslint --fix, prettier --write

Post/Whiteboard Callouts have the correct type of grid (#4010)
  src/domain/collaboration/callout/aspect/AspectCallout.tsx
  src/domain/collaboration/callout/canvas/CanvasCallout.tsx
Due: eslint --fix, prettier --write

User form has References properly aligned
  src/common/components/composite/forms/UserForm.tsx
Due: eslint --fix, prettier --write

User form has References properly aligned (#4013)
  src/common/components/composite/forms/UserForm.tsx
Due: eslint --fix, prettier --write

read privilege on collaboration (#4012)
  src/domain/collaboration/callout/useCallouts/useCallouts.ts
  src/domain/collaboration/knowledge-base/KnowedgeBasePage.tsx
Due: eslint --fix, prettier --write

Can send a direct message from Hub Welcome section
  src/core/ui/card/ContributorCardHorizontal.tsx
  src/domain/challenge/common/JourneyAboutDialog/JourneyAboutDialog.tsx
  src/domain/challenge/common/tabs/Dashboard/JourneyDashboardView.tsx
  src/domain/challenge/hub/HubCommunityPage/HubCommunityPage.tsx
  src/domain/challenge/hub/HubDashboard/HubDashboardView.tsx
  src/domain/communication/messaging/DirectMessaging/DirectMessageDialog.tsx
  src/domain/communication/messaging/DirectMessaging/useDirectMessageDialog.tsx
  src/domain/community/community/CommunityContributors/ContributingUsers.tsx
  src/domain/shared/components/AuthorAvatar/AuthorAvatar.tsx
Due: eslint --fix, prettier --write

Restored clickability in Admin > Hub templates
  src/domain/shared/components/SimpleCard.tsx
Due: eslint --fix, prettier --write

Can send a direct message from Hub Welcome section (#4015)
  src/core/ui/card/ContributorCardHorizontal.tsx
  src/domain/challenge/common/JourneyAboutDialog/JourneyAboutDialog.tsx
  src/domain/challenge/common/tabs/Dashboard/JourneyDashboardView.tsx
  src/domain/challenge/hub/HubCommunityPage/HubCommunityPage.tsx
  src/domain/challenge/hub/HubDashboard/HubDashboardView.tsx
  src/domain/communication/messaging/DirectMessaging/DirectMessageDialog.tsx
  src/domain/communication/messaging/DirectMessaging/useDirectMessageDialog.tsx
  src/domain/community/community/CommunityContributors/ContributingUsers.tsx
  src/domain/shared/components/AuthorAvatar/AuthorAvatar.tsx
Due: eslint --fix, prettier --write

Fix mobile view
  src/domain/timeline/calendar/views/CalendarEventForm.tsx
Due: eslint --fix, prettier --write

Restored clickability in Admin > Hub templates (#4016)
  src/domain/shared/components/SimpleCard.tsx
Due: eslint --fix, prettier --write

#4001
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/challenge/challenge/ChallengeCard/ChallengeCard.tsx
  src/domain/challenge/hub/HubDashboard/HubDashboardPage.tsx
  src/domain/challenge/hub/HubDashboard/HubDashboardView.tsx
  src/domain/challenge/hub/HubDashboardNavigation/DashboardNavigation.tsx
  src/domain/challenge/hub/HubDashboardNavigation/HubDashboardNavigation.graphql
  src/domain/challenge/hub/HubDashboardNavigation/useHubDashboardNavigation.ts
Due: eslint --fix, prettier --write

Hub Navigation tooltip is on the left on mobiles (#4011)
  src/domain/challenge/hub/HubDashboardNavigation/DashboardNavigation.tsx
Due: eslint --fix, prettier --write

Fix mobile view (#4017)
  src/domain/timeline/calendar/views/CalendarEventForm.tsx
Due: eslint --fix, prettier --write

Organization can be messaged from Hub Dashboard Welcome block
  src/domain/challenge/hub/HubDashboard/HubDashboardView.tsx
  src/domain/communication/messaging/DirectMessaging/DirectMessageDialog.tsx
  src/domain/communication/messaging/DirectMessaging/useDirectMessageDialog.tsx
  src/domain/community/community/CommunityContributors/ContributingUsers.tsx
  src/domain/community/community/utils/useUserCardProps.ts
  src/domain/community/contributor/ContributorCardSquare/ContributorCardSquare.tsx
  src/domain/community/contributor/user/ContributingUserCard/ContributingUserCard.tsx
  src/domain/shared/components/AuthorAvatar/AuthorAvatar.tsx
  src/domain/shared/components/PageHeader/ProfileBanner.tsx
Due: eslint --fix, prettier --write

Fixed deps
  src/domain/communication/messaging/DirectMessaging/useDirectMessageDialog.tsx
Due: eslint --fix, prettier --write

Change OageContent props.
  src/domain/collaboration/InnovationPack/InnovationPackProfilePage/InnovationPackBanner.tsx
  src/domain/shared/components/PageHeader/ProfileBanner.tsx
Due: eslint --fix, prettier --write

rename tooltipCard
  src/domain/challenge/hub/HubDashboardNavigation/DashboardNavigation.tsx
Due: eslint --fix, prettier --write

Add tagline to User/Org settings. (#4006)
  src/common/components/composite/forms/UserForm.tsx
  src/common/utils/getUpdateUserInput.ts
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/core/i18n/fr/translation.fr.json
  src/core/ui/content/PageContent.tsx
  src/domain/collaboration/InnovationPack/InnovationPackProfilePage/InnovationPackBanner.tsx
  src/domain/common/location/LocationSegment.tsx
  src/domain/community/contributor/organization/OrganizationInput.ts
  src/domain/community/contributor/organization/context/OrganizationInfoFragment.graphql
  src/domain/community/contributor/organization/graphql/fragments/organizationProfileInfo.graphql
  src/domain/community/contributor/organization/layout/OrganizationPageBanner.tsx
  src/domain/community/contributor/user/graphql/fragments/userDetails.graphql
  src/domain/community/contributor/user/layout/UserPageBanner.tsx
  src/domain/community/contributor/user/models/User.ts
  src/domain/platform/admin/components/Common/ProfileSegment.tsx
  src/domain/platform/admin/components/Organization/OrganizationForm.tsx
  src/domain/platform/admin/components/Organization/OrganizationPage.tsx
  src/domain/shared/components/PageHeader/ProfileBanner.tsx
Due: eslint --fix, prettier --write

Organization can be messaged from Hub Dashboard Welcome block (#4019)
  src/domain/challenge/hub/HubDashboard/HubDashboardView.tsx
  src/domain/communication/messaging/DirectMessaging/DirectMessageDialog.tsx
  src/domain/communication/messaging/DirectMessaging/useDirectMessageDialog.tsx
  src/domain/community/community/CommunityContributors/ContributingUsers.tsx
  src/domain/community/community/utils/useUserCardProps.ts
  src/domain/community/contributor/ContributorCardSquare/ContributorCardSquare.tsx
  src/domain/community/contributor/user/ContributingUserCard/ContributingUserCard.tsx
  src/domain/shared/components/AuthorAvatar/AuthorAvatar.tsx
  src/domain/shared/components/PageHeader/ProfileBanner.tsx
Due: eslint --fix, prettier --write

Add a maxHeight to the timePicker combo boxes
  src/core/ui/forms/DatePicker/AlkemioTimePicker.tsx
Due: eslint --fix, prettier --write

Address comments
  src/domain/challenge/hub/HubDashboardNavigation/DashboardNavigation.tsx
  src/domain/challenge/hub/HubDashboardNavigation/DashboardNavigationItemView.tsx
Due: eslint --fix, prettier --write

Add a maxHeight to the timePicker combo boxes (#4021)
  src/core/ui/forms/DatePicker/AlkemioTimePicker.tsx
Due: eslint --fix, prettier --write

Minor version bump
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
