Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

reflection updates from the server PR after comments
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/community/inviteContributors/InviteContributorsProps.tsx
  src/domain/community/virtualContributor/graphql/VirtualContributor.graphql
  src/domain/community/virtualContributor/graphql/fragments/VirtualContributorWithModelCard.graphql
  src/domain/community/virtualContributor/model/VirtualContributorModelFull.ts
  src/domain/community/virtualContributor/utils/createVirtualContributorModelFull.ts
  src/domain/community/virtualContributor/vcProfilePage/VCProfilePageView.tsx
Due: eslint --fix, prettier --write

Refactor profile assignment in AssociatedOrganization
  src/domain/community/organization/AssociatedOrganizations/AssociatedOrganization.ts
Due: eslint --fix, prettier --write

Remove the tagline from the org associates (#8745)
  src/domain/community/organization/AssociatedOrganizations/AssociatedOrganization.ts
Due: eslint --fix, prettier --write

0.112.1
  package-lock.json
  package.json
Due: prettier --write

update tiptap packages to 3+
  package-lock.json
  package.json
  src/core/ui/forms/CollaborativeMarkdownInput/hooks/useCollaboration.ts
Due: eslint --fix, prettier --write

Some fixes of things I found when translating
  src/core/i18n/en/translation.en.json
Due: prettier --write

Support for Space tabs beyond knowledge-base.
  src/domain/space/layout/tabbedLayout/Tabs/FlowStateTabPage/FlowStateTabPage.tsx
  src/domain/space/routing/SpaceRoutes.tsx
Due: eslint --fix, prettier --write

fix warnings in tiptap about duplicate configuration on our side
  src/core/ui/forms/MarkdownInput/hooks/useEditorConfig.ts
Due: eslint --fix, prettier --write

differentiate collaborating users by id not by clientId because many clientIds for 1 user
  src/core/ui/forms/CollaborativeMarkdownInput/CollaborativeMarkdownInput.tsx
  src/core/ui/forms/CollaborativeMarkdownInput/hooks/useCollaboration.ts
  src/core/ui/forms/CollaborativeMarkdownInput/useUserCursor.ts
Due: eslint --fix, prettier --write

update package-lock
  package-lock.json
Due: prettier --write

Support for Space tabs beyond knowledge-base. (#8747)
  src/domain/space/layout/tabbedLayout/Tabs/FlowStateTabPage/FlowStateTabPage.tsx
  src/domain/space/routing/SpaceRoutes.tsx
Due: eslint --fix, prettier --write

Some more fixes
  src/core/i18n/en/translation.en.json
Due: prettier --write

fix styles
  src/core/ui/forms/CollaborativeMarkdownInput/styles.scss
Due: none

fix errors
  src/core/i18n/en/translation.en.json
Due: prettier --write

fix
  src/domain/collaboration/callout/components/CardsExpandableContainer.tsx
Due: eslint --fix, prettier --write

nothing works yet
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/callout/CalloutContributions/CalloutContributions.graphql
  src/domain/collaboration/callout/CalloutContributions/CalloutContributionsContainer.tsx
  src/domain/collaboration/callout/CalloutContributions/ContributionsCardsContainer/ContributionsCardsContainer.tsx
  src/domain/collaboration/callout/CalloutContributions/link/CalloutContributionsLink.tsx
  src/domain/collaboration/callout/CalloutContributions/post/CalloutContributionsPost.tsx
  src/domain/collaboration/callout/CalloutContributions/post/graphql/CalloutContributionPost.graphql
  src/domain/collaboration/callout/CalloutContributions/post/graphql/CalloutPostCreatedSubscription.graphql
  src/domain/collaboration/callout/CalloutContributions/post/graphql/contributeTabPostFragment.graphql
  src/domain/collaboration/callout/CalloutContributions/post/graphql/postCard.graphql
  src/domain/collaboration/callout/CalloutContributions/post/useCalloutPostCreatedSubscription.ts
  src/domain/collaboration/callout/CalloutContributions/whiteboard/CalloutContributionsWhiteboard.tsx
  src/domain/collaboration/callout/CalloutContributions/whiteboard/graphql/CalloutWhiteboards.graphql
  src/domain/collaboration/callout/icons/calloutIcons.ts
  src/domain/collaboration/whiteboard/containers/WhiteboardQueries.graphql
  src/domain/shared/pagination/usePaginatedQuery.ts
  src/main/search/searchResults/searchResultsCallout/SearchResultsCalloutCardFooter.tsx
Due: eslint --fix, prettier --write

changes with Donna
  src/core/i18n/en/translation.en.json
  src/main/search/SearchView.tsx
Due: eslint --fix, prettier --write

refactor
  src/core/ui/utils/InViewDetector.tsx
  src/domain/collaboration/CalloutPage/CalloutPage.tsx
  src/domain/collaboration/CalloutPage/CalloutPageCallout.graphql
  src/domain/collaboration/callout/CalloutContributions/link/CalloutContributionsLink.tsx
  src/domain/collaboration/callout/CalloutContributions/link/models/LinkDetails.ts
  src/domain/collaboration/callout/CalloutContributions/post/CalloutContributionsPost.tsx
  src/domain/collaboration/callout/CalloutFramings/CalloutFramingLink.tsx
  src/domain/collaboration/callout/CalloutFramings/CalloutFramingMemo.tsx
  src/domain/collaboration/callout/CalloutFramings/CalloutFramingWhiteboard.tsx
  src/domain/collaboration/callout/CalloutView/CalloutDetailsContainer.tsx
  src/domain/collaboration/callout/CalloutView/CalloutView.tsx
  src/domain/collaboration/callout/CalloutViewTypes.tsx
  src/domain/collaboration/callout/calloutBlock/CalloutHeader.tsx
  src/domain/collaboration/callout/calloutBlock/CalloutLayoutTypes.tsx
  src/domain/collaboration/callout/calloutBlock/CalloutSettingsContainer.tsx
  src/domain/collaboration/callout/models/CalloutDetailsModel.ts
  src/domain/collaboration/callout/models/CalloutModelLight.ts
  src/domain/collaboration/callout/models/CalloutModelLight.tsx
  src/domain/collaboration/callout/models/mappings.ts
  src/domain/collaboration/callout/useCalloutDetails/CalloutDetailsContainer.tsx
  src/domain/collaboration/callout/useCalloutDetails/useCalloutDetails.ts
  src/domain/collaboration/calloutsSet/CalloutsView/CalloutsView.tsx
  src/domain/collaboration/calloutsSet/useCalloutsSet/useCalloutsSet.ts
  src/domain/community/virtualContributor/knowledgeBase/useKnowledgeBase.tsx
  src/domain/templates/components/Forms/common/mappings.ts
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/TryVC/TryVirtualContributorDialog.tsx
Due: eslint --fix, prettier --write

Some progress
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/ui/content/BlockTitleWithIcon.tsx
  src/core/ui/content/PageContentBlockHeaderCardLike.tsx
  src/domain/collaboration/CalloutPage/CalloutPage.tsx
  src/domain/collaboration/callout/CalloutContributions/CalloutContributionPreview/CalloutContributionPreview.graphql
  src/domain/collaboration/callout/CalloutContributions/CalloutContributionPreview/CalloutContributionPreview.tsx
  src/domain/collaboration/callout/CalloutContributions/CalloutContributions.graphql
  src/domain/collaboration/callout/CalloutContributions/CalloutContributionsContainer.tsx
  src/domain/collaboration/callout/CalloutContributions/post/graphql/CalloutContributionPost.graphql
  src/domain/collaboration/callout/CalloutView/CalloutView.tsx
  src/domain/collaboration/callout/models/CalloutDetailsModel.ts
  src/domain/collaboration/post/views/PostRoute.tsx
  src/domain/collaboration/whiteboard/views/WhiteboardRoute.tsx
Due: eslint --fix, prettier --write

Translations 18sep (#8749)
  src/core/i18n/en/translation.en.json
  src/main/search/SearchView.tsx
Due: eslint --fix, prettier --write

do not filter users unnecessarily
  src/core/ui/forms/CollaborativeMarkdownInput/CollaborativeMarkdownInput.tsx
Due: eslint --fix, prettier --write

revert unneded vite change
  vite.config.mjs
Due: none

remove aiPersonaID references
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/community/virtualContributor/graphql/VirtualContributor.graphql
  src/domain/community/virtualContributor/model/VirtualContributorModelFull.ts
  src/domain/community/virtualContributorAdmin/components/BodyOfKnowledgeManagement.tsx
  src/domain/community/virtualContributorAdmin/components/ExternalConfig.tsx
  src/domain/community/virtualContributorAdmin/components/PromptConfig.tsx
Due: eslint --fix, prettier --write

Tiptap: Upgrade to 3+ (#8748)
  package-lock.json
  package.json
  src/core/ui/forms/CollaborativeMarkdownInput/CollaborativeMarkdownInput.tsx
  src/core/ui/forms/CollaborativeMarkdownInput/hooks/useCollaboration.ts
  src/core/ui/forms/CollaborativeMarkdownInput/styles.scss
  src/core/ui/forms/CollaborativeMarkdownInput/useUserCursor.ts
  src/core/ui/forms/MarkdownInput/hooks/useEditorConfig.ts
Due: eslint --fix, prettier --write

In-app & email user notification settings support. Additional grouping.
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/core/ui/forms/SettingsGroups/DualSwitchSettingsGroup.tsx
  src/domain/community/userAdmin/graphql/updateUserSettings.graphql
  src/domain/community/userAdmin/tabs/UserAdminNotificationsPage.tsx
  src/domain/community/userAdmin/tabs/components/CombinedPlatformNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/components/CombinedSpaceNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/components/CombinedUserNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/components/ForumNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/components/OrganizationNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/components/PlatformAdminNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/components/SpaceAdminNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/components/SpaceNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/components/UserMembershipNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/components/UserNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/components/VCNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/model/NotificationSettings.model.ts
  vite.config.mjs
Due: eslint --fix, prettier --write

Small fixes of things found when translating
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/realTimeCollaboration/CollaborationSettings/CollaborationSettings.tsx
Due: eslint --fix, prettier --write

Coderabbit suggestion
  src/core/i18n/en/translation.en.json
Due: prettier --write

move callout contributions folder
  src/domain/collaboration/CalloutPage/CalloutPage.tsx
  src/domain/collaboration/callout/CalloutView/CalloutView.tsx
  src/domain/collaboration/callout/calloutBlock/CalloutSettingsContainer.tsx
  src/domain/collaboration/callout/models/CalloutDetailsModel.ts
  src/domain/collaboration/callout/models/mappings.ts
  src/domain/collaboration/callout/useCalloutDetails/useCalloutDetails.ts
  src/domain/collaboration/calloutContributions/CalloutContributions.graphql
  src/domain/collaboration/calloutContributions/CalloutContributionsContainer.tsx
  src/domain/collaboration/calloutContributions/CreateContributionButton.tsx
  src/domain/collaboration/calloutContributions/calloutContributionPreview/CalloutContributionPreview.graphql
  src/domain/collaboration/calloutContributions/calloutContributionPreview/CalloutContributionPreview.tsx
  src/domain/collaboration/calloutContributions/calloutsContributionsSortDialog/CalloutContributionsSortDialog.graphql
  src/domain/collaboration/calloutContributions/calloutsContributionsSortDialog/CalloutContributionsSortDialog.tsx
  src/domain/collaboration/calloutContributions/contributionsCardsContainer/ContributionsCardsContainer.tsx
  src/domain/collaboration/calloutContributions/link/CalloutContributionsLink.tsx
  src/domain/collaboration/calloutContributions/link/graphql/CreateLinkOnCallout.graphql
  src/domain/collaboration/calloutContributions/link/graphql/deleteLink.graphql
  src/domain/collaboration/calloutContributions/link/graphql/updateLink.graphql
  src/domain/collaboration/calloutContributions/link/models/LinkDetails.ts
  src/domain/collaboration/calloutContributions/post/CalloutContributionsPost.tsx
  src/domain/collaboration/calloutContributions/post/PostCard.tsx
  src/domain/collaboration/calloutContributions/post/graphql/CalloutPostCreatedSubscription.graphql
  src/domain/collaboration/calloutContributions/post/graphql/CreatePostOnCallout.graphql
  src/domain/collaboration/calloutContributions/post/useCalloutPostCreatedSubscription.ts
  src/domain/collaboration/calloutContributions/whiteboard/CalloutContributionsWhiteboard.tsx
  src/domain/collaboration/calloutContributions/whiteboard/WhiteboardCard.tsx
  src/domain/collaboration/calloutContributions/whiteboard/graphql/CreateWhiteboardOnCallout.graphql
  src/domain/collaboration/calloutsSet/CalloutsInContext/CalloutsGroupView.tsx
  src/domain/collaboration/calloutsSet/CalloutsView/CalloutsView.tsx
  src/domain/collaboration/calloutsSet/authorization/useCalloutsSetAuthorization.ts
  src/domain/collaboration/calloutsSet/useCalloutsSet/useCalloutsSet.ts
  src/domain/templates/components/Forms/common/mappings.ts
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/TryVC/TryVirtualContributorDialog.tsx
Due: eslint --fix, prettier --write

Migrate from npm to pnpm package management (#8769)
  .gitignore
  .pnpmrc
  Dockerfile
  README.md
  docs/development-setup.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/dev/routes.tsx
  src/domain/InnovationPack/InnovationPackRoute.tsx
  src/domain/community/organization/routing/OrganizationRoute.tsx
  src/domain/space/routing/SubspaceRoutes.tsx
Due: eslint --fix, prettier --write

simplify a bit
  src/domain/collaboration/callout/models/CalloutDetailsModel.ts
  src/domain/collaboration/callout/useCalloutDetails/CalloutDetailsContainer.tsx
  src/domain/collaboration/callout/useCalloutDetails/useCalloutDetails.ts
  src/domain/collaboration/calloutsSet/CalloutsView/CalloutsView.tsx
Due: eslint --fix, prettier --write

Small fixes of things found when translating (#8763)
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/realTimeCollaboration/CollaborationSettings/CollaborationSettings.tsx
Due: eslint --fix, prettier --write

fix aiPersona.id resolving
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/community/virtualContributor/utils/createAiPersonaModelCardModelFromFragment.ts
  src/domain/community/virtualContributorAdmin/components/ExternalConfig.tsx
Due: eslint --fix, prettier --write

add the video call dialog to (sub)spaces
  src/core/i18n/en/translation.en.json
  src/domain/space/components/VideoCallDialog/VideoCallDialog.tsx
  src/domain/space/components/subspaces/DialogActionButton.tsx
  src/domain/space/components/subspaces/DialogActions.tsx
  src/domain/space/components/subspaces/SubspaceDialog.ts
  src/domain/space/layout/SubspaceDrawerMenu.tsx
  src/domain/space/layout/SubspaceInfoColumn.tsx
  src/domain/space/layout/tabbedLayout/Tabs/SpaceTabs.tsx
Due: eslint --fix, prettier --write

pnpm instead of npm
  .gitignore
  .pnpmrc
  Dockerfile
  README.md
  docs/development-setup.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/dev/routes.tsx
  src/domain/InnovationPack/InnovationPackRoute.tsx
  src/domain/community/organization/routing/OrganizationRoute.tsx
  src/domain/space/routing/SubspaceRoutes.tsx
Due: eslint --fix, prettier --write

add the CI config
  .travis.yml
Due: none

pr fix
  package.json
Due: prettier --write

navigate to cards
  src/domain/collaboration/calloutContributions/calloutContributionPreview/CalloutContributionPreview.tsx
Due: eslint --fix, prettier --write

fix more import issues with packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

sync package version
  package.json
  pnpm-lock.yaml
Due: prettier --write

Migrate from npm to pnpm (#8771)
  .gitignore
  .pnpmrc
  .travis.yml
  Dockerfile
  README.md
  docs/development-setup.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/dev/routes.tsx
  src/domain/InnovationPack/InnovationPackRoute.tsx
  src/domain/community/organization/routing/OrganizationRoute.tsx
  src/domain/space/routing/SubspaceRoutes.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
