Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": "prettier --write"
}

More AI fixes
  specs/096-crd-user-pages/contracts/organizationProfile.ts
  specs/096-crd-user-pages/contracts/publicProfile.ts
  specs/096-crd-user-pages/contracts/vcProfile.ts
  src/crd/app/pages/OrganizationProfileDemoPage.tsx
  src/crd/app/pages/UserProfileOtherDemoPage.tsx
  src/crd/app/pages/UserProfileSelfDemoPage.tsx
  src/crd/components/organization/OrganizationProfileSidebar.tsx
  src/crd/components/organization/OrganizationResourceSections.tsx
  src/crd/components/user/SpaceGridCard.tsx
  src/crd/components/user/UserResourceSections.tsx
  src/crd/components/virtualContributor/VCBodyOfKnowledgeSection.tsx
  src/crd/i18n/profilePages/profilePages.bg.json
  src/crd/i18n/profilePages/profilePages.de.json
  src/crd/i18n/profilePages/profilePages.en.json
  src/crd/i18n/profilePages/profilePages.es.json
  src/crd/i18n/profilePages/profilePages.fr.json
  src/crd/i18n/profilePages/profilePages.nl.json
  src/main/crdPages/topLevelPages/organizationPages/publicProfile/CrdOrganizationProfilePage.tsx
  src/main/crdPages/topLevelPages/userPages/publicProfile/AssociatedOrganizationCardConnector.tsx
  src/main/crdPages/topLevelPages/userPages/publicProfile/CrdUserProfilePage.tsx
  src/main/crdPages/topLevelPages/userPages/publicProfile/MembershipCardConnector.tsx
Due: eslint --fix, prettier --write

More AI review comments
  specs/096-crd-user-pages/spec.md
  src/crd/app/data/profiles.ts
  src/crd/components/common/CompactContributorCard.tsx
  src/crd/components/organization/OrganizationPageHero.tsx
  src/crd/components/organization/OrganizationProfileSidebar.tsx
  src/crd/components/organization/OrganizationResourceSections.tsx
  src/crd/components/user/UserPageHero.tsx
  src/crd/components/user/UserProfileSidebar.tsx
  src/crd/components/user/UserResourceSections.tsx
  src/crd/components/virtualContributor/VCPageHero.tsx
  src/crd/components/virtualContributor/VCProfileSidebar.tsx
  src/crd/lib/fallbackInitials.ts
  src/main/crdPages/topLevelPages/organizationPages/publicProfile/CrdOrganizationProfilePage.tsx
  src/main/crdPages/topLevelPages/organizationPages/publicProfile/organizationProfileMapper.ts
  src/main/crdPages/topLevelPages/organizationPages/publicProfile/useCrdOrganizationProfilePageData.ts
  src/main/crdPages/topLevelPages/userPages/publicProfile/CrdUserProfilePage.tsx
  src/main/crdPages/topLevelPages/userPages/publicProfile/publicProfileMapper.ts
  src/main/crdPages/topLevelPages/userPages/publicProfile/useCrdUserProfilePageData.ts
Due: eslint --fix, prettier --write

New specs
  CLAUDE.md
  specs/097-crd-user-settings/checklists/requirements.md
  specs/097-crd-user-settings/contracts/data-mapper.ts
  specs/097-crd-user-settings/contracts/editable-field.ts
  specs/097-crd-user-settings/contracts/shell.ts
  specs/097-crd-user-settings/contracts/tab-account.ts
  specs/097-crd-user-settings/contracts/tab-membership.ts
  specs/097-crd-user-settings/contracts/tab-myProfile.ts
  specs/097-crd-user-settings/contracts/tab-notifications.ts
  specs/097-crd-user-settings/contracts/tab-orgAccount.ts
  specs/097-crd-user-settings/contracts/tab-orgAuthorization.ts
  specs/097-crd-user-settings/contracts/tab-orgCommunity.ts
  specs/097-crd-user-settings/contracts/tab-orgProfile.ts
  specs/097-crd-user-settings/contracts/tab-orgSettings.ts
  specs/097-crd-user-settings/contracts/tab-organizations.ts
  specs/097-crd-user-settings/contracts/tab-security.ts
  specs/097-crd-user-settings/contracts/tab-settings.ts
  specs/097-crd-user-settings/contracts/tab-userAccount.ts
  specs/097-crd-user-settings/contracts/tab-userMembership.ts
  specs/097-crd-user-settings/contracts/tab-userMyProfile.ts
  specs/097-crd-user-settings/contracts/tab-userNotifications.ts
  specs/097-crd-user-settings/contracts/tab-userOrganizations.ts
  specs/097-crd-user-settings/contracts/tab-userSecurity.ts
  specs/097-crd-user-settings/contracts/tab-userSettings.ts
  specs/097-crd-user-settings/data-model.md
  specs/097-crd-user-settings/plan.md
  specs/097-crd-user-settings/quickstart.md
  specs/097-crd-user-settings/research.md
  specs/097-crd-user-settings/spec.md
  specs/097-crd-user-settings/tasks.md
Due: prettier --write

Specs of the VCs
  CLAUDE.md
  specs/096-crd-user-pages/checklists/requirements.md
  specs/096-crd-user-pages/contracts/vcProfile.ts
  specs/096-crd-user-pages/data-model.md
  specs/096-crd-user-pages/plan.md
  specs/096-crd-user-pages/quickstart.md
  specs/096-crd-user-pages/research.md
  specs/096-crd-user-pages/spec.md
  specs/096-crd-user-pages/tasks.md
Due: prettier --write

VCs
  specs/096-crd-user-pages/tasks.md
  src/crd/app/data/profiles.ts
  src/crd/app/pages/VCProfileDemoPage.tsx
  src/crd/components/user/UserPageHero.tsx
  src/crd/components/virtualContributor/VCAiEngineGrid.tsx
  src/crd/components/virtualContributor/VCContentView.tsx
  src/crd/components/virtualContributor/VCFunctionalityGrid.tsx
  src/crd/components/virtualContributor/VCMonitoringSection.tsx
  src/crd/components/virtualContributor/VCPageHero.tsx
  src/crd/components/virtualContributor/VCProfileSidebar.tsx
  src/crd/components/virtualContributor/VCPublicProfileView.tsx
  src/crd/components/virtualContributor/VCTransparencyCard.tsx
  src/crd/components/virtualContributor/__tests__/VCContentView.test.tsx
  src/crd/i18n/profilePages/profilePages.bg.json
  src/crd/i18n/profilePages/profilePages.de.json
  src/crd/i18n/profilePages/profilePages.en.json
  src/crd/i18n/profilePages/profilePages.es.json
  src/crd/i18n/profilePages/profilePages.fr.json
  src/crd/i18n/profilePages/profilePages.nl.json
  src/main/crdPages/topLevelPages/vcPages/publicProfile/CrdVCProfilePage.tsx
  src/main/crdPages/topLevelPages/vcPages/publicProfile/__tests__/vcContentViewMapper.test.ts
  src/main/crdPages/topLevelPages/vcPages/publicProfile/vcProfileMapper.ts
Due: eslint --fix, prettier --write

feat: enhance authentication flow with OIDC session status and improved logout handling
  src/core/auth/authentication/context/AuthenticationProvider.tsx
  src/core/auth/authentication/hooks/useLogoutUrl.ts
  src/core/auth/authentication/hooks/useOidcSessionStatus.ts
  src/core/auth/authentication/pages/LogoutPage.tsx
Due: eslint --fix, prettier --write

Specs of the settings
  CLAUDE.md
  specs/097-crd-user-settings/contracts/editable-field.ts
  specs/097-crd-user-settings/contracts/tab-orgProfile.ts
  specs/097-crd-user-settings/contracts/tab-userMyProfile.ts
  specs/097-crd-user-settings/contracts/tab-userProfile.ts
  specs/097-crd-user-settings/data-model.md
  specs/097-crd-user-settings/plan.md
  specs/097-crd-user-settings/quickstart.md
  specs/097-crd-user-settings/research.md
  specs/097-crd-user-settings/spec.md
  specs/097-crd-user-settings/tasks.md
Due: prettier --write

UI fixes
  src/domain/collaboration/callout/CalloutForm/CalloutFormFramingSettings.tsx
Due: eslint --fix, prettier --write

AI review 10th time
  src/crd/app/data/profiles.ts
  src/crd/app/pages/VCProfileDemoPage.tsx
  src/crd/components/organization/OrganizationResourceSections.tsx
  src/crd/components/user/SpaceGridCard.tsx
  src/crd/components/user/UserProfileSidebar.tsx
  src/crd/components/virtualContributor/VCAiEngineGrid.tsx
  src/crd/components/virtualContributor/VCBodyOfKnowledgeSection.tsx
  src/crd/components/virtualContributor/VCContentView.tsx
  src/crd/components/virtualContributor/VCFunctionalityGrid.tsx
  src/crd/components/virtualContributor/VCMonitoringSection.tsx
  src/crd/components/virtualContributor/VCProfileSidebar.tsx
  src/crd/components/virtualContributor/VCPublicProfileView.tsx
  src/crd/components/virtualContributor/__tests__/VCContentView.test.tsx
  src/crd/i18n/profilePages/profilePages.bg.json
  src/crd/i18n/profilePages/profilePages.de.json
  src/crd/i18n/profilePages/profilePages.en.json
  src/crd/i18n/profilePages/profilePages.es.json
  src/crd/i18n/profilePages/profilePages.fr.json
  src/crd/i18n/profilePages/profilePages.nl.json
  src/main/crdPages/topLevelPages/common/MembershipCardConnector.tsx
  src/main/crdPages/topLevelPages/common/profileMapperHelpers.ts
  src/main/crdPages/topLevelPages/common/useSendMessageHandler.ts
  src/main/crdPages/topLevelPages/organizationPages/publicProfile/CrdOrganizationProfilePage.tsx
  src/main/crdPages/topLevelPages/organizationPages/publicProfile/organizationProfileMapper.ts
  src/main/crdPages/topLevelPages/userPages/publicProfile/CrdUserProfilePage.tsx
  src/main/crdPages/topLevelPages/userPages/publicProfile/publicProfileMapper.ts
  src/main/crdPages/topLevelPages/userPages/publicProfile/useCrdUserProfilePageData.ts
  src/main/crdPages/topLevelPages/userPages/publicProfile/useResourceTabs.ts
  src/main/crdPages/topLevelPages/vcPages/publicProfile/CrdVCProfilePage.tsx
  src/main/crdPages/topLevelPages/vcPages/publicProfile/vcProfileMapper.ts
Due: eslint --fix, prettier --write

fixes
  src/crd/app/vite.config.ts
  src/crd/components/common/SocialLinks.tsx
  src/crd/components/organization/OrganizationPageHero.tsx
  src/crd/components/user/UserPageHero.tsx
  src/crd/components/virtualContributor/VCPageHero.tsx
Due: eslint --fix, prettier --write

chore: update prototype folder from source repo
  prototype/src/app/components/template-library/TemplateDetail.tsx
  prototype/src/app/pages/AuthPage.tsx
  prototype/src/app/pages/ForumPage.tsx
  prototype/src/app/pages/PackSettingsPage.tsx
  prototype/src/app/pages/TemplateSettingsPage.tsx
  prototype/src/app/routes.tsx
Due: none

Settings pages
  @types/i18next.d.ts
  specs/097-crd-user-settings/tasks.md
  src/core/i18n/config.ts
  src/crd/components/common/FieldFooter.tsx
  src/crd/components/contributor/settings/SettingsCard.tsx
  src/crd/components/contributor/settings/SettingsShell.tsx
  src/crd/components/contributor/settings/SettingsTabStrip.tsx
  src/crd/components/space/settings/SpaceSettingsAboutView.tsx
  src/crd/components/user/settings/UserProfileTabView.tsx
  src/crd/components/user/settings/UserProfileTabView.types.ts
  src/crd/i18n/contributorSettings/__tests__/keyParity.test.ts
  src/crd/i18n/contributorSettings/contributorSettings.bg.json
  src/crd/i18n/contributorSettings/contributorSettings.de.json
  src/crd/i18n/contributorSettings/contributorSettings.en.json
  src/crd/i18n/contributorSettings/contributorSettings.es.json
  src/crd/i18n/contributorSettings/contributorSettings.fr.json
  src/crd/i18n/contributorSettings/contributorSettings.nl.json
  src/main/crdPages/topLevelPages/__tests__/canEditPredicates.test.ts
  src/main/crdPages/topLevelPages/organizationPages/CrdOrganizationRoutes.tsx
  src/main/crdPages/topLevelPages/organizationPages/settings/CrdOrgSettingsPage.tsx
  src/main/crdPages/topLevelPages/organizationPages/settings/CrdOrgSettingsRoutes.tsx
  src/main/crdPages/topLevelPages/organizationPages/settings/_placeholder/PlaceholderTab.tsx
  src/main/crdPages/topLevelPages/organizationPages/settings/useOrgSettingsAccessGuard.ts
  src/main/crdPages/topLevelPages/organizationPages/settings/useOrgSettingsTab.ts
  src/main/crdPages/topLevelPages/organizationPages/useCanEditOrganizationSettings.ts
  src/main/crdPages/topLevelPages/userPages/CrdUserRoutes.tsx
  src/main/crdPages/topLevelPages/userPages/settings/CrdUserSettingsPage.tsx
  src/main/crdPages/topLevelPages/userPages/settings/CrdUserSettingsRoutes.tsx
  src/main/crdPages/topLevelPages/userPages/settings/_placeholder/PlaceholderTab.tsx
  src/main/crdPages/topLevelPages/userPages/settings/profile/CrdUserProfileTab.tsx
  src/main/crdPages/topLevelPages/userPages/settings/profile/__tests__/userProfileMapper.test.ts
  src/main/crdPages/topLevelPages/userPages/settings/profile/useUserProfileTabData.ts
  src/main/crdPages/topLevelPages/userPages/settings/profile/userProfileMapper.ts
  src/main/crdPages/topLevelPages/userPages/settings/useUserSettingsAccessGuard.ts
  src/main/crdPages/topLevelPages/userPages/settings/useUserSettingsTab.ts
  src/main/crdPages/topLevelPages/userPages/useCanEditUserSettings.ts
Due: eslint --fix, prettier --write

chore: update prototype folder from source repo (#9635)
  prototype/src/app/components/template-library/TemplateDetail.tsx
  prototype/src/app/pages/AuthPage.tsx
  prototype/src/app/pages/ForumPage.tsx
  prototype/src/app/pages/PackSettingsPage.tsx
  prototype/src/app/pages/TemplateSettingsPage.tsx
  prototype/src/app/routes.tsx
Due: none

AI review++
  src/crd/app/data/profiles.ts
  src/crd/app/pages/UserProfileOtherDemoPage.tsx
  src/crd/app/pages/UserProfileSelfDemoPage.tsx
  src/crd/components/common/profileTypes.ts
  src/crd/components/organization/OrganizationProfileSidebar.tsx
  src/crd/components/organization/OrganizationResourceSections.tsx
  src/crd/components/user/UserProfileSidebar.tsx
  src/crd/components/user/UserPublicProfileView.tsx
  src/crd/components/user/UserResourceSections.tsx
  src/crd/components/user/UserResourceTabStrip.tsx
  src/main/crdPages/topLevelPages/common/profileMapperHelpers.ts
  src/main/crdPages/topLevelPages/common/useResourceTabs.ts
  src/main/crdPages/topLevelPages/common/useSendMessageHandler.ts
  src/main/crdPages/topLevelPages/organizationPages/CrdOrganizationRoutes.tsx
  src/main/crdPages/topLevelPages/organizationPages/publicProfile/CrdOrganizationProfilePage.tsx
  src/main/crdPages/topLevelPages/organizationPages/publicProfile/organizationProfileMapper.ts
  src/main/crdPages/topLevelPages/userPages/CrdUserRoutes.tsx
  src/main/crdPages/topLevelPages/userPages/publicProfile/CrdUserProfilePage.tsx
  src/main/crdPages/topLevelPages/userPages/publicProfile/publicProfileMapper.ts
  src/main/crdPages/topLevelPages/userPages/publicProfile/useCrdUserProfilePageData.ts
  src/main/crdPages/topLevelPages/userPages/useCanEditSettings.ts
  src/main/crdPages/topLevelPages/userPages/useUserPageRouteContext.ts
  src/main/crdPages/topLevelPages/vcPages/CrdVCRoutes.tsx
Due: eslint --fix, prettier --write

Fixes on the spec
  specs/096-crd-user-pages/contracts/publicProfile.ts
  specs/096-crd-user-pages/contracts/vcProfile.ts
  specs/096-crd-user-pages/data-model.md
  specs/096-crd-user-pages/quickstart.md
  src/crd/components/virtualContributor/VCTransparencyCard.tsx
  src/crd/components/virtualContributor/__tests__/VCContentView.test.tsx
Due: eslint --fix, prettier --write

Last cleanup
  specs/096-crd-user-pages/spec.md
  specs/096-crd-user-pages/tasks.md
  specs/097-crd-user-settings/checklists/requirements.md
  specs/097-crd-user-settings/contracts/data-mapper.ts
  specs/097-crd-user-settings/contracts/shell.ts
  specs/097-crd-user-settings/contracts/tab-account.ts
  specs/097-crd-user-settings/contracts/tab-membership.ts
  specs/097-crd-user-settings/contracts/tab-myProfile.ts
  specs/097-crd-user-settings/contracts/tab-notifications.ts
  specs/097-crd-user-settings/contracts/tab-organizations.ts
  specs/097-crd-user-settings/contracts/tab-security.ts
  specs/097-crd-user-settings/contracts/tab-settings.ts
  specs/097-crd-user-settings/data-model.md
  specs/097-crd-user-settings/plan.md
  specs/097-crd-user-settings/quickstart.md
  specs/097-crd-user-settings/research.md
  specs/097-crd-user-settings/spec.md
  specs/097-crd-user-settings/tasks.md
  src/crd/components/virtualContributor/VCTransparencyCard.tsx
  src/domain/community/virtualContributor/model/VirtualContributorModelCardModel.ts
  src/main/crdPages/topLevelPages/organizationPages/publicProfile/__tests__/organizationProfileMapper.test.ts
  src/main/crdPages/topLevelPages/userPages/publicProfile/__tests__/publicProfileMapper.test.ts
  src/main/crdPages/topLevelPages/vcPages/publicProfile/__tests__/vcProfileMapper.test.ts
  src/main/crdPages/topLevelPages/vcPages/publicProfile/vcProfileMapper.ts
Due: eslint --fix, prettier --write

AI review fixes round N+1
  specs/096-crd-user-pages/contracts/compactContributor.ts
  specs/096-crd-user-pages/contracts/data-mapper.ts
  specs/096-crd-user-pages/contracts/organizationProfile.ts
  specs/096-crd-user-pages/contracts/publicProfile.ts
  specs/096-crd-user-pages/contracts/vcProfile.ts
  specs/096-crd-user-pages/spec.md
  specs/096-crd-user-pages/tasks.md
  src/crd/components/organization/OrganizationPageHero.tsx
  src/crd/components/user/UserPageHero.tsx
  src/crd/components/user/UserResourceSections.tsx
  src/crd/components/virtualContributor/VCPageHero.tsx
  src/crd/components/virtualContributor/VCTransparencyCard.tsx
  src/crd/i18n/profilePages/profilePages.nl.json
  src/main/crdPages/topLevelPages/common/profileMapperHelpers.ts
  src/main/crdPages/topLevelPages/organizationPages/publicProfile/CrdOrganizationProfilePage.tsx
  src/main/crdPages/topLevelPages/organizationPages/publicProfile/organizationProfileMapper.ts
  src/main/crdPages/topLevelPages/userPages/publicProfile/CrdUserProfilePage.tsx
  src/main/crdPages/topLevelPages/userPages/publicProfile/publicProfileMapper.ts
  src/main/crdPages/topLevelPages/vcPages/publicProfile/CrdVCProfilePage.tsx
  src/main/crdPages/topLevelPages/vcPages/publicProfile/useCrdVCProfilePageData.ts
Due: eslint --fix, prettier --write

Refactor url slug
  docs/crd/migration-guide.md
  specs/097-crd-user-settings/contracts/data-mapper.ts
  specs/097-crd-user-settings/plan.md
  specs/097-crd-user-settings/research.md
  specs/097-crd-user-settings/tasks.md
  src/main/crdPages/topLevelPages/organizationPages/settings/CrdOrgSettingsPage.tsx
  src/main/crdPages/topLevelPages/organizationPages/settings/useOrgSettingsAccessGuard.ts
  src/main/crdPages/topLevelPages/organizationPages/settings/useOrgSettingsTab.ts
  src/main/crdPages/topLevelPages/userPages/settings/CrdUserSettingsPage.tsx
  src/main/crdPages/topLevelPages/userPages/settings/useUserSettingsAccessGuard.ts
  src/main/crdPages/topLevelPages/userPages/settings/useUserSettingsTab.ts
  src/main/routing/urlBuilders.ts
Due: eslint --fix, prettier --write

Graphical adjustments
  docs/crd/migration-guide.md
  specs/096-crd-user-pages/contracts/compactContributor.ts
  specs/096-crd-user-pages/quickstart.md
  specs/096-crd-user-pages/spec.md
  specs/096-crd-user-pages/tasks.md
  src/crd/CLAUDE.md
  src/crd/components/common/CompactContributorCard.tsx
  src/crd/components/organization/OrganizationPageHero.tsx
  src/crd/components/organization/OrganizationPublicProfileView.tsx
  src/crd/components/user/UserPageHero.tsx
  src/crd/components/user/UserPublicProfileView.tsx
  src/crd/components/virtualContributor/VCPageHero.tsx
  src/crd/components/virtualContributor/VCProfileSidebar.tsx
  src/crd/components/virtualContributor/VCPublicProfileView.tsx
  src/crd/styles/typography.css
Due: eslint --fix, prettier --write

feat: refine return URL handling in OIDC login flow for same-origin validation
  src/core/auth/authentication/pages/LoginPage.tsx
Due: eslint --fix, prettier --write

feat: add unit tests for httpLink to ensure credentials are passed correctly
  src/core/apollo/graphqlLinks/httpLink.spec.ts
Due: eslint --fix, prettier --write

another inconsistency
  src/crd/components/virtualContributor/VCBodyOfKnowledgeSection.tsx
Due: eslint --fix, prettier --write

Show real avatars on VC and resource cards
  src/crd/app/data/profiles.ts
  src/crd/components/common/profileTypes.ts
  src/crd/components/organization/OrganizationResourceSections.tsx
  src/crd/components/user/UserResourceSections.tsx
  src/main/crdPages/topLevelPages/common/profileMapperHelpers.ts
  src/main/crdPages/topLevelPages/organizationPages/publicProfile/__tests__/organizationProfileMapper.test.ts
  src/main/crdPages/topLevelPages/userPages/publicProfile/__tests__/publicProfileMapper.test.ts
Due: eslint --fix, prettier --write

spec
  CLAUDE.md
  prototype/pnpm-lock.yaml
  specs/098-crd-forum-documentation/checklists/requirements.md
  specs/098-crd-forum-documentation/contracts/crd-components.md
  specs/098-crd-forum-documentation/data-model.md
  specs/098-crd-forum-documentation/plan.md
  specs/098-crd-forum-documentation/quickstart.md
  specs/098-crd-forum-documentation/research.md
  specs/098-crd-forum-documentation/spec.md
  specs/098-crd-forum-documentation/tasks.md
Due: prettier --write

feat: simplify CurrentUserProvider by removing unused user registration logic
  src/domain/community/user/graphql/mutations/createUserNewRegistration.graphql
  src/domain/community/userCurrent/CurrentUserProvider/CurrentUserProvider.tsx
Due: eslint --fix, prettier --write

notifications categories, invitation in community dialog n spec, profile fixes, small fixes
  @types/i18next.d.ts
  prototype/pnpm-lock.yaml
  specs/097-crd-invite-members-dialog/checklists/requirements.md
  specs/097-crd-invite-members-dialog/contracts/crd-invite-members-dialog.ts
  specs/097-crd-invite-members-dialog/data-model.md
  specs/097-crd-invite-members-dialog/plan.md
  specs/097-crd-invite-members-dialog/quickstart.md
  specs/097-crd-invite-members-dialog/research.md
  specs/097-crd-invite-members-dialog/spec.md
  specs/097-crd-invite-members-dialog/tasks.md
  src/core/i18n/config.ts
  src/crd/components/common/MessagePopover.tsx
  src/crd/components/common/TruncatedTag.tsx
  src/crd/components/community/InviteMembersDialog.test.tsx
  src/crd/components/community/InviteMembersDialog.tsx
  src/crd/components/organization/OrganizationProfileSidebar.tsx
  src/crd/components/space/SpaceSidebar.tsx
  src/crd/components/user/UserProfileSidebar.tsx
  src/crd/components/virtualContributor/VCPageHero.tsx
  src/crd/forms/ContributorSelector.test.tsx
  src/crd/forms/ContributorSelector.tsx
  src/crd/forms/RoleMultiSelect.tsx
  src/crd/i18n/community/community.bg.json
  src/crd/i18n/community/community.de.json
  src/crd/i18n/community/community.en.json
  src/crd/i18n/community/community.es.json
  src/crd/i18n/community/community.fr.json
  src/crd/i18n/community/community.nl.json
  src/crd/primitives/tooltip.tsx
  src/crd/styles/crd.css
  src/main/crdPages/space/dialogs/InviteMembersDialogConnector.tsx
  src/main/crdPages/space/tabs/CrdSpaceCommunityPage.tsx
  src/main/crdPages/topLevelPages/spaceSettings/community/useCommunityTabData.ts
  src/main/inAppNotifications/notificationFilters.ts
Due: eslint --fix, prettier --write

feat: update redirect logic to prevent login/logout UI from bouncing to identity subdomain
  src/core/auth/authentication/routing/useRedirectToIdentityDomain.ts
Due: eslint --fix, prettier --write

Org settings
  specs/097-crd-user-settings/tasks.md
  src/crd/components/contributor/settings/OrgVerifiedBadge.tsx
  src/crd/components/contributor/settings/RoleAssignmentView.tsx
  src/crd/components/organization/settings/OrgCommunityTabView.tsx
  src/crd/components/organization/settings/OrgProfileTabView.tsx
  src/crd/i18n/contributorSettings/contributorSettings.bg.json
  src/crd/i18n/contributorSettings/contributorSettings.de.json
  src/crd/i18n/contributorSettings/contributorSettings.en.json
  src/crd/i18n/contributorSettings/contributorSettings.es.json
  src/crd/i18n/contributorSettings/contributorSettings.fr.json
  src/crd/i18n/contributorSettings/contributorSettings.nl.json
  src/main/crdPages/topLevelPages/contributorAccountMapper.ts
  src/main/crdPages/topLevelPages/organizationPages/settings/CrdOrgSettingsRoutes.tsx
  src/main/crdPages/topLevelPages/organizationPages/settings/account/CrdOrgAccountTab.tsx
  src/main/crdPages/topLevelPages/organizationPages/settings/account/orgAccountMapper.ts
  src/main/crdPages/topLevelPages/organizationPages/settings/community/CrdOrgCommunityTab.tsx
  src/main/crdPages/topLevelPages/organizationPages/settings/community/orgCommunityMapper.ts
  src/main/crdPages/topLevelPages/organizationPages/settings/community/useOrgAssociates.ts
  src/main/crdPages/topLevelPages/organizationPages/settings/profile/CrdOrgProfileTab.tsx
  src/main/crdPages/topLevelPages/organizationPages/settings/profile/orgProfileMapper.ts
  src/main/crdPages/topLevelPages/organizationPages/settings/profile/useOrgProfileTabData.ts
  src/main/crdPages/topLevelPages/userPages/settings/account/userAccountMapper.ts
Due: eslint --fix, prettier --write

Org settings
  specs/097-crd-user-settings/contracts/editable-field.ts
  specs/097-crd-user-settings/contracts/tab-orgAuthorization.ts
  specs/097-crd-user-settings/contracts/tab-orgCommunity.ts
  specs/097-crd-user-settings/quickstart.md
  specs/097-crd-user-settings/tasks.md
  src/crd/components/organization/settings/OrgAuthorizationTabView.tsx
  src/crd/components/organization/settings/OrgSettingsTabView.tsx
  src/crd/i18n/contributorSettings/contributorSettings.bg.json
  src/crd/i18n/contributorSettings/contributorSettings.de.json
  src/crd/i18n/contributorSettings/contributorSettings.en.json
  src/crd/i18n/contributorSettings/contributorSettings.es.json
  src/crd/i18n/contributorSettings/contributorSettings.fr.json
  src/crd/i18n/contributorSettings/contributorSettings.nl.json
  src/main/crdPages/topLevelPages/organizationPages/settings/CrdOrgSettingsRoutes.tsx
  src/main/crdPages/topLevelPages/organizationPages/settings/_placeholder/PlaceholderTab.tsx
  src/main/crdPages/topLevelPages/organizationPages/settings/authorization/CrdOrgAuthorizationTab.tsx
  src/main/crdPages/topLevelPages/organizationPages/settings/authorization/__tests__/useOrgRoleAssignment.test.ts
  src/main/crdPages/topLevelPages/organizationPages/settings/authorization/orgAuthorizationMapper.ts
  src/main/crdPages/topLevelPages/organizationPages/settings/authorization/useOrgRoleAssignment.ts
  src/main/crdPages/topLevelPages/organizationPages/settings/community/__tests__/useOrgAssociates.test.ts
  src/main/crdPages/topLevelPages/organizationPages/settings/settings/CrdOrgSettingsTab.tsx
  src/main/crdPages/topLevelPages/organizationPages/settings/settings/orgSettingsMapper.ts
  src/main/crdPages/topLevelPages/userPages/settings/CrdUserSettingsRoutes.tsx
  src/main/crdPages/topLevelPages/userPages/settings/_placeholder/PlaceholderTab.tsx
  src/main/routing/__tests__/crdContributorSettingsRoutes.test.ts
Due: eslint --fix, prettier --write

ran sdd flow
  CLAUDE.md
  specs/095-hub-add-space-url/contracts/graphql-operations.md
  specs/095-hub-add-space-url/data-model.md
  specs/095-hub-add-space-url/plan.md
  specs/095-hub-add-space-url/quickstart.md
  specs/095-hub-add-space-url/research.md
  specs/095-hub-add-space-url/spec.md
  specs/095-hub-add-space-url/tasks.md
Due: prettier --write

added implementation for how to look up the space
  specs/095-hub-add-space-url/tasks.md
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/innovationHub/InnovationHubsSettings/AddSpaceByUrlDialog.test.tsx
  src/domain/innovationHub/InnovationHubsSettings/AddSpaceByUrlDialog.tsx
  src/domain/innovationHub/InnovationHubsSettings/InnovationHubAvailableSpaces.graphql
  src/domain/innovationHub/InnovationHubsSettings/InnovationHubSpacesField.tsx
  src/domain/innovationHub/InnovationHubsSettings/useResolveSpaceUrl.test.tsx
  src/domain/innovationHub/InnovationHubsSettings/useResolveSpaceUrl.ts
Due: eslint --fix, prettier --write

finalisation
  src/core/i18n/en/translation.en.json
  src/domain/innovationHub/InnovationHubsSettings/AddSpaceByUrlDialog.tsx
  src/domain/innovationHub/InnovationHubsSettings/InnovationHubSettingsPage.tsx
Due: eslint --fix, prettier --write

Create New [Space,VC,IP,CHP] dialogs specs
  specs/097-crd-user-settings/contracts/account-create-dialogs.ts
  specs/097-crd-user-settings/contracts/tab-orgAccount.ts
  specs/097-crd-user-settings/contracts/tab-userAccount.ts
  specs/097-crd-user-settings/data-model.md
  specs/097-crd-user-settings/plan.md
  specs/097-crd-user-settings/quickstart.md
  specs/097-crd-user-settings/research.md
  specs/097-crd-user-settings/spec.md
  specs/097-crd-user-settings/tasks.md
  src/main/crdPages/topLevelPages/organizationPages/settings/profile/__tests__/useOrgProfileTabData.test.ts
Due: eslint --fix, prettier --write

pr fixes, spec updates
  specs/097-crd-user-settings/contracts/tab-orgProfile.ts
  specs/097-crd-user-settings/data-model.md
  specs/097-crd-user-settings/plan.md
  specs/097-crd-user-settings/research.md
  src/crd/components/organization/settings/OrgProfileTabView.tsx
  src/crd/components/user/settings/UserOrganizationsTabView.tsx
  src/crd/components/user/settings/UserProfileTabView.tsx
  src/crd/components/user/settings/UserSettingsTabView.tsx
  src/crd/i18n/contributorSettings/contributorSettings.bg.json
  src/crd/i18n/contributorSettings/contributorSettings.de.json
  src/crd/i18n/contributorSettings/contributorSettings.en.json
  src/crd/i18n/contributorSettings/contributorSettings.es.json
  src/crd/i18n/contributorSettings/contributorSettings.fr.json
  src/crd/i18n/contributorSettings/contributorSettings.nl.json
  src/main/crdPages/topLevelPages/organizationPages/settings/account/orgAccountMapper.ts
  src/main/crdPages/topLevelPages/organizationPages/settings/community/__tests__/useOrgAssociates.test.ts
  src/main/crdPages/topLevelPages/organizationPages/settings/profile/__tests__/useOrgProfileTabData.test.ts
  src/main/crdPages/topLevelPages/userPages/settings/settings/CrdUserSettingsTab.tsx
Due: eslint --fix, prettier --write

account resources tooltips
  src/crd/components/contributor/settings/ContributorAccountView.tsx
  src/crd/components/contributor/settings/ContributorAccountView.types.ts
  src/crd/i18n/contributorSettings/contributorSettings.bg.json
  src/crd/i18n/contributorSettings/contributorSettings.de.json
  src/crd/i18n/contributorSettings/contributorSettings.en.json
  src/crd/i18n/contributorSettings/contributorSettings.es.json
  src/crd/i18n/contributorSettings/contributorSettings.fr.json
  src/crd/i18n/contributorSettings/contributorSettings.nl.json
  src/main/crdPages/topLevelPages/contributorAccountMapper.ts
Due: eslint --fix, prettier --write
