Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": "prettier --write"
}

fix: TypeScript strict mode errors in push notification files
  src/core/auth/authentication/pages/LogoutPage.tsx
  src/main/pushNotifications/PushNotificationProvider.tsx
  src/main/pushNotifications/usePushNotifications.ts
Due: eslint --fix, prettier --write

fix: address CodeRabbit review feedback
  specs/023-pwa-push-notifications/checklists/requirements.md
  specs/023-pwa-push-notifications/data-model.md
  specs/023-pwa-push-notifications/prd.md
  specs/023-pwa-push-notifications/quickstart.md
  specs/023-pwa-push-notifications/tasks.md
  src/core/auth/authentication/pages/LogoutPage.tsx
  src/core/ui/forms/SettingsGroups/TripleSwitchSettingsGroup.tsx
  src/domain/community/userAdmin/tabs/UserAdminNotificationsPage.tsx
  src/domain/community/userAdmin/tabs/components/PushSubscriptionsList.tsx
  src/main/pushNotifications/PushNotificationProvider.tsx
  src/main/pushNotifications/usePushNotifications.ts
Due: eslint --fix, prettier --write

fix: increase biome maxSize for generated apollo-hooks.ts
  biome.json
  src/core/apollo/generated/apollo-hooks.ts
  src/main/pushNotifications/PushNotificationProvider.tsx
Due: eslint --fix, prettier --write

fix: address CodeRabbit review round 2
  specs/023-pwa-push-notifications/prd.md
  specs/023-pwa-push-notifications/tasks.md
  src/core/ui/forms/SettingsGroups/TripleSwitchSettingsGroup.tsx
  src/domain/community/userAdmin/tabs/UserAdminNotificationsPage.tsx
  src/main/pushNotifications/usePushNotifications.ts
Due: eslint --fix, prettier --write

fix: address CodeRabbit review round 3
  specs/023-pwa-push-notifications/prd.md
  src/main/pushNotifications/usePushNotifications.ts
Due: eslint --fix, prettier --write

fix: address CodeRabbit review round 4
  specs/023-pwa-push-notifications/prd.md
  src/main/pushNotifications/usePushNotifications.ts
Due: eslint --fix, prettier --write

chore: regenerate apollo-hooks after rebase on develop
  src/core/apollo/generated/apollo-hooks.ts
Due: eslint --fix, prettier --write

add scrolling management to msgs
  src/main/userMessaging/UserMessagingConversationView.tsx
Due: eslint --fix, prettier --write

patch
  package.json
Due: prettier --write

scroll more deterministically
  src/main/userMessaging/UserMessagingConversationView.tsx
Due: eslint --fix, prettier --write

Fix tests and fix add + delete +reorder issue
  src/domain/collaboration/callout/CalloutDialogs/EditCalloutDialog.tsx
  src/domain/collaboration/poll/hooks/usePollVote.test.ts
Due: eslint --fix, prettier --write

Chats: Scrolling msg fixes (#9439)
  package.json
  src/main/userMessaging/UserMessagingConversationView.tsx
Due: eslint --fix, prettier --write

wording
  src/core/i18n/en/translation.en.json
  src/main/userMessaging/NewMessageDialog.tsx
Due: eslint --fix, prettier --write

feat: add PWA push notification support
  public/manifest.json
  public/service-worker.js
  specs/023-pwa-push-notifications/checklists/requirements.md
  specs/023-pwa-push-notifications/contracts/push-mutations.graphql
  specs/023-pwa-push-notifications/contracts/push-queries.graphql
  specs/023-pwa-push-notifications/data-model.md
  specs/023-pwa-push-notifications/plan.md
  specs/023-pwa-push-notifications/prd.md
  specs/023-pwa-push-notifications/quickstart.md
  specs/023-pwa-push-notifications/research.md
  specs/023-pwa-push-notifications/spec.md
  specs/023-pwa-push-notifications/tasks.md
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/auth/authentication/pages/LogoutPage.tsx
  src/core/i18n/en/translation.en.json
  src/core/ui/forms/SettingsGroups/TripleSwitchSettingsGroup.tsx
  src/core/ui/forms/SettingsGroups/services/NotificationValidationService.ts
  src/core/ui/forms/SettingsGroups/types/NotificationTypes.ts
  src/domain/community/userAdmin/graphql/updateUserSettings.graphql
  src/domain/community/userAdmin/graphql/userSettingsFragment.graphql
  src/domain/community/userAdmin/tabs/UserAdminNotificationsPage.tsx
  src/domain/community/userAdmin/tabs/components/CombinedPlatformNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/components/CombinedSpaceNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/components/CombinedUserNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/components/OrganizationNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/components/PushSubscriptionsList.tsx
  src/domain/community/userAdmin/tabs/components/VCNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/model/NotificationSettings.model.ts
  src/main/pushNotifications/PushNotificationProvider.tsx
  src/main/pushNotifications/graphql/myPushSubscriptions.graphql
  src/main/pushNotifications/graphql/subscribeToPushNotifications.graphql
  src/main/pushNotifications/graphql/unsubscribeFromPushNotifications.graphql
  src/main/pushNotifications/graphql/vapidPublicKey.graphql
  src/main/pushNotifications/urlBase64ToUint8Array.ts
  src/main/pushNotifications/usePushNotifications.ts
  src/root.tsx
Due: eslint --fix, prettier --write

WIP on 023-pwa-push-notifications
  src/core/apollo/generated/apollo-hooks.ts
  src/domain/community/userAdmin/tabs/UserAdminNotificationsPage.tsx
Due: eslint --fix, prettier --write

fix: lint and formatting issues in push notification files
  src/core/auth/authentication/pages/LogoutPage.tsx
  src/core/ui/forms/SettingsGroups/services/NotificationValidationService.ts
  src/domain/community/userAdmin/tabs/UserAdminNotificationsPage.tsx
  src/domain/community/userAdmin/tabs/components/CombinedSpaceNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/components/CombinedUserNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/components/OrganizationNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/components/PushSubscriptionsList.tsx
  src/main/pushNotifications/PushNotificationProvider.tsx
  src/main/pushNotifications/usePushNotifications.ts
  src/root.tsx
Due: eslint --fix, prettier --write

fix: add push field to poll notification queries in generated apollo-hooks
  src/core/apollo/generated/apollo-hooks.ts
Due: eslint --fix, prettier --write

fix: format long lines flagged by biome
  src/core/apollo/generated/apollo-hooks.ts
  src/domain/community/userAdmin/tabs/UserAdminNotificationsPage.tsx
Due: eslint --fix, prettier --write

do not mention users in chats
  src/domain/communication/room/Comments/CommentInputField.tsx
  src/domain/communication/room/Comments/FormikCommentInputField.tsx
  src/domain/communication/room/Comments/PostMessageToCommentsForm.tsx
  src/main/userMessaging/UserMessagingConversationView.tsx
Due: eslint --fix, prettier --write

docs: update push notification specs to match implementation
  specs/023-pwa-push-notifications/data-model.md
  specs/023-pwa-push-notifications/prd.md
  specs/023-pwa-push-notifications/quickstart.md
  specs/023-pwa-push-notifications/research.md
  specs/023-pwa-push-notifications/spec.md
  specs/023-pwa-push-notifications/tasks.md
Due: prettier --write

throttle concurent media gallery uploads
  src/core/utils/promiseAllSettledThrottled.ts
  src/domain/collaboration/mediaGallery/useUploadMediaGalleryVisuals.ts
Due: eslint --fix, prettier --write

0.137.0
  package.json
Due: prettier --write

translation update
  src/core/i18n/ach/translation.ach.json
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
Due: prettier --write

fix: improve push notification foreground detection and tag behavior
  public/service-worker.js
Due: none

fix: remove foreground detection from push notifications
  public/service-worker.js
Due: none

Revert "fix: remove foreground detection from push notifications"
  public/service-worker.js
Due: none

Revert "fix: improve push notification foreground detection and tag behavior"
  public/service-worker.js
Due: none

fix the anonymouse option
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/poll/PollView.tsx
Due: eslint --fix, prettier --write

0.137.1
  package.json
Due: prettier --write

fix disable the poll option for tmpl creation
  src/domain/templates/components/Forms/TemplateCalloutForm.tsx
Due: eslint --fix, prettier --write

fix hide the crete template option for poll callouts
  src/domain/collaboration/callout/useCalloutDetails/useCalloutDetails.ts
  src/domain/templates/components/Forms/TemplateCalloutForm.tsx
Due: eslint --fix, prettier --write

spec update
  specs/018-community-polls/plan.md
  specs/018-community-polls/spec.md
Due: prettier --write
