Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Remove the extra comma
  src/domain/templates/graphql/TemplateMutations.graphql
Due: none

address comments
  src/domain/templates/components/Forms/SpaceContentFromSpaceUrlForm.tsx
Due: eslint --fix, prettier --write

Add recursive flag to updateSpaceTemplate and a few tweaks more to the templates form (#8516)
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/space/components/cards/SpaceTile.tsx
  src/domain/spaceAdmin/SpaceAdminAccount/SpaceAdminAccountPage.tsx
  src/domain/templates/components/Dialogs/CreateEditTemplateDialog/CreateEditTemplateDialogBase.tsx
  src/domain/templates/components/Dialogs/CreateEditTemplateDialog/CreateTemplateDialog.tsx
  src/domain/templates/components/Dialogs/CreateEditTemplateDialog/EditTemplateDialog.tsx
  src/domain/templates/components/Forms/SpaceContentFromSpaceUrlForm.tsx
  src/domain/templates/components/Forms/TemplateForm.tsx
  src/domain/templates/components/Forms/TemplateSpaceForm.tsx
  src/domain/templates/components/Forms/common/mappings.ts
  src/domain/templates/components/Previews/TemplateContentSpacePreview.tsx
  src/domain/templates/components/TemplateSelectors/SpaceTemplateSelector.tsx
  src/domain/templates/components/TemplatesAdmin/TemplatesAdmin.tsx
  src/domain/templates/contentSpace/model/TemplateContentSpaceModel.tsx
  src/domain/templates/graphql/TemplateContent.graphql
  src/domain/templates/graphql/TemplateMutations.graphql
Due: eslint --fix, prettier --write

Updates package version to 0.106.0
  package-lock.json
  package.json
Due: prettier --write

Adds versioning and build arguments to Docker build
  .github/workflows/build-deploy-k8s-sandbox-hetzner.yml
Due: none

test if not repruducible
  src/main/routing/TopLevelRoutes.tsx
Due: eslint --fix, prettier --write

[Release] Fix infinitely reloading page
  src/main/routing/TopLevelRoutePath.ts
  src/main/routing/TopLevelRoutes.tsx
  src/main/routing/urlBuilders.ts
  src/main/topLevelPages/myDashboard/DashboardMenu/useHomeMenuItems.ts
  src/main/topLevelPages/myDashboard/useCreateSpaceLink/useCreateSpaceLink.tsx
  src/main/ui/platformNavigation/PlatformNavigationUserMenu.tsx
Due: eslint --fix, prettier --write

[Release] Fix infinitely reloading page (#8526)
  src/main/routing/TopLevelRoutePath.ts
  src/main/routing/TopLevelRoutes.tsx
  src/main/routing/urlBuilders.ts
  src/main/topLevelPages/myDashboard/DashboardMenu/useHomeMenuItems.ts
  src/main/topLevelPages/myDashboard/useCreateSpaceLink/useCreateSpaceLink.tsx
  src/main/ui/platformNavigation/PlatformNavigationUserMenu.tsx
Due: eslint --fix, prettier --write

Updates package version to 0.106.1
  package-lock.json
  package.json
Due: prettier --write

change copy to clipboard to native
  src/domain/community/community/views/CommunityUpdates/CommunityUpdatesView.tsx
Due: eslint --fix, prettier --write

remove types
  package-lock.json
  package.json
Due: prettier --write

graphql
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/InnovationFlowSettings.graphql
  src/domain/collaboration/InnovationFlow/graphql/InnovationFlowCollaboration.fragment.graphql
  src/domain/collaboration/InnovationFlow/graphql/InnovationFlowDetails.fragment.graphql
  src/domain/collaboration/InnovationFlow/graphql/InnovationFlowStates.fragment.graphql
  src/domain/collaboration/InnovationFlow/graphql/UpdateInnovationFlow.graphql
  src/domain/collaboration/InnovationFlow/graphql/UpdateInnovationFlowStates.graphql
  src/domain/collaboration/InnovationFlow/models/InnovationFlowProfileModel.ts
  src/domain/templates/graphql/TemplateContent.graphql
Due: eslint --fix, prettier --write

Innovation flow settings window
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/useInnovationFlowSettings.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowDragNDropEditor/InnovationFlowDragNDropEditor.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowDragNDropEditor/InnovationFlowStateForm.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowDragNDropEditor/InnovationFlowStateMenu.tsx
  src/domain/collaboration/InnovationFlow/graphql/UpdateInnovationFlowStates.graphql
  src/domain/collaboration/InnovationFlow/utils/sortStates.ts
  src/domain/space/layout/tabbedLayout/spaceTabQuery.model.ts
Due: eslint --fix, prettier --write

Make currentState optional on the server
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/useInnovationFlowSettings.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowDragNDropEditor/InnovationFlowDragNDropEditor.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowStates/useInnovationFlowStates.ts
  src/domain/collaboration/InnovationFlow/models/InnovationFlowStateModel.ts
  src/domain/space/layout/tabbedLayout/SpaceTabProvider.tsx
  src/domain/space/layout/tabbedLayout/layout/useSpaceTabs.tsx
  src/domain/space/layout/tabbedLayout/spaceTabQuery.model.ts
Due: eslint --fix, prettier --write

fixes
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/useInnovationFlowSettings.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowStates/useInnovationFlowStates.ts
  src/domain/collaboration/InnovationFlow/graphql/InnovationFlowDetails.fragment.graphql
  src/domain/collaboration/callout/calloutBlock/CalloutSettingsContainer.tsx
  src/domain/space/layout/SubspaceDrawerMenu.tsx
  src/domain/space/layout/SubspacePageLayout.tsx
Due: eslint --fix, prettier --write

don't request currentState if not really needed
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/space/layout/tabbedLayout/Tabs/SpaceTabs.graphql
  src/domain/space/layout/tabbedLayout/layout/useSpaceTabs.tsx
Due: eslint --fix, prettier --write

remove unused request to currentState
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/InnovationFlow/InnovationFlowDragNDropEditor/InnovationFlowDragNDropEditor.tsx
  src/domain/space/layout/tabbedLayout/SpaceTabProvider.tsx
  src/domain/space/layout/tabbedLayout/SpaceTabProviderQueries.graphql
  src/domain/space/layout/tabbedLayout/spaceTabQuery.model.ts
Due: eslint --fix, prettier --write

move file
  src/core/utils/sortBySortOrder.ts
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/useInnovationFlowSettings.tsx
  src/domain/collaboration/InnovationFlow/utils/sortStates.ts
Due: eslint --fix, prettier --write

restore some validations that are still needed
  src/domain/collaboration/InnovationFlow/InnovationFlowDragNDropEditor/InnovationFlowStateForm.tsx
Due: eslint --fix, prettier --write

Innovation flow states management with new mutations (#8495)
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/utils/sortBySortOrder.ts
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/InnovationFlowSettings.graphql
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/useInnovationFlowSettings.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowDragNDropEditor/InnovationFlowDragNDropEditor.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowDragNDropEditor/InnovationFlowStateForm.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowDragNDropEditor/InnovationFlowStateMenu.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowStates/InnovationFlowStates.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowStates/useInnovationFlowStates.ts
  src/domain/collaboration/InnovationFlow/InnovationFlowVisualizers/InnovationFlowChips.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowVisualizers/InnovationFlowVisualizer.ts
  src/domain/collaboration/InnovationFlow/graphql/InnovationFlowCollaboration.fragment.graphql
  src/domain/collaboration/InnovationFlow/graphql/InnovationFlowDetails.fragment.graphql
  src/domain/collaboration/InnovationFlow/graphql/InnovationFlowStates.fragment.graphql
  src/domain/collaboration/InnovationFlow/graphql/UpdateInnovationFlow.graphql
  src/domain/collaboration/InnovationFlow/graphql/UpdateInnovationFlowStates.graphql
  src/domain/collaboration/InnovationFlow/models/InnovationFlowProfileModel.ts
  src/domain/collaboration/InnovationFlow/models/InnovationFlowState.ts
  src/domain/collaboration/InnovationFlow/models/InnovationFlowStateModel.ts
  src/domain/collaboration/callout/calloutBlock/CalloutSettingsContainer.tsx
  src/domain/space/layout/SubspaceDrawerMenu.tsx
  src/domain/space/layout/SubspacePageLayout.tsx
  src/domain/space/layout/tabbedLayout/SpaceTabProvider.tsx
  src/domain/space/layout/tabbedLayout/SpaceTabProviderQueries.graphql
  src/domain/space/layout/tabbedLayout/Tabs/SpaceDashboard/SpaceDashboardView.tsx
  src/domain/space/layout/tabbedLayout/Tabs/SpaceTabs.graphql
  src/domain/space/layout/tabbedLayout/layout/useSpaceTabs.tsx
  src/domain/space/layout/tabbedLayout/spaceTabQuery.model.ts
  src/domain/spaceAdmin/SpaceAdminSubspaces/graphql/SpaceAdminDefaultSpaceTemplatesDetails.graphql
  src/domain/templates/contentSpace/model/TemplateContentSpaceModel.tsx
  src/domain/templates/graphql/TemplateContent.graphql
Due: eslint --fix, prettier --write

user names in the cursor
  src/core/i18n/en/translation.en.json
  src/core/ui/forms/CollaborativeMarkdownInput/CollaborativeMarkdownInput.tsx
  src/core/ui/forms/CollaborativeMarkdownInput/CollaborativeMarkdownInput_working.tsx
  src/core/ui/forms/CollaborativeMarkdownInput/styles.scss
  src/core/ui/forms/CollaborativeMarkdownInput/useUserCursor.ts
  src/domain/space/layout/tabbedLayout/Tabs/SpaceDashboard/SpaceDashboardView.tsx
Due: eslint --fix, prettier --write

cleanup TS for refs
  src/core/ui/button/ButtonBaseAlignReset.tsx
  src/core/ui/card/ContributeCard.tsx
  src/core/ui/content/ContentColumn.tsx
  src/core/ui/content/InfoColumn.tsx
  src/core/ui/content/PageContentBlock.tsx
  src/core/ui/content/PageContentBlockCollapsible.tsx
  src/core/ui/content/PageContentBlockSeamless.tsx
  src/core/ui/content/PageContentColumn.tsx
  src/core/ui/content/PageContentColumnBase.tsx
  src/core/ui/forms/MarkdownInput/MarkdownInput.tsx
  src/core/ui/forms/tagsInput/TagsInput.tsx
  src/core/ui/grid/Gutters.tsx
  src/core/ui/menu/GlobalMenuSurface.tsx
  src/core/ui/navigation/NavigationBarSideContent.tsx
  src/core/ui/tabs/NavigationTab.tsx
  src/domain/collaboration/callout/CalloutContributions/link/CalloutContributionsLink.tsx
  src/domain/collaboration/callout/CalloutContributions/post/CalloutContributionsPost.tsx
  src/domain/collaboration/callout/CalloutContributions/whiteboard/CalloutContributionsWhiteboard.tsx
  src/domain/collaboration/callout/CalloutForm/ContributionSettingsDialog/ContributionsSettings.tsx
  src/domain/collaboration/callout/CalloutForm/ContributionSettingsDialog/ContributionsSettingsLink.tsx
  src/domain/collaboration/callout/CalloutForm/ContributionSettingsDialog/ContributionsSettingsPost.tsx
  src/domain/collaboration/callout/CalloutForm/ContributionSettingsDialog/ContributionsSettingsWhiteboard.tsx
  src/domain/collaboration/whiteboard/WhiteboardPreview/FormikWhiteboardPreview.tsx
  src/domain/community/applicationButton/ApplicationButton.tsx
  src/domain/shared/components/PageHeader/HeaderNavigationButton.tsx
  src/domain/shared/components/withElevationOnHover.tsx
  src/domain/shared/pagination/TableRowLoading.tsx
  src/domain/shared/utils/useCombinedRefs.ts
  src/domain/space/components/spaceBreadcrumbs/SpaceBreadcrumbs.tsx
  src/domain/templates/components/Forms/SpaceContentFromSpaceUrlForm.tsx
  src/domain/timeline/calendar/views/CalendarEventCard.tsx
  src/main/admin/AdminBreadcrumbs.tsx
  src/main/cookies/components/ConsentContainer.tsx
  src/main/guidance/chatWidget/ChatWidgetStyles.tsx
  src/main/ui/platformNavigation/PlatformNavigationUncollapse.tsx
  src/main/ui/platformNavigation/PlatformNavigationUserMenu.tsx
  src/main/ui/platformNavigation/platformNavigationMenu/StandalonePlatformNavigationMenu.tsx
  src/main/ui/platformSearch/PlatformSearch.tsx
Due: eslint --fix, prettier --write

fix incorect nesting of h-tags
  src/core/ui/content/BlockTitleWithIcon.tsx
Due: eslint --fix, prettier --write

fix ref should not be placed on a Fragment error
  src/core/ui/tooltip/MenuTriggerButton.tsx
Due: eslint --fix, prettier --write

replace atlassian's DnD with hello-pangea DnD which is based on it
  package-lock.json
  package.json
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/InnovationFlowCollaborationToolsBlock.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowDragNDropEditor/InnovationFlowDragNDropEditor.tsx
  src/domain/collaboration/callout/CalloutContributions/CalloutsContributionsSortDialog/CalloutContributionsSortDialog.tsx
  src/domain/innovationHub/InnovationHubsSettings/InnovationHubSpacesField.tsx
Due: eslint --fix, prettier --write

TEMP: remove chat widget
  src/main/ui/helpButton/PlatformHelpButton.tsx
Due: eslint --fix, prettier --write

unwrap Fragment elements under MenuItem in order to remove them all
  src/core/ui/utils/unwrapFragment.ts
Due: eslint --fix, prettier --write

add DroppableProvidedProps
  src/core/ui/content/PageContentBlock.tsx
Due: eslint --fix, prettier --write

allow minor upgrades of material ui
  package-lock.json
  package.json
Due: prettier --write

wip
  codegen.yml
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/callout/CalloutDialogs/EditCalloutDialog.tsx
  src/domain/collaboration/callout/CalloutForm/CalloutFormFramingSettings.tsx
  src/domain/collaboration/callout/CalloutForm/CalloutFormModel.ts
  src/domain/collaboration/callout/CalloutFramings/CalloutFramingMemo.tsx
  src/domain/collaboration/callout/CalloutRestrictionsTypes.ts
  src/domain/collaboration/callout/CalloutView/CalloutDetailsContainer.tsx
  src/domain/collaboration/callout/CalloutView/CalloutView.tsx
  src/domain/collaboration/callout/graphql/CalloutContent.graphql
  src/domain/collaboration/callout/models/CalloutModelLight.tsx
  src/domain/collaboration/callout/models/TypedCallout.ts
  src/domain/collaboration/callout/models/mappings.ts
  src/domain/collaboration/calloutsSet/useCalloutCreation/useCalloutCreationWithPreviewImages.ts
  src/domain/collaboration/calloutsSet/useCalloutsSet/CalloutsSetQueries.graphql
  src/domain/collaboration/memo/MemoDialog/MemoDialog.tsx
  src/domain/collaboration/memo/MemoManager/memo.graphql
  src/domain/collaboration/memo/MemoManager/useMemoManager.ts
  src/domain/collaboration/memo/MemoPreview/MemoPreview.tsx
  src/domain/collaboration/memo/icon/MemoIcon.tsx
  src/domain/collaboration/memo/model/MemoFieldSubmittedValues.ts
  src/domain/collaboration/memo/model/MemoModel.ts
  src/domain/collaboration/memo/model/MemoModelFull.ts
  src/domain/collaboration/whiteboard/WhiteboardDialog/WhiteboardDialog.tsx
  src/domain/community/virtualContributor/knowledgeBase/KnowledgeBaseDialog.tsx
  src/domain/templates/components/Forms/TemplateCalloutForm.tsx
  src/domain/templates/models/CalloutTemplate.tsx
Due: eslint --fix, prettier --write

create memo framing working
  src/domain/collaboration/callout/CalloutFramings/CalloutFramingMemo.tsx
  src/domain/collaboration/memo/MemoDialog/MemoDialog.tsx
Due: eslint --fix, prettier --write

updated to use extra roles as array
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/access/ApplicationsAndInvitations/InvitationsMutations.graphql
  src/domain/access/ApplicationsAndInvitations/useRoleSetApplicationsAndInvitations.ts
Due: eslint --fix, prettier --write

fix subspace margin in the layout
  src/domain/space/layout/SubspacePageLayout.tsx
Due: eslint --fix, prettier --write

updated to use extra roles as array (#8533)
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/access/ApplicationsAndInvitations/InvitationsMutations.graphql
  src/domain/access/ApplicationsAndInvitations/useRoleSetApplicationsAndInvitations.ts
Due: eslint --fix, prettier --write

do not auto-update mui/material
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
