Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

added ids to queried fields
  specs/025-admin-transfer-ui/contracts/AccountSearch.graphql
  specs/025-admin-transfer-ui/contracts/SpaceConversion.graphql
  specs/025-admin-transfer-ui/contracts/TransferInnovationHub.graphql
  specs/025-admin-transfer-ui/contracts/TransferInnovationPack.graphql
  specs/025-admin-transfer-ui/contracts/TransferVirtualContributor.graphql
  specs/025-admin-transfer-ui/contracts/VcConversion.graphql
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/platformAdmin/management/transfer/shared/AccountSearch.graphql
  src/domain/platformAdmin/management/transfer/spaceConversion/SpaceConversion.graphql
  src/domain/platformAdmin/management/transfer/transferInnovationHub/TransferInnovationHub.graphql
  src/domain/platformAdmin/management/transfer/transferInnovationPack/TransferInnovationPack.graphql
  src/domain/platformAdmin/management/transfer/transferVirtualContributor/TransferVirtualContributor.graphql
  src/domain/platformAdmin/management/transfer/vcConversion/VcConversion.graphql
Due: eslint --fix, prettier --write

feat: add mutationCompleted state to manage transfer callout visibility
  src/domain/platformAdmin/management/transfer/transferCallout/useTransferCallout.ts
  src/domain/platformAdmin/management/transfer/transferInnovationHub/useTransferInnovationHub.ts
  src/domain/platformAdmin/management/transfer/transferInnovationPack/useTransferInnovationPack.ts
  src/domain/platformAdmin/management/transfer/transferSpace/useTransferSpace.ts
  src/domain/platformAdmin/management/transfer/transferVirtualContributor/useTransferVirtualContributor.ts
Due: eslint --fix, prettier --write

fix: update button text from 'lookup' to 'search' for consistency
  src/domain/platformAdmin/management/transfer/transferCallout/TransferCalloutSection.tsx
  src/domain/platformAdmin/management/transfer/transferSpace/TransferSpaceSection.tsx
Due: eslint --fix, prettier --write

fix: push notification reliability improvements
  public/service-worker.js
  specs/023-pwa-push-notifications/spec.md
  src/core/auth/authentication/pages/LogoutPage.tsx
  src/domain/community/userAdmin/tabs/components/PushSubscriptionsList.tsx
  src/main/pushNotifications/PushNotificationProvider.tsx
  src/main/pushNotifications/usePushNotifications.ts
Due: eslint --fix, prettier --write

feat: add PWA push notification support (#9433)
  biome.json
  public/manifest.json
  public/service-worker.js
  specs/023-pwa-push-notifications/checklists/requirements.md
  specs/023-pwa-push-notifications/contracts/push-mutations.graphql
  specs/023-pwa-push-notifications/contracts/push-queries.graphql
  specs/023-pwa-push-notifications/data-model.md
  specs/023-pwa-push-notifications/plan.md
  specs/023-pwa-push-notifications/prd.md
  specs/023-pwa-push-notifications/quickstart.md
  specs/023-pwa-push-notifications/research.md
  specs/023-pwa-push-notifications/spec.md
  specs/023-pwa-push-notifications/tasks.md
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/auth/authentication/pages/LogoutPage.tsx
  src/core/i18n/en/translation.en.json
  src/core/ui/forms/SettingsGroups/TripleSwitchSettingsGroup.tsx
  src/core/ui/forms/SettingsGroups/services/NotificationValidationService.ts
  src/core/ui/forms/SettingsGroups/types/NotificationTypes.ts
  src/domain/community/userAdmin/graphql/updateUserSettings.graphql
  src/domain/community/userAdmin/graphql/userSettingsFragment.graphql
  src/domain/community/userAdmin/tabs/UserAdminNotificationsPage.tsx
  src/domain/community/userAdmin/tabs/components/CombinedPlatformNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/components/CombinedSpaceNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/components/CombinedUserNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/components/OrganizationNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/components/PushSubscriptionsList.tsx
  src/domain/community/userAdmin/tabs/components/VCNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/model/NotificationSettings.model.ts
  src/main/pushNotifications/PushNotificationProvider.tsx
  src/main/pushNotifications/graphql/myPushSubscriptions.graphql
  src/main/pushNotifications/graphql/subscribeToPushNotifications.graphql
  src/main/pushNotifications/graphql/unsubscribeFromPushNotifications.graphql
  src/main/pushNotifications/graphql/vapidPublicKey.graphql
  src/main/pushNotifications/urlBase64ToUint8Array.ts
  src/main/pushNotifications/usePushNotifications.ts
  src/root.tsx
Due: eslint --fix, prettier --write

Clarify and analyze
  CLAUDE.md
  specs/039-crd-spaces-page/contracts/crd-space-card.ts
  specs/039-crd-spaces-page/contracts/data-mapper.ts
  specs/039-crd-spaces-page/data-model.md
  specs/039-crd-spaces-page/plan.md
  specs/039-crd-spaces-page/quickstart.md
  specs/039-crd-spaces-page/research.md
  specs/039-crd-spaces-page/spec.md
  specs/039-crd-spaces-page/tasks.md
  src/crd/CLAUDE.md
Due: prettier --write

Move Space Explorer page to new-ui folder
  src/core/routing/usePrefetchRoutes.ts
  src/main/routing/TopLevelRoutes.tsx
  src/main/topLevelPages/topLevelSpaces/SpaceExplorerView.tsx
  src/main/topLevelPages/topLevelSpaces/useSpaceExplorerViewState.ts
  src/new-ui/topLevelPages/spaces/SpaceExplorerPage.tsx
  src/new-ui/topLevelPages/spaces/SpaceExplorerPageDep.tsx
  src/new-ui/topLevelPages/spaces/SpaceExplorerQueries.graphql
  src/new-ui/topLevelPages/spaces/spaceCardDataMapper.ts
  src/new-ui/topLevelPages/spaces/useSpaceExplorer.ts
Due: eslint --fix, prettier --write

claude skill for running the performance benchmark on the client
  .claude/skills/benchmark.md
Due: prettier --write

Claudes
  CLAUDE.md
  prototype/CLAUDE.md
  src/crd/CLAUDE.md
Due: prettier --write

feat: sync SpaceCard with Figma - add Member badge and solid privacy badges
  src/core/i18n/en/translation.en.json
  src/crd/app/data/spaces.ts
  src/crd/components/space/SpaceCard.tsx
Due: eslint --fix, prettier --write

feat: migrate @ory/kratos-client from v1.3.8 to v26.2.0
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  specs/040-ory-stack-migration/checklists/requirements.md
  specs/040-ory-stack-migration/contracts/kratos-api-changes.md
  specs/040-ory-stack-migration/data-model.md
  specs/040-ory-stack-migration/plan.md
  specs/040-ory-stack-migration/quickstart.md
  specs/040-ory-stack-migration/research.md
  specs/040-ory-stack-migration/spec.md
  specs/040-ory-stack-migration/tasks.md
  src/core/auth/authentication/components/Kratos/helpers.ts
  src/core/auth/authentication/components/Kratos/messages.tsx
  src/core/auth/authentication/components/KratosUI.tsx
  src/core/auth/authentication/hooks/useKratosFlow.test.ts
  src/core/auth/authentication/hooks/useKratosFlow.ts
  src/core/i18n/en/translation.en.json
Due: eslint --fix, prettier --write

Separate components, separate onClick logic, and separate inline styles
  src/crd/CLAUDE.md
  src/crd/app/pages/SpacesPage.tsx
  src/crd/components/common/StackedAvatars.tsx
  src/crd/components/index.md
  src/crd/components/space/SpaceCard.tsx
  src/crd/components/space/SpaceExplorer.tsx
Due: eslint --fix, prettier --write

move translations outside
  @types/i18next.d.ts
  CLAUDE.md
  specs/039-crd-spaces-page/plan.md
  specs/039-crd-spaces-page/spec.md
  specs/039-crd-spaces-page/tasks.md
  src/core/i18n/config.ts
  src/core/i18n/en/translation.en.json
  src/crd/CLAUDE.md
  src/crd/app/main.tsx
  src/crd/components/space/SpaceCard.tsx
  src/crd/components/space/SpaceExplorer.tsx
  src/crd/forms/tags-input.tsx
  src/crd/i18n/en.json
  src/crd/i18n/translations.ts
  src/crd/layouts/Footer.tsx
  src/crd/layouts/Header.tsx
Due: eslint --fix, prettier --write

update the specs with the latest folder and flow changes, exclude prototype
  CLAUDE.md
  biome.json
  eslint.config.mjs
  specs/039-crd-spaces-page/migration-pattern.md
  specs/039-crd-spaces-page/plan.md
  specs/039-crd-spaces-page/spec.md
  src/crd/CLAUDE.md
  src/crd/components/space/SpaceCard.tsx
  src/crd/i18n/en.json
  tsconfig.json
Due: eslint --fix, prettier --write

fix memory leak on apollo error
  src/core/apollo/graphqlLinks/useErrorHandlerLink.ts
  src/core/apollo/graphqlLinks/useErrorLoggerLink.ts
  src/core/apollo/hooks/useGraphQLClient.ts
Due: eslint --fix, prettier --write

code optimizations in SpaceExplorer
  specs/039-crd-spaces-page/migration-pattern.md
  specs/039-crd-spaces-page/plan.md
  specs/039-crd-spaces-page/spec.md
  src/core/routing/usePrefetchRoutes.ts
  src/main/routing/TopLevelRoutes.tsx
  src/new-ui/topLevelPages/spaces/SpaceExplorerPage.tsx
  src/new-ui/topLevelPages/spaces/SpaceExplorerPageDep.tsx
  src/new-ui/topLevelPages/spaces/useSpaceExplorer.ts
Due: eslint --fix, prettier --write

add accessibility to the plan and page/components
  specs/039-crd-spaces-page/migration-pattern.md
  specs/039-crd-spaces-page/spec.md
  src/crd/CLAUDE.md
  src/crd/components/common/AlkemioLogo.tsx
  src/crd/components/common/StackedAvatars.tsx
  src/crd/components/space/SpaceCard.tsx
  src/crd/components/space/SpaceExplorer.tsx
  src/crd/forms/tags-input.tsx
  src/crd/i18n/en.json
  src/crd/layouts/Footer.tsx
  src/crd/layouts/Header.tsx
Due: eslint --fix, prettier --write

0.138.0
  package.json
Due: prettier --write

design independant structre, separate non-crowdin translations, less inline styles, workign dialogs, etc.
  specs/039-crd-spaces-page/contracts/crd-layout.ts
  specs/039-crd-spaces-page/contracts/crd-space-card.ts
  specs/039-crd-spaces-page/migration-pattern.md
  specs/039-crd-spaces-page/plan.md
  specs/039-crd-spaces-page/spec.md
  src/core/i18n/config.ts
  src/crd/CLAUDE.md
  src/crd/app/CrdApp.tsx
  src/crd/app/main.tsx
  src/crd/components/space/SpaceCard.tsx
  src/crd/components/space/SpaceExplorer.tsx
  src/crd/i18n/components.bg.json
  src/crd/i18n/components.de.json
  src/crd/i18n/components.en.json
  src/crd/i18n/components.es.json
  src/crd/i18n/components.fr.json
  src/crd/i18n/components.nl.json
  src/crd/layouts/CrdLayout.tsx
  src/crd/layouts/Footer.tsx
  src/crd/layouts/Header.tsx
  src/crd/layouts/types.ts
  src/main/ui/layout/CrdLayoutWrapper.tsx
Due: eslint --fix, prettier --write

claude skill for running the performance benchmark on the client (#9469)
  .claude/skills/benchmark.md
Due: prettier --write

fix the mobile layout
  src/crd/components/space/SpaceExplorer.tsx
  src/crd/layouts/Footer.tsx
  src/crd/layouts/Header.tsx
  src/crd/styles/crd.css
Due: eslint --fix, prettier --write

Implement the user menu, login, logout etc.
  specs/039-crd-spaces-page/contracts/crd-layout.ts
  specs/039-crd-spaces-page/migration-pattern.md
  specs/039-crd-spaces-page/plan.md
  specs/039-crd-spaces-page/spec.md
  specs/039-crd-spaces-page/tasks.md
  src/crd/app/CrdApp.tsx
  src/crd/i18n/components.bg.json
  src/crd/i18n/components.de.json
  src/crd/i18n/components.en.json
  src/crd/i18n/components.es.json
  src/crd/i18n/components.fr.json
  src/crd/i18n/components.nl.json
  src/crd/layouts/CrdLayout.tsx
  src/crd/layouts/Header.tsx
  src/crd/layouts/types.ts
  src/main/ui/layout/CrdLayoutWrapper.tsx
Due: eslint --fix, prettier --write

fix the footer links
  src/crd/app/CrdApp.tsx
  src/crd/layouts/CrdLayout.tsx
  src/crd/layouts/Footer.tsx
  src/crd/layouts/types.ts
  src/main/ui/layout/CrdLayoutWrapper.tsx
Due: eslint --fix, prettier --write

no memization if possible
  CLAUDE.md
  src/main/ui/layout/CrdLayoutWrapper.tsx
Due: eslint --fix, prettier --write

remove redundant errorBoundry, rename the new-ui folder
  .coderabbit.yaml
  CLAUDE.md
  specs/039-crd-spaces-page/migration-pattern.md
  specs/039-crd-spaces-page/plan.md
  specs/039-crd-spaces-page/spec.md
  src/core/routing/usePrefetchRoutes.ts
  src/crd/CLAUDE.md
  src/main/crdPages/spaces/SpaceExplorerPage.tsx
  src/main/crdPages/spaces/SpaceExplorerQueries.graphql
  src/main/crdPages/spaces/spaceCardDataMapper.ts
  src/main/crdPages/spaces/useSpaceExplorer.ts
  src/main/routing/TopLevelRoutes.tsx
  src/main/ui/layout/CrdLayoutWrapper.tsx
Due: eslint --fix, prettier --write

fix: address CodeRabbit review comments
  package.json
  pnpm-lock.yaml
  specs/040-ory-stack-migration/contracts/kratos-api-changes.md
  specs/040-ory-stack-migration/data-model.md
  src/core/auth/authentication/hooks/useKratosFlow.test.ts
  src/core/auth/authentication/hooks/useKratosFlow.ts
Due: eslint --fix, prettier --write

feat: migrate @ory/kratos-client from v1.3.8 to v26.2.0 (#9470)
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  specs/040-ory-stack-migration/checklists/requirements.md
  specs/040-ory-stack-migration/contracts/kratos-api-changes.md
  specs/040-ory-stack-migration/data-model.md
  specs/040-ory-stack-migration/plan.md
  specs/040-ory-stack-migration/quickstart.md
  specs/040-ory-stack-migration/research.md
  specs/040-ory-stack-migration/spec.md
  specs/040-ory-stack-migration/tasks.md
  src/core/auth/authentication/components/Kratos/helpers.ts
  src/core/auth/authentication/components/Kratos/messages.tsx
  src/core/auth/authentication/components/KratosUI.tsx
  src/core/auth/authentication/hooks/useKratosFlow.test.ts
  src/core/auth/authentication/hooks/useKratosFlow.ts
  src/core/i18n/en/translation.en.json
Due: eslint --fix, prettier --write

modular, optimized translations + documentation
  @types/i18next.d.ts
  CLAUDE.md
  docs/crd/migration-guide.md
  docs/crd/translations.md
  specs/039-crd-spaces-page/migration-pattern.md
  specs/039-crd-spaces-page/spec.md
  src/core/i18n/config.ts
  src/crd/CLAUDE.md
  src/crd/app/main.tsx
  src/crd/components/space/SpaceCard.tsx
  src/crd/components/space/SpaceExplorer.tsx
  src/crd/i18n/common/common.bg.json
  src/crd/i18n/common/common.de.json
  src/crd/i18n/common/common.en.json
  src/crd/i18n/common/common.es.json
  src/crd/i18n/common/common.fr.json
  src/crd/i18n/common/common.nl.json
  src/crd/i18n/exploreSpaces/exploreSpaces.bg.json
  src/crd/i18n/exploreSpaces/exploreSpaces.de.json
  src/crd/i18n/exploreSpaces/exploreSpaces.en.json
  src/crd/i18n/exploreSpaces/exploreSpaces.es.json
  src/crd/i18n/exploreSpaces/exploreSpaces.fr.json
  src/crd/i18n/exploreSpaces/exploreSpaces.nl.json
  src/crd/i18n/layout/layout.bg.json
  src/crd/i18n/layout/layout.de.json
  src/crd/i18n/layout/layout.en.json
  src/crd/i18n/layout/layout.es.json
  src/crd/i18n/layout/layout.fr.json
  src/crd/i18n/layout/layout.nl.json
  src/crd/layouts/Footer.tsx
  src/crd/layouts/Header.tsx
Due: eslint --fix, prettier --write

Add PlatformNavigation menu, extract layout building blocks, add migration skills
  .claude/commands/migrate-page-component.md
  .claude/commands/migrate-page.md
  specs/039-crd-spaces-page/migration-pattern.md
  specs/039-crd-spaces-page/plan.md
  specs/039-crd-spaces-page/spec.md
  specs/039-crd-spaces-page/tasks.md
  src/crd/CLAUDE.md
  src/crd/app/CrdApp.tsx
  src/crd/i18n/layout/layout.bg.json
  src/crd/i18n/layout/layout.de.json
  src/crd/i18n/layout/layout.en.json
  src/crd/i18n/layout/layout.es.json
  src/crd/i18n/layout/layout.fr.json
  src/crd/i18n/layout/layout.nl.json
  src/crd/layouts/CrdLayout.tsx
  src/crd/layouts/Header.tsx
  src/crd/layouts/components/PlatformNavigationMenu.tsx
  src/crd/layouts/components/UserMenu.tsx
  src/crd/layouts/types.ts
  src/crd/primitives/button.tsx
  src/main/ui/layout/CrdLayoutWrapper.tsx
Due: eslint --fix, prettier --write

fix the sentry build for the crd pages
  vite.sentry.config.mjs
Due: none

Add CRD notifications panel replacing MUI InAppNotificationsDialog
  @types/i18next.d.ts
  package.json
  pnpm-lock.yaml
  specs/039-crd-spaces-page/plan.md
  specs/039-crd-spaces-page/spec.md
  specs/039-crd-spaces-page/tasks.md
  src/core/i18n/config.ts
  src/crd/app/CrdApp.tsx
  src/crd/i18n/notifications/notifications.bg.json
  src/crd/i18n/notifications/notifications.de.json
  src/crd/i18n/notifications/notifications.en.json
  src/crd/i18n/notifications/notifications.es.json
  src/crd/i18n/notifications/notifications.fr.json
  src/crd/i18n/notifications/notifications.nl.json
  src/crd/layouts/CrdLayout.tsx
  src/crd/layouts/Header.tsx
  src/crd/layouts/components/NotificationItem.tsx
  src/crd/layouts/components/NotificationsPanel.tsx
  src/crd/layouts/types.ts
  src/crd/primitives/dialog.tsx
  src/main/ui/layout/CrdLayoutWrapper.tsx
  src/main/ui/layout/notificationDataMapper.ts
Due: eslint --fix, prettier --write

Remove sorting from SpaceExplorer — deferred until backend supports orderBy
  specs/039-crd-spaces-page/plan.md
  specs/039-crd-spaces-page/spec.md
  src/crd/components/space/SpaceExplorer.tsx
Due: eslint --fix, prettier --write

translations update
  src/core/i18n/ach/translation.ach.json
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
Due: prettier --write

feat: make whiteboard dialogs nearly full-width when not fullscreen
  src/core/ui/dialog/DialogWithGrid.tsx
  src/domain/collaboration/whiteboard/WhiteboardDialog/SingleUserWhiteboardDialog.tsx
  src/domain/collaboration/whiteboard/WhiteboardDialog/WhiteboardDialog.tsx
Due: eslint --fix, prettier --write

0.138.1
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
