Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": "prettier --write"
}

fix calendar event creation and edit
  src/domain/timeline/calendar/CalendarDialog.tsx
  src/domain/timeline/calendar/CalendarEventsContainer.tsx
Due: eslint --fix, prettier --write

Remove the subspaces' default callouts and tutorials radio options (#8284)
  src/core/i18n/en/translation.en.json
  src/domain/space/components/subspaces/CreateSubspaceForm.tsx
  src/domain/space/components/subspaces/SubspaceCreationDialog/CreateSubspace.tsx
  src/domain/space/components/subspaces/SubspaceCreationDialog/SubspaceCreationDialog.tsx
  src/domain/space/components/subspaces/SubspaceCreationDialog/SubspaceCreationForm.ts
  src/domain/space/hooks/useSubspaceCreation/useSubspaceCreation.ts
  src/domain/space/layout/tabbedLayout/Tabs/SpaceSubspacesPage.tsx
  src/domain/spaceAdmin/SpaceAdminSubspaces/SpaceAdminSubspacesPage.tsx
Due: eslint --fix, prettier --write

remove two failing tests with mainly skip content (#8277)
  src/core/ui/dialogs/RemoveModal.spec.tsx
  src/domain/community/applicationButton/ApplicationButton.spec.tsx
Due: eslint --fix, prettier --write

fix calendar event creation and edit (#8287)
  src/domain/timeline/calendar/CalendarDialog.tsx
  src/domain/timeline/calendar/CalendarEventsContainer.tsx
Due: eslint --fix, prettier --write

New translations translation.en.json (French)
  src/core/i18n/fr/translation.fr.json
Due: prettier --write

New translations translation.en.json (Spanish)
  src/core/i18n/es/translation.es.json
Due: prettier --write

New translations translation.en.json (Bulgarian)
  src/core/i18n/bg/translation.bg.json
Due: prettier --write

New translations translation.en.json (German)
  src/core/i18n/de/translation.de.json
Due: prettier --write

New translations translation.en.json (Dutch)
  src/core/i18n/nl/translation.nl.json
Due: prettier --write

New translations translation.en.json (Ukrainian)
  src/core/i18n/ua/translation.ua.json
Due: prettier --write

New translations translation.en.json (Portuguese, Brazilian)
  src/core/i18n/pt/translation.pt.json
Due: prettier --write

New translations translation.en.json (Acholi)
  src/core/i18n/ach/translation.ach.json
Due: prettier --write

translations update
  src/core/i18n/ach/translation.ach.json
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
  src/core/i18n/pt/translation.pt.json
  src/core/i18n/ua/translation.ua.json
Due: prettier --write

translations update (#8288)
  src/core/i18n/ach/translation.ach.json
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
  src/core/i18n/pt/translation.pt.json
  src/core/i18n/ua/translation.ua.json
Due: prettier --write

0.93.0
  package-lock.json
  package.json
Due: prettier --write

fix tags on call for posts' post
  src/domain/collaboration/post/PostForm/PostForm.tsx
Due: eslint --fix, prettier --write

fix tags on call for posts' post (#8290)
  src/domain/collaboration/post/PostForm/PostForm.tsx
Due: eslint --fix, prettier --write

ESM switch (new branch to avoid conflicts with eslint branch) (#8225)
  buildConfiguration.js
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

Adding descriptions to where the (sub)space visuals are shown
  src/core/i18n/en/translation.en.json
Due: prettier --write

refetch the roleset on add/remove users to org
  src/domain/access/RoleSetManager/useRoleSetManager.ts
  src/domain/community/organizationAdmin/views/OrganizationAuthorizationRoleAssignementView.tsx
Due: eslint --fix, prettier --write

bring back extensive password recovery message
  src/core/i18n/en/translation.en.json
Due: prettier --write

use Trans component inside useKratosT and fix some tooltips
  src/core/auth/authentication/components/Kratos/KratosButton.tsx
  src/core/auth/authentication/components/Kratos/KratosInput.tsx
  src/core/auth/authentication/components/Kratos/messages.ts
  src/core/auth/authentication/components/Kratos/messages.tsx
  src/core/auth/authentication/components/KratosUI.tsx
Due: eslint --fix, prettier --write

remove commented code
  src/core/auth/authentication/components/Kratos/messages.tsx
Due: eslint --fix, prettier --write

remove more commented code
  src/core/auth/authentication/components/KratosUI.tsx
Due: eslint --fix, prettier --write

bring back extensive password recovery message (#8296)
  src/core/auth/authentication/components/Kratos/KratosButton.tsx
  src/core/auth/authentication/components/Kratos/KratosInput.tsx
  src/core/auth/authentication/components/Kratos/messages.ts
  src/core/auth/authentication/components/Kratos/messages.tsx
  src/core/auth/authentication/components/KratosUI.tsx
  src/core/i18n/en/translation.en.json
Due: eslint --fix, prettier --write

0.93.1
  package-lock.json
  package.json
Due: prettier --write

fix the org admin roles by dividing them in tabs
  src/domain/access/AvailableContributors/useRoleSetAvailableUsersOnRoleSet.ts
  src/domain/community/organizationAdmin/tabs/OrganizationAdminAuthorizationPage.tsx
  src/domain/community/organizationAdmin/tabs/TabPanel.tsx
Due: eslint --fix, prettier --write

moved space template paramter to be on space input DTO; added proper model for SpaceSettings; made SpaceContentModel separate from SpaceTemplateModel
  src/core/apollo/generated/graphql-schema.ts
  src/domain/space/components/subspaces/CreateSubspaceForm.tsx
  src/domain/space/components/subspaces/SubspaceCreationDialog/CreateSubspace.tsx
  src/domain/space/components/subspaces/SubspaceCreationDialog/SubspaceCreationDialog.tsx
  src/domain/space/components/subspaces/SubspaceCreationDialog/SubspaceCreationForm.ts
  src/domain/space/hooks/useSubspaceCreation/useSubspaceCreation.ts
  src/domain/space/layout/tabbedLayout/Tabs/SpaceSubspacesPage.tsx
  src/domain/space/settings/SpaceSettingsModel.ts
  src/domain/spaceAdmin/SpaceAdminSubspaces/SpaceAdminSubspacesPage.tsx
  src/domain/templates-manager/SelectDefaultCollaborationTemplate/SelectDefaultCollaborationTemplateDialog.tsx
  src/domain/templates/components/Forms/TemplateContentSpaceForm.tsx
  src/domain/templates/components/Forms/common/mappings.ts
  src/domain/templates/components/Previews/TemplateContentSpacePreview.tsx
  src/domain/templates/components/Previews/TemplatePreview.tsx
  src/domain/templates/components/TemplatesAdmin/TemplatesAdmin.tsx
  src/domain/templates/components/cards/SpaceTemplateCard.tsx
  src/domain/templates/components/cards/TemplateCard.tsx
  src/domain/templates/contentSpace/TemplateContentSpaceModel.tsx
  src/domain/templates/contentSpace/contentSpaceUtils.tsx
  src/domain/templates/models/SpaceTemplate.ts
  src/domain/templates/models/TemplateBase.ts
  src/domain/templates/models/TemplateContentSpaceModel.tsx
  src/domain/templates/models/common.ts
Due: eslint --fix, prettier --write

moved ContentSpace related code to be in its own folder for maintainability
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/spaceAdmin/SpaceAdminLayout/SpaceCollaborationId.graphql
  src/domain/spaceAdmin/SpaceAdminSettings/SpaceAdminSettingsPage.tsx
  src/domain/spaceAdmin/SpaceAdminSubspaces/SpaceAdminSubspacesPage.tsx
  src/domain/templates/components/Forms/TemplateForm.tsx
  src/domain/templates/components/Forms/common/mappings.ts
  src/domain/templates/components/Previews/TemplatePreview.tsx
  src/domain/templates/components/TemplatesAdmin/TemplatesAdmin.tsx
  src/domain/templates/contentSpace/TemplateContentSpaceForm.tsx
  src/domain/templates/contentSpace/TemplateContentSpacePreview.tsx
  src/domain/templates/contentSpace/graphql/TemplateContentSpace.graphql
  src/domain/templates/contentSpace/graphql/createTemplateFromSpace.graphql
  src/domain/templates/contentSpace/useCreateSpaceContentTemplate.ts
  src/domain/templates/graphql/TemplateContent.graphql
  src/domain/templates/graphql/TemplateFragments.graphql
  src/domain/templates/graphql/TemplateMutations.graphql
Due: eslint --fix, prettier --write

center social buttons
  src/core/auth/authentication/components/KratosUI.tsx
Due: eslint --fix, prettier --write

center social buttons (#8300)
  src/core/auth/authentication/components/KratosUI.tsx
Due: eslint --fix, prettier --write

Adds collaborative markdown editor
  package-lock.json
  package.json
  src/core/i18n/ach/translation.ach.json
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/en/translation.en.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
  src/core/i18n/pt/translation.pt.json
  src/core/i18n/ua/translation.ua.json
  src/core/ui/forms/MarkdownInput/CollaborationContext.tsx
  src/core/ui/forms/MarkdownInput/CollaborativeMarkdownInput.tsx
  src/core/ui/forms/MarkdownInput/FormikCollaborativeMarkdownField.tsx
Due: eslint --fix, prettier --write

0.93.2
  package-lock.json
  package.json
Due: prettier --write

Temporarily disables collaborative editor features
  src/core/ui/forms/MarkdownInput/CollaborativeMarkdownInput.tsx
Due: eslint --fix, prettier --write

Changes after review
  src/core/i18n/en/translation.en.json
Due: prettier --write

correct small mistake
  src/core/i18n/en/translation.en.json
Due: prettier --write

fix local header error
  vite.config.mjs
Due: none

partial fixing of the create space template page
  src/domain/templates/contentSpace/TemplateContentSpaceForm.tsx
Due: eslint --fix, prettier --write

fixed the conversion of collaboration preview when loading a space
  src/domain/collaboration/InnovationFlow/InnovationFlowCalloutsPreview.tsx
  src/domain/collaboration/InnovationFlow/models/InnovationFlowProfileModel.ts
  src/domain/collaboration/callout/calloutsList/CalloutsList.tsx
  src/domain/collaboration/callout/model/CalloutInfo.model.tsx
  src/domain/collaboration/callout/model/CalloutModelLight.tsx
  src/domain/collaboration/calloutsSet/CalloutsView/CalloutsListItemTitle.tsx
  src/domain/spaceAdmin/SpaceAdminSubspaces/SpaceAdminSubspacesPage.tsx
  src/domain/templates/contentSpace/TemplateContentSpaceForm.tsx
  src/domain/templates/contentSpace/TemplateContentSpaceModel.tsx
  src/domain/templates/contentSpace/TemplateContentSpacePreview.tsx
  src/domain/templates/contentSpace/contentSpaceUtils.tsx
Due: eslint --fix, prettier --write
