Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Calendar events setting.
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/community/userAdmin/graphql/updateUserSettings.graphql
  src/domain/community/userAdmin/graphql/userSettingsFragment.graphql
  src/domain/community/userAdmin/tabs/UserAdminNotificationsPage.tsx
  src/domain/community/userAdmin/tabs/components/CombinedSpaceNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/model/NotificationSettings.model.ts
Due: eslint --fix, prettier --write

pr fix
  src/main/inAppNotifications/graphql/InAppNotificationsFragments.graphql
Due: none

object-fit contain
  src/domain/collaboration/whiteboard/WhiteboardPreview/WhiteboardPreview.tsx
Due: eslint --fix, prettier --write

0.119.3
  package.json
Due: prettier --write

Fix - Space License setting not available to License Managers.
  src/domain/platformAdmin/domain/space/AdminSpaceListPage/SpaceList.tsx
Due: eslint --fix, prettier --write

rollback this, will test it properly for the next release
  src/domain/collaboration/whiteboard/WhiteboardVisuals/getWhiteboardPreviewImage.ts
Due: eslint --fix, prettier --write

schema updates
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/graphql-schema.ts
Due: eslint --fix, prettier --write

fix forum in-app translation
  src/core/utils/string.ts
  src/main/inAppNotifications/views/platform/InAppPlatformForumDiscussionCreatedView.tsx
Due: eslint --fix, prettier --write

fix forum in-app translation (#8988)
  src/core/utils/string.ts
  src/main/inAppNotifications/views/platform/InAppPlatformForumDiscussionCreatedView.tsx
Due: eslint --fix, prettier --write

Remove calendarEventID from in-app notification payload types
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/graphql-schema.ts
Due: eslint --fix, prettier --write

[In-app] Comment on calendar event (#8984)
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/community/userAdmin/graphql/updateUserSettings.graphql
  src/domain/community/userAdmin/graphql/userSettingsFragment.graphql
  src/domain/community/userAdmin/tabs/UserAdminNotificationsPage.tsx
  src/domain/community/userAdmin/tabs/components/CombinedSpaceNotificationsSettings.tsx
  src/domain/community/userAdmin/tabs/model/NotificationSettings.model.ts
  src/main/inAppNotifications/InAppNotificationItem.tsx
  src/main/inAppNotifications/graphql/InAppNotificationsFragments.graphql
  src/main/inAppNotifications/notificationFilters.ts
  src/main/inAppNotifications/views/space/InAppSpaceCommunityCalendarEventCommentView.tsx
Due: eslint --fix, prettier --write

add whiteboard page spec
  .github/copilot-instructions.md
  specs/002-guest-whiteboard-access/checklists/requirements.md
  specs/002-guest-whiteboard-access/contracts/api-contract.md
  specs/002-guest-whiteboard-access/contracts/graphql-fragments.graphql
  specs/002-guest-whiteboard-access/data-model.md
  specs/002-guest-whiteboard-access/plan.md
  specs/002-guest-whiteboard-access/quickstart.md
  specs/002-guest-whiteboard-access/research.md
  specs/002-guest-whiteboard-access/spec.md
  specs/002-guest-whiteboard-access/tasks.md
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/calloutContributions/useCalloutContributions/CalloutContributions.graphql
Due: prettier --write

Initial memo as response implementation.
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/core/ui/forms/CollaborativeMarkdownInput/CollaborativeMarkdownInput.tsx
  src/domain/collaboration/callout/CalloutDialogs/CreateCalloutDialog.tsx
  src/domain/collaboration/callout/CalloutDialogs/EditCalloutDialog.tsx
  src/domain/collaboration/callout/CalloutForm/CalloutFormContributionSettings.tsx
  src/domain/collaboration/callout/CalloutView/CalloutView.tsx
  src/domain/collaboration/calloutContributions/CalloutContributionModel.ts
  src/domain/collaboration/calloutContributions/calloutContributionPreview/CalloutContributionPreview.graphql
  src/domain/collaboration/calloutContributions/calloutContributionPreview/CalloutContributionPreview.tsx
  src/domain/collaboration/calloutContributions/interfaces/AnyContributionType.ts
  src/domain/collaboration/calloutContributions/memo/CalloutContributionDialogMemo.tsx
  src/domain/collaboration/calloutContributions/memo/CalloutContributionPreviewMemo.tsx
  src/domain/collaboration/calloutContributions/memo/CreateContributionButtonMemo.tsx
  src/domain/collaboration/calloutContributions/memo/MemoCard.tsx
  src/domain/collaboration/calloutContributions/memo/graphql/CreateMemoOnCallout.graphql
  src/domain/collaboration/calloutContributions/useCalloutContributions/CalloutContributions.graphql
  src/domain/collaboration/calloutContributions/useCalloutContributions/useCalloutContributions.tsx
  src/domain/collaboration/memo/MemoDialog/MemoDialog.tsx
  src/domain/collaboration/memo/MemoPreview/MemoPreview.tsx
Due: eslint --fix, prettier --write

fixes
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/calloutContributions/calloutContributionPreview/CalloutContributionPreview.tsx
  src/domain/collaboration/calloutContributions/memo/CalloutContributionPreviewMemo.tsx
  src/domain/collaboration/calloutContributions/memo/MemoCard.tsx
  src/domain/collaboration/memo/MemoPreview/MemoPreview.tsx
  src/domain/communication/room/Comments/CommentsComponent.tsx
Due: eslint --fix, prettier --write

I'm done
  specs/002-tag-cloud/contracts/callouts-tag-cloud.graphql
  specs/002-tag-cloud/data-model.md
  specs/002-tag-cloud/research.md
  specs/002-tag-cloud/tasks.md
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/callout/CalloutDialogs/EditCalloutDialog.tsx
  src/domain/collaboration/calloutsSet/Classification/ClassificationTagset.utils.ts
  src/domain/collaboration/calloutsSet/tagCloud/CalloutsSetTagCloud.tsx
  src/domain/collaboration/calloutsSet/tagCloud/CalloutsSetTags.graphql
  src/domain/collaboration/calloutsSet/useCalloutsSet/CalloutsSetQueries.graphql
  src/domain/collaboration/calloutsSet/useCalloutsSet/useCalloutsSet.ts
  src/domain/space/layout/tabbedLayout/Tabs/FlowStateTabPage/FlowStateTabPage.tsx
Due: eslint --fix, prettier --write

Deletion of memo contributions.
  src/domain/collaboration/calloutContributions/memo/CalloutContributionDialogMemo.tsx
  src/domain/collaboration/memo/MemoDialog/MemoDialog.tsx
Due: eslint --fix, prettier --write

Finish tagset line clamp
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/calloutsSet/tagCloud/CalloutsSetTagCloud.tsx
  src/domain/collaboration/calloutsSet/tagCloud/TwoLinesTagsContainer.tsx
  src/domain/collaboration/calloutsSet/useCalloutCreation/useCalloutCreation.ts
Due: eslint --fix, prettier --write

Fix sort memo contributions.
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/calloutContributions/calloutsContributionsSortDialog/CalloutContributionsSortDialog.graphql
  src/domain/collaboration/calloutContributions/calloutsContributionsSortDialog/CalloutContributionsSortDialog.tsx
Due: eslint --fix, prettier --write

Fix the memo contribution settings.
  src/domain/collaboration/callout/CalloutForm/CalloutFormContributionSettings.tsx
Due: eslint --fix, prettier --write

Remove redundant change for the whiteboards.
  src/domain/collaboration/calloutContributions/calloutContributionPreview/CalloutContributionPreview.tsx
Due: eslint --fix, prettier --write

disable memos on VC knowledge base
  src/domain/collaboration/callout/CalloutForm/CalloutFormContributionSettings.tsx
Due: eslint --fix, prettier --write

graphical tweaks
  src/domain/collaboration/calloutsSet/tagCloud/CalloutsSetTagCloud.tsx
  src/domain/collaboration/calloutsSet/tagCloud/TwoLinesTagsContainer.tsx
Due: eslint --fix, prettier --write

generated latest schema
  src/core/apollo/generated/graphql-schema.ts
Due: eslint --fix, prettier --write

refactor: remove UserMessageSender from notifications and add translation keys for unknown user and organization
  src/core/i18n/en/translation.en.json
  src/main/inAppNotifications/InAppNotificationItem.tsx
  src/main/inAppNotifications/notificationFilters.ts
Due: eslint --fix, prettier --write

Adjustments to handling of notifications with deleted information (#8886)
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/main/inAppNotifications/InAppNotificationItem.tsx
  src/main/inAppNotifications/graphql/InAppNotificationsFragments.graphql
  src/main/inAppNotifications/model/InAppNotificationPayloadModel.tsx
  src/main/inAppNotifications/notificationFilters.ts
  src/main/inAppNotifications/util/mapInAppNotificationToModel.ts
  src/main/inAppNotifications/views/InAppNotificationBaseView.tsx
  src/main/inAppNotifications/views/organization/InAppOrganizationMessageSenderView.tsx
  src/main/inAppNotifications/views/platform/InAppPlatformAdminGlobalRoleChangedView.tsx
  src/main/inAppNotifications/views/user/InAppUserMessageSenderView.tsx
Due: eslint --fix, prettier --write

Fix whiteboard preview for whiteboard templates
  src/domain/collaboration/whiteboard/WhiteboardDialog/SingleUserWhiteboardDialog.tsx
  src/domain/collaboration/whiteboard/WhiteboardPreview/FormikWhiteboardPreview.tsx
  src/domain/collaboration/whiteboard/WhiteboardVisuals/useGenerateWhiteboardVisuals.ts
  src/domain/templates/components/Forms/TemplateWhiteboardForm.tsx
Due: eslint --fix, prettier --write

add comment
  src/domain/collaboration/whiteboard/WhiteboardDialog/SingleUserWhiteboardDialog.tsx
Due: eslint --fix, prettier --write

Fix whiteboard preview for whiteboard templates (#8997)
  src/domain/collaboration/whiteboard/WhiteboardDialog/SingleUserWhiteboardDialog.tsx
  src/domain/collaboration/whiteboard/WhiteboardPreview/FormikWhiteboardPreview.tsx
  src/domain/collaboration/whiteboard/WhiteboardVisuals/useGenerateWhiteboardVisuals.ts
  src/domain/templates/components/Forms/TemplateWhiteboardForm.tsx
Due: eslint --fix, prettier --write

0.120.0
  package.json
Due: prettier --write

translation update
  src/core/i18n/ach/translation.ach.json
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
Due: prettier --write

0.120.1
  package.json
Due: prettier --write

fix broken layout on innovation pack profile page when title too long
  src/domain/InnovationPack/InnovationPackProfilePage/InnovationPackProfilePage.tsx
Due: eslint --fix, prettier --write

Memo contributions (#8993)
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/core/ui/forms/CollaborativeMarkdownInput/CollaborativeMarkdownInput.tsx
  src/domain/collaboration/callout/CalloutDialogs/CreateCalloutDialog.tsx
  src/domain/collaboration/callout/CalloutDialogs/EditCalloutDialog.tsx
  src/domain/collaboration/callout/CalloutForm/CalloutFormContributionSettings.tsx
  src/domain/collaboration/callout/CalloutView/CalloutView.tsx
  src/domain/collaboration/calloutContributions/CalloutContributionModel.ts
  src/domain/collaboration/calloutContributions/calloutContributionPreview/CalloutContributionPreview.graphql
  src/domain/collaboration/calloutContributions/calloutContributionPreview/CalloutContributionPreview.tsx
  src/domain/collaboration/calloutContributions/calloutsContributionsSortDialog/CalloutContributionsSortDialog.graphql
  src/domain/collaboration/calloutContributions/calloutsContributionsSortDialog/CalloutContributionsSortDialog.tsx
  src/domain/collaboration/calloutContributions/interfaces/AnyContributionType.ts
  src/domain/collaboration/calloutContributions/memo/CalloutContributionDialogMemo.tsx
  src/domain/collaboration/calloutContributions/memo/CalloutContributionPreviewMemo.tsx
  src/domain/collaboration/calloutContributions/memo/CreateContributionButtonMemo.tsx
  src/domain/collaboration/calloutContributions/memo/MemoCard.tsx
  src/domain/collaboration/calloutContributions/memo/graphql/CreateMemoOnCallout.graphql
  src/domain/collaboration/calloutContributions/useCalloutContributions/CalloutContributions.graphql
  src/domain/collaboration/calloutContributions/useCalloutContributions/useCalloutContributions.tsx
  src/domain/collaboration/memo/MemoDialog/MemoDialog.tsx
  src/domain/collaboration/memo/MemoPreview/MemoPreview.tsx
  src/domain/communication/room/Comments/CommentsComponent.tsx
Due: eslint --fix, prettier --write

Memo responses activity support.
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/activity/ActivityLog/ActivityComponent.tsx
  src/domain/collaboration/activity/ActivityLog/activityLogFragments.graphql
  src/domain/collaboration/activity/ActivityLog/views/ActivityCalloutMemoActivityView.tsx
  src/domain/collaboration/activity/ActivityLog/views/ActivityIcon.tsx
  src/domain/collaboration/activity/ActivityLog/views/index.ts
  src/domain/collaboration/activity/useActivityLogOnCollaboration/activityCreatedSubscription.graphql
  src/domain/collaboration/activity/useActivityLogOnCollaboration/activityLogOnCollaboration.graphql
  src/main/topLevelPages/myDashboard/latestContributions/LatestContributions.graphql
  src/main/topLevelPages/myDashboard/latestContributions/LatestContributionsGrouped.graphql
  src/main/topLevelPages/myDashboard/latestContributions/myLatestContributions/MyLatestContributions.tsx
Due: eslint --fix, prettier --write

Fix and address comments
  src/domain/collaboration/calloutsSet/tagCloud/CalloutsSetTags.graphql
  src/domain/collaboration/calloutsSet/tagCloud/TwoLinesTagsContainer.tsx
  src/domain/space/layout/tabbedLayout/Tabs/FlowStateTabPage/FlowStateTabPage.tsx
Due: eslint --fix, prettier --write

no unit tests
  specs/002-tag-cloud/quickstart.md
Due: prettier --write

address comment
  src/domain/collaboration/calloutsSet/tagCloud/TwoLinesTagsContainer.tsx
Due: eslint --fix, prettier --write

Insert translation keys in translation files
  src/core/i18n/en/translation.en.json
Due: prettier --write

Insert translation keys in translation files (#9007)
  src/core/i18n/en/translation.en.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
