Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": "prettier --write"
}

cli 14
  .github/workflows/build-deploy-k8s-sandbox-azure.yml
Due: none

cli 15
  .github/workflows/build-deploy-k8s-sandbox-azure.yml
Due: none

cli 16
  .github/workflows/build-deploy-k8s-sandbox-azure.yml
Due: none

cli 17
  .github/workflows/build-deploy-k8s-sandbox-azure.yml
Due: none

cli 18
  .github/workflows/build-deploy-k8s-sandbox-azure.yml
Due: none

cli 19
  .github/workflows/build-deploy-k8s-sandbox-azure.yml
Due: none

cli 21
  .github/workflows/build-deploy-k8s-sandbox-azure.yml
Due: none

New Crowdin translations by GitHub Action
  src/core/i18n/ach/translation.ach.json
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
  src/core/i18n/ua/translation.ua.json
Due: prettier --write

Address another Andrew's style comment
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
  src/domain/common/whiteboard/excalidraw/ExcalidrawWrapper.tsx
  src/domain/common/whiteboard/excalidraw/collab/utils.ts
  src/domain/common/whiteboard/excalidraw/useWhiteboardFilesManager.ts
Due: eslint --fix, prettier --write

Alkemio Watermark on Journey page banners (#4942)
  src/domain/journey/common/ChildJourneyPageBanner/ChildJourneyPageBanner.tsx
  src/domain/shared/components/PageHeader/JourneyPageBanner.tsx
  src/main/ui/logo/logo.svg
  src/main/ui/platformNavigation/PageBannerWatermark.tsx
  src/main/ui/platformNavigation/PlatformNavigationMenu.tsx
  src/main/ui/poweredBy/PoweredBy.tsx
Due: eslint --fix, prettier --write

fix
  src/domain/common/whiteboard/excalidraw/useWhiteboardFilesManager.ts
Due: eslint --fix, prettier --write

Added fallback for whiteboards that don't have a storageBucketId
  src/domain/collaboration/whiteboard/WhiteboardDialog/WhiteboardDialog.tsx
  src/domain/common/whiteboard/excalidraw/useWhiteboardFilesManager.ts
  src/domain/platform/admin/templates/WhiteboardTemplates/FormikWhiteboardPreview.tsx
Due: eslint --fix, prettier --write

temp
  src/core/ui/grid/GridItem.tsx
  src/core/ui/grid/utils.ts
  src/core/ui/layout/pageBanner/PageBanner.tsx
  src/core/ui/utils/Overlay.tsx
  src/domain/journey/challenge/layout/ChallengePageBanner.tsx
  src/domain/journey/common/ChildJourneyPageBanner/ChildJourneyPageBanner.tsx
  src/domain/journey/common/PageBanner/JourneyPageBannerCard/JourneyPageBannerCard.tsx
  src/domain/journey/common/childJourneyPageBanner/ChildJourneyPageBanner.tsx
  src/domain/journey/opportunity/layout/OpportunityPageBanner.tsx
  src/main/ui/platformNavigation/PlatformNavigationUserMenu.tsx
Due: eslint --fix, prettier --write

Fixed NavigationBar padding
  src/core/ui/navigation/NavigationBar.tsx
Due: eslint --fix, prettier --write

Fixed distance between nav bar and page banner card
  src/core/ui/layout/pageBanner/PageBanner.tsx
Due: eslint --fix, prettier --write

Navigation bar no wrap
  src/core/ui/navigation/NavigationBar.tsx
Due: eslint --fix, prettier --write

cleanup
  src/domain/journey/common/childJourneyPageBanner/ChildJourneyPageBanner.tsx
Due: eslint --fix, prettier --write

Padding fix 2
  src/core/ui/navigation/NavigationBar.tsx
Due: eslint --fix, prettier --write

Top level page banner
  src/core/i18n/en/translation.en.json
  src/core/ui/layout/pageBanner/PageBanner.tsx
  src/core/ui/layout/pageBannerCard/PageBannerCardWrapper.tsx
  src/domain/communication/discussion/layout/DiscussionsLayout.tsx
  src/domain/communication/discussion/pages/DiscussionPage.tsx
  src/domain/communication/discussion/pages/ForumPage.tsx
  src/domain/community/user/ContributorsPage.tsx
  src/domain/journey/common/PageBanner/JourneyPageBannerCard/JourneyPageBannerCard.tsx
  src/domain/platform/search/SearchPage.tsx
  src/main/topLevelPages/InnovationLibraryPage/InnovationLibraryPage.tsx
  src/main/topLevelPages/TopLevelChallenges/ChallengeExplorerPage.tsx
  src/main/topLevelPages/pageBannerCard/PageBannerCard.tsx
  src/main/ui/layout/topLevelPageLayout/TopLevelPageLayout.tsx
Due: eslint --fix, prettier --write

Misc adjustments
  public/alkemio-banner/global-banner.jpg
  src/domain/innovationHub/InnovationHubHomePage/InnovationHubHomePage.tsx
  src/domain/journey/common/BaseLayout/EntityPageLayout.tsx
  src/domain/journey/common/EntityPageLayout/EntityPageLayout.tsx
  src/main/topLevelPages/Home/HomePageLayout.tsx
  src/main/ui/layout/TopLevelDesktopLayout.tsx
  src/main/ui/layout/topLevelPageLayout/TopLevelPageLayout.tsx
Due: eslint --fix, prettier --write

Top level page breadcrumbs
  src/core/ui/navigation/Breadcrumbs.tsx
  src/core/ui/navigation/BreadcrumbsItem.tsx
  src/core/ui/navigation/Expandable.ts
  src/domain/innovationHub/InnovationHubHomePage/InnovationHubHomePage.tsx
  src/domain/journey/challenge/layout/ChallengePageLayout.tsx
  src/domain/journey/common/EntityPageLayout/EntityPageLayout.tsx
  src/domain/journey/common/EntityPageLayout/EntityPageLayoutTypes.ts
  src/domain/journey/common/journeyBreadcrumbs/JourneyBreadcrumbs.tsx
  src/domain/journey/opportunity/layout/OpportunityPageLayout.tsx
  src/domain/journey/space/layout/SpacePageLayout.tsx
  src/domain/platform/admin/layout/EntitySettingsLayout/SettingsPageContent.tsx
  src/domain/platform/admin/layout/toplevel/AdminLayout.tsx
  src/main/guidance/chatWidget/ChatWidget.tsx
  src/main/topLevelPages/Home/HomePageLayout.tsx
  src/main/topLevelPages/topLevelPageBreadcrumbs/TopLevelPageBreadcrumbs.tsx
  src/main/ui/breadcrumbs/BreadcrumbsRootItem.tsx
  src/main/ui/layout/TopLevelDesktopLayout.tsx
  src/main/ui/layout/topLevelPageLayout/TopLevelPageLayout.tsx
  src/main/ui/logo/logoSmall.svg
  src/main/ui/platformNavigation/PlatformNavigationBar.tsx
  src/main/ui/platformNavigation/PlatformNavigationMenuButton.tsx
Due: eslint --fix, prettier --write

cleanup
  src/domain/collaboration/InnovationPack/InnovationPackProfilePage/InnovationPackProfileLayout.tsx
  src/domain/community/contributor/organization/layout/OrganizationPageLayout.tsx
  src/domain/community/user/layout/UserPageLayout.tsx
  src/domain/journey/challenge/layout/ChallengePageLayout.tsx
  src/domain/journey/common/EntityPageLayout/EntityPageLayoutTypes.ts
  src/domain/journey/opportunity/layout/OpportunityPageLayout.tsx
  src/domain/journey/space/layout/SpacePageLayout.tsx
  src/domain/platform/admin/layout/EntitySettingsLayout/EntitySettingsLayout.tsx
Due: eslint --fix, prettier --write

temp
  src/domain/community/user/layout/UserPageLayout.tsx
  src/main/topLevelPages/topLevelPageBreadcrumbs/TopLevelPageBreadcrumbs.tsx
Due: eslint --fix, prettier --write

User page banner v0
  src/core/ui/avatar/SizeableAvatar.tsx
  src/domain/community/user/layout/UserPageBanner.tsx
  src/domain/community/user/layout/UserPageLayout.tsx
  src/domain/journey/challenge/layout/ChallengePageBanner.tsx
  src/domain/journey/common/JourneyAvatar/JourneyAvatar.tsx
  src/domain/journey/common/PageBanner/JourneyPageBannerCard/JourneyPageBannerCard.tsx
  src/domain/journey/common/PageBanner/JourneyPageBannerCard/PageBannerCardWithVisual.tsx
  src/domain/journey/opportunity/layout/OpportunityPageBanner.tsx
Due: eslint --fix, prettier --write

Click on Search collapses when no terms
  src/core/ui/search/SearchBox.tsx
Due: eslint --fix, prettier --write

App bar scrolled state look improvements
  src/core/ui/navigation/NavigationBar.tsx
Due: eslint --fix, prettier --write

Header coloring and Home page header updates
  src/core/i18n/en/translation.en.json
  src/core/ui/palette/palette.ts
  src/core/ui/themes/utils/providePrimaryColor.ts
  src/main/topLevelPages/Home/AuthenticatedUserHome.tsx
  src/main/topLevelPages/Home/HomePage.tsx
  src/main/topLevelPages/Home/HomePageLayout.tsx
  src/main/topLevelPages/pageBannerCard/PageBannerCard.tsx
  src/main/ui/layout/topLevelPageLayout/TopLevelPageBanner.tsx
  src/main/ui/layout/topLevelPageLayout/TopLevelPageLayout.tsx
Due: eslint --fix, prettier --write

Platform menu texts updated
  src/core/i18n/en/translation.en.json
  src/main/ui/platformNavigation/PlatformNavigationMenu.tsx
Due: eslint --fix, prettier --write

Global banner URI fixed
  src/domain/community/user/layout/UserPageLayout.tsx
  src/main/ui/layout/topLevelPageLayout/TopLevelPageBanner.tsx
Due: eslint --fix, prettier --write

Fix
  src/domain/collaboration/whiteboard/WhiteboardDialog/WhiteboardDialog.tsx
  src/domain/collaboration/whiteboard/WhiteboardDialog/WhiteboardRtDialog.tsx
  src/domain/common/whiteboard/excalidraw/collab/Collab.tsx
  src/domain/common/whiteboard/excalidraw/collab/Portal.tsx
  src/domain/common/whiteboard/excalidraw/collab/data/index.ts
  src/domain/common/whiteboard/excalidraw/useWhiteboardFilesManager.ts
Due: eslint --fix, prettier --write

Store Wb images separately (#4939)
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/CalloutBlock/CalloutLayout.tsx
  src/domain/collaboration/callout/useCallouts/CalloutQueries.graphql
  src/domain/collaboration/callout/useCallouts/useCallouts.ts
  src/domain/collaboration/callout/whiteboard/WhiteboardCallout.tsx
  src/domain/collaboration/whiteboard/WhiteboardDialog/WhiteboardDialog.tsx
  src/domain/collaboration/whiteboard/WhiteboardDialog/WhiteboardRtDialog.tsx
  src/domain/collaboration/whiteboard/WhiteboardTemplatesLibrary/WhiteboardTemplatePreview.tsx
  src/domain/collaboration/whiteboard/containers/whiteboardQueries.graphql
  src/domain/common/whiteboard/EmptyWhiteboard.ts
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
  src/domain/common/whiteboard/excalidraw/ExcalidrawWrapper.tsx
  src/domain/common/whiteboard/excalidraw/collab/Collab.tsx
  src/domain/common/whiteboard/excalidraw/collab/Portal.tsx
  src/domain/common/whiteboard/excalidraw/collab/data/index.ts
  src/domain/common/whiteboard/excalidraw/collab/utils.ts
  src/domain/common/whiteboard/excalidraw/useWhiteboardFilesManager.ts
  src/domain/platform/admin/templates/WhiteboardTemplates/FormikWhiteboardPreview.tsx
  src/domain/platform/admin/templates/WhiteboardTemplates/WhiteboardTemplatePreview.tsx
  src/domain/template/whiteboard/whiteboardTemplateQueries.graphql
Due: eslint --fix, prettier --write

Move post + post dashboard data fix.
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/callout/links/LinkCollectionCallout.tsx
  src/domain/collaboration/callout/links/UpdateReference.graphql
  src/domain/collaboration/callout/useCallouts/CalloutQueries.graphql
  src/domain/collaboration/post/containers/PostDashboardContainer/PostDashboardContainer.tsx
  src/domain/collaboration/post/containers/PostDashboardContainer/PostDashboardQueries.graphql
  src/domain/collaboration/post/containers/PostSettings/PostSettingsQueries.graphql
  src/domain/collaboration/post/containers/PostSettings/usePostSettings.ts
  src/domain/collaboration/post/containers/getPostCallout.ts
  src/domain/collaboration/post/context/PostProvider.tsx
  src/domain/collaboration/post/graphql/mutations/movePostToCallout.graphql
  src/domain/collaboration/post/pages/PostSettingsPage.tsx
Due: eslint --fix, prettier --write

Use profile url for moved post.
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/post/graphql/mutations/movePostToCallout.graphql
  src/domain/collaboration/post/pages/PostSettingsPage.tsx
Due: eslint --fix, prettier --write

StorageBucket --> StorageAggregator
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/platform/admin/space/storage/SpaceStorageAdminQueries.graphql
  src/domain/storage/StorageBucket/StorageConfig.graphql
Due: eslint --fix, prettier --write

Fix lint errors.
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/common/profile/ProfileForm.tsx
  src/domain/context/ContextForm/index.tsx
  src/domain/journey/common/AboutPageContainer/AboutPageContainer.tsx
  src/domain/journey/space/spaceEditForm/SpaceEditForm.tsx
  src/domain/platform/admin/components/Group/GroupForm/GroupForm.tsx
  src/domain/platform/admin/components/Organization/OrganizationForm.tsx
  src/domain/platform/admin/components/SpaceContextForm.tsx
  src/domain/platform/admin/space/storage/SpaceStorageAdminPage.tsx
  src/domain/storage/StorageBucket/StorageConfig.graphql
  src/domain/storage/StorageBucket/useStorageConfig.tsx
Due: eslint --fix, prettier --write

StorageBucket --> StorageAggregator (#4957)
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/common/profile/ProfileForm.tsx
  src/domain/context/ContextForm/index.tsx
  src/domain/journey/common/AboutPageContainer/AboutPageContainer.tsx
  src/domain/journey/space/spaceEditForm/SpaceEditForm.tsx
  src/domain/platform/admin/components/Group/GroupForm/GroupForm.tsx
  src/domain/platform/admin/components/Organization/OrganizationForm.tsx
  src/domain/platform/admin/components/SpaceContextForm.tsx
  src/domain/platform/admin/space/storage/SpaceStorageAdminPage.tsx
  src/domain/platform/admin/space/storage/SpaceStorageAdminQueries.graphql
  src/domain/storage/StorageBucket/StorageConfig.graphql
  src/domain/storage/StorageBucket/useStorageConfig.tsx
Due: eslint --fix, prettier --write

Fix lint errors.
  src/domain/platform/admin/components/Group/GroupForm/GroupForm.tsx
  src/domain/platform/admin/components/Organization/OrganizationForm.tsx
Due: eslint --fix, prettier --write

cli
  .github/workflows/build-deploy-k8s-sandbox-azure.yml
Due: none
