Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Invitations Dialog - ContributorSelector improvements (#8214)
  src/core/i18n/en/translation.en.json
  src/domain/community/contributor/ContributorTooltip/ContributorTooltip.tsx
  src/domain/community/inviteContributors/components/ContributorChip/ContributorChip.tsx
  src/domain/community/inviteContributors/components/FormikContributorsSelectorField/FormikContributorsSelectorField.tsx
  src/domain/community/inviteContributors/components/FormikContributorsSelectorField/FormikContributorsSelectorField.validation.ts
  src/domain/community/inviteContributors/components/FormikContributorsSelectorField/emailParser.spec.ts
  src/domain/community/inviteContributors/components/FormikContributorsSelectorField/emailParser.ts
  src/domain/community/inviteContributors/users/InvitationsResultDialogContent.tsx
  src/domain/community/inviteContributors/users/InviteUsersDialog.tsx
Due: eslint --fix, prettier --write

0.91.1
  package-lock.json
  package.json
Due: prettier --write

fix the error on call for posts deletion
  src/domain/collaboration/post/pages/PostSettingsPage.tsx
Due: eslint --fix, prettier --write

0.91.2
  package-lock.json
  package.json
Due: prettier --write

VC Profile page updated to pick up model card information from server (#8222)
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/community/inviteContributors/virtualContributors/InviteVCsDialog.tsx
  src/domain/community/user/ContributorsPage.tsx
  src/domain/community/user/ContributorsView.tsx
  src/domain/community/virtualContributor/graphql/VirtualContributor.graphql
  src/domain/community/virtualContributor/graphql/VirtualContributorProfileWithModelCard.graphql
  src/domain/community/virtualContributor/graphql/fragments/AiPersonaWithModelCard.graphql
  src/domain/community/virtualContributor/graphql/fragments/VirtualContributorFull.graphql
  src/domain/community/virtualContributor/graphql/mutations/AiPersonaServiceUpdate.graphql
  src/domain/community/virtualContributor/graphql/mutations/VirtualContributorRefreshBodyOfKnowledge.graphql
  src/domain/community/virtualContributor/graphql/mutations/VirtualContributorUpdate.graphql
  src/domain/community/virtualContributor/graphql/mutations/VirtualContributorUpdateSettings.graphql
  src/domain/community/virtualContributor/model/AiPersonaModelCardModel.ts
  src/domain/community/virtualContributor/model/SpaceBodyOfKnowledgeModel.ts
  src/domain/community/virtualContributor/model/VirtualContributorModelBase.tsx
  src/domain/community/virtualContributor/model/VirtualContributorModelFull.ts
  src/domain/community/virtualContributor/utils/createAiPersonaModelCardModelFromFragment.ts
  src/domain/community/virtualContributor/utils/createVirtualContributorModelFull.ts
  src/domain/community/virtualContributor/vcProfilePage/VCProfileContentView.tsx
  src/domain/community/virtualContributor/vcProfilePage/VCProfilePage.tsx
  src/domain/community/virtualContributor/vcProfilePage/VCProfilePageView.tsx
  src/domain/community/virtualContributor/vcProfilePage/useTemporaryHardCodedVCProfilePageData.ts
  src/domain/community/virtualContributorAdmin/vcSettingsPage/VirtualContributorForm.tsx
Due: eslint --fix, prettier --write

Merge pull request #8227 from alkem-io/refetch-roleSet-onMutations
  src/core/apollo/generated/apollo-hooks.ts
  src/domain/access/RoleSetManager/RolesAssignment/useRoleSetManagerRolesAssignment.ts
  src/domain/access/RoleSetManager/useRoleSetManager.ts
Due: eslint --fix, prettier --write

Callout framing preview & template framing preview (#8228)
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/callout/creationDialog/CalloutCreationDialog.tsx
  src/domain/collaboration/callout/edit/useCalloutEdit/calloutEdit.graphql
  src/domain/templates/components/Forms/CalloutTemplateForm.tsx
  src/domain/templates/components/TemplatesAdmin/TemplatesAdmin.tsx
  src/domain/templates/graphql/TemplateContent.graphql
Due: eslint --fix, prettier --write

reveal the option for comments in post callout edit (#8231)
  src/domain/collaboration/callout/CalloutView/CalloutView.tsx
Due: eslint --fix, prettier --write

Fix: host vs lead for orgs (#8229)
  src/domain/community/community/EntityDashboardLeadsSection/EntityDashboardLeadsSection.tsx
  src/domain/space/components/SpaceWelcomeBlock.tsx
  src/domain/space/layout/tabbedLayout/Tabs/SpaceCommunityPage/SpaceCommunityPage.tsx
Due: eslint --fix, prettier --write

remove redundant space information from inno hubs cards (#8230)
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/account/queries/AccountInformation.graphql
  src/domain/community/contributor/Account/AccountResourcesView.tsx
  src/domain/community/contributor/Account/ContributorAccountView.tsx
  src/domain/community/contributor/useAccountResources/AccountResourcesInfo.graphql
  src/domain/innovationHub/InnovationHubCardHorizontal/InnovationHubCardHorizontal.tsx
Due: eslint --fix, prettier --write

updated retrieval of VCs for space to use pagination from server (#8150)
  src/core/apollo/config/typePolicies.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/spaceAdmin/SpaceAdminCommunity/hooks/AvailableVirtualContributors.graphql
  src/domain/spaceAdmin/SpaceAdminCommunity/hooks/useVirtualContributorsAdmin.ts
Due: eslint --fix, prettier --write

redirect help and about to docs (#8234)
  src/main/routing/TopLevelRoutePath.ts
  src/main/routing/TopLevelRoutes.tsx
Due: eslint --fix, prettier --write

Protected Space Names filtering (#8233)
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/space/createSpace/CreateSpaceDialog.tsx
  src/main/routing/RestrictedSpaceNames.graphql
Due: eslint --fix, prettier --write

re run codegen
  src/core/apollo/generated/apollo-hooks.ts
Due: eslint --fix, prettier --write

privacy settings for L2 enabled (#8237)
  src/domain/spaceAdmin/routing/SpaceAdminRouteL2.tsx
Due: eslint --fix, prettier --write

no notification on callout creation by default (#8236)
  src/domain/collaboration/callout/creationDialog/CalloutCreationDialog.tsx
Due: eslint --fix, prettier --write

ran codegen with esm branch
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/graphql-schema.ts
Due: eslint --fix, prettier --write

wrong conflict resolution
  src/domain/community/organization/graphql/fragments/organizationProfileInfo.graphql
  src/domain/community/organization/model/OrganizationInputModel.ts
Due: eslint --fix, prettier --write

Load more on invitations
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/community/inviteContributors/components/FormikContributorsSelectorField/FormikContributorsSelectorField.tsx
  src/domain/community/user/FormikUserSelector/userSelectorQueries.graphql
Due: eslint --fix, prettier --write

Eslint (#8221)
  .eslintrc.js
  codegen.yml
  eslint.config.mjs
  package-lock.json
  package.json
  src/core/apollo/generated/.eslintrc.js
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/auth/authentication/components/AcceptTermsCheckbox.tsx
  src/core/auth/authentication/hooks/useKratosClient.ts
  src/core/state/GlobalStateProvider.tsx
  src/core/ui/forms/MarkdownInput/MarkdownInput.tsx
  src/core/ui/fullscreen/useFullscreen.tsx
  src/core/ui/markdown/embed/remarkVerifyIframe.ts
  src/core/utils/nameId/createNameId.ts
  src/domain/collaboration/callout/creationDialog/CalloutCreationDialog.tsx
  src/domain/common/whiteboard/excalidraw/collab/Collab.ts
  src/domain/communication/room/Comments/utils.ts
  src/domain/community/inviteContributors/virtualContributors/InviteVCsDialog.tsx
  src/domain/platform/admin/organizations/useAdminGlobalOrganizationsList.ts
  src/domain/shared/components/SocialLinks/icons/Twitter.tsx
  src/domain/shared/components/withElevationOnHover.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/SpaceAdminCommunityPage.tsx
  src/main/guidance/chatWidget/ChatWidget.tsx
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/TryVC/TryVirtualContributorDialog.tsx
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/useVirtualContributorWizard.tsx
  src/serviceWorker.ts
  tsconfig.json
Due: eslint --fix, prettier --write

address CR comments
  src/domain/community/inviteContributors/components/FormikContributorsSelectorField/FormikContributorsSelectorField.tsx
Due: eslint --fix, prettier --write

Update user settings to support blue sky instead of twitter
  src/domain/community/user/models/UserModel.ts
  src/domain/community/user/userForm/UserForm.tsx
  src/domain/platform/admin/components/Common/SocialSegment.tsx
  src/domain/shared/components/SocialLinks/icons/BlueSky.tsx
  src/domain/shared/components/SocialLinks/models/SocialNetworks.ts
Due: eslint --fix, prettier --write

Fix users' profile BlueSky preview.
  src/domain/community/user/userForm/UserForm.tsx
  src/domain/shared/components/SocialLinks/SocialLinks.tsx
  src/domain/shared/components/SocialLinks/icons/BlueSky.tsx
  src/domain/shared/components/SocialLinks/models/SocialNetworks.ts
Due: eslint --fix, prettier --write

updated target esm output; updated packages
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

Fix Org references in settings
  src/domain/common/profile/ProfileModelUtils.ts
  src/domain/platform/admin/components/Organization/OrganizationForm.tsx
Due: eslint --fix, prettier --write

Social References on Org settings + fixes
  src/domain/community/user/userForm/UserForm.tsx
  src/domain/platform/admin/components/Common/ProfileSegment.tsx
  src/domain/platform/admin/components/Common/SocialSegment.tsx
  src/domain/platform/admin/components/Organization/OrganizationForm.tsx
  src/domain/platform/admin/components/Organization/OrganizationPage.tsx
  src/domain/shared/components/SocialLinks/models/SocialNetworks.ts
Due: eslint --fix, prettier --write

whiteboard previews for templates
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/calloutsSet/useCalloutsSet/CalloutsSetQueries.graphql
  src/domain/templates/components/Forms/CalloutTemplateForm.tsx
  src/domain/templates/components/Forms/WhiteboardTemplateForm.tsx
  src/domain/templates/components/Forms/common/mappings.ts
  src/domain/templates/components/TemplatesAdmin/TemplatesAdmin.tsx
  src/domain/templates/graphql/TemplateMutations.graphql
  src/domain/templates/hooks/useCreateCalloutTemplate.ts
  src/domain/templates/models/CalloutTemplate.tsx
Due: eslint --fix, prettier --write

Load more on paginated Contributors selector (#8240)
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/community/inviteContributors/components/FormikContributorsSelectorField/FormikContributorsSelectorField.tsx
  src/domain/community/user/FormikUserSelector/userSelectorQueries.graphql
Due: eslint --fix, prettier --write

tweak promise
  src/domain/platform/admin/components/Organization/OrganizationForm.tsx
  src/domain/platform/admin/components/Organization/OrganizationPage.tsx
Due: eslint --fix, prettier --write

optimized useMemo
  src/domain/community/user/userForm/UserForm.tsx
  src/domain/platform/admin/components/Organization/OrganizationForm.tsx
Due: eslint --fix, prettier --write

Social link validations in the translation
  .vscode/settings.json
  src/core/i18n/en/translation.en.json
  src/domain/community/user/userForm/UserForm.tsx
  src/domain/platform/admin/components/Organization/OrganizationForm.tsx
Due: eslint --fix, prettier --write

Better translation name
  src/core/i18n/en/translation.en.json
  src/domain/community/user/userForm/UserForm.tsx
  src/domain/platform/admin/components/Organization/OrganizationForm.tsx
Due: eslint --fix, prettier --write

Address coderabbit comments
  src/core/i18n/en/translation.en.json
  src/domain/platform/admin/components/Organization/OrganizationForm.tsx
Due: eslint --fix, prettier --write

Update User Profile to support BlueSky instead of twitter (#8244)
  .vscode/settings.json
  src/core/i18n/en/translation.en.json
  src/domain/common/profile/ProfileModelUtils.ts
  src/domain/community/user/models/UserModel.ts
  src/domain/community/user/userForm/UserForm.tsx
  src/domain/platform/admin/components/Common/ProfileSegment.tsx
  src/domain/platform/admin/components/Common/SocialSegment.tsx
  src/domain/platform/admin/components/Organization/OrganizationForm.tsx
  src/domain/platform/admin/components/Organization/OrganizationPage.tsx
  src/domain/shared/components/SocialLinks/SocialLinks.tsx
  src/domain/shared/components/SocialLinks/icons/BlueSky.tsx
  src/domain/shared/components/SocialLinks/models/SocialNetworks.ts
Due: eslint --fix, prettier --write

Disables caching for index.html
  .build/.nginx/nginx.conf
Due: none

New translations translation.en.json (French)
  src/core/i18n/fr/translation.fr.json
Due: prettier --write

New translations translation.en.json (Spanish)
  src/core/i18n/es/translation.es.json
Due: prettier --write

New translations translation.en.json (Bulgarian)
  src/core/i18n/bg/translation.bg.json
Due: prettier --write

New translations translation.en.json (German)
  src/core/i18n/de/translation.de.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
