Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Remove whiteboart templates loding when opening whiteboardRt.
  src/domain/collaboration/templates/CollaborationTemplatesLibrary/CollaborationTemplatesLibrary.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardRtManagementView.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardsRtManagementViewWrapper.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardRtProvider.tsx
Due: eslint --fix, prettier --write

Minor version bump
  package-lock.json
  package.json
Due: prettier --write

Fix tooltip colours.
  src/core/ui/card/ContributorTooltip.tsx
Due: eslint --fix, prettier --write

Fix tooltip colours. (#5473)
  src/core/ui/card/ContributorTooltip.tsx
Due: eslint --fix, prettier --write

Refactor whiteboard provider to not load templates.
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardManagementView.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardsManagementViewWrapper.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardsRtManagementViewWrapper.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardProvider.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardRtProvider.tsx
Due: eslint --fix, prettier --write

Remove unnecessary template loading.
  src/domain/collaboration/CalloutBlock/CalloutLayout.tsx
  src/domain/collaboration/KnowledgeBase/KnowedgeBasePage.tsx
  src/domain/collaboration/callout/CalloutsInContext/CalloutsGroupView.tsx
  src/domain/collaboration/callout/creationDialog/CalloutCreationDialog.tsx
  src/domain/collaboration/callout/edit/editDialog/CalloutEditDialog.tsx
Due: eslint --fix, prettier --write

Add breadcrumbs to InnovationHub
  src/domain/innovationHub/InnovationHubHomePage/InnovationHubHomePage.tsx
Due: eslint --fix, prettier --write

Add breadcrumbs to InnovationHub (#5486)
  src/domain/innovationHub/InnovationHubHomePage/InnovationHubHomePage.tsx
Due: eslint --fix, prettier --write

wip
  .github/workflows/build-deploy-k8s-sandbox-azure.yml
Due: none

wip
  crowdin.yml
Due: none

wip
  src/core/i18n/bg/translation.bg.json
Due: prettier --write

MyDashboard > MyMemberships: query is skipped unless the dialog is open
  src/main/topLevelPages/myDashboard/myMemberships/MyMembershipsDialog.tsx
Due: eslint --fix, prettier --write

MyDashboard > MyMemberships: query is skipped unless the dialog is open (#5491)
  src/main/topLevelPages/myDashboard/myMemberships/MyMembershipsDialog.tsx
Due: eslint --fix, prettier --write

Update translation.en.json
  src/core/i18n/en/translation.en.json
Due: prettier --write

Update translations from Crowdin
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
  src/core/i18n/pt/translation.pt.json
  src/core/i18n/ua/translation.ua.json
Due: prettier --write

Update innovation library block.
  src/main/topLevelPages/myDashboard/innovationLibraryBlock/InnovationLibraryBlock.tsx
Due: eslint --fix, prettier --write

Update from built in crowdin
  src/core/i18n/ach/translation.ach.json
  src/core/i18n/bg/translation.bg.json
Due: prettier --write

Client translations (#5496)
  src/core/i18n/ach/translation.ach.json
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
  src/core/i18n/pt/translation.pt.json
  src/core/i18n/ua/translation.ua.json
Due: prettier --write

Update translation.en.json (#5494)
  src/core/i18n/en/translation.en.json
Due: prettier --write

Calendar dialogs properly scrollable
  src/domain/timeline/calendar/CalendarDialog.tsx
  src/domain/timeline/calendar/views/CalendarEventDetail.tsx
  src/domain/timeline/calendar/views/CalendarEventForm.tsx
  src/domain/timeline/calendar/views/CalendarEventsList.tsx
Due: eslint --fix, prettier --write

Send message dialog
  src/core/ui/themes/default/components/MuiDialogActions.ts
  src/core/ui/themes/default/components/index.ts
  src/domain/communication/messaging/DirectMessaging/DirectMessageDialog.tsx
Due: eslint --fix, prettier --write

Address PR feedback.
  src/domain/collaboration/KnowledgeBase/KnowedgeBasePage.tsx
  src/domain/collaboration/templates/CollaborationTemplatesLibrary/CollaborationTemplatesLibrary.tsx
Due: eslint --fix, prettier --write

Update innovation library block. (#5493)
  src/main/topLevelPages/myDashboard/innovationLibraryBlock/InnovationLibraryBlock.tsx
Due: eslint --fix, prettier --write

Post dialogs fixed
  src/core/ui/dialog/DialogWithGrid.tsx
  src/core/ui/layout/layoutHolder/LayoutHolder.tsx
  src/domain/collaboration/post/pages/PostDashboardPage.tsx
  src/domain/collaboration/post/pages/PostSettingsPage.tsx
  src/domain/collaboration/post/pages/PostSharePage.tsx
  src/domain/collaboration/post/views/PostLayout.tsx
  src/domain/collaboration/post/views/PostTabs.tsx
Due: eslint --fix, prettier --write

Remove unnecessary whiteboard templates loading (#5475)
  src/domain/collaboration/CalloutBlock/CalloutLayout.tsx
  src/domain/collaboration/KnowledgeBase/KnowedgeBasePage.tsx
  src/domain/collaboration/callout/CalloutsInContext/CalloutsGroupView.tsx
  src/domain/collaboration/callout/creationDialog/CalloutCreationDialog.tsx
  src/domain/collaboration/callout/edit/editDialog/CalloutEditDialog.tsx
  src/domain/collaboration/templates/CollaborationTemplatesLibrary/CollaborationTemplatesLibrary.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardManagementView.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardRtManagementView.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardsManagementViewWrapper.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardsRtManagementViewWrapper.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardProvider.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardRtProvider.tsx
Due: eslint --fix, prettier --write

Update translation My Dashboard explore all your Spaces
  src/core/i18n/en/translation.en.json
Due: prettier --write

New Memberships block: UI Improvements
  src/core/i18n/en/translation.en.json
  src/core/ui/icon/BadgeCounter.tsx
  src/main/topLevelPages/myDashboard/MyDashboard.tsx
  src/main/topLevelPages/myDashboard/MyDashboardWithMemberships.tsx
  src/main/topLevelPages/myDashboard/MyDashboardWithoutMemberships.tsx
  src/main/topLevelPages/myDashboard/newMemberships/NewMembershipCard.tsx
  src/main/topLevelPages/myDashboard/newMemberships/NewMembershipsBlock.tsx
Due: eslint --fix, prettier --write

grey background on hover
  src/main/topLevelPages/myDashboard/newMemberships/NewMembershipCard.tsx
  src/main/topLevelPages/myDashboard/newMemberships/NewMembershipsBlock.tsx
Due: eslint --fix, prettier --write

Tips & Tricks images
  public/my-dashboard/tipsntricks-concepts.png
  public/my-dashboard/tipsntricks-concepts2.png
  public/my-dashboard/tipsntricks-faq.png
  public/my-dashboard/tipsntricks-space.png
  public/my-dashboard/tipsntricks-welcome.jpg
  src/core/i18n/en/translation.en.json
Due: prettier --write

Edit Callout
  src/domain/collaboration/callout/edit/editDialog/CalloutEditDialog.tsx
Due: eslint --fix, prettier --write

Innovation Flow Settings Dialog
  src/core/ui/actions/Actions.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/InnovationFlowProfileBlock.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/InnovationFlowProfileForm.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/InnovationFlowSettingsDialog.tsx
Due: eslint --fix, prettier --write

Update translation My Dashboard explore all your Spaces (#5497)
  src/core/i18n/en/translation.en.json
Due: prettier --write

Add new memberships block for authorized users with no memberships.
  src/main/topLevelPages/myDashboard/MyDashboard.tsx
  src/main/topLevelPages/myDashboard/MyDashboardWithMemberships.tsx
  src/main/topLevelPages/myDashboard/MyDashboardWithoutMemberships.tsx
  src/main/topLevelPages/myDashboard/newMemberships/NewMembershipsBlock.tsx
Due: eslint --fix, prettier --write

Add a todo.
  src/domain/community/community/CommunityAdmin/CommunityApplications.tsx
Due: eslint --fix, prettier --write

Allow contributors to add links.
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/callout/links/LinkCollectionCallout.tsx
  src/domain/collaboration/callout/useCallouts/CalloutQueries.graphql
  src/domain/collaboration/callout/useCallouts/useCallouts.ts
  src/domain/common/profile/Profile.ts
  src/domain/common/reference/referenceDetailsWithAuthorization.graphql
  src/domain/shared/components/References/References.tsx
Due: eslint --fix, prettier --write

Innovation flow settings form takes full width
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/InnovationFlowProfileBlock.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/InnovationFlowProfileForm.tsx
Due: eslint --fix, prettier --write

Allow admin to disable/enable contributions.
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/callout/CalloutForm.tsx
  src/domain/collaboration/callout/links/LinkCollectionCallout.tsx
Due: eslint --fix, prettier --write

Collection of links and Documents
  src/core/i18n/en/translation.en.json
Due: prettier --write

Wrap up tips and tricks
  public/my-dashboard/tipsntricks-concepts.png
  public/my-dashboard/tipsntricks-concepts.webp
  public/my-dashboard/tipsntricks-concepts2.png
  public/my-dashboard/tipsntricks-faq.png
  public/my-dashboard/tipsntricks-faq.webp
  public/my-dashboard/tipsntricks-genai.webp
  public/my-dashboard/tipsntricks-space.png
  public/my-dashboard/tipsntricks-space.webp
  public/my-dashboard/tipsntricks-welcome.jpg
  public/my-dashboard/tipsntricks-welcome.webp
  src/core/i18n/en/translation.en.json
  src/main/topLevelPages/myDashboard/tipsAndTricks/TipsAndTricks.tsx
Due: eslint --fix, prettier --write

Collection of links and Documents (#5503)
  src/core/i18n/en/translation.en.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
