Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

unneeded field
  src/domain/common/whiteboard/excalidraw/collab/data/index.ts
Due: eslint --fix, prettier --write

some dialog fix
  src/core/ui/dialog/DialogWithGrid.tsx
Due: eslint --fix, prettier --write

Renamed floating emoji to emoji reaction
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
  src/domain/common/whiteboard/excalidraw/collab/Collab.ts
  src/domain/common/whiteboard/excalidraw/collab/data/index.ts
  src/domain/common/whiteboard/excalidraw/collab/excalidrawAppConstants.ts
  src/domain/common/whiteboard/excalidraw/collab/useCollab.ts
Due: eslint --fix, prettier --write

Make React version uniqe around the application
  vite.config.mjs
Due: none

upgrade speckit to 0.0.94
  .claude/commands/speckit.constitution.md
  .github/prompts/speckit.tasks.prompt.md
  .specify/templates/constitution-template.md
Due: prettier --write

support for heic + preview improvements
  src/core/i18n/en/translation.en.json
  src/core/ui/gallery/MediaGallery.tsx
  src/core/ui/image/ImagePlaceholder.tsx
  src/domain/collaboration/callout/CalloutFramings/CalloutFramingMediaGalleryField.tsx
Due: eslint --fix, prettier --write

pr fixes
  src/core/ui/gallery/MediaGallery.tsx
  src/domain/collaboration/callout/CalloutFramings/CalloutFramingMediaGalleryField.tsx
Due: eslint --fix, prettier --write

countdown timer
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
  src/domain/common/whiteboard/excalidraw/collab/Collab.ts
  src/domain/common/whiteboard/excalidraw/collab/data/index.ts
  src/domain/common/whiteboard/excalidraw/collab/excalidrawAppConstants.ts
  src/domain/common/whiteboard/excalidraw/collab/useCollab.ts
Due: eslint --fix, prettier --write

published package
  package.json
  pnpm-lock.yaml
Due: prettier --write

loading spinner
  src/core/i18n/en/translation.en.json
  src/main/search/SearchView.tsx
Due: eslint --fix, prettier --write

loading spinner (#9298)
  src/core/i18n/en/translation.en.json
  src/main/search/SearchView.tsx
Due: eslint --fix, prettier --write

be able to click hidden emojis
  src/domain/communication/room/Comments/CommentReactions.tsx
Due: eslint --fix, prettier --write

pr fix
  .env
Due: none

use key to re-mount preview
  src/domain/collaboration/callout/CalloutView/CalloutView.tsx
Due: eslint --fix, prettier --write

pr comments
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
  src/domain/common/whiteboard/excalidraw/collab/Collab.ts
  src/domain/common/whiteboard/excalidraw/collab/data/index.ts
Due: eslint --fix, prettier --write

fix ts error
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
  src/domain/common/whiteboard/excalidraw/collab/Collab.ts
Due: eslint --fix, prettier --write

pr fix
  src/domain/common/whiteboard/excalidraw/collab/Collab.ts
  src/domain/common/whiteboard/excalidraw/collab/useCollab.ts
Due: eslint --fix, prettier --write

Merge pull request #9193 from alkem-io/excalidraw-emojis
  package.json
  pnpm-lock.yaml
  specs/006-whiteboard-emoji-reactions/checklists/requirements.md
  specs/006-whiteboard-emoji-reactions/contracts/emoji-config.contract.ts
  specs/006-whiteboard-emoji-reactions/data-model.md
  specs/006-whiteboard-emoji-reactions/plan.md
  specs/006-whiteboard-emoji-reactions/quickstart.md
  specs/006-whiteboard-emoji-reactions/research.md
  specs/006-whiteboard-emoji-reactions/spec.md
  specs/006-whiteboard-emoji-reactions/tasks.md
  src/core/i18n/en/translation.en.json
  src/core/ui/dialog/DialogWithGrid.tsx
  src/domain/collaboration/whiteboard/WhiteboardDialog/WhiteboardDialog.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardView.tsx
  src/domain/collaboration/whiteboard/components/EmojiReactionGrid.tsx
  src/domain/collaboration/whiteboard/components/WhiteboardEmojiReactionPicker.tsx
  src/domain/collaboration/whiteboard/reactionEmoji/createEmojiReactionElement.test.ts
  src/domain/collaboration/whiteboard/reactionEmoji/createEmojiReactionElement.ts
  src/domain/collaboration/whiteboard/reactionEmoji/emojiReactionConfig.test.ts
  src/domain/collaboration/whiteboard/reactionEmoji/emojiReactionConfig.ts
  src/domain/collaboration/whiteboard/reactionEmoji/types.ts
  src/domain/collaboration/whiteboard/reactionEmoji/useEmojiReactionConfiguration.test.ts
  src/domain/collaboration/whiteboard/reactionEmoji/useEmojiReactionConfiguration.ts
  src/domain/collaboration/whiteboard/reactionEmoji/useEmojiReactionPickerState.ts
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
  src/domain/common/whiteboard/excalidraw/collab/Collab.ts
  src/domain/common/whiteboard/excalidraw/collab/Portal.ts
  src/domain/common/whiteboard/excalidraw/collab/data/index.ts
  src/domain/common/whiteboard/excalidraw/collab/excalidrawAppConstants.ts
  src/domain/common/whiteboard/excalidraw/collab/useCollab.ts
  vite.config.mjs
Due: eslint --fix, prettier --write

update the missing preview copy
  src/core/i18n/en/translation.en.json
Due: prettier --write

improve the broken image preview in the gallery slideshow
  src/core/ui/gallery/MediaGallery.tsx
  src/core/ui/image/ImagePlaceholder.tsx
Due: eslint --fix, prettier --write

cleanup memo name upon creation
  src/domain/collaboration/calloutContributions/memo/CreateContributionButtonMemo.tsx
  src/domain/collaboration/calloutContributions/whiteboard/CreateContributionButtonWhiteboard.tsx
Due: eslint --fix, prettier --write

pr fix
  src/core/ui/image/ImagePlaceholder.tsx
Due: eslint --fix, prettier --write

use key to re-mount preview (#9302)
  src/domain/collaboration/callout/CalloutView/CalloutView.tsx
Due: eslint --fix, prettier --write

Support for heic + gallery default/err previews. (#9297)
  src/core/i18n/en/translation.en.json
  src/core/ui/gallery/MediaGallery.tsx
  src/core/ui/image/ImagePlaceholder.tsx
  src/domain/collaboration/callout/CalloutFramings/CalloutFramingMediaGalleryField.tsx
Due: eslint --fix, prettier --write

0.131.0
  package.json
Due: prettier --write

added page for transferring of a callout
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/platformAdmin/layout/toplevel/constants.ts
  src/domain/platformAdmin/management/authorization/AdminAuthorizationPage.tsx
  src/domain/platformAdmin/management/authorization/graphql/PlatformRoleSet.graphql
  src/domain/platformAdmin/management/transfer/transferCallout/TransferCallout.graphql
  src/domain/platformAdmin/management/transfer/transferCallout/TransferCalloutPage.tsx
  src/domain/platformAdmin/routing/GlobalAuthorizationRoute.tsx
  src/domain/platformAdmin/routing/PlatformAdminRoute.tsx
Due: eslint --fix, prettier --write

switched to using URL for lookups
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/platformAdmin/management/transfer/transferCallout/TransferCallout.graphql
  src/domain/platformAdmin/management/transfer/transferCallout/TransferCalloutPage.tsx
Due: eslint --fix, prettier --write

transfer working using URLs and lookign up the privileges correctly
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/platformAdmin/management/transfer/transferCallout/TransferCallout.graphql
  src/domain/platformAdmin/management/transfer/transferCallout/TransferCalloutPage.tsx
Due: eslint --fix, prettier --write

better information displayed for callout
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/platformAdmin/management/transfer/transferCallout/TransferCallout.graphql
  src/domain/platformAdmin/management/transfer/transferCallout/TransferCalloutPage.tsx
Due: eslint --fix, prettier --write

success message
  src/domain/platformAdmin/management/transfer/transferCallout/TransferCalloutPage.tsx
Due: eslint --fix, prettier --write

addressed rabbit feedback
  src/core/i18n/en/translation.en.json
  src/domain/platformAdmin/management/transfer/transferCallout/TransferCalloutPage.tsx
  src/domain/platformAdmin/management/transfer/transferCallout/useTransferCallout.ts
Due: eslint --fix, prettier --write

tidied up transfer page
  src/core/i18n/en/translation.en.json
  src/domain/platformAdmin/layout/toplevel/constants.ts
  src/domain/platformAdmin/management/transfer/TransferPage.tsx
  src/domain/platformAdmin/management/transfer/transferCallout/TransferCalloutSection.tsx
  src/domain/platformAdmin/routing/PlatformAdminRoute.tsx
Due: eslint --fix, prettier --write

refined space transfer
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/platformAdmin/management/transfer/TransferPage.tsx
  src/domain/platformAdmin/management/transfer/transferSpace/TransferSpace.graphql
  src/domain/platformAdmin/management/transfer/transferSpace/TransferSpaceSection.tsx
  src/domain/platformAdmin/management/transfer/transferSpace/useTransferSpace.ts
Due: eslint --fix, prettier --write

address rabbit feedback
  src/domain/platformAdmin/management/transfer/toFullUrl.ts
  src/domain/platformAdmin/management/transfer/transferCallout/TransferCalloutSection.tsx
  src/domain/platformAdmin/management/transfer/transferCallout/useTransferCallout.ts
  src/domain/platformAdmin/management/transfer/transferSpace/TransferSpaceSection.tsx
  src/domain/platformAdmin/management/transfer/transferSpace/useTransferSpace.ts
Due: eslint --fix, prettier --write

bump excalidraw version
  package.json
  pnpm-lock.yaml
Due: prettier --write

don't block closing the callout dialog on visual upload issues
  src/domain/collaboration/callout/CalloutDialogs/CreateCalloutDialog.tsx
  src/domain/collaboration/callout/CalloutDialogs/EditCalloutDialog.tsx
Due: eslint --fix, prettier --write

don't block closing the callout dialog on visual upload issues (#9309)
  src/domain/collaboration/callout/CalloutDialogs/CreateCalloutDialog.tsx
  src/domain/collaboration/callout/CalloutDialogs/EditCalloutDialog.tsx
Due: eslint --fix, prettier --write

support > n years not just > 1
  src/core/i18n/en/translation.en.json
  src/domain/shared/utils/formatTimeElapsed.ts
Due: eslint --fix, prettier --write

0.131.1
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
