Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

pr fix
  src/core/i18n/en/translation.en.json
Due: prettier --write

Privacy handling of the VC Knowledge Base. (#7542)
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/community/virtualContributor/VirtualContributor.graphql
  src/domain/community/virtualContributor/knowledgeBase/KnowledgeBaseDialog.tsx
  src/domain/community/virtualContributor/knowledgeBase/useKnowledgeBase.tsx
  src/domain/community/virtualContributor/knowledgeBase/virtualContributorKnowledgeBase.graphql
  src/domain/community/virtualContributor/vcProfilePage/VCProfileContentView.tsx
  src/domain/community/virtualContributor/vcProfilePage/model.ts
  src/domain/community/virtualContributorAdmin/VCAccessibilitySettings/VCAccessibilitySettingsPage.tsx
Due: eslint --fix, prettier --write

bug fix - wrong text in subspace settings (#7569)
  src/core/i18n/en/translation.en.json
Due: prettier --write

implement the usage of allowedSources from the settings in the markdown wrapper
  src/core/ui/forms/MarkdownInputControls/InsertEmbedCodeButton/InsertEmbedCodeButton.tsx
  src/core/ui/markdown/WrapperMarkdown.tsx
  src/core/ui/markdown/embed/allowedEmbedUrls.ts
  src/core/ui/markdown/embed/remarkVerifyIframe.ts
Due: eslint --fix, prettier --write

Fix some codegen
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/main/urlResolver/UrlResolvers.graphql
Due: eslint --fix, prettier --write

code-guidelines
  docs/code-guidelines.md
Due: prettier --write

rename useRoleSetAdmin to useRoleSetManager
  src/domain/access/RoleSetManager/RolesAssignament/AssignPlatformRole.graphql
  src/domain/access/RoleSetManager/RolesAssignament/AssignRole.graphql
  src/domain/access/RoleSetManager/RolesAssignament/RemovePlatformRole.graphql
  src/domain/access/RoleSetManager/RolesAssignament/RemoveRole.graphql
  src/domain/access/RoleSetManager/RolesAssignament/useRoleSetManagerRolesAssignment.ts
  src/domain/access/RoleSetManager/useRoleSetManager.ts
  src/domain/access/_removeMe/useInviteContributors.tsx
  src/domain/community/community/CommunityAdmin/useCommunityAdmin.ts
  src/domain/community/community/entities/SpaceContributorsDialogContent.tsx
  src/domain/community/community/entities/SubspaceContributorsDialogContent.tsx
  src/domain/community/contributor/organization/OrganizationPageContainer/OrganizationPageContainer.tsx
  src/domain/community/inviteContributors/InviteVCsDialog.tsx
  src/domain/community/organizationAdmin/views/OrganizationAssociatesView.tsx
  src/domain/community/organizationAdmin/views/OrganizationAuthorizationRoleAssignementView.tsx
  src/domain/journey/common/AboutPageContainer/AboutPageContainer.tsx
  src/domain/journey/space/SpaceCommunityPage/SpaceCommunityPage.tsx
  src/domain/journey/subspace/dialogs/ContributorsToggleDialog.tsx
  src/domain/journey/subspace/subspaceHome/SubspaceHomeContainer.tsx
  src/domain/platform/admin/authorization/AdminAuthorizationPage.tsx
Due: eslint --fix, prettier --write

Small changes to VCflow wording translation.en.json
  src/core/i18n/en/translation.en.json
Due: prettier --write

Retrieve the iframeAllowedUrls from the server (#7531)
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/ui/forms/MarkdownInputControls/InsertEmbedCodeButton/InsertEmbedCodeButton.tsx
  src/core/ui/markdown/WrapperMarkdown.tsx
  src/core/ui/markdown/embed/allowedEmbedUrls.ts
  src/core/ui/markdown/embed/remarkVerifyIframe.ts
  src/domain/platform/config/ConfigProvider.tsx
  src/domain/platform/config/configuration.graphql
  src/domain/platform/config/configuration.ts
  src/domain/platform/config/useConfig.ts
Due: eslint --fix, prettier --write

Small changes to VCflow wording translation.en.json (#7573)
  src/core/i18n/en/translation.en.json
Due: prettier --write

Send Sentry error on onCloseConnection of a whiteboard
  src/core/apollo/graphqlLinks/httpLink.ts
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
Due: eslint --fix, prettier --write

New translations translation.en.json (French)
  src/core/i18n/fr/translation.fr.json
Due: prettier --write

New translations translation.en.json (Spanish)
  src/core/i18n/es/translation.es.json
Due: prettier --write

New translations translation.en.json (Bulgarian)
  src/core/i18n/bg/translation.bg.json
Due: prettier --write

New translations translation.en.json (German)
  src/core/i18n/de/translation.de.json
Due: prettier --write

New translations translation.en.json (Dutch)
  src/core/i18n/nl/translation.nl.json
Due: prettier --write

New translations translation.en.json (Ukrainian)
  src/core/i18n/ua/translation.ua.json
Due: prettier --write

New translations translation.en.json (Portuguese, Brazilian)
  src/core/i18n/pt/translation.pt.json
Due: prettier --write

New translations translation.en.json (Acholi)
  src/core/i18n/ach/translation.ach.json
Due: prettier --write

Subspace instead of space in template button Update translation.en.json
  src/core/i18n/en/translation.en.json
Due: prettier --write

Posts big refactor, url resolver, WIP
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/ui/dialog/DialogTitleWithIcon.tsx
  src/domain/collaboration/post/containers/PostDashboardContainer/PostDashboardContainer.tsx
  src/domain/collaboration/post/containers/PostSettings/PostSettingsMutation.graphql
  src/domain/collaboration/post/graphql/PostQueries.graphql
  src/domain/collaboration/post/graphql/PostSettingsMutations.graphql
  src/domain/collaboration/post/graphql/PostSettingsQueries.graphql
  src/domain/collaboration/post/graphql/mutations/deletePost.graphql
  src/domain/collaboration/post/graphql/mutations/movePostToCallout.graphql
  src/domain/collaboration/post/graphql/usePost.tsx
  src/domain/collaboration/post/graphql/usePostSettings.ts
  src/domain/collaboration/post/pages/PostDashboardPage.tsx
  src/domain/collaboration/post/pages/PostSettingsPage.tsx
  src/domain/collaboration/post/pages/PostSharePage.tsx
  src/domain/collaboration/post/views/DashboardColumn.tsx
  src/domain/collaboration/post/views/PostDashboardView.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardView.tsx
  src/domain/communication/room/Comments/usePostMessageMutations.ts
  src/domain/community/virtualContributor/knowledgeBase/KnowledgeBaseDialog.tsx
  src/domain/community/virtualContributor/knowledgeBase/VCKnowledgeBaseRoute.tsx
  src/main/urlResolver/useUrlResolver.ts
Due: eslint --fix, prettier --write

fix type error
  src/domain/collaboration/whiteboard/WhiteboardDialog/WhiteboardDialog.tsx
Due: eslint --fix, prettier --write

Subspace instead of space in template button Update translation.en.json (#7578)
  src/core/i18n/en/translation.en.json
Due: prettier --write

Send Sentry error on onCloseConnection of a whiteboard (#7576)
  src/core/apollo/graphqlLinks/httpLink.ts
  src/domain/collaboration/whiteboard/WhiteboardDialog/WhiteboardDialog.tsx
  src/domain/common/whiteboard/excalidraw/CollaborativeExcalidrawWrapper.tsx
Due: eslint --fix, prettier --write

0.81.0
  package-lock.json
  package.json
Due: prettier --write

Update Crowdin configuration file
  crowdin.yml
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
