Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Make canvas save prominent in the canvas dialog
  src/components/composite/dialogs/CanvasDialog/CanvasDialog.tsx
  src/components/composite/entities/Canvas/CanvasWhiteboard.tsx
  src/hooks/useCombinedRefs.ts
  src/i18n/en/translation.en.json
  src/types/events.ts
Due: eslint --fix, prettier --write

Allow Hub Admins to access challenge discussions
  src/pages/Challenge/ChallengePage.tsx
Due: eslint --fix, prettier --write

Prevent canvas close if changes detected
  src/components/composite/dialogs/CanvasDialog/CanvasDialog.tsx
  src/components/composite/entities/Canvas/CanvasWhiteboard.tsx
  src/components/core/dialog/DialogTitle.tsx
Due: eslint --fix, prettier --write

removed unused pages/views
  src/components/composite/entities/Challenge/ChallengeCommunitySection.tsx
  src/components/composite/entities/Ecoverse/EcoverseCommunitySection.tsx
  src/components/composite/entities/Opportunity/OpportunityCommunitySection.tsx
  src/views/Challenge/ChallengeView.tsx
  src/views/Ecoverse/EcoverseDashboardView.tsx
  src/views/Ecoverse/EcoverseView.tsx
Due: eslint --fix, prettier --write

removed unused queries for updates
  graphql/queries/community/messages/challengeCommunityMessages.graphql
  graphql/queries/community/messages/ecoverseCommunityMessages.graphql
  graphql/queries/community/messages/opportunityCommunityMessages.graphql
Due: none

applied updates subscription to all entities
  graphql/queries/community/messages/communityUpdates.graphql
  src/components/composite/common/sections/DashboardUpdatesSection.tsx
  src/containers/community-updates/CommunityUpdates.tsx
  src/hooks/generated/graphql.ts
  src/models/graphql-schema.ts
  src/pages/Admin/Community/CommunityUpdatesPage.tsx
  src/pages/Community/CommunityPage.tsx
  src/views/Opportunity/OpportunityDashboardView.tsx
Due: eslint --fix, prettier --write

added discussion message subscription
  src/components/composite/layout/App/App.tsx
  src/containers/community-updates/CommunityUpdates.tsx
  src/containers/discussions/DiscussionSubscriptionContainer.tsx
  src/containers/discussions/discussionMessageReceived.graphql
  src/context/GlobalStateProvider.tsx
  src/hooks/discussions/useCommunityDiscussionSubscriptionSelector.ts
  src/hooks/generated/graphql.ts
  src/models/graphql-schema.ts
  src/state/global/entities/communityDiscussionMachine.ts
  src/state/global/entities/communityUpdateMachine.ts
Due: eslint --fix, prettier --write

Fix major update issues
  src/components/composite/dialogs/CanvasDialog/CanvasCreateDialog.tsx
  src/components/composite/dialogs/CanvasDialog/CanvasDialog.tsx
  src/components/composite/entities/Canvas/CanvasWhiteboard.tsx
  src/containers/canvas/CanvasActionsContainer.tsx
  src/containers/canvas/CanvasProvider.tsx
  src/containers/canvas/CanvasValueContainer.tsx
  src/containers/canvas/canvasActions.graphql
  src/hooks/generated/graphql.ts
  src/models/graphql-schema.ts
  src/views/Canvas/CanvasManagementView.tsx
Due: eslint --fix, prettier --write

Apply priviliges on canvas management
  graphql/fragments/contextDetails.graphql
  src/containers/opportunity/OpportunityPage.graphql
  src/hooks/generated/graphql.ts
  src/models/graphql-schema.ts
  src/views/Canvas/CanvasListView.tsx
  src/views/Canvas/CanvasManagementView.tsx
  src/views/Challenge/ChallengeCanvasManagementView.tsx
  src/views/Ecoverse/HubCanvasManagementView.tsx
  src/views/Opportunity/OpportunityCanvasManagementView.tsx
Due: eslint --fix, prettier --write

Reorganize home page
  src/components/composite/common/sections/DashboardContributorsSection.tsx
  src/components/composite/common/sections/DashboardHubSection.tsx
  src/i18n/en/translation.en.json
  src/pages/Home/EcoversesSection.tsx
  src/pages/Home/GettingStartedSection.tsx
  src/pages/Home/Home.tsx
  src/pages/Home/ShowInterestSection.tsx
  src/pages/Home/WelcomeSection.tsx
Due: eslint --fix, prettier --write

added labels for description on challenge and opportunity
  src/i18n/en/translation.en.json
  src/views/Challenge/ChallengeOpportunitiesView.tsx
  src/views/Ecoverse/EcoverseChallengesView.tsx
Due: eslint --fix, prettier --write

Updater react-i18next
  package-lock.json
  package.json
Due: prettier --write

Unify the cards styles across the application
  src/components/composite/common/cards/ContributionCard/ContributionCard.tsx
  src/components/composite/common/cards/ContributionCard/ContributionCardV2.tsx
  src/components/composite/common/cards/ContributionCard/EntityContributionCard.tsx
  src/components/composite/common/cards/index.tsx
  src/components/composite/common/sections/DashboardHubSection.tsx
  src/containers/ContributionDetails/ContributionDetailsContainer.tsx
  src/views/Challenge/ChallengeDashboardView.tsx
  src/views/Challenge/ChallengeExplorer/ChallengeExplorerSearchView.tsx
  src/views/Challenge/ChallengeExplorerView.tsx
  src/views/Ecoverse/EcoverseDashboardView2.tsx
  src/views/Opportunity/OpportunityDashboardView.tsx
  src/views/ProfileView/ContributionsView.tsx
Due: eslint --fix, prettier --write

updated label text
  src/i18n/en/translation.en.json
Due: prettier --write

Updated graphql
  package-lock.json
  package.json
  src/hooks/generated/graphql.ts
  src/models/graphql-schema.ts
Due: eslint --fix, prettier --write

Fix updateEcosystemModel
  graphql/mutations/updateEcosystemModel.graphql
  src/hooks/generated/graphql.ts
  src/models/graphql-schema.ts
Due: eslint --fix, prettier --write

fix lint errors
  src/components/Opportunity/ActorWhiteboard.tsx
  src/components/composite/entities/Canvas/CanvasToolbar.tsx
Due: eslint --fix, prettier --write

Whiteboard fixes
  src/components/composite/dialogs/CanvasDialog/CanvasDialog.tsx
  src/containers/canvas/CanvasActionsContainer.tsx
  src/i18n/en/translation.en.json
Due: eslint --fix, prettier --write

Address home page issues
  src/components/composite/common/sections/DashboardGenericSection.tsx
  src/components/composite/common/sections/DashboardHubSection.tsx
  src/components/composite/layout/TopBar/TopNavbar.tsx
  src/components/core/Section/Section.tsx
  src/pages/Home/AlkemioActivitySection.tsx
  src/pages/Home/ContributorsSection.tsx
  src/pages/Home/Home.tsx
  src/pages/Home/ShowInterestSection.tsx
Due: eslint --fix, prettier --write

Fix comments
  src/components/composite/common/cards/user-card/UserCard.tsx
Due: eslint --fix, prettier --write

discussion tab disabled state is controlled by the feature flag
  src/routing/challenge/ChallengeTabs.tsx
  src/routing/ecoverse/EcoverseTabs.tsx
  src/routing/opportunity/OpportunityTabs.tsx
Due: eslint --fix, prettier --write

proper read access logic in the opportunity page
  src/containers/opportunity/OpportunityPageContainer.tsx
Due: eslint --fix, prettier --write

version bump
  package.json
Due: prettier --write

version bump
  package-lock.json
Due: prettier --write

Try fix canvas export option - fix ui on home page - fix whiteboard dirty state
  src/components/composite/common/sections/DashboardHubSection.tsx
  src/components/composite/dialogs/CanvasDialog/CanvasDialog.tsx
  src/components/composite/entities/Canvas/CanvasWhiteboard.tsx
Due: eslint --fix, prettier --write

Canvas error handling
  src/containers/canvas/CanvasActionsContainer.tsx
  src/views/Ecoverse/EcoverseDashboardView2.tsx
Due: eslint --fix, prettier --write

Upgrade @excalidraw/excalidraw
  package-lock.json
  package.json
Due: prettier --write

Restore auto close on export dialog saving canvas
  src/components/composite/entities/Canvas/CanvasWhiteboard.tsx
Due: eslint --fix, prettier --write

Fix view mode when creating canvas
  src/components/composite/dialogs/CanvasDialog/CanvasCreateDialog.tsx
Due: eslint --fix, prettier --write

refined the calls to action / layout on home page top section; refined guidance text
  package-lock.json
  package.json
  src/i18n/en/translation.en.json
  src/pages/Home/AlkemioActivitySection.tsx
  src/pages/Home/GettingStartedSection.tsx
  src/pages/Home/Home.tsx
  src/pages/Home/ShowInterestSection.tsx
Due: eslint --fix, prettier --write

Slight adjustments
  src/components/composite/common/Activities/ActivitiesV2.tsx
  src/components/composite/common/sections/DashboardActivitySection.tsx
  src/pages/Home/AlkemioActivitySection.tsx
  src/pages/Home/Home.tsx
Due: eslint --fix, prettier --write

Update Axios
  package-lock.json
  package.json
Due: prettier --write

Fix: Banners are not used consistently
  src/components/composite/common/cards/ContributionCard/ContributionCardV2.tsx
Due: eslint --fix, prettier --write

Social links names are case insensitive
  src/components/composite/forms/UserForm.tsx
Due: eslint --fix, prettier --write

Rename 'Facilitating organization' to 'Leading organization'
  src/i18n/en/translation.en.json
  src/views/Challenge/ChallengeDashboardView.tsx
Due: eslint --fix, prettier --write

Reset breadcrumb when navigatin got contributors page
  src/pages/Contributors/ContributorsPage.tsx
Due: eslint --fix, prettier --write

Fix:Not all members are displayed on Organization associates card
  src/i18n/en/translation.en.json
  src/views/ProfileView/AssociatesView.tsx
Due: eslint --fix, prettier --write

Fix: Avatar is not displayed on Dashboard updates card
  src/views/Updates/SingleUpdateView.tsx
Due: eslint --fix, prettier --write

community page implemented
  graphql/queries/cards/userCard.graphql
  graphql/queries/communityPage.graphql
  src/components/composite/common/Accordion/Accordion.tsx
  src/components/composite/common/cards/user-card/UserCard.tsx
  src/components/core/card-filter/CardFilter.tsx
  src/components/core/card-filter/value-getters/cards/user-card-value-getter.ts
  src/components/core/card-filter/value-getters/user-with-role-value-getter.ts
  src/containers/community/CommunityPageContainer.tsx
  src/containers/community/ComunityPageQueries.graphql
  src/hooks/cards/useUserCardRoleName.ts
  src/hooks/generated/graphql.ts
  src/i18n/en/translation.en.json
  src/models/graphql-schema.ts
  src/pages/Community/ChallengeCommunityPage.tsx
  src/pages/Community/CommunityPage.tsx
  src/pages/Community/CommunityPageV2.tsx
  src/pages/Community/EcoverseCommunityPage.tsx
  src/pages/Community/OpportunityCommunityPage.tsx
  src/utils/user-role-name/get-user-role-translation-key.ts
  src/views/community/CommunityPageView.tsx
Due: eslint --fix, prettier --write

updated translation file
  src/i18n/en/translation.en.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
