Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

translation files update
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/nl/translation.nl.json
  src/core/i18n/ua/translation.ua.json
Due: prettier --write

Bottom Navigation Tabs for mobiles (#2921)
  package.json
  src/common/components/composite/layout/App/App.tsx
  src/common/components/composite/layout/App/Main.tsx
  src/common/components/composite/layout/TopBar/MobileTopBar.tsx
  src/common/components/composite/layout/TopBar/TopBar.tsx
  src/common/components/core/FloatingActionButtons/FloatingActionButtons.tsx
  src/common/themes/default/palette.ts
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/en/translation.en.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/nl/translation.nl.json
  src/core/i18n/ua/translation.ua.json
  src/core/routing/TopLevelRoutes.tsx
  src/domain/challenge/challenge/layout/ChallengePageBanner.tsx
  src/domain/challenge/challenge/layout/ChallengeTabs.tsx
  src/domain/challenge/challenge/pages/ChallengeExplorerPage.tsx
  src/domain/challenge/hub/layout/HubPageBanner.tsx
  src/domain/challenge/hub/layout/HubTabs.tsx
  src/domain/challenge/opportunity/layout/OpportunityPageBanner.tsx
  src/domain/challenge/opportunity/layout/OpportunityTabs.tsx
  src/domain/community/contributor/ContributorsPage.tsx
  src/domain/community/contributor/organization/layout/OrganizationTabs.tsx
  src/domain/community/contributor/user/layout/UserTabs.tsx
  src/domain/platform/admin/layout/EntitySettings/EntitySettingsLayout.tsx
  src/domain/platform/admin/toplevel/AdminLayout.tsx
  src/domain/shared/components/PageHeader/BreadcrumbsView.tsx
  src/domain/shared/components/PageHeader/PageBanner.tsx
  src/domain/shared/layout/EntityPageTabs.tsx
  src/domain/shared/layout/PageLayout/EntityPageLayout.tsx
  src/domain/shared/layout/PageLayout/EntityPageLayoutDesktop.tsx
  src/domain/shared/layout/PageLayout/EntityPageLayoutMobile.tsx
  src/domain/shared/layout/PageLayout/EntityPageLayoutTypes.ts
  src/domain/shared/layout/PageLayout/TopLevelDesktopLayout.tsx
  src/domain/shared/layout/PageLayout/index.ts
  src/domain/shared/utils/getEntityColor.ts
  src/hooks/useBreadcrumbs.ts
  src/pages/Home/HomePage.tsx
  src/pages/Search/SearchPage.tsx
  src/root.tsx
Due: eslint --fix, prettier --write

run npm install
  package-lock.json
Due: prettier --write

updated translation entries for help
  src/core/i18n/en/translation.en.json
Due: prettier --write

removed links not used
  src/core/i18n/en/translation.en.json
Due: prettier --write

removed old help content no longer used
  public/help/help.md
  public/help/structure.png
  src/core/help/pages/HelpPage.tsx
  src/core/routing/TopLevelRoutes.tsx
Due: eslint --fix, prettier --write

Not escaping entity names in Activity Items description
  src/domain/shared/components/ActivityLog/views/ActivityCalloutPublishedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityCanvasCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityCardCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityChallengeCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityMemberJoinedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityOpportunityCreatedView.tsx
Due: eslint --fix, prettier --write

Help tidy up (#2932)
  public/help/help.md
  public/help/structure.png
  src/core/help/pages/HelpPage.tsx
  src/core/i18n/en/translation.en.json
  src/core/routing/TopLevelRoutes.tsx
Due: eslint --fix, prettier --write

Not escaping entity names in Activity Items description (#2934)
  src/domain/shared/components/ActivityLog/views/ActivityCalloutPublishedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityCanvasCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityCardCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityChallengeCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityMemberJoinedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityOpportunityCreatedView.tsx
Due: eslint --fix, prettier --write

Fix tags on card edit
  src/domain/collaboration/aspect/pages/AspectSettingsPage.tsx
Due: eslint --fix, prettier --write

Mobile-friendly footers
  src/common/components/composite/layout/App/Footer.tsx
  src/common/components/core/WrapperToolbar.tsx
  src/pages/Home/HomePageFooter.tsx
Due: eslint --fix, prettier --write

updated help lnks + wording in english
  src/core/help/dialog/HelpDialog.tsx
  src/core/i18n/en/translation.en.json
Due: eslint --fix, prettier --write

Fix tags on card edit (#2935)
  src/domain/collaboration/aspect/pages/AspectSettingsPage.tsx
Due: eslint --fix, prettier --write

help dialog css selector fix
  src/core/help/dialog/HelpDialog.tsx
Due: eslint --fix, prettier --write

Mobile-friendly footers (#2936)
  src/common/components/composite/layout/App/Footer.tsx
  src/common/components/core/WrapperToolbar.tsx
  src/pages/Home/HomePageFooter.tsx
Due: eslint --fix, prettier --write

help dialog css selector fix typo
  src/core/help/dialog/HelpDialog.tsx
Due: eslint --fix, prettier --write

version bump
  package-lock.json
  package.json
Due: prettier --write

translations
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/nl/translation.nl.json
  src/core/i18n/ua/translation.ua.json
Due: prettier --write

Version bump & translations (#2940)
  package-lock.json
  package.json
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/nl/translation.nl.json
  src/core/i18n/ua/translation.ua.json
Due: prettier --write

Hide empty opp on challenge dashboard page
  package-lock.json
  package.json
  src/domain/challenge/challenge/views/ChallengeDashboardView.tsx
Due: eslint --fix, prettier --write

Using BottomNavigation for User/Organization Profile
  src/domain/community/contributor/organization/layout/OrganizationTabs.tsx
  src/domain/community/contributor/user/layout/UserTabs.tsx
  src/domain/shared/layout/ProfileTabs.tsx
  src/domain/shared/utils/getEntityColor.ts
Due: eslint --fix, prettier --write

Restored top-level layout on /about
  src/pages/About/About.tsx
Due: eslint --fix, prettier --write

Using BottomNavigation for User/Organization Profile; About page layout (#2946)
  src/domain/community/contributor/organization/layout/OrganizationTabs.tsx
  src/domain/community/contributor/user/layout/UserTabs.tsx
  src/domain/shared/layout/ProfileTabs.tsx
  src/domain/shared/utils/getEntityColor.ts
  src/pages/About/About.tsx
Due: eslint --fix, prettier --write

Structured import dialog
  src/common/components/core/dialog/DialogTitleWithIcon.tsx
  src/common/components/core/dialog/index.ts
  src/common/icons/LibraryIcon.tsx
  src/core/i18n/en/translation.en.json
  src/domain/platform/admin/templates/AdminTemplatesSection.tsx
  src/domain/platform/admin/templates/AspectTemplates/AdminAspectTemplatesSection.tsx
  src/domain/platform/admin/templates/AspectTemplates/AspectImportTemplateCard.tsx
  src/domain/platform/admin/templates/CanvasTemplates/AdminCanvasTemplatesSection.tsx
  src/domain/platform/admin/templates/CanvasTemplates/CanvasImportTemplateCard.tsx
  src/domain/platform/admin/templates/InnovationPacks/ImportTemplatesDialog.tsx
  src/domain/platform/admin/templates/InnovationPacks/InnovationPack.ts
  src/domain/platform/admin/templates/InnovationPacks/TemplatePreview.tsx
  src/domain/platform/admin/templates/InnovationPacks/TemplatesGallery.tsx
  src/domain/platform/admin/templates/InnovationTemplates/AdminInnovationTemplatesSection.tsx
  src/domain/platform/admin/templates/InnovationTemplates/InnovationImportTemplateCard.tsx
  src/domain/shared/components/ActionsCard.tsx
Due: eslint --fix, prettier --write

fixed associates label
  src/domain/community/community/utils/useOrganizationCardProps.ts
Due: eslint --fix, prettier --write

Fixed action/title in ActivityLog views
  src/domain/shared/components/ActivityLog/views/ActivityCardCommentCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityCardCreatedView.tsx
Due: eslint --fix, prettier --write

Clean getMetricCount code
  src/common/components/composite/common/cards/ChallengeCard/ChallengeCard.tsx
  src/common/components/composite/common/cards/HubCard/HubCard.tsx
  src/common/components/composite/common/cards/OpportunityCard/OpportunityCard.tsx
  src/domain/challenge/challenge/views/ChallengeContextView.tsx
  src/domain/challenge/hub/DashboardHubs/HubsSection.tsx
  src/domain/challenge/hub/views/HubContextView.tsx
  src/domain/challenge/opportunity/views/OpportunityContextView.tsx
  src/domain/community/community/utils/useOrganizationCardProps.ts
  src/domain/community/contributor/organization/AssociatedOrganizations/AssociatedOrganization.ts
  src/domain/platform/metrics/MetricType.ts
  src/domain/platform/metrics/utils/getMetricCount.ts
Due: eslint --fix, prettier --write

improved kratos hooks error handling
  src/common/images/alkemio-logo.svg
  src/common/images/index.ts
  src/core/auth/authentication/hooks/useKratosClient.ts
  src/core/auth/authentication/hooks/useKratosFlow.ts
Due: eslint --fix, prettier --write

added an error display component
  src/core/i18n/en/translation.en.json
  src/domain/shared/components/ErrorDisplay/ErrorDisplay.tsx
  src/domain/shared/components/ErrorDisplay/index.ts
Due: eslint --fix, prettier --write

added error display to all pages using kratos flows
  src/core/auth/authentication/pages/LoginPage.tsx
  src/core/auth/authentication/pages/RecoveryPage.tsx
  src/core/auth/authentication/pages/RegistrationPage.tsx
  src/core/auth/authentication/pages/SettingsPage.tsx
  src/core/auth/authentication/pages/VerificationPage.tsx
Due: eslint --fix, prettier --write

fixed associates label (#2957)
  src/common/components/composite/common/cards/ChallengeCard/ChallengeCard.tsx
  src/common/components/composite/common/cards/HubCard/HubCard.tsx
  src/common/components/composite/common/cards/OpportunityCard/OpportunityCard.tsx
  src/domain/challenge/challenge/views/ChallengeContextView.tsx
  src/domain/challenge/hub/DashboardHubs/HubsSection.tsx
  src/domain/challenge/hub/views/HubContextView.tsx
  src/domain/challenge/opportunity/views/OpportunityContextView.tsx
  src/domain/community/community/utils/useOrganizationCardProps.ts
  src/domain/community/contributor/organization/AssociatedOrganizations/AssociatedOrganization.ts
  src/domain/platform/metrics/MetricType.ts
  src/domain/platform/metrics/utils/getMetricCount.ts
Due: eslint --fix, prettier --write

Fixed action/title in ActivityLog views (#2959)
  src/domain/shared/components/ActivityLog/views/ActivityCardCommentCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityCardCreatedView.tsx
Due: eslint --fix, prettier --write

First version
  src/common/components/core/dialog/DialogTitleWithIcon.tsx
  src/common/themes/default/palette.ts
  src/core/i18n/en/translation.en.json
  src/domain/platform/admin/templates/AdminTemplatesSection.tsx
  src/domain/platform/admin/templates/AspectTemplates/AspectImportTemplateCard.tsx
  src/domain/platform/admin/templates/CanvasTemplates/CanvasImportTemplateCard.tsx
  src/domain/platform/admin/templates/InnovationPacks.graphql
  src/domain/platform/admin/templates/InnovationPacks/ImportTemplatesDialog.tsx
  src/domain/platform/admin/templates/InnovationPacks/ImportTemplatesDialogTemplatePreview.tsx
  src/domain/platform/admin/templates/InnovationPacks/ImportTemplatesDialogTemplatesGallery.tsx
  src/domain/platform/admin/templates/InnovationPacks/InnovationPack.ts
  src/domain/platform/admin/templates/InnovationPacks/TemplatePreview.tsx
  src/domain/platform/admin/templates/InnovationPacks/TemplatesGallery.tsx
  src/domain/platform/admin/templates/InnovationTemplates/InnovationImportTemplateCard.tsx
  src/domain/shared/components/ActionsCard.tsx
  src/hooks/generated/graphql.ts
  src/models/graphql-schema.ts
Due: eslint --fix, prettier --write

Separate preview dialog from preview component
  src/common/icons/LibraryIcon.tsx
  src/domain/platform/admin/templates/AdminTemplatesSection.tsx
  src/domain/platform/admin/templates/AspectTemplates/AspectTemplateView.tsx
  src/domain/platform/admin/templates/CanvasTemplates/CanvasTemplatePreview.tsx
  src/domain/platform/admin/templates/InnovationTemplates/InnovationTemplateView.tsx
  src/domain/platform/admin/templates/TemplateViewDialog.tsx
Due: eslint --fix, prettier --write

AcceptTerms
  src/common/themes/default/typography.ts
  src/core/auth/authentication/pages/AcceptTerms.tsx
  src/core/auth/authentication/routing/index.tsx
  src/domain/shared/components/Text/Constants.ts
  src/domain/shared/components/Text/Paragraph.tsx
  src/domain/shared/components/Text/SubHeading.tsx
  src/domain/shared/layout/Container.tsx
  src/domain/shared/layout/Grid.ts
Due: eslint --fix, prettier --write

moved these two
  src/domain/platform/admin/templates/InnovationPacks/ImportTemplatesDialogGalleryStep.tsx
  src/domain/platform/admin/templates/InnovationPacks/ImportTemplatesDialogPreviewStep.tsx
Due: eslint --fix, prettier --write

Finished generic approach
  src/domain/platform/admin/templates/AdminTemplatesSection.tsx
  src/domain/platform/admin/templates/AspectTemplates/AspectImportTemplateCard.tsx
  src/domain/platform/admin/templates/CanvasTemplates/CanvasImportTemplateCard.tsx
  src/domain/platform/admin/templates/InnovationPacks/ImportTemplatesDialog.tsx
  src/domain/platform/admin/templates/InnovationPacks/ImportTemplatesDialogGalleryStep.tsx
  src/domain/platform/admin/templates/InnovationPacks/ImportTemplatesDialogPreviewStep.tsx
  src/domain/platform/admin/templates/InnovationPacks/InnovationPack.ts
  src/domain/platform/admin/templates/InnovationTemplates/InnovationImportTemplateCard.tsx
  src/domain/platform/admin/templates/TemplateViewDialog.tsx
Due: eslint --fix, prettier --write

A few tweaks more
  src/domain/platform/admin/templates/AspectTemplates/AspectImportTemplateCard.tsx
  src/domain/platform/admin/templates/CanvasTemplates/CanvasImportTemplateCard.tsx
  src/domain/platform/admin/templates/InnovationPacks/ImportTemplatesDialogGalleryStep.tsx
  src/domain/platform/admin/templates/InnovationPacks/ImportTemplatesDialogPreviewStep.tsx
  src/domain/platform/admin/templates/InnovationTemplates/InnovationImportTemplateCard.tsx
  src/domain/shared/components/ActionsCard.tsx
Due: eslint --fix, prettier --write

LI, MS icons
  src/core/auth/authentication/components/OAuthProviders/LinkedIn.svg
  src/core/auth/authentication/components/OAuthProviders/Microsoft.svg
Due: none

SignUp
  src/common/themes/default/palette.ts
  src/core/auth/authentication/components/AcceptTermsButtonWrapper.tsx
  src/core/auth/authentication/components/AcceptTermsCheckbox.tsx
  src/core/auth/authentication/components/AcceptTermsContext.tsx
  src/core/auth/authentication/components/FixedHeightLogo.tsx
  src/core/auth/authentication/components/OAuthProviders/LinkedIn.svg
  src/core/auth/authentication/pages/AcceptTerms.tsx
  src/core/auth/authentication/pages/SignUp.tsx
  src/core/auth/authentication/routing/index.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
