Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Removing redundant line
  Dockerfile
Due: none

Updated build and packaging configuration and scripts
  buildConfiguration.js
  package.json
Due: prettier --write

Reverted dockerfile change
  Dockerfile
Due: none

More env changes
  index.html
  src/common/components/composite/layout/TopBar/LogoComponent.tsx
  src/common/constants/endpoints.ts
  src/common/utils/graphql-links/http-link.ts
  src/core/apollo/hooks/useGraphQLClient.ts
  src/core/i18n/config.ts
  src/domain/platform/routes/usePlatformOrigin.ts
  src/domain/shared/components/PageHeader/JourneyPageBanner.tsx
  src/types/env.ts
Due: eslint --fix, prettier --write

Removing unsupported import with 'require' in VITE
  src/core/analytics/useApm.ts
Due: eslint --fix, prettier --write

Whiteboard + Callout from lookup and not from journey
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/callout/SingleWhiteboard/SingleWhiteboardCallout.tsx
  src/domain/collaboration/callout/graphql/CalloutId.graphql
  src/domain/collaboration/whiteboard/EntityWhiteboardPage/WhiteboardsView.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardProvider.tsx
  src/domain/collaboration/whiteboard/containers/whiteboardQueries.graphql
Due: eslint --fix, prettier --write

Add altText field to the markdown editor (#4551)
  src/core/ui/forms/MarkdownInputControls/InsertImageButton.tsx
Due: eslint --fix, prettier --write

address comments
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/callout/graphql/CalloutId.graphql
  src/domain/collaboration/whiteboard/EntityWhiteboardPage/WhiteboardsView.tsx
Due: eslint --fix, prettier --write

src/main, top-level admin
  docs/code-guidelines.md
Due: prettier --write

fix prop
  docs/code-guidelines.md
Due: prettier --write

typo fix
  docs/code-guidelines.md
Due: prettier --write

View postfix
  docs/code-guidelines.md
Due: prettier --write

Home>MySpaces loads user spaces via me.spaceMemberships
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/community/user/userSpaces/UserSpaces.graphql
  src/domain/journey/space/MySpaces/MySpacesSection.tsx
  src/domain/shared/components/DashboardSections/DashboardSpacesSection.tsx
  src/main/topLevelPages/Home/AuthenticatedUserHome.tsx
  src/main/topLevelPages/Home/HomePage.tsx
Due: eslint --fix, prettier --write

cleanup
  src/domain/community/user/userSpaces/UserSpaces.graphql
Due: none

Fix but not fully fixed
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/callout/whiteboard/WhiteboardCallout.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardManagementView.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardsManagementViewWrapper.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardActionsContainer.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardProvider.tsx
  src/domain/collaboration/whiteboard/containers/whiteboardQueries.graphql
Due: eslint --fix, prettier --write

Fix Vite dev mode for chrome (#4560)
  .scripts/fix-dev-vite.sh
Due: none

Fix!
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/callout/whiteboard/WhiteboardCallout.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardManagementView.tsx
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardsManagementViewWrapper.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardActionsContainer.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardProvider.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardValueContainer.tsx
  src/domain/collaboration/whiteboard/containers/whiteboardQueries.graphql
Due: eslint --fix, prettier --write

console.log
  src/domain/collaboration/whiteboard/containers/WhiteboardProvider.tsx
Due: eslint --fix, prettier --write

fix
  src/domain/collaboration/whiteboard/containers/WhiteboardProvider.tsx
Due: eslint --fix, prettier --write

restore
  src/domain/collaboration/whiteboard/containers/WhiteboardProvider.tsx
Due: eslint --fix, prettier --write

reorganize
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardManagementView.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardValueContainer.tsx
Due: eslint --fix, prettier --write

Fixed Whiteboard Edit/Save button by providing proper checkout (#4571)
  src/domain/collaboration/whiteboard/WhiteboardsManagement/WhiteboardManagementView.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardActionsContainer.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardProvider.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardValueContainer.tsx
Due: eslint --fix, prettier --write

Version bump
  package-lock.json
  package.json
Due: prettier --write

Using Callout lookup for Post Callouts lazy-loading
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/callout/CalloutView/CalloutView.tsx
  src/domain/collaboration/callout/post/CalloutPostCreatedSubscription.graphql
  src/domain/collaboration/callout/post/CalloutPostsSubscription.graphql
  src/domain/collaboration/callout/post/PostCallout.tsx
  src/domain/collaboration/callout/post/PostCalloutContainer.tsx
  src/domain/collaboration/callout/post/PostsOnCalloutFragment.graphql
  src/domain/collaboration/callout/post/useCalloutPostCreatedSubscription.ts
  src/domain/collaboration/callout/useCallouts/CalloutQueries.graphql
  src/domain/collaboration/callout/usePostCreatedOnCalloutSubscription.ts
  src/domain/collaboration/post/PostCreationDialog/PostCreationDialog.tsx
Due: eslint --fix, prettier --write

cleanup
  src/domain/collaboration/callout/post/PostCallout.tsx
Due: eslint --fix, prettier --write

Version bump (#4573)
  package-lock.json
  package.json
Due: prettier --write

Client Code Guidelines put into docs (#4521)
  docs/code-guidelines.md
Due: prettier --write

Remove usage of community.displayName (#4553)
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/ach/translation.ach.json
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/en/translation.en.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
  src/core/i18n/ua/translation.ua.json
  src/domain/challenge/challenge/pages/ChallengeProfile/ChallengeProfileView.tsx
  src/domain/challenge/space/pages/SpaceChallenges/ChallengeListView.tsx
  src/domain/collaboration/activity/useActivityLogOnCollaboration/activityLogOnCollaboration.graphql
  src/domain/communication/updates/CommunityUpdatesContainer/CommunityUpdates.graphql
  src/domain/community/application/graphql/queries/spaceApplication.graphql
  src/domain/community/community/CommunityContext/CommunityContextProvider.tsx
  src/domain/community/community/CommunityContext/challengeCommunity.graphql
  src/domain/community/community/CommunityContext/communityDetails.graphql
  src/domain/community/community/CommunityContext/opportunityCommunity.graphql
  src/domain/community/community/CommunityContext/spaceCommunity.graphql
  src/domain/community/community/graphql/queries/challgengesWithCommunity.graphql
  src/domain/community/community/graphql/queries/communityGroups.graphql
  src/domain/shared/components/ActivityDescription/ActivityDescription.tsx
  src/domain/shared/components/ActivityLog/ActivityComponent.tsx
  src/domain/shared/components/ActivityLog/views/ActivityMemberJoinedView.tsx
Due: eslint --fix, prettier --write

Merge fix
  src/core/apollo/graphqlLinks/httpLink.ts
  src/main/constants/endpoints.ts
  src/main/ui/layout/topBar/LogoComponent.tsx
  src/main/ui/layout/topLevelWrappers/App.tsx
Due: eslint --fix, prettier --write

Merge fix
  src/common/components/composite/common/ApplicationButton/ApplicationButton.spec_.tsx
  src/common/components/composite/layout/App/App.tsx
  src/common/components/composite/layout/TopBar/LogoComponent.tsx
  src/common/components/core/Loading/Loading.spec_.tsx
  src/common/components/core/RemoveModal.spec_.tsx
  src/common/components/core/Tag.spec_.tsx
  src/common/components/core/TextInput.spec_.tsx
  src/common/components/core/WrapperToolbar.spec_.tsx
  src/common/constants/endpoints.ts
  src/common/utils/graphql-links/http-link.ts
Due: eslint --fix, prettier --write

move the space stuff
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/community/application/dialogs/ApplicationDialog.tsx
  src/domain/community/community/CommunityAdmin/CommunityApplications.tsx
  src/domain/journey/space/pages/SpaceCommunity/AdminSpaceCommunityPage.tsx
  src/domain/journey/space/pages/SpaceCommunity/CommunityApplicationsInvitations.graphql
  src/domain/journey/space/pages/SpaceCommunity/SpaceCommunityView.tsx
  src/domain/journey/space/pages/SpaceCommunity/SpaceDisplayName.graphql
  src/domain/journey/space/pages/SpaceCommunity/spaceApplicationsInvitations.graphql
  src/domain/platform/admin/community/views/ApplicationsAdminView.tsx
Due: eslint --fix, prettier --write

also show lead roles on space contirbutions
  src/domain/community/contributor/organization/OrganizationPageContainer/OrganizationPageContainer.tsx
Due: eslint --fix, prettier --write

Fix?
  src/domain/collaboration/whiteboard/containers/WhiteboardActionsContainer.tsx
  src/domain/collaboration/whiteboard/containers/WhiteboardProvider.tsx
Due: eslint --fix, prettier --write

Added a comment to highlight the usage of .env.sh
  index.html
Due: none

cleanup
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/community/community/useCommunityAssignment/CommunityMembersList.graphql
  src/domain/community/community/useCommunityAssignment/spaceCommunityMembers.graphql
  src/domain/journey/space/pages/SpaceCommunity/AdminSpaceCommunityPage.tsx
  src/domain/journey/space/pages/SpaceCommunity/CommunityApplicationsInvitations.graphql
  src/domain/journey/space/pages/SpaceCommunity/useCommunityContext.ts
  src/domain/platform/admin/challenge/providers/ChallengeApplications.graphql
Due: eslint --fix, prettier --write

Rename variable.
  src/domain/community/contributor/organization/OrganizationPageContainer/OrganizationPageContainer.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
