Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": "prettier --write"
}

revert redundant translation changes
  src/core/i18n/en/translation.en.json
Due: prettier --write

Enhances Kratos message formatting (#8266)
  src/core/auth/authentication/components/Kratos/messages.ts
  src/core/auth/authentication/components/KratosUI.tsx
  src/core/i18n/en/translation.en.json
Due: eslint --fix, prettier --write

address comments
  src/core/auth/authentication/AuthenticationLayout.tsx
  src/core/auth/authentication/components/AuthFormHeader.tsx
  src/core/auth/authentication/components/Kratos/KratosSocialButton.tsx
  src/core/i18n/en/translation.en.json
Due: eslint --fix, prettier --write

New translations translation.en.json (French)
  src/core/i18n/fr/translation.fr.json
Due: prettier --write

New translations translation.en.json (Spanish)
  src/core/i18n/es/translation.es.json
Due: prettier --write

New translations translation.en.json (Bulgarian)
  src/core/i18n/bg/translation.bg.json
Due: prettier --write

New translations translation.en.json (German)
  src/core/i18n/de/translation.de.json
Due: prettier --write

New translations translation.en.json (Dutch)
  src/core/i18n/nl/translation.nl.json
Due: prettier --write

New translations translation.en.json (Ukrainian)
  src/core/i18n/ua/translation.ua.json
Due: prettier --write

New translations translation.en.json (Portuguese, Brazilian)
  src/core/i18n/pt/translation.pt.json
Due: prettier --write

New translations translation.en.json (Acholi)
  src/core/i18n/ach/translation.ach.json
Due: prettier --write

fix org tags (#8267)
  src/domain/platform/admin/components/Organization/OrganizationForm.tsx
Due: eslint --fix, prettier --write

Fix the broken VC edit form (#8264)
  src/domain/common/reference/newReferenceName.ts
  src/domain/community/virtualContributor/vcProfilePage/VCProfilePageView.tsx
  src/domain/community/virtualContributorAdmin/vcSettingsPage/VirtualContributorForm.tsx
  src/domain/platform/admin/components/Common/ContextReferenceSegment.tsx
  src/domain/templates/components/Forms/common/mappings.ts
Due: eslint --fix, prettier --write

Profile Form Various fixes
  src/domain/common/location/LocationUtils.ts
  src/domain/common/profile/ProfileForm.tsx
  src/domain/common/profile/ProfileModel.ts
  src/domain/common/profile/ProfileModelUtils.ts
Due: eslint --fix, prettier --write

adjust translations
  src/core/i18n/en/translation.en.json
Due: prettier --write

reduce redundant code
  src/domain/common/location/LocationUtils.ts
  src/domain/common/profile/ProfileModelUtils.ts
Due: eslint --fix, prettier --write

Profile Form Various fixes (#8272)
  src/domain/common/location/LocationUtils.ts
  src/domain/common/profile/ProfileForm.tsx
  src/domain/common/profile/ProfileModel.ts
  src/domain/common/profile/ProfileModelUtils.ts
Due: eslint --fix, prettier --write

Fix the post settings visuals
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/post/graphql/PostSettingsQueries.graphql
Due: eslint --fix, prettier --write

remove two failing tests with mainly skip content
  src/core/ui/dialogs/RemoveModal.spec.tsx
  src/domain/community/applicationButton/ApplicationButton.spec.tsx
Due: eslint --fix, prettier --write

Fix the post settings visuals (#8276)
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/collaboration/post/graphql/PostSettingsQueries.graphql
Due: eslint --fix, prettier --write

bringing back ^ for Kratos client
  package-lock.json
  package.json
Due: prettier --write

revert the tagset logic of VC profile settings
  src/domain/community/virtualContributorAdmin/vcSettingsPage/VirtualContributorForm.tsx
Due: eslint --fix, prettier --write

fix subspace updates missing communityId, also fix failing silently with optional prop
  src/domain/community/community/CommunityUpdatesDialog/CommunityUpdatesDialog.tsx
  src/domain/space/components/subspaces/DialogActions.tsx
  src/domain/space/layout/tabbedLayout/Tabs/SpaceDashboard/SpaceDashboardPage.tsx
Due: eslint --fix, prettier --write

revert the tagset logic of VC profile settings (#8281)
  src/domain/community/virtualContributorAdmin/vcSettingsPage/VirtualContributorForm.tsx
Due: eslint --fix, prettier --write

fix subspace updates missing communityId, also fix failing silently with optional prop (#8282)
  src/domain/community/community/CommunityUpdatesDialog/CommunityUpdatesDialog.tsx
  src/domain/space/components/subspaces/DialogActions.tsx
  src/domain/space/layout/tabbedLayout/Tabs/SpaceDashboard/SpaceDashboardPage.tsx
Due: eslint --fix, prettier --write

Revert "There's no Subspace tutorials in the server changed the switch to Add/Skip template's callouts (#8257)"
  src/core/i18n/en/translation.en.json
  src/domain/space/components/subspaces/CreateSubspaceForm.tsx
  src/domain/space/components/subspaces/SubspaceCreationDialog/CreateSubspace.tsx
  src/domain/space/components/subspaces/SubspaceCreationDialog/SubspaceCreationDialog.tsx
  src/domain/space/components/subspaces/SubspaceCreationDialog/SubspaceCreationForm.ts
  src/domain/space/hooks/useSubspaceCreation/useSubspaceCreation.ts
  src/domain/space/layout/tabbedLayout/Tabs/SpaceSubspacesPage.tsx
  src/domain/spaceAdmin/SpaceAdminSubspaces/SpaceAdminSubspacesPage.tsx
Due: eslint --fix, prettier --write

remove the tutorial option for subspaces
  src/domain/space/components/subspaces/CreateSubspaceForm.tsx
Due: eslint --fix, prettier --write

addressing comments
  src/core/auth/authentication/AuthenticationLayout.tsx
  src/core/auth/authentication/components/Kratos/KratosSocialButton.tsx
  src/core/auth/authentication/components/KratosUI.tsx
  src/core/auth/authentication/pages/AcceptTerms.tsx
  src/core/auth/authentication/pages/RegistrationPage.tsx
  src/core/i18n/en/translation.en.json
Due: eslint --fix, prettier --write

graphql codegen compiling
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/ach/translation.ach.json
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/en/translation.en.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
  src/core/i18n/pt/translation.pt.json
  src/core/i18n/ua/translation.ua.json
  src/domain/InnovationPack/DashboardInnovationPacks/useInnovationPackCardProps.ts
  src/domain/InnovationPack/InnovationPackCard/InnovationPackCard.tsx
  src/domain/InnovationPack/InnovationPackCardHorizontal/InnovationPackCardHorizontal.tsx
  src/domain/InnovationPack/admin/AdminInnovationPacks.graphql
  src/domain/account/queries/AccountInformation.graphql
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/InnovationFlowSettings.graphql
  src/domain/community/contributor/Account/AccountResourcesView.tsx
  src/domain/community/contributor/Account/ContributorAccountView.tsx
  src/domain/community/contributor/useAccountResources/AccountResourcesInfo.graphql
  src/domain/spaceAdmin/SpaceAdminSubspaces/graphql/SpaceAdminDefaultTemplatesCollaborationDetails.graphql
  src/domain/templates-manager/SelectDefaultCollaborationTemplate/SelectDefaultCollaborationTemplateDialog.tsx
  src/domain/templates-manager/SelectDefaultCollaborationTemplate/SpaceCollaborationTemplates.graphql
  src/domain/templates/components/Dialogs/ImportTemplateDialog/ImportTemplateDialog.graphql
  src/domain/templates/components/Forms/CollaborationFromSpaceUrlForm.tsx
  src/domain/templates/components/TemplatesAdmin/TemplatesAdmin.tsx
  src/domain/templates/graphql/TemplateContent.graphql
  src/domain/templates/graphql/TemplateFragments.graphql
  src/domain/templates/graphql/TemplateMutations.graphql
  src/domain/templates/graphql/TemplatesSetFragments.graphql
  src/main/topLevelPages/InnovationLibraryPage/InnovationLibraryPage.graphql
Due: eslint --fix, prettier --write

code compiling; TODOs still remaining
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/InnovationPack/InnovationPackCard/InnovationPackCard.tsx
  src/domain/InnovationPack/admin/AdminInnovationPackPage.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/InnovationFlowSettings.graphql
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/InnovationFlowSettingsDialog.tsx
  src/domain/collaboration/InnovationFlow/InnovationFlowDialogs/useInnovationFlowSettings.tsx
  src/domain/spaceAdmin/SpaceAdminSettings/SpaceAdminSettingsPage.tsx
  src/domain/spaceAdmin/SpaceAdminSubspaces/SpaceAdminSubspacesPage.tsx
  src/domain/spaceAdmin/SpaceAdminTemplates/SpaceAdminTemplatesPage.tsx
  src/domain/templates-manager/SelectDefaultCollaborationTemplate/SelectDefaultCollaborationTemplateDialog.tsx
  src/domain/templates/components/Dialogs/CreateEditTemplateDialog/EditTemplateDialog.tsx
  src/domain/templates/components/Dialogs/ImportTemplateDialog/ImportTemplatesDialog.tsx
  src/domain/templates/components/Forms/CollaborationFromSpaceUrlForm.tsx
  src/domain/templates/components/Forms/CollaborationTemplateForm.tsx
  src/domain/templates/components/Forms/TemplateForm.tsx
  src/domain/templates/components/Forms/common/mappings.ts
  src/domain/templates/components/Previews/SpaceContentTemplatePreview.tsx
  src/domain/templates/components/Previews/TemplatePreview.tsx
  src/domain/templates/components/TemplateSelectors/SubspaceTemplateSelector.tsx
  src/domain/templates/components/TemplatesAdmin/TemplatesAdmin.tsx
  src/domain/templates/components/cards/CollaborationTemplateCard.tsx
  src/domain/templates/components/cards/TemplateCard.tsx
  src/domain/templates/graphql/TemplateFragments.graphql
  src/domain/templates/hooks/useCreateCollaborationTemplate.ts
  src/domain/templates/hooks/useCreateSpaceContentTemplate.ts
  src/domain/templates/models/CollaborationTemplate.tsx
  src/domain/templates/models/SpaceContentTemplate.tsx
  src/domain/templates/models/TemplateBase.ts
  src/domain/templates/models/common.ts
Due: eslint --fix, prettier --write

started cleaning up the retrieval of space + its collaboration by URL
  src/core/i18n/en/translation.en.json
  src/core/i18n/ua/translation.ua.json
  src/domain/collaboration/callout/calloutBlock/CalloutSettingsContainer.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/SpaceAdminCommunityPage.tsx
  src/domain/spaceAdmin/SpaceAdminSettings/SpaceAdminSettingsPage.tsx
  src/domain/spaceAdmin/SpaceAdminSubspaces/SpaceAdminSubspacesPage.tsx
  src/domain/templates/components/Forms/SpaceFromSpaceUrlForm.tsx
  src/domain/templates/components/Forms/TemplateContentCalloutForm.tsx
  src/domain/templates/components/Forms/TemplateContentCommunityGuidelinesForm.tsx
  src/domain/templates/components/Forms/TemplateContentPostForm.tsx
  src/domain/templates/components/Forms/TemplateContentSpaceForm.tsx
  src/domain/templates/components/Forms/TemplateForm.tsx
  src/domain/templates/components/Forms/common/mappings.ts
  src/domain/templates/components/TemplatesAdmin/TemplatesAdmin.tsx
  src/domain/templates/hooks/useCreateCalloutTemplate.ts
  src/domain/templates/hooks/useCreateSpaceContentTemplate.ts
Due: eslint --fix, prettier --write

renamings
  src/domain/collaboration/callout/calloutBlock/CalloutSettingsContainer.tsx
  src/domain/spaceAdmin/SpaceAdminSettings/SpaceAdminSettingsPage.tsx
  src/domain/spaceAdmin/SpaceAdminSubspaces/SpaceAdminSubspacesPage.tsx
  src/domain/templates/components/Forms/TemplateContentCalloutForm.tsx
  src/domain/templates/components/Forms/TemplateContentCommunityGuidelinesForm.tsx
  src/domain/templates/components/Forms/TemplateContentPostForm.tsx
  src/domain/templates/components/Forms/TemplateContentSpaceForm.tsx
  src/domain/templates/components/Forms/TemplateForm.tsx
  src/domain/templates/components/Forms/common/mappings.ts
  src/domain/templates/components/TemplatesAdmin/TemplatesAdmin.tsx
  src/domain/templates/hooks/useCreateCalloutTemplate.ts
  src/domain/templates/hooks/useCreateSpaceContentTemplate.ts
Due: eslint --fix, prettier --write

Simplifies CI and test setup
  .travis.yml
  package.json
Due: prettier --write

tidied up the comments to clarify what is happening in the form for space content
  src/domain/templates/components/Forms/TemplateContentSpaceForm.tsx
  src/domain/templates/components/Forms/TemplateContentWhiteboardForm.tsx
  src/domain/templates/components/Forms/TemplateForm.tsx
  src/domain/templates/components/Forms/common/mappings.ts
  src/domain/templates/components/TemplatesAdmin/TemplatesAdmin.tsx
Due: eslint --fix, prettier --write

additional comments tidy up
  src/domain/templates/components/Forms/TemplateContentSpaceForm.tsx
  src/domain/templates/components/Forms/common/mappings.ts
  src/domain/templates/components/TemplatesAdmin/TemplatesAdmin.tsx
Due: eslint --fix, prettier --write

tidy up logic
  src/domain/templates/components/Forms/TemplateContentSpaceForm.tsx
Due: eslint --fix, prettier --write

fix build and add tooltips for disabled inputs/buttons
  src/core/auth/authentication/components/AcceptTermsButton.tsx
  src/core/auth/authentication/components/Kratos/KratosButton.tsx
  src/core/auth/authentication/components/Kratos/KratosInput.tsx
Due: eslint --fix, prettier --write

tidy up in session
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/space/hooks/useSubspaceCreation/useSubspaceCreation.ts
  src/domain/spaceAdmin/SpaceAdminCommunity/SpaceAdminCommunityPage.tsx
  src/domain/templates/components/Forms/TemplateContentSpaceForm.tsx
  src/domain/templates/components/Forms/common/mappings.ts
  src/domain/templates/components/Previews/TemplateContentSpacePreview.tsx
  src/domain/templates/components/Previews/TemplatePreview.tsx
  src/domain/templates/components/TemplatesAdmin/TemplatesAdmin.tsx
  src/domain/templates/components/cards/CollaborationTemplateCard.tsx
  src/domain/templates/graphql/TemplateContent.graphql
  src/domain/templates/models/SpaceContentTemplate.tsx
  src/domain/templates/models/TemplateBase.ts
  src/domain/templates/models/TemplateContentSpaceModel.tsx
  src/domain/templates/models/common.ts
Due: eslint --fix, prettier --write

renaming svg icons
  src/core/auth/authentication/components/AuthProviders/linkedin.svg
  src/core/auth/authentication/components/AuthProviders/microsoft.svg
Due: none
