Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

react-markdown update + md plugins updates
  package-lock.json
  package.json
  src/core/ui/markdown/WrapperMarkdown.tsx
  src/core/ui/markdown/components/MarkdownComponent.tsx
  src/core/ui/markdown/components/MarkdownHeading.tsx
  src/core/ui/markdown/components/MarkdownLink.tsx
  src/core/ui/markdown/components/MarkdownList.tsx
  src/core/ui/markdown/components/MarkdownListItem.tsx
  src/core/ui/markdown/components/MarkdownMedia.tsx
  src/core/ui/markdown/components/MarkdownParagraph.tsx
  src/core/ui/markdown/html/UnifiedConverter.ts
  src/domain/collaboration/callout/comments/CommentsCalloutLayout.tsx
Due: eslint --fix, prettier --write

sync unified latest version
  package-lock.json
  package.json
Due: prettier --write

remove resizable on data grid as that is part of pro version
  src/core/ui/table/DataGridSkeleton.tsx
  src/core/ui/table/DataGridTable.tsx
  src/domain/innovationHub/InnovationHubsSettings/InnovationHubSpacesField.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityMemberships.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityOrganizations.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityUsers.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityVirtualContributors.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/dialogs/CommunityAddMembersDialog.tsx
Due: eslint --fix, prettier --write

remove resizable on data grid as that is part of pro version (#8137)
  src/core/ui/table/DataGridSkeleton.tsx
  src/core/ui/table/DataGridTable.tsx
  src/domain/innovationHub/InnovationHubsSettings/InnovationHubSpacesField.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityMemberships.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityOrganizations.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityUsers.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityVirtualContributors.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/dialogs/CommunityAddMembersDialog.tsx
Due: eslint --fix, prettier --write

reworked to use custom mdast plugins for the conversion, both ways
  .vscode/settings.json
  src/core/ui/markdown/CroppedMarkdown.tsx
  src/core/ui/markdown/WrapperMarkdown.tsx
  src/core/ui/markdown/html/UnifiedConverter.ts
Due: eslint --fix, prettier --write

added a todo
  src/core/ui/markdown/html/UnifiedConverter.ts
Due: eslint --fix, prettier --write

New translations translation.en.json (Dutch)
  src/core/i18n/nl/translation.nl.json
Due: prettier --write

addressed rabbit suggestions
  src/core/ui/markdown/html/UnifiedConverter.ts
Due: eslint --fix, prettier --write

added types for mdast
  package-lock.json
  package.json
Due: prettier --write

css
  src/domain/collaboration/callout/comments/CommentsCalloutLayout.tsx
  src/root.tsx
Due: eslint --fix, prettier --write

Restore the conversion and do this properly
  src/core/ui/markdown/PlainText.ts
  src/core/ui/markdown/html/UnifiedConverter.ts
Due: eslint --fix, prettier --write

removed mdast-builder
  package-lock.json
  package.json
  src/core/ui/markdown/PlainText.ts
  src/core/ui/markdown/html/UnifiedConverter.ts
  src/core/ui/markdown/utils/unist-builders.ts
Due: eslint --fix, prettier --write

cleanup
  src/core/ui/markdown/components/MarkdownLink.tsx
  src/core/ui/markdown/components/MarkdownListItem.tsx
  src/core/ui/markdown/components/MarkdownMedia.tsx
  src/core/ui/markdown/html/UnifiedConverter.ts
Due: eslint --fix, prettier --write

Fix error thrown in some markdowns
  src/core/ui/markdown/WrapperMarkdown.tsx
Due: eslint --fix, prettier --write

Markdown editor update (#8135)
  .vscode/settings.json
  package-lock.json
  package.json
  src/core/ui/markdown/CroppedMarkdown.tsx
  src/core/ui/markdown/PlainText.ts
  src/core/ui/markdown/WrapperMarkdown.tsx
  src/core/ui/markdown/components/MarkdownComponent.tsx
  src/core/ui/markdown/components/MarkdownHeading.tsx
  src/core/ui/markdown/components/MarkdownLink.tsx
  src/core/ui/markdown/components/MarkdownList.tsx
  src/core/ui/markdown/components/MarkdownListItem.tsx
  src/core/ui/markdown/components/MarkdownMedia.tsx
  src/core/ui/markdown/components/MarkdownParagraph.tsx
  src/core/ui/markdown/html/UnifiedConverter.ts
  src/core/ui/markdown/utils/unist-builders.ts
  src/domain/collaboration/callout/comments/CommentsCalloutLayout.tsx
  src/root.tsx
Due: eslint --fix, prettier --write

uuid updated and nanoid removed
  package-lock.json
  package.json
  src/domain/collaboration/callout/links/LinkCollectionCallout.tsx
Due: eslint --fix, prettier --write

Removed clsx package
  package-lock.json
  package.json
  src/domain/collaboration/post/views/PostDashboardTagLabel.tsx
Due: eslint --fix, prettier --write

Update immer
  package-lock.json
  package.json
  src/core/apollo/subscriptions/useSubscriptionToSubEntity.ts
  src/core/auth/authentication/pages/LoginPage.tsx
  src/core/auth/authentication/pages/RegistrationPage.tsx
  src/core/auth/authentication/pages/SignUp.tsx
  src/core/auth/authentication/pages/VerificationPage.tsx
  src/core/ui/forms/MarkdownInputControls/MarkdownInputControls.tsx
  src/domain/space/components/spaceDashboardNavigation/dashboardNavigation/DashboardNavigation.tsx
  src/domain/spaceAdmin/SpaceAdminStorage/useStorageAdminTree.tsx
Due: eslint --fix, prettier --write

Update prettier
  package-lock.json
  package.json
Due: prettier --write

update typescript
  package-lock.json
  package.json
Due: prettier --write

fix buidl error
  src/domain/community/community/RoleSetContributors/ContributingOrganizations.tsx
Due: eslint --fix, prettier --write

upgraded i18n packages fully using copilot in agent mode
  @types/react-i18next/index.d.ts
  package-lock.json
  package.json
  src/core/auth/authentication/components/Kratos/helpers.ts
  src/core/i18n/utils/TranslationKey.ts
  src/core/ui/typography/useTranslationWithLineBreaks.tsx
  src/core/utils/time/utils.ts
  src/domain/common/link/newLinkName.ts
  src/domain/common/reference/newReferenceName.ts
  src/domain/license/plans/utils/getPlanTranslations.ts
  src/domain/shared/utils/formatTimeElapsed.ts
  src/domain/space/components/subspaces/DialogActionButton.tsx
  src/domain/space/layout/tabbedLayout/layout/useSpaceTabs.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityMemberships.tsx
  src/domain/spaceAdmin/SpaceAdminStorage/useStorageAdminTree.tsx
  src/main/guidance/chatWidget/ChatWidgetFooter.tsx
  src/main/topLevelPages/myDashboard/ExploreSpaces/ExploreSpacesContainer.tsx
  src/main/topLevelPages/myDashboard/tipsAndTricks/TipsAndTricks.tsx
Due: eslint --fix, prettier --write

updated yup to v 1.6 and had copilot make the various code changes
  package-lock.json
  package.json
  src/core/ui/forms/MarkdownInput/MarkdownValidator.ts
  src/core/ui/forms/validator/displayNameValidator.ts
  src/core/ui/forms/validator/nameIdValidator.ts
  src/core/ui/upload/VisualUpload/CropDialog.tsx
  src/domain/collaboration/callout/CalloutForm.tsx
  src/domain/community/applicationButton/ApplicationDialog.tsx
  src/domain/platform/admin/components/Common/ReferenceSegment.tsx
  src/domain/shared/components/References/CreateLinksDialog.tsx
  src/domain/shared/components/References/EditLinkDialog.tsx
  src/domain/shared/i18n/ValidationMessageTranslation/index.ts
  src/domain/space/components/subspaces/CreateSubspaceForm.tsx
  src/domain/templates/components/Forms/CalloutTemplateForm.tsx
  src/domain/templates/components/Forms/TemplateFormBase.tsx
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/AddContent/AddContentForm.tsx
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/CreateExternalAIDialog.tsx
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/CreateNewVirtualContributor.tsx
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/ExternalAIComingSoonDialog.tsx
Due: eslint --fix, prettier --write

updated retrieval of VCs for space to use pagination from server
  src/core/apollo/config/typePolicies.ts
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/spaceAdmin/SpaceAdminCommunity/hooks/AvailableVirtualContributors.graphql
  src/domain/spaceAdmin/SpaceAdminCommunity/hooks/useVirtualContributorsAdmin.ts
Due: eslint --fix, prettier --write

review of the messages
  src/core/ui/forms/MarkdownInput/MarkdownValidator.ts
  src/core/ui/forms/validator/displayNameValidator.ts
  src/core/ui/forms/validator/nameIdValidator.ts
  src/core/ui/upload/VisualUpload/CropDialog.tsx
  src/domain/platform/admin/components/Common/ReferenceSegment.tsx
  src/domain/shared/components/References/CreateLinksDialog.tsx
  src/domain/shared/components/References/EditLinkDialog.tsx
  src/domain/space/components/subspaces/CreateSubspaceForm.tsx
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/AddContent/AddContentForm.tsx
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/CreateNewVirtualContributor.tsx
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/ExternalAIComingSoonDialog.tsx
Due: eslint --fix, prettier --write

a few fixes more
  src/domain/collaboration/callout/CalloutForm.tsx
  src/domain/community/applicationButton/ApplicationDialog.tsx
  src/domain/shared/components/References/EditLinkDialog.tsx
  src/domain/templates/components/Forms/CalloutTemplateForm.tsx
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/CreateExternalAIDialog.tsx
Due: eslint --fix, prettier --write

updated yup to v 1.6 and had copilot make the various code changes (#8148)
  package-lock.json
  package.json
  src/core/ui/forms/MarkdownInput/MarkdownValidator.ts
  src/core/ui/forms/validator/displayNameValidator.ts
  src/core/ui/forms/validator/nameIdValidator.ts
  src/core/ui/upload/VisualUpload/CropDialog.tsx
  src/domain/collaboration/callout/CalloutForm.tsx
  src/domain/community/applicationButton/ApplicationDialog.tsx
  src/domain/platform/admin/components/Common/ReferenceSegment.tsx
  src/domain/shared/components/References/CreateLinksDialog.tsx
  src/domain/shared/components/References/EditLinkDialog.tsx
  src/domain/shared/i18n/ValidationMessageTranslation/index.ts
  src/domain/space/components/subspaces/CreateSubspaceForm.tsx
  src/domain/templates/components/Forms/CalloutTemplateForm.tsx
  src/domain/templates/components/Forms/TemplateFormBase.tsx
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/AddContent/AddContentForm.tsx
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/CreateExternalAIDialog.tsx
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/CreateNewVirtualContributor.tsx
  src/main/topLevelPages/myDashboard/newVirtualContributorWizard/ExternalAIComingSoonDialog.tsx
Due: eslint --fix, prettier --write

show updates block only when side navigation is expanded (#8133)
  src/domain/space/layout/SubspaceInfoColumn.tsx
Due: eslint --fix, prettier --write

initial pass at updating for new kratos + axios versions
  package-lock.json
  package.json
  src/core/auth/authentication/components/Kratos/KratosSocialButton.tsx
  src/core/auth/authentication/components/Kratos/UiNodeTypes.ts
  src/core/auth/authentication/components/Kratos/helpers.ts
  src/core/auth/authentication/components/KratosAcceptTermsButton.tsx
  src/core/auth/authentication/components/KratosUI.tsx
  src/core/auth/authentication/hooks/useKratosClient.ts
  src/core/auth/authentication/hooks/useKratosFlow.ts
  src/core/auth/authentication/hooks/useLogoutUrl.ts
  src/core/auth/authentication/hooks/useWhoami.ts
  src/core/auth/authentication/pages/AcceptTerms.tsx
  src/core/auth/authentication/pages/LoginPage.tsx
  src/core/auth/authentication/pages/RegistrationPage.tsx
  src/core/auth/authentication/pages/SignUp.tsx
  src/core/auth/authentication/pages/VerificationPage.tsx
  src/core/auth/authentication/routing/ErrorRoute.tsx
Due: eslint --fix, prettier --write

not used
  src/core/ui/typography/useTranslationWithLineBreaks.tsx
Due: eslint --fix, prettier --write

done TranslationKey properly
  src/core/i18n/utils/TranslationKey.ts
Due: eslint --fix, prettier --write

this is not needed anymore
  src/core/apollo/hooks/useApolloErrorHandler.ts
Due: eslint --fix, prettier --write

clean up
  src/core/apollo/hooks/useApolloErrorHandler.ts
  src/core/utils/time/utils.ts
  src/domain/common/link/newLinkName.ts
  src/domain/common/reference/newReferenceName.ts
  src/domain/license/plans/utils/getPlanTranslations.ts
  src/domain/shared/utils/formatTimeElapsed.ts
  src/domain/space/layout/tabbedLayout/layout/useSpaceTabs.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityMemberships.tsx
  src/domain/spaceAdmin/SpaceAdminStorage/useStorageAdminTree.tsx
Due: eslint --fix, prettier --write

Finally working
  @types/i18next.d.ts
  @types/react-i18next/index.d.ts
  src/core/apollo/hooks/useApolloErrorHandler.ts
  src/core/i18n/config.ts
  src/core/i18n/en/translation.en.json
  src/core/i18n/utils/TranslationKey.ts
  src/domain/license/plans/utils/getPlanTranslations.ts
  src/domain/platform/admin/layout/EntitySettingsLayout/SettingsPageContent.tsx
  src/domain/space/components/subspaces/DialogActionButton.tsx
  src/main/guidance/chatWidget/ChatWidgetFooter.tsx
  src/main/topLevelPages/myDashboard/ExploreSpaces/ExploreSpacesContainer.tsx
  src/main/topLevelPages/myDashboard/tipsAndTricks/TipsAndTricks.tsx
Due: eslint --fix, prettier --write

not needed
  @types/i18next.d.ts
Due: none

Upgraded i18n packages (#8147)
  @types/i18next.d.ts
  @types/react-i18next/index.d.ts
  package-lock.json
  package.json
  src/core/apollo/hooks/useApolloErrorHandler.ts
  src/core/auth/authentication/components/Kratos/helpers.ts
  src/core/i18n/config.ts
  src/core/i18n/en/translation.en.json
  src/core/i18n/utils/TranslationKey.ts
  src/core/ui/typography/useTranslationWithLineBreaks.tsx
  src/core/utils/time/utils.ts
  src/domain/common/link/newLinkName.ts
  src/domain/common/reference/newReferenceName.ts
  src/domain/license/plans/utils/getPlanTranslations.ts
  src/domain/platform/admin/layout/EntitySettingsLayout/SettingsPageContent.tsx
  src/domain/shared/utils/formatTimeElapsed.ts
  src/domain/space/components/subspaces/DialogActionButton.tsx
  src/domain/space/layout/tabbedLayout/layout/useSpaceTabs.tsx
  src/domain/spaceAdmin/SpaceAdminCommunity/components/CommunityMemberships.tsx
  src/domain/spaceAdmin/SpaceAdminStorage/useStorageAdminTree.tsx
  src/main/guidance/chatWidget/ChatWidgetFooter.tsx
  src/main/topLevelPages/myDashboard/ExploreSpaces/ExploreSpacesContainer.tsx
  src/main/topLevelPages/myDashboard/tipsAndTricks/TipsAndTricks.tsx
Due: eslint --fix, prettier --write

New translations translation.en.json (French)
  src/core/i18n/fr/translation.fr.json
Due: prettier --write

New translations translation.en.json (Spanish)
  src/core/i18n/es/translation.es.json
Due: prettier --write

New translations translation.en.json (Bulgarian)
  src/core/i18n/bg/translation.bg.json
Due: prettier --write

New translations translation.en.json (German)
  src/core/i18n/de/translation.de.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
