Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

resolve rabbit comments
  src/core/help/dialog/HelpDialog.tsx
Due: eslint --fix, prettier --write

update help dialog links
  src/core/help/dialog/HelpDialog.tsx
Due: eslint --fix, prettier --write

resolve pr comments
  src/core/help/dialog/HelpDialog.tsx
  src/core/i18n/en/translation.en.json
  src/main/routing/TopLevelRoutePath.ts
  src/main/routing/urlBuilders.ts
Due: eslint --fix, prettier --write

fix color, remove comments
  src/core/help/dialog/HelpDialog.tsx
Due: eslint --fix, prettier --write

refactor the support dialog including a link to the new Documentation (#7258)
  package.json
  src/core/help/dialog/HelpDialog.tsx
  src/core/i18n/en/translation.en.json
  src/main/routing/TopLevelRoutePath.ts
  src/main/routing/urlBuilders.ts
Due: eslint --fix, prettier --write

Cleanup
  src/core/ui/upload/FormikVisualUpload/FormikVisualUpload.tsx
  src/domain/journey/opportunity/forms/CreateOpportunityForm.tsx
  src/domain/journey/space/pages/SpaceSubspaces/SubspaceListView.tsx
  src/domain/journey/space/pages/SpaceSubspacesPage.tsx
  src/domain/journey/subspace/pages/SubspaceProfile/SubspaceProfileView.tsx
  src/domain/journey/subspace/subspaceHome/dialogs/CreateJourney.tsx
  src/domain/platform/admin/opportunity/pages/OpportunityList.tsx
  src/domain/shared/components/JorneyCreationDialog/JourneyCreationDialog.tsx
  src/domain/shared/utils/useSubspaceCreation/useSubspaceCreation.ts
Due: eslint --fix, prettier --write

clean up
  src/core/ui/forms/FormikRadiosSwitch.tsx
  src/core/ui/grid/Gutters.tsx
  src/core/ui/upload/FormikVisualUpload/PlatformVisualsDimensions.graphql
  src/domain/innovationHub/InnovationHubsAdmin/InnovationHubForm.tsx
  src/domain/journey/defaultVisuals/defaultVisualUrls.ts
  src/domain/journey/subspace/forms/CreateSubspaceForm.tsx
  src/domain/shared/components/JorneyCreationDialog/JourneyCreationDialog.tsx
Due: eslint --fix, prettier --write

comments display logic; design chenages; documentaion
  src/core/apollo/generated/apollo-hooks.ts
  src/core/i18n/en/translation.en.json
  src/main/inAppNotifications/graphql/InAppNotificationsFragments.graphql
  src/main/inAppNotifications/inAppNotificationsDocs.md
  src/main/inAppNotifications/views/InAppNotificationBaseView.tsx
Due: eslint --fix, prettier --write

These shouldn't be spaceNameIds
  src/domain/journey/space/pages/SpaceSubspaces/SubspaceListView.tsx
  src/domain/templates/hooks/useCreateCollaborationTemplate.ts
Due: eslint --fix, prettier --write

Rename folder
  src/domain/journey/space/pages/SpaceSubspaces/SubspaceListView.tsx
  src/domain/journey/space/pages/SpaceSubspacesPage.tsx
  src/domain/journey/subspace/forms/CreateSubspaceForm.tsx
  src/domain/journey/subspace/subspaceHome/dialogs/CreateJourney.tsx
  src/domain/platform/admin/opportunity/pages/OpportunityList.tsx
  src/domain/shared/components/JourneyCreationDialog/JourneyCreationDialog.tsx
  src/domain/shared/components/JourneyCreationDialog/JourneyCreationForm.ts
Due: eslint --fix, prettier --write

address coderabbit feedback
  src/core/ui/upload/FormikVisualUpload/FormikVisualUpload.tsx
  src/domain/shared/components/JourneyCreationDialog/JourneyCreationDialog.tsx
  src/domain/shared/utils/useSubspaceCreation/useSubspaceCreation.ts
  src/domain/templates/components/TemplateSelectors/SubspaceTemplateSelector.tsx
Due: eslint --fix, prettier --write

update coderabbit config to reduce the try/catch suggestions
  .coderabbit.yaml
Due: none

disable auto-increment reviews
  .coderabbit.yaml
Due: none

fix auto_Review placement
  .coderabbit.yaml
Due: none

enable the auto_incremental_reviews as the rabbit suggested it
  .coderabbit.yaml
Due: none

use code-guidelines.md instruction
  .coderabbit.yaml
Due: none

non-null assertion w example rule
  .coderabbit.yaml
Due: none

path fix
  .coderabbit.yaml
Due: none

test
  test.txt
Due: none

Coderabbit config update (#7260)
  .coderabbit.yaml
Due: none

coderabbit test
  .coderabbit.yaml
Due: none

add must-have eslint rules
  .eslintrc.js
  .vscode/extensions.json
  package-lock.json
  package.json
Due: prettier --write

fix rabbit comment
  tsconfig.json
Due: prettier --write

Clean up the use of `WrapperButton`
  src/core/pages/Errors/ErrorPage.tsx
  src/core/pages/Restricted/RestrictedPage.tsx
  src/core/ui/button/HelpButton.tsx
  src/core/ui/button/deprecated/NegativeButton.tsx
  src/core/ui/button/deprecated/WrapperButton.tsx
  src/core/ui/dialogs/RemoveModal.tsx
  src/domain/community/user/userPopUp/UserPopUp.tsx
  src/domain/platform/admin/components/Common/CreateGroupForm.tsx
  src/domain/platform/admin/components/Group/GroupForm/GroupForm.tsx
  src/domain/platform/admin/components/Group/GroupMembersDetails.tsx
  src/domain/platform/admin/components/Organization/OrganizationForm.tsx
  src/domain/platform/admin/components/User/UserRemoveModal.tsx
Due: eslint --fix, prettier --write

Address coderabbitai comments
  src/core/ui/button/HelpButton.tsx
  src/core/ui/button/NegativeButton.tsx
  src/core/ui/dialogs/RemoveModal.tsx
  src/domain/community/user/userPopUp/UserPopUp.tsx
  src/domain/platform/admin/components/Group/GroupForm/GroupForm.tsx
  src/domain/platform/admin/components/Organization/OrganizationForm.tsx
  src/domain/platform/admin/components/User/UserRemoveModal.tsx
  src/domain/shared/components/Section/SectionHeader.tsx
Due: eslint --fix, prettier --write

Clean up the use of `WrapperButton` (#7263)
  src/core/pages/Errors/ErrorPage.tsx
  src/core/pages/Restricted/RestrictedPage.tsx
  src/core/ui/button/HelpButton.tsx
  src/core/ui/button/NegativeButton.tsx
  src/core/ui/button/deprecated/WrapperButton.tsx
  src/core/ui/dialogs/RemoveModal.tsx
  src/domain/community/user/userPopUp/UserPopUp.tsx
  src/domain/platform/admin/components/Common/CreateGroupForm.tsx
  src/domain/platform/admin/components/Group/GroupForm/GroupForm.tsx
  src/domain/platform/admin/components/Group/GroupMembersDetails.tsx
  src/domain/platform/admin/components/Organization/OrganizationForm.tsx
  src/domain/platform/admin/components/User/UserRemoveModal.tsx
  src/domain/shared/components/Section/SectionHeader.tsx
Due: eslint --fix, prettier --write

Remove unused code
  src/domain/journey/subspace/pages/SubspaceProfile/SubspaceProfilePage.tsx
  src/domain/journey/subspace/pages/SubspaceProfile/SubspaceProfileView.tsx
  src/domain/platform/admin/opportunity/pages/OpportunityProfile/OpportunityProfilePage.tsx
  src/domain/platform/admin/opportunity/pages/OpportunityProfile/OpportunityProfileView.tsx
Due: eslint --fix, prettier --write

address comments
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/ui/upload/FormikVisualUpload/FormikVisualUpload.tsx
  src/core/ui/upload/FormikVisualUpload/PlatformVisualsDimensions.graphql
  src/domain/shared/utils/useSubspaceCreation/useSubspaceCreation.ts
Due: eslint --fix, prettier --write

Refactor server to defaultVisualTypeConstratints with an argument
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/ui/upload/FormikVisualUpload/DefaultVisualTypeConstraints.graphql
  src/core/ui/upload/FormikVisualUpload/FormikVisualUpload.tsx
  src/core/ui/upload/FormikVisualUpload/PlatformVisualsDimensions.graphql
Due: eslint --fix, prettier --write

pr rabbit fixes
  src/core/i18n/en/translation.en.json
  src/main/inAppNotifications/InAppNotificationsList.tsx
  src/main/inAppNotifications/useInAppNotifications.ts
  src/main/inAppNotifications/views/CollaborationCalloutPublishedView.tsx
  src/main/inAppNotifications/views/CommunicationUserMentionView.tsx
  src/main/inAppNotifications/views/CommunityNewMemberAdminView.tsx
  src/main/inAppNotifications/views/CommunityNewMemberView.tsx
  src/main/inAppNotifications/views/InAppNotificationBaseView.tsx
  src/main/ui/platformNavigation/PlatformNavigationBar.tsx
  src/main/ui/platformNavigation/PlatformNotificationsButton.tsx
Due: eslint --fix, prettier --write

enabled notifications only for Beta testers
  src/main/inAppNotifications/useInAppNotifications.ts
  src/main/ui/platformNavigation/PlatformNotificationsButton.tsx
Due: eslint --fix, prettier --write

update w the server chagnes
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/main/inAppNotifications/InAppNotificationItem.tsx
  src/main/inAppNotifications/useInAppNotifications.ts
  src/main/inAppNotifications/views/CommunityNewMemberAdminView.tsx
Due: eslint --fix, prettier --write

Fix the comments url Style improvements
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/main/inAppNotifications/graphql/InAppNotificationsFragments.graphql
  src/main/inAppNotifications/useInAppNotifications.ts
  src/main/inAppNotifications/views/CommunicationUserMentionView.tsx
  src/main/inAppNotifications/views/InAppNotificationBaseView.tsx
Due: eslint --fix, prettier --write

Address Bobby's and coderabbit comments
  src/core/i18n/en/translation.en.json
  src/core/ui/forms/FormikRadiosSwitch.tsx
  src/core/ui/upload/FormikVisualUpload/FormikVisualUpload.tsx
  src/domain/InnovationPack/DashboardInnovationPacks/InnovationPacksView.tsx
  src/domain/InnovationPack/DashboardLibraryTemplates/LibraryTemplatesView.tsx
  src/domain/journey/settings/routes/ChallengeRoute.tsx
  src/domain/journey/subspace/forms/CreateSubspaceForm.tsx
  src/domain/journey/subspace/pages/SubspaceProfile/SubspaceProfilePage.tsx
  src/domain/platform/admin/opportunity/pages/OpportunityList.tsx
  src/domain/shared/components/JourneyCreationDialog/JourneyCreationForm.ts
  src/main/topLevelPages/myDashboard/myMemberships/ExpandableSpaceTree.tsx
Due: eslint --fix, prettier --write

revert coderabbit.yml
  .coderabbit.yaml
Due: none

vision is not even sent anymore on subspace creation
  src/domain/journey/subspace/forms/CreateSubspaceForm.tsx
  src/domain/shared/components/JourneyCreationDialog/JourneyCreationDialog.tsx
  src/domain/shared/components/JourneyCreationDialog/JourneyCreationForm.ts
  src/domain/shared/utils/useSubspaceCreation/useSubspaceCreation.ts
Due: eslint --fix, prettier --write

codegen update after the server cleanup
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/main/topLevelPages/InnovationLibraryPage/InnovationLibraryPage.graphql
Due: eslint --fix, prettier --write

pr rabbit fix
  src/main/inAppNotifications/useInAppNotifications.ts
Due: eslint --fix, prettier --write

pr review - fix lint errors, remove unused files
  src/domain/InnovationPack/admin/AdminInnovationPackPage.tsx
  src/domain/platform/admin/space/SpaceTemplatesAdminPage.tsx
  src/domain/templates/components/Previews/InnovationFlowTemplatePreview.tsx
  src/domain/templates/models/InnovationFlowTemplate.tsx
Due: eslint --fix, prettier --write

Remove all Innovation Flow template code (#7249)
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/InnovationPack/DashboardInnovationPacks/useInnovationPackCardProps.ts
  src/domain/InnovationPack/InnovationPackCard/InnovationPackCard.tsx
  src/domain/InnovationPack/InnovationPackCardHorizontal/InnovationPackCardHorizontal.tsx
  src/domain/InnovationPack/admin/AdminInnovationPackPage.tsx
  src/domain/InnovationPack/admin/AdminInnovationPacks.graphql
  src/domain/account/queries/AccountInformation.graphql
  src/domain/collaboration/InnovationFlow/InnovationFlowIcon/InnovationFlowIcon.tsx
  src/domain/community/contributor/Account/AccountResourcesView.tsx
  src/domain/community/contributor/Account/ContributorAccountView.tsx
  src/domain/community/contributor/useAccountResources/AccountResourcesInfo.graphql
  src/domain/journey/space/graphql/queries/spaceInnovationFlowTemplates.graphql
  src/domain/platform/admin/space/SpaceTemplatesAdminPage.tsx
  src/domain/templates/components/Dialogs/CreateEditTemplateDialog/EditTemplateDialog.tsx
  src/domain/templates/components/Forms/InnovationFlowTemplateForm.tsx
  src/domain/templates/components/Forms/TemplateForm.tsx
  src/domain/templates/components/Previews/InnovationFlowTemplatePreview.tsx
  src/domain/templates/components/Previews/TemplatePreview.tsx
  src/domain/templates/components/TemplatesAdmin/TemplatesAdmin.tsx
  src/domain/templates/components/cards/InnovationFlowTemplateCard.tsx
  src/domain/templates/components/cards/TemplateCard.tsx
  src/domain/templates/graphql/TemplateContent.graphql
  src/domain/templates/graphql/TemplateFragments.graphql
  src/domain/templates/graphql/TemplatesSetFragments.graphql
  src/domain/templates/hooks/CreateInputQueries.graphql
  src/domain/templates/models/InnovationFlowTemplate.tsx
  src/domain/templates/models/TemplateBase.ts
  src/domain/templates/models/common.ts
  src/main/topLevelPages/InnovationLibraryPage/InnovationLibraryPage.graphql
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
