Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": "prettier --write"
}

ActivityDescription component
  src/domain/shared/components/ActivityDescription/ActivityDescription.tsx
Due: eslint --fix, prettier --write

React-scripts 5.0.1
  package-lock.json
  package.json
Due: prettier --write

Translate formatted time
  src/core/i18n/en/translation.en.json
  src/domain/communication/room/Comments/MessageView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityBaseView.tsx
  src/domain/shared/utils/formatTimeElapsed.ts
Due: eslint --fix, prettier --write

CommunityPolicy to also cover admins, hosts (#4288)
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/auth/authorization/graphql/mutations/privileges/assign/assignUserAsChallengeAdmin.graphql
  src/core/auth/authorization/graphql/mutations/privileges/assign/assignUserAsSpaceAdmin.graphql
  src/core/auth/authorization/graphql/mutations/privileges/remove/removeUserAsChallengeAdmin.graphql
  src/core/auth/authorization/graphql/mutations/privileges/remove/removeUserAsSpaceAdmin.graphql
  src/domain/challenge/challenge/pages/ChallengeAuthorization/ChallengeAuthorizationView.tsx
  src/domain/challenge/common/AboutPageContainer/AboutPageContainer.tsx
  src/domain/challenge/common/JourneyUnauthorizedDialog/JourneyData.graphql
  src/domain/challenge/opportunity/containers/OpportunityMembers.graphql
  src/domain/challenge/opportunity/containers/OpportunityMembers.tsx
  src/domain/challenge/space/SpaceCommunityPage/SpaceAuthorizationView.tsx
  src/domain/challenge/space/SpaceCommunityPage/SpaceCommunityPageQueries.graphql
  src/domain/challenge/space/SpaceDashboard/SpaceDashboard.graphql
  src/domain/challenge/space/pages/SpaceCommunity/useSpaceCommunityContext.ts
  src/domain/community/community/CommunityContributors/ComunityContributorsQueries.graphql
  src/domain/community/community/EntityDashboardCommunity/EntityDashboardCommunity.graphql
  src/domain/community/community/useCommunityAssignment/challengeCommunityMembers.graphql
  src/domain/community/community/useCommunityAssignment/communityRoleMutations.graphql
  src/domain/community/community/useCommunityAssignment/mutations.graphql
  src/domain/community/community/useCommunityAssignment/opportunityCommunityMembers.graphql
  src/domain/community/community/useCommunityAssignment/spaceCommunityMembers.graphql
Due: eslint --fix, prettier --write

temp
  src/common/components/composite/entities/User/UserSegment.tsx
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/core/ui/dialog/DialogHeader.tsx
  src/domain/challenge/common/JourneyAvatar/JourneyAvatar.tsx
  src/domain/challenge/space/SpaceDashboardNavigation/DashboardNavigationItemView.tsx
  src/domain/community/invitations/InvitationCardHorizontal/InvitationCardHorizontal.tsx
  src/domain/community/pendingMembership/PendingMemberships.graphql
  src/domain/community/pendingMembership/PendingMembershipsUserMenuItem.tsx
  src/domain/community/pendingMembership/usePendingMemberships.ts
Due: eslint --fix, prettier --write

temp
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/community/invitations/InvitationCardHorizontal/InvitationCardHorizontal.tsx
  src/domain/community/pendingMembership/PendingMemberships.graphql
  src/domain/community/pendingMembership/PendingMembershipsUserMenuItem.tsx
  src/domain/community/pendingMembership/usePendingMemberships.ts
  src/domain/community/pendingMembership/usePendingMemberships.tsx
Due: eslint --fix, prettier --write

Pending Memberships item in User menu
  src/core/i18n/en/translation.en.json
  src/core/ui/button/LinkButton.tsx
  src/domain/community/invitations/InvitationCardHorizontal/InvitationCardHorizontal.tsx
  src/domain/community/pendingMembership/PendingMemberships.tsx
  src/domain/community/pendingMembership/PendingMembershipsUserMenuItem.tsx
  src/domain/shared/types/CoreEntityIds.ts
Due: eslint --fix, prettier --write

BagdeCardView.outlined
  src/core/ui/list/BadgeCardView.tsx
  src/domain/community/invitations/InvitationCardHorizontal/InvitationCardHorizontal.tsx
Due: eslint --fix, prettier --write

Added JSDoc comment with an example string
  src/domain/shared/components/ActivityDescription/ActivityDescription.tsx
Due: eslint --fix, prettier --write

wip
  src/domain/shared/components/ActivityDescription/ActivityDescription.tsx
Due: eslint --fix, prettier --write

wip 2
  src/common/utils/urlBuilders.ts
  src/core/i18n/en/translation.en.json
  src/domain/shared/components/ActivityDescription/ActivityDescription.tsx
  src/domain/shared/components/ActivityLog/ActivityComponent.tsx
  src/domain/shared/components/ActivityLog/views/ActivityBaseView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityCalloutPublishedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityChallengeCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityDiscussionCommentCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityLoadingView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityMemberJoinedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityOpportunityCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityPostCommentCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityPostCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityUpdateSent.tsx
  src/domain/shared/components/ActivityLog/views/ActivityViewProps.ts
  src/domain/shared/components/ActivityLog/views/ActivityWhiteboardCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/useActivityViewParams.tsx
Due: eslint --fix, prettier --write

fixes
  src/common/utils/urlBuilders.ts
  src/core/i18n/en/translation.en.json
  src/domain/shared/components/ActivityLog/views/ActivityCalloutPublishedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityChallengeCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityDiscussionCommentCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityMemberJoinedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityOpportunityCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityPostCommentCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityPostCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityUpdateSent.tsx
  src/domain/shared/components/ActivityLog/views/ActivityViewProps.ts
  src/domain/shared/components/ActivityLog/views/ActivityWhiteboardCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/useActivityViewParams.tsx
Due: eslint --fix, prettier --write

excalidraw version updated
  package-lock.json
  package.json
Due: prettier --write

Finish
  src/core/i18n/en/translation.en.json
  src/domain/shared/components/ActivityDescription/ActivityDescription.tsx
  src/domain/shared/components/ActivityLog/views/ActivityCalloutPublishedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityChallengeCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityDiscussionCommentCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityMemberJoinedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityOpportunityCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityPostCommentCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityPostCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityUpdateSent.tsx
  src/domain/shared/components/ActivityLog/views/ActivityViewProps.ts
  src/domain/shared/components/ActivityLog/views/ActivityWhiteboardCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/useActivityViewParams.tsx
Due: eslint --fix, prettier --write

fix
  src/core/i18n/en/translation.en.json
Due: prettier --write

Simplify the link to parent link
  src/core/i18n/en/translation.en.json
  src/domain/shared/components/ActivityDescription/ActivityDescription.tsx
  src/domain/shared/components/ActivityLog/views/ActivityCalloutPublishedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityChallengeCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityDiscussionCommentCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityMemberJoinedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityOpportunityCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityPostCommentCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityPostCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/ActivityUpdateSent.tsx
  src/domain/shared/components/ActivityLog/views/ActivityWhiteboardCreatedView.tsx
  src/domain/shared/components/ActivityLog/views/useActivityViewParams.tsx
Due: eslint --fix, prettier --write

Not showing Demo ribbon on Demo Space child journeys
  src/domain/challenge/challenge/ChallengeCard/ChallengeCard.tsx
  src/domain/challenge/opportunity/OpportunityCard/OpportunityCard.tsx
Due: eslint --fix, prettier --write

Fixed updating Callout location
  src/domain/collaboration/callout/edit/useCalloutEdit/useCalloutEdit.ts
Due: eslint --fix, prettier --write

Cleaned up TagsetSegment
  src/domain/platform/admin/components/Common/TagsetSegment.tsx
Due: eslint --fix, prettier --write

excalidraw version updated (#4335)
  package-lock.json
  package.json
Due: prettier --write

Not showing Demo ribbon on Demo Space child journeys (#4336)
  src/domain/challenge/challenge/ChallengeCard/ChallengeCard.tsx
  src/domain/challenge/opportunity/OpportunityCard/OpportunityCard.tsx
Due: eslint --fix, prettier --write

visual -> avatar
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/challenge/space/pages/SpaceCommunity/spaceApplicationsInvitations.graphql
  src/domain/community/application/dialogs/ApplicationDialog.tsx
Due: eslint --fix, prettier --write

rm comment
  src/domain/shared/components/RadioButtons/RadioButton.tsx
Due: eslint --fix, prettier --write

rm todo
  src/domain/community/invitations/InvitationCardHorizontal/InvitationCardHorizontal.tsx
Due: eslint --fix, prettier --write

graphql missing ids
  src/domain/community/pendingMembership/PendingMemberships.graphql
Due: none

PendingMemberships: only showing relevant states
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/community/pendingMembership/PendingMemberships.graphql
  src/domain/community/pendingMembership/PendingMemberships.tsx
Due: eslint --fix, prettier --write

Deleted WelcomeSection
  src/domain/platform/TopLevelPages/Home/HomePage.tsx
  src/domain/platform/TopLevelPages/Home/WelcomeSection.tsx
Due: eslint --fix, prettier --write

Reviwer's suggestions
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/challenge/common/AboutPageContainer/AboutPageContainerQueries.graphql
  src/domain/challenge/opportunity/containers/OpportunityPage.graphql
  src/domain/challenge/space/SpaceDashboard/SpaceDashboard.graphql
  src/domain/collaboration/activity/useActivityLogOnCollaboration/activityCreatedSubscription.graphql
  src/domain/collaboration/activity/useActivityLogOnCollaboration/activityLogOnCollaboration.graphql
  src/domain/collaboration/callout/edit/edit-dialog/CalloutEditDialog.tsx
  src/domain/collaboration/callout/useCallouts/CalloutQueries.graphql
  src/domain/collaboration/post/containers/PostDashboardContainer/PostDashboardQueries.graphql
  src/domain/common/profile/Profile.ts
  src/domain/communication/room/Comments/CommentsMessageDetailsFragment.graphql
  src/domain/community/community/EntityDashboardContributorsSection/DashboardContributors.graphql
  src/domain/community/community/EntityDashboardLeadsSection/DashboardLeads.graphql
  src/domain/community/community/HomePageContributors/ContributingUsers.graphql
  src/domain/community/community/graphql/fragments/communityPageMembers.graphql
  src/domain/community/contributor/ContributorsSearch/ContributorsSearchQueries.graphql
  src/domain/community/contributor/organization/context/OrganizationInfoFragment.graphql
  src/domain/community/contributor/organization/graphql/fragments/organizationDetails.graphql
  src/domain/community/contributor/organization/graphql/fragments/organizationProfileInfo.graphql
  src/domain/community/contributor/organization/graphql/queries/organizationDetails.graphql
  src/domain/community/contributor/user/containers/UserAvatarsProvider/userAvatars.graphql
  src/domain/community/contributor/user/graphql/fragments/UserCard.graphql
  src/domain/community/contributor/user/graphql/fragments/groupInfo.graphql
  src/domain/community/contributor/user/graphql/fragments/userDetails.graphql
  src/domain/community/contributor/user/graphql/mutations/updateGroup.graphql
  src/domain/community/profile/ContributionDetails/ContributionDetails.graphql
  src/domain/platform/InnovationHub/InnovationHubsAdmin/InnovationHubForm.tsx
  src/domain/platform/TopLevelPages/InnovationLibraryPage/InnovationLibraryPage.graphql
  src/domain/platform/admin/components/Common/TagsetSegment.tsx
  src/domain/platform/admin/templates/InnovationPacks/admin/InnovationPackForm.tsx
  src/domain/platform/search/SearchQueries.graphql
  src/domain/timeline/calendar/calendarQueries.graphql
Due: eslint --fix, prettier --write

Reviewer's suggestions
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
  src/core/i18n/ua/translation.ua.json
Due: prettier --write

More suggestions
  src/core/i18n/en/translation.en.json
Due: prettier --write

Fix createTagsetOnProfile
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/common/tags/createTagsetOnProfile.graphql
Due: eslint --fix, prettier --write

Fix a couple of Tagsets mappings
  src/common/utils/getUpdateUserInput.ts
  src/domain/platform/admin/components/Organization/OrganizationPage.tsx
Due: eslint --fix, prettier --write

Deleted WelcomeSection (#4338)
  src/core/i18n/bg/translation.bg.json
  src/core/i18n/de/translation.de.json
  src/core/i18n/en/translation.en.json
  src/core/i18n/es/translation.es.json
  src/core/i18n/fr/translation.fr.json
  src/core/i18n/nl/translation.nl.json
  src/core/i18n/ua/translation.ua.json
  src/domain/platform/TopLevelPages/Home/HomePage.tsx
  src/domain/platform/TopLevelPages/Home/WelcomeSection.tsx
Due: eslint --fix, prettier --write

me query updated
  src/common/components/composite/entities/Space/InterestModal.tsx
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/community/contributor/user/providers/UserProvider/UserProvider.tsx
  src/domain/community/contributor/user/providers/UserProvider/me.graphql
  src/domain/community/contributor/user/providers/UserProvider/meHasProfile.graphql
  src/domain/platform/VerifiedCredentials/CredentialContainer.graphql
  src/domain/platform/VerifiedCredentials/UserCredentialsContainer.tsx
Due: eslint --fix, prettier --write

Use production setting for build
  .github/workflows/build-deploy-k8s-dev-azure.yml
Due: none

Use production setting for build (#4341)
  .github/workflows/build-deploy-k8s-dev-azure.yml
Due: none

Test max-bundle-size
  .github/workflows/build-deploy-k8s-dev-azure.yml
  .travis.yml
  package-lock.json
  package.json
Due: prettier --write
