Repository alkem-io/client-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

move some items around; remove routes not used
  src/domain/space/admin/SpaceAdminCommunity/SpaceAdminCommunityPage.tsx
  src/domain/space/admin/routing/SpaceAdminRouteL0.tsx
  src/domain/space/admin/routing/SpaceAdminRouteL1.tsx
  src/domain/space/admin/routing/SpaceAdminRouteL2.tsx
  src/domain/space/layout/tabbedLayout/Tabs/SpaceCommunityPage/SpaceCommunityPage.tsx
Due: eslint --fix, prettier --write

Diable deleting current state
  src/domain/collaboration/InnovationFlow/InnovationFlowDragNDropEditor/InnovationFlowStateMenu.tsx
Due: eslint --fix, prettier --write

Disable deleting the active flowState & tooltip to explain why
  src/core/i18n/en/translation.en.json
  src/domain/collaboration/InnovationFlow/InnovationFlowDragNDropEditor/InnovationFlowStateMenu.tsx
Due: eslint --fix, prettier --write

Libra flow engine changes (#7955)
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/domain/community/virtualContributor/VirtualContributor.graphql
  src/domain/community/virtualContributor/vcProfilePage/VCProfilePageView.tsx
  src/domain/community/virtualContributor/vcProfilePage/useTemporaryHardCodedVCProfilePageData.ts
  src/domain/community/virtualContributorAdmin/VCAccessibilitySettings/VCAccessibilitySettingsPage.tsx
  src/domain/community/virtualContributorAdmin/VCSettingsRoute.tsx
  src/domain/community/virtualContributorAdmin/VirtualContributorSettingsPage/VirtualContributorSettingsPage.tsx
  src/domain/community/virtualContributorAdmin/components/BodyOfKnowledgeManagement.tsx
  src/domain/community/virtualContributorAdmin/components/ExternalConfig.tsx
  src/domain/community/virtualContributorAdmin/components/PromptConfig.tsx
  src/domain/community/virtualContributorAdmin/components/VisibilityForm.tsx
  src/main/guidance/chatWidget/ChatWidget.tsx
Due: eslint --fix, prettier --write

richer Hosted Spaces tooltip with correct metrics
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/core/i18n/en/translation.en.json
  src/core/ui/list/BadgeCardView.tsx
  src/core/ui/typography/TextWithTooltip.tsx
  src/domain/account/queries/AccountInformation.graphql
  src/domain/community/contributor/Account/ContributorAccountView.tsx
  src/domain/space/components/cards/JourneyCardHorizontal.tsx
  src/domain/space/license/utils.ts
Due: eslint --fix, prettier --write

New translations translation.en.json (French)
  src/core/i18n/fr/translation.fr.json
Due: prettier --write

New translations translation.en.json (Spanish)
  src/core/i18n/es/translation.es.json
Due: prettier --write

New translations translation.en.json (Bulgarian)
  src/core/i18n/bg/translation.bg.json
Due: prettier --write

New translations translation.en.json (German)
  src/core/i18n/de/translation.de.json
Due: prettier --write

New translations translation.en.json (Dutch)
  src/core/i18n/nl/translation.nl.json
Due: prettier --write

New translations translation.en.json (Ukrainian)
  src/core/i18n/ua/translation.ua.json
Due: prettier --write

New translations translation.en.json (Portuguese, Brazilian)
  src/core/i18n/pt/translation.pt.json
Due: prettier --write

New translations translation.en.json (Acholi)
  src/core/i18n/ach/translation.ach.json
Due: prettier --write

combine subspaces admin page
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/space/admin/SpaceAdminSubspaces/SpaceAdminSubspacesPage.tsx
  src/domain/space/admin/SpaceAdminSubspaces/SubspaceListPage.tsx
  src/domain/space/admin/SpaceAdminSubspaces/SubspaceListView.tsx
  src/domain/space/admin/SpaceAdminSubspaces/graphql/SpaceAdminDefaultTemplates.graphql
  src/domain/space/admin/SpaceAdminSubspaces/graphql/SpaceAdminSubspacesPage.graphql
  src/domain/space/admin/SpaceAdminSubspaces/graphql/SpaceSubspaces.graphql
  src/domain/space/admin/routing/SpaceAdminRouteL0.tsx
  src/domain/space/admin/routing/SpaceAdminRouteL1.tsx
  src/domain/space/components/subspaces/SubspaceCreationDialog/CreateJourney.tsx
  src/domain/space/components/subspaces/SubspaceCreationDialog/SubspaceCreationDialog.tsx
  src/domain/space/layout/tabbedLayout/Tabs/SpaceSubspacesPage.tsx
Due: eslint --fix, prettier --write

Remove tags, update User Card as per requirements.
  src/domain/community/inviteContributors/InviteVCsDialog.tsx
  src/domain/community/inviteContributors/PreviewContributorDialog.tsx
Due: eslint --fix, prettier --write

tidy up the space admin subspaces logic
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/space/admin/SpaceAdminSubspaces/SpaceAdminSubspacesPage.tsx
  src/domain/space/admin/SpaceAdminSubspaces/graphql/SpaceAdminDefaultTemplatesCollaborationDetails.graphql
Due: eslint --fix, prettier --write

tidy up graphql file location
  src/domain/templates-manager/SpaceAdminDefaultTemplates.graphql
Due: none

pick up entitlements + permissions for determining VC enabled or not
  src/domain/space/admin/SpaceAdminCommunity/SpaceAdminCommunityPage.tsx
  src/domain/space/admin/routing/SpaceAdminRouteL0.tsx
  src/domain/space/admin/routing/SpaceAdminRouteL1.tsx
  src/domain/space/admin/routing/SpaceAdminRouteL2.tsx
Due: eslint --fix, prettier --write

cleaned up the VC handling for invitations
  src/core/apollo/generated/apollo-helpers.ts
  src/core/apollo/generated/apollo-hooks.ts
  src/core/apollo/generated/graphql-schema.ts
  src/domain/access/AvailableContributors/AvailableContributors.graphql
  src/domain/access/AvailableContributors/useRoleSetAvailableContributors.ts
  src/domain/community/inviteContributors/InviteVCsDialog.tsx
  src/domain/community/virtualContributor/graphql/VirtualContributor.graphql
  src/domain/community/virtualContributor/graphql/fragments/VirtualContributorFull.graphql
  src/domain/community/virtualContributor/graphql/virtualContributorSubscriptions.graphql
  src/domain/space/admin/SpaceAdminCommunity/SpaceAdminCommunityPage.tsx
  src/domain/space/admin/SpaceAdminCommunity/components/CommunityVirtualContributors.tsx
  src/domain/space/admin/SpaceAdminCommunity/hooks/AvailableVirtualContributors.graphql
  src/domain/space/admin/SpaceAdminCommunity/hooks/useCommunityAdmin.ts
  src/domain/space/admin/SpaceAdminCommunity/hooks/useVirtualContributorsAdmin.ts
  src/domain/space/admin/routing/SpaceAdminRouteL0.tsx
  src/domain/space/admin/routing/SpaceAdminRouteL1.tsx
  src/domain/space/admin/routing/SpaceAdminRouteL2.tsx
Due: eslint --fix, prettier --write

tidy up settings page logic
  src/domain/space/admin/SpaceAdminSettings/SpaceAdminSettingsPage.tsx
  src/domain/space/admin/routing/SpaceAdminRouteL0.tsx
  src/domain/space/admin/routing/SpaceAdminRouteL1.tsx
  src/domain/space/admin/routing/SpaceAdminRouteL2.tsx
Due: eslint --fix, prettier --write

removed old subspace card
  src/dev/routes.tsx
  src/dev/ui/SpaceCardsDemo.tsx
  src/domain/space/components/SubspacesListDialog.tsx
  src/domain/space/components/cards/SpaceSubspaceCard.tsx
  src/domain/space/components/cards/_deprecated/CardParentJourneySegment.tsx
  src/domain/space/components/cards/_deprecated/InnovationFlowCardSegment.tsx
  src/domain/space/components/cards/_deprecated/SpaceSubspaceCard2/SpaceChildJourneyCard.tsx
  src/domain/space/components/cards/_deprecated/SubspaceCard.tsx
  src/domain/space/layout/tabbedLayout/Tabs/SpaceSubspacesPage.tsx
  src/main/search/searchResults/useHydratedCard.tsx
Due: eslint --fix, prettier --write

additional tidy up re icons
  src/domain/InnovationPack/InnovationPackCard/InnovationPackCard.tsx
  src/domain/collaboration/_deprecated/CalloutIcon.svg
  src/domain/collaboration/_deprecated/CalloutIcon.tsx
  src/domain/collaboration/activity/ActivityLog/views/ActivityIcon.tsx
  src/domain/platform/admin/layout/toplevel/constants.ts
  src/domain/shared/components/ActivityDescription/DetailedActivityDescription.tsx
  src/domain/shared/components/DashboardSections/DashboardGenericSection.tsx
  src/domain/shared/components/_deprecated/Section.tsx
  src/domain/shared/components/_deprecated/SectionSpacer.tsx
  src/domain/shared/icons/profileIcons.ts
  src/domain/space/_deprecated/SpaceL1Icon2.tsx
  src/domain/space/_deprecated/journeyCardValueGetter.ts
  src/domain/space/admin/SpaceAdminStorage/useStorageAdminTree.tsx
  src/domain/space/admin/SpaceAdminSubspaces/SpaceAdminSubspacesPage.tsx
  src/domain/space/components/SubspacesListDialog.tsx
  src/domain/space/components/cards/SpaceCard2.tsx
  src/domain/space/components/cards/components/CardParentSpaceSegment.tsx
  src/domain/space/components/subspaces/SubspaceCreationDialog/CreateJourney.tsx
  src/domain/space/icons/SpaceIconByLevel.tsx
  src/domain/space/icons/SpaceL0Icon.tsx
  src/domain/space/icons/SpaceL1Icon.tsx
  src/domain/space/icons/SpaceL2Icon.tsx
  src/domain/space/layout/tabbedLayout/Tabs/SpaceSubspacesPage.tsx
  src/domain/space/layout/tabbedLayout/layout/useSpaceTabs.tsx
  src/domain/templates/components/cards/CalloutTemplateCard.tsx
  src/domain/templates/components/cards/CollabTemplateCard.tsx
  src/domain/timeline/calendar/views/EventCardHeader.tsx
  src/main/search/SearchView.tsx
  src/main/search/searchResults/searchResultsCallout/SearchResultsCalloutCardFooter.tsx
  src/main/search/searchResults/useHydratedCard.tsx
  src/main/topLevelPages/myDashboard/DashboardWithMemberships/DashboardActivity.tsx
  src/main/topLevelPages/myDashboard/MyDashboardWithoutMemberships.tsx
  src/main/topLevelPages/topLevelSpaces/SpaceExplorerPage.tsx
  src/main/ui/platformNavigation/platformNavigationMenu/menuItems.ts
Due: eslint --fix, prettier --write

additional tidy up
  src/_deprecated/DashboardGenericSection.tsx
  src/_deprecated/LinkNoUnderline.ts
  src/_deprecated/Section.tsx
  src/_deprecated/SectionSpacer.tsx
  src/domain/access/ApplicationState.ts
  src/domain/access/ApplicationsAndInvitations/ApplicationButtonContainer.tsx
  src/domain/access/ApplicationsAndInvitations/ApplicationDialog.tsx
  src/domain/community/applicationButton/ApplicationButton.spec.tsx
  src/domain/community/applicationButton/ApplicationButton.tsx
  src/domain/community/applicationButton/ApplicationDialog.tsx
  src/domain/community/applicationButton/ApplicationForm.graphql
  src/domain/community/applicationButton/ApplicationSubmittedDialog.tsx
  src/domain/community/applicationButton/PreApplicationDialog.tsx
  src/domain/community/applicationButton/PreJoinParentDialog.tsx
  src/domain/community/applicationButton/isApplicationPending.ts
  src/domain/community/userAdmin/tabs/UserAdminCredentialsPage.tsx
  src/domain/space/about/SpaceAboutDialog.tsx
  src/domain/space/admin/SpaceAdminCommunity/components/CommunityMemberships.tsx
  src/domain/space/layout/flowLayout/SubspacePageLayout.tsx
  src/domain/space/layout/tabbedLayout/Tabs/SpaceDashboard/SpaceDashboardView.tsx
  src/domain/templates/components/Dialogs/PreviewTemplateDialog/PreviewTemplateDialog.tsx
  src/main/ui/settings/PreferenceSection.tsx
Due: eslint --fix, prettier --write

marked 2nd applicaiton dialog
  src/_deprecated/ApplicationDialog.tsx
  src/domain/space/admin/SpaceAdminCommunity/components/CommunityMemberships.tsx
Due: eslint --fix, prettier --write

renamed card files
  src/dev/ui/SpaceCardsDemo.tsx
  src/domain/community/invitations/InvitationDialog.tsx
  src/domain/community/invitations/SingleInvitationFull.tsx
  src/domain/community/pendingMembership/PendingMembershipsDialog.tsx
  src/domain/community/profile/views/ContributionDetailsCard.tsx
  src/domain/shared/components/search-cards/base/SearchBaseJourneyCard.tsx
  src/domain/space/components/SubspacesListDialog.tsx
  src/domain/space/components/cards/SpaceCard.tsx
  src/domain/space/components/cards/SpaceCardBase.tsx
  src/domain/space/components/cards/SubspaceCard.tsx
  src/domain/space/layout/tabbedLayout/Tabs/SpaceSubspacesPage.tsx
  src/main/topLevelPages/topLevelSpaces/SpaceExplorerView.tsx
Due: eslint --fix, prettier --write

turned off privacy settings for now on L2 space
  src/domain/spaceAdmin/SpaceAdminSettings/SpaceAdminSettingsPage.tsx
  src/domain/spaceAdmin/routing/SpaceAdminRouteL0.tsx
  src/domain/spaceAdmin/routing/SpaceAdminRouteL1.tsx
  src/domain/spaceAdmin/routing/SpaceAdminRouteL2.tsx
Due: eslint --fix, prettier --write

rename deprecated contributions view
  src/_deprecated/ContributionsView2.tsx
  src/domain/community/userAdmin/tabs/UserAdminMembershipPage.tsx
  src/domain/community/virtualContributor/vcMembershipPage/VCMembershipPage.tsx
Due: eslint --fix, prettier --write

removed analysis files that are too out of date to be useful
  src/_deprecated/analysisToReview/ReadmeTmp.md
  src/_deprecated/analysisToReview/SpaceComponentAnalysis.md
  src/_deprecated/analysisToReview/SpaceRouting.md
  src/_deprecated/analysisToReview/SpaceRouting2.md
  src/_deprecated/analysisToReview/UnusedCodeList.md
Due: prettier --write

fixed import
  src/domain/community/profile/views/index.tsx
Due: eslint --fix, prettier --write

moved documentation out of domain
  src/main/documentation/DocumentationPage.tsx
  src/main/routing/TopLevelRoutes.tsx
Due: eslint --fix, prettier --write

found deprecated outside of src tree, added note to docs
  docs/code-guidelines.md
  src/_deprecatedToKeep/CardsLayout.tsx
  src/_deprecatedToKeep/ScrollableCardsLayout.tsx
  src/domain/community/profile/views/CredentialsView.tsx
  src/domain/community/userAdmin/tabs/UserAdminCredentialsPage.tsx
  src/domain/space/components/SubspacesListDialog.tsx
  src/domain/space/components/subspaces/SubspaceView.tsx
  src/main/search/SearchResultSection.tsx
Due: eslint --fix, prettier --write

package version updates + adjusted imports
  package-lock.json
  package.json
  src/core/ui/forms/MarkdownInputControls/InsertEmbedCodeButton/InsertEmbedCodeButton.tsx
  src/main/ui/platformNavigation/PlatformNavigationUserMenu.tsx
  src/main/ui/platformNavigation/platformNavigationMenu/StandalonePlatformNavigationMenu.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
